[2017-02-01 19:57] jfly commented on #1259
Oh, you're totally right. It's not acceptable to have to wait for translations. So, we *definitely* have to implement the fallback.

Static analysis could be nice to help detect mistakes that people make when translating, but we cannot have those errors fail travis (and thereby block merging our code).

[2017-02-01 20:07] jfly commented on #1261
From [wikipedia](https://en.wikipedia.org/wiki/Hungarian_language#Nouns):

[2017-02-01 20:36] #1063 closed

[2017-02-01 20:40] jfly commented on #1182
Actually, I'm reopening this because https://github.com/thewca/worldcubeassociation.org/wiki/Building-Regulations-locally#how-to-build certainly makes it sound like this should work locally.

@viroulep, how do you think we should handle this?

[2017-02-01 21:19] jfly commented on #1261
I was curious how English works.

- English gets defined as `OneOther` [here](https://github.com/svenfuchs/rails-i18n/blob/b2ee1bb54ed1e6ff714e4a9d95cc17c3d24d538c/rails/pluralization/en-IN.rb#L3).
- `OneOther` ONLY ever returns `:one` or `:other` [here](https://github.com/svenfuchs/rails-i18n/blob/b2ee1bb54ed1e6ff714e4a9d95cc17c3d24d538c/lib/rails_i18n/common_pluralizations/one_other.rb#L7)
- Yet

[2017-02-01 21:20] #737 closed

[2017-02-01 22:32] pingskills opened #1263 "Update Stripe API Keys"
A new Stripe account has been setup and the website needs to use the API keys from that account.

[2017-02-01 22:45] pingskills opened #1264 "Refunds should have a reference to the original charge"
When a payment is refunded, we should record which charge the refund belonged to. This will allow us to issue partial refunds and keep track of how much has been refunded so far.

[2017-02-02 00:14] pingskills commented on #1263
Fixed by #1265.

[2017-02-02 00:14] #1263 closed

[2017-02-02 00:56] pingskills opened #1267 "Improve Registration Flow for Payments"
Here are some ideas on how the flow could be improved from some emails:

From @jfly
There are 3 states a user's registration can be in:

0. The user is not logged in.

![image 1](https://cloud.githubusercontent.com/assets/4403168/22532481/6b37f9ec-e93b-11e6-8fdd-07190d1c18dd.png)

I think we handle this case great, although there is a missing period on the last sentence.

1. The user has not regis

[2017-02-02 07:12] jfly opened #1269 "Separate translation status from server status"
@larspetrus argues that "server status" is for the status of stuff that is not stored in git, whereas our translations are stored in git.

Also, the translation status checking has become rather expensive. See:

![image](https://cloud.githubusercontent.com/assets/277474/22540183/7925cb50-e8d3-11e6-93ac-291eb05719fc.png)

New Relic hits our `/server-status` page every single minute, which is what's

[2017-02-02 07:13] jfly opened #1270 "Cache translation statuses"
See #1269. Computing translation status is a rather expensive prospect. This is an easy fix though! We actually only need to compute this data once after the server starts (since we restart the server with every language update).

[2017-02-02 14:40] viroulep commented on #1259
Here is a more precise description of the issue and why it happened:

at some point we had key `blah` with content `some %{a} var and %{b} var`.
This key got translated in all languages.
Later we decided to change the content of the key to `some %{c} var`.

This change means that the translated version will throw an exception because the app will not be providing `a` nor `b` anymore.
So this chang

[2017-02-02 14:44] viroulep commented on #1182
I don't see a perfect solution, the best we can do is probably provide an option to the user to override the default remote.

[2017-02-02 22:09] gagou9 commented on #1171
Hi,
In my experience, having a code of conduct is a way to make things clear. It wont stop somebody to take the website down and steal the domain, but it will make clear what we commit for and what we have to take care of.

@larspetrus: `Requiring more than one person to sign off on certain actions would be the gold standard, but I don't know any practical way to do such things.`
You can do such t

[2017-02-02 22:20] lgarron commented on #1171
So, I think it will always be the case that a software team member can modify leak information, and probably not easy to enforce audits in a way that can't be bypassed with a little work.

Registration transfer is certainly a risk, but there's legal recourse for that.
(I wouldn't mind clamping down access to an account that can, say, only be accessed by Jeremy and one Board member, though.)

I thi

[2017-02-02 22:22] lgarron commented on #1171
Also, if we version and hash/blockchain/Git repo the public exports, we can also make changes to existing results easier to see. That's good for general accountability, and we could possibly make it hard to make those changes without indicating who made the change and what reason they gave.

[2017-02-03 00:45] BiscuitCubed commented on #1267
As to the last line

"@larspetrus - The big unanswered question on this page is what happens to my $10 if I hit Delete ?"

it's always been handled as you are not entitled to any money back if you drop events/registration, but the organizer may issue a refund. The two options under this assumption are as follows

1. Have an option the organizers can set that when a registration is deleted (but onl

[2017-02-03 01:19] BiscuitCubed commented on #1267
As for the cleaning up of the alerts, my thought is there should be a maximum of one alert. Anything after that will seem, and is, cluttered. I say the registration closing time should take that slot if you're not signed up, but if you are the "Your registration has been approved!" should take it. I think the preferred events message should be directly under the events selection, and maybe should

[2017-02-03 01:24] BiscuitCubed commented on #1267
One more thing, maybe for per event cost, we could add a panel next to the actual form that has each event and their prices listed. Maybe the form uses col-md-8, and the and the panel is col-md-4. The comments box doesn't need to be that wide anyway. It'd be way to intensive to add a row and columns in inspect element, so I'm not going to try to mock it up, but I hope you get what I mean.

[2017-02-03 06:15] #1270 closed

[2017-02-03 07:54] #1259 closed

[2017-02-03 17:36] #1182 closed

[2017-02-03 17:37] #1116 closed

[2017-02-03 17:37] #1080 closed

[2017-02-03 19:54] AlphaSheep opened #1284 "Inconsistent translation behaviour in some places (eg OAuth login)"
I've encountered a few places where translations have been acting weird or inconsistently. Below is an example of a screen I got when trying to log in using OAuth. I had trouble reproducing it.

![screenshot from 2017-02-03 21 34 37](https://cloud.githubusercontent.com/assets/6051586/22605474/b0912b30-ea58-11e6-8932-8b9142c3c4b6.png)

The other example I came across that I did manage reproduce eas

[2017-02-03 22:54] jfly opened #1285 "Should we disable Rubocop's `Style/RedundantSelf` cop?"
We violate this in a lot of places. See:

<details>
<summary>At the time of me creating this issue, we have 75 violations of this:</summary>

[code]
</details>

I'm not sure how I feel about enabling this cop. I feel that `self.` does provide some clarity: it's clear we're talking about an instance variable, but it's not like we are not consistent about using `self.`.

[2017-02-03 23:02] pedrosino commented on #1285
Ah, Rubicon can be annoying some times. I'd say we leave this alone.

[2017-02-03 23:06] jfly commented on #1285
I agree. Disabling it =)

[2017-02-05 13:39] slaz0 opened #1291 "Country profiles"
Sorry if this has already been suggested but individual countries and continents should have their own profiles. They could show national/continental records in every event and how they compare to the rest of the world. The profiles could show the history of their national/continental records, the people that rank highest when comparing their best singles/averages to the rest of the country, the n

[2017-02-05 17:48] cubizh opened #1292 "Sign in menu isn't being translated via locale"
The sign in menu button and its contents are not being translated via regular locale .yml files ("sign_in" key exists, but is not being used, the "Sign up" and "Didn't receive confirmation instructions?" are not in the locale file).
However they are being translated somehow and I can't find any of these words in the entire source code. The problem is in some languages, like portuguese, it's far fr

[2017-02-05 18:05] viroulep commented on #1292
The `registrations.sign_in` key is use [here](https://github.com/thewca/worldcubeassociation.org/blob/28cd4d079bbba4b111402fe7f7de90a54a45d945/WcaOnRails/app/views/registrations/register.html.erb#L20).

I can explain why you can't find these strings in the locale: the keys you're referring to are provided by the `devide-bootstrap-views` gem, which has locales for all the languages currently presen

[2017-02-05 19:46] cubizh commented on #1292
Thanks for the explanation @viroulep. I have made the PR to that repo, I sincerely hope they fix it.

[2017-02-05 20:22] viroulep commented on #1292
Cool, closing this for now then :)

[2017-02-05 20:22] #1292 closed

[2017-02-06 02:16] cubizh commented on #1292
Just to let you know the PR was accepted, so this will be fixed when you update that package :)

[2017-02-06 21:08] bruchemrfe commented on #1171
One of the practices we have in our company regarding elevated access to data:
1) the persons only get access to what they really need access to. (for example you could create different groups with different levels of elevation, based on trust)
2) the data owner and the manager of each person with elevated access receive an overview of the persons with elevated access every month and should take a

[2017-02-06 21:20] jfly commented on #1291
This reminds me of this cool page from Daniel Sheppard: http://www.kinch2002.com/kinchranks/countries/

[2017-02-06 21:47] slaz0 commented on #1291
Yes, I do love kinchranks :)

Also, I am aware that there are country summaries on the WCA, however, these only show the best singles/averages and history. The country profiles could show flags and location on a world map as well as the statistics I mentioned above in addition to what can already be found on the WCA.

[2017-02-07 07:53] viroulep commented on #696
We've recently discussed this again, it seems like something very useful to implement.

I don't have time to work on it for the upcoming ~2 weeks, but if no one has done it by then I'll assign it to myself.

[2017-02-07 08:34] jfly commented on #1292
For the record, here's the link to @cubizh's PR: https://github.com/hisea/devise-bootstrap-views/pull/50.

I don't think we can update this gem until @hisea releases a new version of devise-bootstrap-views. The latest version I see is [1.0.0.alpha1](https://rubygems.org/gems/devise-bootstrap-views), which was released back in December.

[2017-02-07 18:05] jfly commented on #1291
I just learned that @oyyq99999 maintains an up to date country kinchranks list at http://wca.cuber.pro/.

I'll ping Daniel Sheppard about updating http://www.kinch2002.com/kinchranks/ to include a link to it.

[2017-02-07 18:17] oyyq99999 commented on #1291
Yeah that was set up since like one year ago. I didn't announce it because it was not finished (as I expected). Recently I'm very busy on working and practicing cubing. I'm planning to merge the code of both sites (_wca.cuber.pro_ and _algs.cuber.pro_) and make _algs.cuber.pro_ more useful. But I don't know when. Hopefully in April.

[2017-02-07 19:01] ronaldmansveld commented on #1291
Also, up to date kinchranks are available on wcadb.net/org (forgot which
TLD they use)

On Tue, 7 Feb 2017, 6:17 pm Yunqi Ouyang, <notifications@github.com> wrote:

[2017-02-08 20:46] jfly opened #1299 "Use find_or_create_by! in post.rb"
See @larspetrus's comment [here](https://github.com/thewca/worldcubeassociation.org/pull/1286#discussion_r99448763) and the docs: http://apidock.com/rails/v4.0.2/ActiveRecord/Relation/find_or_create_by%21.

I'll take care of this after we merge up #1286.

[2017-02-09 05:58] jfly commented on #1284
Dang, good catch! I've hopefully fixed this over in #1302.

[2017-02-10 10:51] jfly opened #1310 "Vestigial inflection"
I added an inflection in daccb645d9259531c5e1f4a9eb4a590601408c23, but now that we're doing i18n, I'm pretty sure this isn't needed anymore.

[2017-02-10 20:38] jfly opened #1315 "Children's Online Privacy Protection Rule (COPPA)"
See: https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/childrens-online-privacy-protection-rule

I think we'll need to address this before becoming a NPO. Does anyone have experience with this?

[2017-02-11 00:05] #1285 closed

[2017-02-12 23:39] #1284 closed

[2017-02-13 14:49] Jambrose777 opened #1320 "Have delegates be able to see a list of unannounced competitions."
I would like to point out that delegates already have this ability (and I would like it to stay), but it would be beneficial to be able to see them all in a list. They can do this by creating a competition and setting the time and place to wherever and whenever to see any unannounced competition. So the feature is already there for us to use.

I'm not sure how hard it would be to make (although I'

[2017-02-14 02:33] jfly commented on #1320
Nit: This is only for unannounced competitions that have a time and location. Not all of them do.

It's interesting to me that you think this, because it implies you think this would be useful. Such a page does not exist =) Can you explain what you think it would be useful for?

[2017-02-14 02:48] Jambrose777 commented on #1320
I specifically use it to post planned competitions that are not ready to be announced. Delegates in my area are able to see these whenever they create a competition thus they know what I'm planning. They are also starting to do this and it has already avoided conflicts in certain areas. Having a page accessible for all of us would make it to where delegates can plan better on a broader scale. (i.e

[2017-02-14 02:54] jfly commented on #1320
Got it. I have no data to back this up, but I fear that not all delegates use the system as carefully as you describe... for all we know, delegates create competitions and abandon them, or put them in random locations and times that have no bearing on reality.

That said, if you want to create a page that lists these, I won't oppose that. Perhaps a "include unannounced" checkbox on https://www.wor

[2017-02-14 11:09] SAuroux commented on #1320
I don't like this proposal. Wouldn't it be way simplier to just maintain a
Google Doc with all delegates that are actively willing to exchange this
kind of information? That's how we do it in Germany and it allows to
exchange information as soon as there is only a rough idea of it, i.e.
before entering it to the WCA website is possible.

2017-02-14 3:54 GMT+01:00 Jeremy Fleischman <notifications@g

[2017-02-14 11:46] Luis-J-Ianez opened #1325 "Add explicit fields to competitions for competitors limits"
The WCA Board has found that the competitors limits are the most relevant details about a competition that we still don't have in specific fields in our structure.  We would love to have:
- competitors limit (integer - public - optional)
- reasons for the limit (text - private - mandatory if limited)

Additionally you should consider to have a boolean / flag asking if the competition is limited an

[2017-02-14 16:52] larspetrus commented on #1325
What kind of things would be the reasons, and why does the board and others need to know?

If there is a set of 5-10 standard reasons, could this maybe be a dropdown?

[2017-02-14 17:02] jfly commented on #1325
It is also worth noting that a simple "integer competitor limit" doesn't encompass all of the things that competition organizers are allowed to do by the regulations. See [Z2](https://www.worldcubeassociation.org/regulations/#Z2) and [Z4](https://www.worldcubeassociation.org/regulations/#Z4).

[2017-02-14 17:14] larspetrus commented on #1325
Is the competitor limit only informational, or do you expect the app to enforce it somehow?

[2017-02-14 17:14] jfly commented on #1320
@SAuroux, I see the appeal of a dedicated website for this: it can do distance calculations for you and check for overlapping events. This is kind of painful to do manually. This would not allow for the communication a google doc provides, so I'd see this as something complementary to a google doc rather than replacing it.

My region (the SF Bay Area) needs a system for this, right now we just rou

[2017-02-14 18:01] Luis-J-Ianez commented on #1325
@jfly, you're right, but for the moment an integer for just the case of "competition limited to X competitors" is all what we'd like to have.  The rest of (unusual) cases can still be handled with the remarks box and an internal discussion by email.

@larspetrus, the competitors limit (when set, that is, > 0) must be public.  The reasons must be only visible under the "admin view".  And please, do

[2017-02-14 18:05] Luis-J-Ianez commented on #1325
About enforcing the limit (in the registry, I assume), I'm not sure.  I guess we shouldn't --there's nothing wrong in accepting beyond the limit as long as the waiting list is respected.  @pedrosino?

[2017-02-14 18:09] jfly commented on #1325
Also, please see #328.

[2017-02-14 22:46] SAuroux commented on #1320
Ok, I think I see the benefit. But I kind of dislike exposing all
unannounced competitions of all delegates to all other delegates. I would
really like to see such a feature somehow limited to the desired use case.

2017-02-14 18:14 GMT+01:00 Jeremy Fleischman <notifications@github.com>:

[2017-02-14 23:01] SAuroux commented on #1325
I fully support these idea. This will hopefully help the Board to evaluate
competitor limits more carefully in the future.

Regarding the implementation, I would actually propose the following:

   - competitor limit? (boolean - public - mandatory)
   - desired limit (integer - public - mandatory iff limited=True)
   - reasons for the limit (text - private - mandatory iff limited=True)

2017-02-14

[2017-02-15 05:07] jfly commented on #1320
As @Jambrose777 said in the original post, this data is *already* exposed to all delegates.

[2017-02-15 05:48] Jambrose777 commented on #1320
@SAuroux I've tried to implement a google doc in the past with no success, but I'm willing to try again. The Issue is that it would be a lot of delegates and it would only pertain to some of the competitions that a delegate would delegate for. i.e. SE USA competitions wouldn't include most of Michigan comps (James H.) but he could still delegate fro Kentucky. This is where the google doc Idea fell

[2017-02-15 10:29] SAuroux commented on #1320
@jfly No, it is clearly not exposed in a way which is thought about here. Delegates can only see unannounced competitions **around** competitions they have added. To see all unannounced competition worldwide, a delegate would need to set countless different locations to gather all this data first, which would still only give a snapshot overview of the current situation.

@Jambrose777 I think I rea

[2017-02-15 13:24] SAuroux opened #1328 "Create a form for WCA members to submit change requests to the WRT"
With the growing amount of WCA members, the WRT gets more and more DOB change requests so that people can claim their WCA-IDs. On the one hand this is great and every corrected DOB is a small improvement of the correctness of our data. However, the WRT regularly wastes too much time on individual change request because of several issues:

- people do not include their WCA IDs
- people do not reall

[2017-02-15 13:26] pedrosino commented on #1325
I'm not sure what @larspetrus meant by enforcing, but if he means "enforcing that the organizer/delegate must set some kind of limit", the answer is no. I like Sébastien's proposal of a boolean indicating limit or not, and the other 2 fields only visible and mandatory if the boolean is true.

About applying the limit to registrations, I'm also not sure it is a good idea. We could try to move to a

[2017-02-15 16:56] Luis-J-Ianez commented on #1328
In order to make the list the more comprehensive the better: identity card, driver license, student card, passport, birth certificate,...

[2017-02-15 17:34] larspetrus commented on #1325
On Wed, Feb 15, 2017 at 5:26 AM, Pedro Santos <notifications@github.com>
wrote:

I meant that if the competition limit is set to 200, the app should somehow
limit the number of competitors to that number.

--
Procrastinators - the Leaders of Tomorrow

[2017-02-15 18:28] Luis-J-Ianez commented on #1328
One thing that Sébastien didn't mention but most likely he had in mind: if this form is accessible only for identified users (which makes sense, uh?) we could add a checkbox telling something like "I want to assign automatically my ID to my account %{email} when my DOB if fixed".  Two birds with a shot.

[2017-02-15 19:23] jfly opened #1329 "Get some insight into how many people are using languages other than English"
@larspetrus suggested this, and I like it!

[2017-02-15 19:31] pedrosino commented on #1329
Not sure what you mean or what your plans are, but
[code]
[code]

[2017-02-15 19:36] SAuroux commented on #1328
No, I actually didn't have that in mind and also don't want this. :)

People generally have to contact us to fix their DOB because they messed up during registration for their first competition. Once it is fixed, they should claim their WCA-ID just like everyone else. I don't think that the WRT should even waste a millisecond doing this. Apart from that, this would be circumventing the normal proc

[2017-02-15 21:11] jfly commented on #1329
There are 4 kinds of users not using English:

1. Unlogged in users who have chosen a language (their preference is stored in their session, which I believe means a cookie)
2. Logged in users who have not chosen a language (we serve them whatever language their browser asks for)
3. Unlogged in users who have not chosen a language (we serve them whatever language their browser asks for)
4. Logged i

[2017-02-15 23:27] pedrosino opened #1331 "Combine Organizer View and Admin View into one Competition Form"
See https://github.com/thewca/worldcubeassociation.org/issues/1069#issuecomment-270747909 and https://github.com/thewca/worldcubeassociation.org/pull/1073

[2017-02-15 23:31] #1069 closed

[2017-02-16 00:10] gyroninja opened #1332 "Entries on the Competition Page Should Span 1 Line"
For example take a look at Silent Spring 2017 from https://www.worldcubeassociation.org/competitions?region=USA

https://i.gyazo.com/7057766ffedf916da01b1a25e5bd78d7.png

Notice that the location is so long that it flows over into a new line.

We should either:
* resize the table like we currently do when someone has a resolution that is too small to fit it
* limit the length of the location strin

[2017-02-16 00:50] jfly opened #1333 "Merge GitHubController into TranslationsStatusController and call it TranslationsController"
See discussion [here](https://github.com/thewca/worldcubeassociation.org/pull/1330/files/0571e117cf8bf331f05ed30783e80a3d76b4da5a#r101390899).

[2017-02-16 19:04] jfly commented on #1332
Including @gyroninja's image inline to make it easier for people to read:

![image](https://cloud.githubusercontent.com/assets/277474/23036326/3eb88222-f437-11e6-9104-ebd2bf816aca.png)

Honestly, the problem here is that the delegate filled out the fields wrong. The "Venue" field is not supposed to contain an address, that's what the "Venue address" field is for. See the admin page here:

![image]

[2017-02-16 19:04] #1332 closed

[2017-02-16 20:28] #1329 closed

[2017-02-16 20:28] #1269 closed

[2017-02-16 20:28] #1333 closed

[2017-02-16 20:51] jfly opened #1336 "`index_registrations_on_competition_id_and_user_id` missing from structure.sql"
It looks like in e34c7e85e7a55a4b196d9cc0d8bd8c3862fe2c01, we accidentally removed this index from our structure.sql:

[code]

I just checked, and this index still exists on our production server, so no migration is needed:

[code]

I think this is just a simple example of a git mishap on our structure.sql file. @pingskills, could you address this? I think it should be as simple as updating our st

[2017-02-16 21:12] larspetrus commented on #1336
How do you accidentally remove an index?

On Thu, Feb 16, 2017 at 12:51 PM, Jeremy Fleischman <
notifications@github.com> wrote:

--
Procrastinators - the Leaders of Tomorrow

[2017-02-16 21:14] jfly commented on #1336
I encourage everyone to do a `git add -p` whenever the migrations file changes, because there are lots of unrelated changes to AUTOINCREMENT stuff that causes conflicts if we merge them. My guess is that this line somehow disappears while @pingskills was doing this manual patching, but hopefully he can provide some insight.

[2017-02-16 21:14] larspetrus commented on #1332
There are ways to force this in CSS. I've never used it, but `white-space: nowrap` would probably work.

[2017-02-16 21:16] larspetrus commented on #1336
Oh, it disappeared from the structure file, not the DB itself?

Don't know what git add -p does.

On Thu, Feb 16, 2017 at 1:14 PM, Jeremy Fleischman <notifications@github.com

--
Procrastinators - the Leaders of Tomorrow

[2017-02-16 21:17] jfly commented on #1332
We've actually crafted this table very carefully to look good on mobile as well, and IIRC, `white-space: nowrap` could break our precious effort. If someone is motivated to look into this, please remember to try things out on mobile as well.

[2017-02-16 21:18] jfly commented on #1336
Correct. If it wasn't clear from the original post, this index still exists on production. In fact, I have it in my local database, which is why it reappeared after I ran a migration (which caused a schema dump), which is what caused me to notice this discrepancy (the dream is that whenever you run a database schema dump, structure.sql doesn't change)

[2017-02-16 21:50] pedrosino commented on #1336
I don't know what the p stands for, but it may be "part". It shows you the
changed files in parts, so you can add only some of them if needed. I find
it very boring to deal with when I have to run migrations locally :P

Jeremy, is there some specific reason we have a structure.sql file and not
a schema.db (which seems to be rails default)?

Em 16/02/2017 19:18, "Jeremy Fleischman" <notifications@g

[2017-02-16 22:05] jfly commented on #1336
The "p" is for "patch", I believe =)

See https://github.com/thewca/worldcubeassociation.org/pull/172 and https://github.com/thewca/worldcubeassociation.org/pull/173 for why we have a `structure.sql` instead of a `schema.rb`. Maybe someday post PHP, we could go back to a schema.rb file. It's also possible that Rails has fixed some of the idiosyncracies that pushed us away from schema.rb in the fir

[2017-02-17 01:14] pingskills commented on #1336
Oops, sorry about that. I generally do a `git add -p` but I must have added the whole file and then tried to manually fix it on that occasion.

There are some suggestions that we can extend a rake task to remove the autoincrement values from the structure file. Here's one such page - http://stackoverflow.com/questions/2210719/out-of-sync-auto-increment-values-in-development-structure-sql-from-rail

[2017-02-17 01:17] #1264 closed

[2017-02-17 01:34] #1336 closed

[2017-02-17 19:39] pedrosino opened #1339 "Add slovenian collation support to twitter cldr"

[2017-02-17 19:45] jfly commented on #1339
@viroulep explained how to do this [here](https://github.com/thewca/worldcubeassociation.org/pull/1321#issuecomment-279539319)

[2017-02-19 17:00] #1176 closed

[2017-02-20 00:16] jfly opened #1343 "Caching events not working in Rails 5: undefined method `updated_at' for #<Event:0x007f32f6b0fd58>"
I'm not sure what changed in Rails 5, but it's easy enough to reproduce this by turning on local caching in development mode (`bin/rails dev:cache`) and visiting a page like http://localhost:3000/competitions/MyComp1092017/registrations:

<details>
<summary>NoMethodError - undefined method `updated_at' for #<Event:0x007f32f6b0fd58></summary>

[code]
</details>

[2017-02-20 00:40] #1343 closed

[2017-02-20 02:02] jfly opened #1345 "Regulations don't load on Rails 5: Attempting to generate a URL from non-sanitized request parameters!"
[code]

[2017-02-20 02:34] jfly opened #1347 "Regulations <% provide(...) %> statements not working because Rails defaults to Raw instead of ERB"
Rails 5 changed the default file processor from ERB to RAW (see [this](https://wyeworks.com/blog/2016/1/26/upgrading-to-ruby-on-rails-5-0)), which means that app/views/regulations/index.html is not working.

One fix would be to rename index.html to index.html.erb, but that will require changes to the [WCA regulations compiler](https://github.com/thewca/wca-regulations-compiler).

See https://www.w

[2017-02-20 02:36] #1345 closed

[2017-02-20 07:37] viroulep commented on #1347
that sounds good to me, the html target is used only for the website anyway!

[2017-02-20 17:46] #1347 closed

[2017-02-20 20:02] viroulep commented on #1020
Taking a look at this

[2017-02-20 20:35] viroulep commented on #1020
Keeping some of my experiments here for the record:
I don't think maskmoney is aware of which decimal is needed for, fortunately we can determine which currency don't have subunit:

["BYR", "IRR", "ISK", "JPY", "KRW", "VUV", "XBA", "XBB", "XBC", "XBD", "XDR", "XPT", "xts", "XFU"]

And use this information to set the `precision` of maskmoney to 0 for these currency.

[2017-02-20 23:45] jfly commented on #1020
Just curious, do we know how many "subunits" go into a "unit"? For example, in the US, it's 100 cents to a dollar, but I can imagine that's not always the case.

[2017-02-21 11:21] viroulep commented on #1020
There is a "subunit_to_unit" field :)

I tried some hash conversion for javascript reason and ran into a very weird behavior, turns out it's because there is two currency with the same iso_code:

[2017-02-22 22:11] viroulep opened #1356 "Unclear behavior when competition's currency changes when a payment has been made"
Just thought about this: I don't think we handle well the case where the organizer or delegate change the currency when a payment has been made!
The refund behavior is well defined since we refund a Stripe charge, however we don't take into account multiple currencies in some part of the website, eg in `paid_entry_fees`:
[code]
Note how we just make a sum, assuming everything is in the same curren

[2017-02-22 22:13] larspetrus commented on #1356
Yeah, I agree with immutability!

[2017-02-23 16:37] viroulep commented on #1267
I'm kind of looking into it right now, I've been working on adding an optional donation field so I may as well do this too.

I've modified the layout according to some suggestions in this thread, here are the states:

- Unregistered:
![register_layout](https://cloud.githubusercontent.com/assets/1007485/23268539/5b3c47d2-f9ee-11e6-9fa5-65c738d12ac7.png)

- Registered not paid:
![registered_layout](

[2017-02-23 17:32] BiscuitCubed commented on #1267
I still think that we should have a max of one alert.

For example, the second and third alert on the unregistered view can be  right above the event selector without any highlighting, or in a well as I demonstrated in my post above.

[2017-02-23 19:17] jfly commented on #1267
This is definitely a step in the right direction, @viroulep! I agree with @BiscuitCubed about alert overload.

<hr>

The "you may need to pay a registration fee" alert is quite weird now that we *know* if they need to pay a registration fee.

<hr>

Nitpick, but I don't like that "Entry fees" are a disabled `<input>` (on the registered, but not paid page). It makes it look like something the user g

[2017-02-24 17:00] jfly opened #1362 "notify_user_of_delegate_demotion can attempt to notify new users without a confirmed email"
When creating a WCA website account, you can claim your WCA ID. If you type in a bogus email address while doing this, then permanently end up with a user with no confirmed email address who has issued a WCA ID claim. Normally this would be fine... no one is going to be bothered by these pending WCA ID claims ([we don't show delegates WCA ID claims for unconfirmed accounts](https://github.com/jfly

[2017-02-25 16:30] larspetrus commented on #1362
Without knowing any details, one solution is to catch the exception and accept that email didn't get through.

[2017-02-25 19:16] #994 closed

[2017-02-25 19:20] coder13 commented on #1058
We're currently running production on a t2.medium. This is causing problems with mysql mysql taking up 17% of the ram.

Jeremy and I talked about pulling out mysql and setting up a dedicated mysql server to reduce the load. This would be on a t2.small at $0.034/hour or ~$24.5/month.
We would then be running both a t2.small and t2.medium for about $0.087/hour or $62/month
If things are looking grea

[2017-02-25 21:06] viroulep commented on #1267
While reworking this I've been trying to actually open all possible views for registrations, and one kind of bother me: when registrations are closed, we simply can't see our registration's information anymore!
I think it would make sense to display read only information (maybe if registration is closed *and* competition is not past), in a similar way we display read only registrations when they'r

[2017-02-26 08:33] larspetrus commented on #1058
I'm not convinced we know what's going on with this MySQL problem, but one good way to learn more is to test different configurations like splitting out to separate servers, and see what happens. Another approach is to run on something larger.

The thing that worries me with a separate DB is the added lag. That would also be a good thing to observe during a test like this.

[2017-02-26 14:57] viroulep commented on #1267
Here is a lot of screenshots:

- Will open (basically no-changes):
![register-willopen-noregistrations](https://cloud.githubusercontent.com/assets/1007485/23340660/85b9cb1c-fc3a-11e6-9d9f-c5692dbb1b70.png)
- Closed without an existing registration (no-change):
![register-closed-noregistrations](https://cloud.githubusercontent.com/assets/1007485/23340668/a1501200-fc3a-11e6-854b-f87dc3389cc6.png)
-

[2017-02-26 17:08] jfly commented on #1267
This is really awesome work, @viroulep! Folding the registration details form when the payment form is shown sounds like a good compromise to me.

Some random nitpicks:

- @keemy taught me about putting "positive actions" on the right hand side, and now I can't help but be bothered when that's not the case. See:
![image](https://cloud.githubusercontent.com/assets/277474/23341756/ab712108-fc02-11e6

[2017-02-26 17:44] jfly commented on #1058
I'd go even further and say "we don't know that this is a MySQL problem". All I think we know for sure is that we get low on memory sometimes, and processes (understandably) start to crash. A strange possible red herring in the last crash was that MySQL looked to be starting to use a lot of CPU before crashing.

[2017-02-26 21:27] #1020 closed

[2017-02-26 21:32] viroulep commented on #1267
There:
![register-folded](https://cloud.githubusercontent.com/assets/1007485/23343899/689b4e1e-fc73-11e6-9f20-976eb21bab48.png)

I also inverted the two buttons, PR incoming.

[2017-02-26 23:12] pingskills commented on #1267
Great work @viroulep!

[2017-02-27 08:13] jfly opened #1372 "What's the point of the ORDER BY in export_public.php?"
See [here](https://github.com/thewca/worldcubeassociation.org/blob/bf3edce49b52d0a01362f63d661142deb4dd256a/webroot/results/admin/export_public.php#L23-L24). I don't get what the point of this ORDER BY is, people are going to be inserting these rows into their own database anyways. This ORDER BY is very expensive for our export, so it would be nice to get rid of it.

@Baiqiang, what do you think?

[2017-02-27 09:00] viroulep commented on #1267
Thanks :blush:

[2017-02-27 15:01] BiscuitCubed commented on #1267
Looks great! The only thing I don't like is the text with the green background. It feels clunky and out of place. Not sure if there's a great solution for that though.

Good work!

[2017-02-27 15:07] Baiqiang commented on #1372
The only reason I can think of is to let the data looks more beautiful. I think it can be removed.

[2017-02-27 15:09] viroulep commented on #1267
I tried without the green background but it was (unfortunately) barely noticeable:

![color-only](https://cloud.githubusercontent.com/assets/1007485/23366477/1a4c3cca-fd07-11e6-9162-d4d521609b68.png)

Would not be hard to simply remove the bg color though!

[2017-02-27 15:43] FatBoyXPC commented on #1372
Could it possibly be for the TSV?

[2017-02-27 16:14] Baiqiang commented on #1372
@FatBoyXPC I asked @cs0x7f if he used the order in the TSV files. He said no. I don't any other app uses it.

[2017-02-27 16:17] FatBoyXPC commented on #1372
Yeah, I was thinking more from a human perspective. The order by is not necessary at all for any sort of programmatic parsing of the file.

@jfly could you look at the access logs and get a rough estimate of IP count that downloads the TSV file on some sort of regular interval?

[2017-02-27 16:21] jfly commented on #1372
That is certainly something that someone (not me) could spent their time on if they want!

[2017-02-27 16:41] Baiqiang commented on #1372
After some digging, I found where the error raises.
![image](https://cloud.githubusercontent.com/assets/2390434/23370060/6ceda512-fd4e-11e6-8e39-67e26bb06b2d.png)
![image](https://cloud.githubusercontent.com/assets/2390434/23370066/71f52166-fd4e-11e6-9bcd-d0b3bd945539.png)

See the above screenshots. The `mysql_unbuffered_query` does't raise an error while the `mysql_fetch_array` raises one.

[2017-02-28 14:23] pedrosino opened #1375 "Add a "select all" button on Manage Events"
Requested by Ilya:

[2017-02-28 16:04] #1372 closed

[2017-03-01 17:57] viroulep commented on #1339
See twitter/twitter-cldr-rb#204

[2017-03-02 09:26] SAuroux commented on #1328
PING

We currently get like ~2 such time-wasting requests per day on average. Could one of the coders please have a look at this and comment?

[2017-03-03 23:24] viroulep opened #1380 "Broken link for TNoodle if trailing slash is missing"
#1346 removed the code ensuring we have a trailing slash for [this](https://www.worldcubeassociation.org/regulations/scrambles/) url. If you go there the link to TNoodle works, however if you go [here](https://www.worldcubeassociation.org/regulations/scrambles) (same url without the ending slash), the TNoodle link is broken.

Not sure how to fix this yet (we must not make #1345 appear again).

[2017-03-03 23:36] jfly commented on #1380
Gah, I really dislike that rails behaves this way (multiple urls for the same conceptual resource). This probably doesn't comes up in normal rails because rails encourages you to use absolute links everywhere. So, one solution would be to switch to absolute links, but who knows we don't have relative links elsewhere? Furthermore, how would we prevent future relative links? I'd be more supportive o

[2017-03-05 12:31] kotarot opened #1384 "Countries list is not sorted correctly by local language in sign_up page"
This problem is related to i18n.
Countries list in the form in [sign_up page](https://www.worldcubeassociation.org/users/sign_up) (in "I have never competed in a WCA competition." tab) is not sorted correctly, while the list in the [competitions page](https://www.worldcubeassociation.org/competitions) is sorted properly.

In French page for example (but wrong order in almost all languages), I supp

[2017-03-05 15:47] Laura-O opened #1386 "Base entry fee calculated or displayed wrong when creating new competition"
There seems to be a problem with the "Base entry fee" field in the competition form.

We tried to enter an amount of 20 Euro, so we selected "EUR" in the dropdown menu and entered 2000 (Euro cent, which is the lowest denomination of Euro) in the text field. It is now displayed as "€2,000.00" so this is obviously not interpreted as the lowest denomination.

Maybe the information text is just outdat

[2017-03-05 23:29] jonatanklosko commented on #1328
Hey, sorry for the delay, I'm already working on this =)

2017-03-02 10:26 GMT+01:00 Sébastien Auroux <notifications@github.com>:

[2017-03-06 14:59] jbmertens opened #1387 ""Stacking" pins on maps"
When viewing maps, competitions/pins at the same venue/location can't be seen. For example, try to zoom in on Cleveland or something when [viewing 2016 USA competitions](https://www.worldcubeassociation.org/competitions?region=_North+America&year=2016&state=past&display=map).

This was solved in the [php system](https://github.com/thewca/worldcubeassociation.org/blob/3edc01e652db9e66356af2dcd7dd2f

[2017-03-06 17:52] kotarot opened #1389 "How to input name in local language in sign up page"
Hi,

In WCA profile, most competitors from many East Asian countries (including Japan, China, Korea, …) have their names in local languages along with their English names.

The problem is:
When a person who does not have a WCA ID attempts to register a competition which uses the WCA registration system, he/she firstly needs to fill the form in sign-up page. However, in the sign-up page, there are

[2017-03-06 22:00] #1384 closed

[2017-03-06 22:54] viroulep commented on #1386
Indeed it's just outdated :)

We recently added a mask to display the currency symbol and make the input easier for the user, so now it's actually entered in the most common form by the user, and then it gets converted to the amount in the lowest denomination transparently.

[2017-03-06 22:56] #1386 closed

[2017-03-07 02:31] kotarot commented on #1389
Note that [Tohoku Open 2017](https://www.worldcubeassociation.org/competitions/TohokuOpen2017) is the first competition in Japan which uses WCA registration system, and encounters the problem above.
I temporarily put a small help message in the translation file in #1388 at [this line](https://github.com/thewca/worldcubeassociation.org/pull/1388/commits/1dfb858dc5ef19545734edebcabafa60841e7bbd#diff

[2017-03-07 02:33] Baiqiang commented on #1389
Currently we don't split the name into two fields. So people can enter names like `Baiqiang Dong (董百强)` to register.

[2017-03-07 03:08] kotarot commented on #1389
I understand you don't split name into two fields in database level. But how about spliting it in the input form level?
I mean we just prepare two field (`name` and `name_local`) in the input form and then cancatenate programmatically into "`name` (`name_local`)" format then store to the database.

When we require current a little bit complicated format, people may enter
* Baiqiang Dong (董百强)
* Ba

[2017-03-07 03:14] Baiqiang commented on #1389
@kotarot I meant we even don't split it in the form. So currently there's no good solution. It'a good idea to split it like cubingchina.con does.

[2017-03-07 03:18] kotarot commented on #1389
@Baiqiang Well noted with thank you.

[2017-03-07 08:50] jfly commented on #1389
I like @kotarot's suggestion of splitting the form input into two and then programmatically concatenating before saving to the database.

I don't actually have much of an opinion about where this concatenation should occur, however. I think it could happen client side in javascript or server side in ruby equally easily. I think that doing it client side will allow us to do some fancier instant fee

[2017-03-07 21:38] #1339 closed

[2017-03-07 22:19] #1328 closed

[2017-03-08 00:21] pingskills commented on #1389
Just a thought, if we are going to split the input form then why not store both fields in the database? Is this because we wouldn't know how to split the existing field? If we store both fields you could have a view over the table that concatenates the names, and then if you ever want to change the logic of how the names are concatenated you simply update the view.

[2017-03-08 10:18] timhabermaas commented on #1389
Related: https://github.com/thewca/worldcubeassociation.org/issues/186

[2017-03-08 15:23] viroulep opened #1395 "Delegate reports notifications"
Similar to what we have for pending WCA ID claims, we could have notifications for pending Delegate reports.

(related to #696, with the intent of reminding Delegates they have something to do)

[2017-03-09 12:27] jonatanklosko commented on #1078
I've put down some general API notes/thoughts [here](Hey, you can have a look at my note about this API thing. It includes some facts & thoughts. Additionally I made a basic trial of actually implementing something, just to see how the JSON API format would look. http://handynotes.herokuapp.com/shares/f6DE5E).

[2017-03-09 13:04] jfly commented on #1389
If you do not have a WCA ID assigned yet, then you can edit your name here: https://www.worldcubeassociation.org/profile/edit. I think the simplest possible thing we could do would be to present 2 fields, but only when *creating* an account. When editing, you have one field. That allows us to address #186 separately.

[2017-03-09 13:30] jfly commented on #1375
I anticipate that this page is going to change a bit as we add support for rounds, cutoffs, and groups, so it might make sense to wait on this, as it's not a very critical feature.

[2017-03-10 08:50] viroulep opened #1404 "Check that the currency used is supported by Stripe"
When using online payments we don't check that the currency is supported by Stripe.
No payment will be charge, but it will be discover after someone tries to make a payment.
We should check the currency after a stripe account has been linked.
It's not that simple, it depends on which country the linked Stripe account is based (see [here](https://support.stripe.com/questions/which-currencies-does-s

[2017-03-10 08:59] viroulep opened #1405 "Separate the donation amount from the registration fees"
See the comment [here](https://github.com/thewca/worldcubeassociation.org/pull/1368#issuecomment-285391203).

If at some point the registration fees increase (eg by adding new events, when we'll have support for that), the donation will actually pay some (or all) of the new registration fees.

@jfly suggested to add a column for the donation amount. We also have to think about what happens when we

[2017-03-10 11:03] pedrosino commented on #1405
I didn't follow the other discussion in detail, but is there some specific reason why the donation is linked to a payment? Can we have a standalone Donate button instead, like many websites do?
Sorry if what I'm saying was already discussed, but it sounds much simpler to keep track of things this way.

[2017-03-10 18:41] larspetrus commented on #1405
To me the natural design is to add a `purpose` column to `registration_payments`. In that system a $10 competition fee + $5 donation would be stored as 2 `registration_payments` rows `{amount_lowest_denomination: 1000, purpose: "Competition Fee"}, {amount_lowest_denomination: 500, purpose: "Donation"}`.

Adding columns for each possible new purpose that comes up doesn't seem like a great long term

[2017-03-11 04:34] Jambrose777 opened #1407 "Past competitions not competed in"
Right now,

If you sign up for a competition and either don't compete or don't have your registration approved. Then the competition still shows up in the past competitions. Would it be possible to fix it to where your past competitions only had comps you've competed in?

(Note this could be a weird error that's a special case. I sign up, was approved, then moved back onto the waiting list. This m

[2017-03-11 23:23] Mollerz opened #1410 "Notification for competition announcements in a country"
I think it'd be nice to receive a notification for when competitions get announced in a place you specify.

Originally I thought it'd be nice to receive just notifications for the country you compete for, however there are plenty of people who live in countries different to who they compete as, not to mention it would be an absolute pain for for example the US where there are loads of competitions

[2017-03-12 14:23] jfly commented on #1410
Please see #732 and #114, which covers your second bullet point. In the interest of keeping things simple, I don't think it's worth building your first bullet point as well.

[2017-03-12 14:23] #1410 closed

[2017-03-12 14:24] jfly commented on #1410
(In case my tone was kind of dry in that previous post, I would LOVE to see this get implemented, we just haven't had anyone take this on yet)

[2017-03-12 15:30] Mollerz commented on #1410
Yeah that makes sense, I had a look but I couldn't find anything similar, guess I should have looked harder! And I fully agree with your comment on only implementing the first bullet point.

[2017-03-12 15:35] jfly opened #1411 "Automate membership of delegates mailing list"
(A natural next step after this would be to automate membership of our various team mailing lists as well, but things get a little tricky with the software team, as it probably makes sense for that to remain a public google group to avoid getting into a chicken and egg situation if our infrastructure goes down)

While at the Google Next conference on Friday, I talked to some members of the G Suite

[2017-03-12 16:24] viroulep opened #1414 "Better association between a Stripe account and a competition"
Right now disconnecting a Stripe account from a competition will disconnect it from all competitions using this account.
This is an annoying side effect I removed [here](https://github.com/thewca/worldcubeassociation.org/pull/1368/commits/bd74bb250593ef7df35d7b304db46e0c36a395cb).

So we may need to think of another (competition-based) way of handling Stripe account.
Options:
 - Do nothing, once a

[2017-03-12 16:39] #1257 closed

[2017-03-12 16:39] #1267 closed

[2017-03-12 20:50] pingskills commented on #1414
I like the idea of not having an option to disconnect but a message saying this can be done through Stripe and affects all competitions using this Stripe account.

On the other side when creating a competition we actually connect the Stripe account for each competition even if it's already connected.

So another option is to have a non competition specific page for connecting, and maybe disconnect

[2017-03-13 13:06] Baiqiang opened #1425 "Events don't sort by event.rank in competitiors/registrations page"
See the following screenshots.
![image](https://cloud.githubusercontent.com/assets/2390434/23855526/f0331532-0830-11e7-910a-50c11527d96f.png)
![image](https://cloud.githubusercontent.com/assets/2390434/23855532/f4e0e88e-0830-11e7-807e-dfedeaa0a233.png)

[2017-03-13 13:55] Laura-O opened #1426 "Problems with German declension in translation"
There are several problems with German [declension](https://en.wikipedia.org/wiki/Declension) on the translated website. A quick example:

month = Monat
months = Monate

Registration closes in 1 month. = Die Anmeldung schließt in 1 Monat.
Registration closes in 2 months. = Die Anmeldung schließt in 2 Monate*_n_*

There is a key for singular and plural of "months," but used in the sentence above, a

[2017-03-13 23:03] lgarron opened #1430 "Highlighted Regulation anchors cause yellow background highlighting in copied text."
1. Visit https://www.worldcubeassociation.org/regulations/#3m
2. Copy Regulation 3m.
3. Paste into an email draft in e.g. GMail.

I strongly encourage people to copy relevant Regulations any time they answer a question about what's allowed in a competition. The best way to do that is to copy the Regulation as rich text (which preserves bullets and includes markup for links inside the Regulations).

[2017-03-13 23:07] jfly commented on #1430
Not that we shouldn't address this problem if possible, but a much easier workaround would be to click on a different, nearby regulation. That should pull the yellow background away from the text you care about without sending you flying back to the top of the page.

[2017-03-13 23:34] larspetrus commented on #1430
Would a border/outline/box-shadow be better?

On Mon, Mar 13, 2017 at 4:07 PM, Jeremy Fleischman <notifications@github.com

--
Procrastinators - the Leaders of Tomorrow

[2017-03-14 00:01] jfly commented on #1426
Damn, that's tricky! I don't have any bright ideas for fixing the problem you've run into here, hopefully @timhabermaas can provide some insight?

Tangentially related: "days" probably wasn't the best variable name for this, something like `distance_of_time_in_words_to_now` might have avoided the false sense of confidence you got when you saw "days".

[2017-03-14 00:07] jfly commented on #361
Also worth mentioning that if Puerto Rico is removed as a country, then it needs to get handled here somehow.

[2017-03-14 17:56] jfly opened #1434 "RegistrationsController#index appears to be killing us"
(will update with more detail after deploying a hacky hopeful workaround)

![image](https://cloud.githubusercontent.com/assets/277474/23915258/cb4a0d64-08a5-11e7-805c-0dea0d8ea257.png)

[2017-03-14 22:00] timhabermaas commented on #1426
@jfly I'm sorry, I don't have a proper solution for this problem, I only found [this blog post](https://martin.kleppmann.com/2008/11/24/i18n-and-social-web-we-still-havent-figured-it-out.html) which points out similar issues, but no (maintainable) solutions.

If I understand this issue correctly it is caused by using `"some text #{localized_time_span}"` where `localized_time_span` is unaware of th

[2017-03-14 22:07] jfly commented on #1426
Thanks for taking a look, @timhabermaas! Yeah, my understanding is that the problem is that `localized_time_span` is unaware of the context.

Defining keys for each unit might be the only solution =(

[2017-03-15 12:34] pedrosino opened #1447 "Tooltips cover each other at My Competitions"
This only happens for delegates, I think, since it involves the delegate report.
![image](https://cloud.githubusercontent.com/assets/1881933/23948602/8637fb2e-0962-11e7-9f64-02e532cf6b51.png)

[2017-03-15 16:48] larspetrus opened #1448 ""Server" reporting to New Relic is lost on reboot."
See: https://github.com/phlipper/chef-newrelic-sysmond/issues/26

Currently, you have to run chef to make this work, and it's lost when rebooting the machine.

Could we do whatever chef does during reboot?

[2017-03-15 19:42] SAuroux opened #1450 "Improving computation of auxiliary data."
Updating auxiliary data is currently part of the results posting procedure. The script has never been fast, but with the steady growth of our database it starts to become unbearably slow. I am not exaggerating if I say that running it currently consumes about half the time needed for a regular posting procedure (assuming results with no special issues).

Recently, the results team shortly discusse

[2017-03-16 00:51] jfly commented on #1447
This is a duplicate of #1170 =)

[2017-03-16 00:51] #1447 closed

[2017-03-16 05:11] Baiqiang commented on #1450
One idea is we don't compute all results at a time.
As we know, we rarely change the results which recorded far from now. For example, results before 2016 may never be changed. So we can store the computed results before 2016 permanently (or update it monthly, quarterly, etc), and every time we only compute results after 2016. In this way, we may save much time in computing I think.
To implement t

[2017-03-16 16:59] jonatanklosko commented on #1434
I think we are doing well having killed this killer :smile:

[2017-03-16 16:59] #1434 closed

[2017-03-18 19:47] #1375 closed

[2017-03-20 18:12] jfly commented on #1450
Would it be possible to move this script out of the "posting competition results" pipeline and instead run it asynchronously in the backround like some of our other slower scripts?

[2017-03-20 18:50] SAuroux commented on #1450
Rather not. As an convincing argument, let me quote your reply from the Berkeley results submission: "I'm excited to see my new pb oh single (9.95s =)), but was bummed to see it's not on my personal profile yet. Did you by chance skip running compute_auxiliary_data?" :)

[2017-03-20 19:20] jfly opened #1468 "It's not possible to clear the base entry fee"
The `base_entry_fee_lowest_denomination` [starts out NULL](https://github.com/jfly/worldcubeassociation.org/blob/f1bd4a3f748cac7110f43409bbb7b50b8392e5b3/WcaOnRails/db/structure.sql#L55), but after you set it to something, it's not possible to clear it out, instead it gets set to zero.

@viroulep I'm assigning this to you because you added the cool price picker. How do you think we should handle t

[2017-03-20 20:19] pedrosino commented on #1468
I think a fee of 0 is not really a fee, so it could be treated the same as NULL.

[2017-03-20 20:21] jfly commented on #1468
Then maybe we should change the database field to default to 0 instead of NULL so we don't have two different cases to deal with?

[2017-03-20 20:22] pedrosino commented on #1468
Yeah, that sounds good too.

[2017-03-20 20:23] jfly opened #1469 "Remove rails version from Chef script"
See https://github.com/thewca/worldcubeassociation.org/blob/e9d957c16596c86f58fa904202a3fe39e66bfac5/chef/site-cookbooks/wca/recipes/default.rb#L115-L117.

I have no idea why this is here, maybe at some point in time I thought Rails had to be installed globally. Let's definitely try removing these 3 things and see if things still work.

[2017-03-22 03:49] KitClement opened #1475 "Payment and competitor limits"
Since there's no competitor limit hard coded into the WCA system, competitions may be in a state where they are able to accept payment but don't have any more room in the competition.  The current options for dealing with this:

1) Close registration early using the time functions.  This prevents payments from competitors who have yet to register, but also prevents waitlisted competitors from payi

[2017-03-22 18:56] jfly commented on #1475
At the time Kit filed this issue, he was not aware that the WCA website supports refunding registration fees, which I believe is a full refund that Stripe takes no percentage off of. With that tool in mind, the best solution is to let people register and pay, and just refund their registration fee once you realize you're not going to be able to let them compete.

I'm going to close this issue. Aut

[2017-03-22 18:56] #1475 closed

[2017-03-27 16:49] jfly commented on #1407
Closing for the reason mentioned in https://github.com/thewca/worldcubeassociation.org/pull/1429#issuecomment-289513324.

[2017-03-27 17:14] jfly commented on #1407
[@Jambrose777 said](https://github.com/thewca/worldcubeassociation.org/pull/1429#issuecomment-289518219):

[@jfly said](https://github.com/thewca/worldcubeassociation.org/pull/1429#issuecomment-289520104):

[2017-03-27 17:26] Jambrose777 commented on #1407
I guess kinda the layout that would avoid the issue you described would be to do this:

When you regsiter for the waitlist/approved lists, those show up where they do now.

Then when the competition is over they show up in past competitions.

Then whenever results go up, if you are not in the results (or the delegate/organizer) then that competition is deleted from your past competitions.

So the

[2017-03-27 17:28] Jambrose777 commented on #1407
I don't know the biggest issue I have is whenever I regsiter, get approved then can go. If the organizer choses to move me to the waiting list rather than delete me then I am unable to edit my regsitration and delete myself, so I'm eternally stuck with that competition in my past competitions.

[2017-03-27 17:33] jfly commented on #1407
That sounds reasonable. Alterntiavely you could divide this page into two sections: "comps without results" and "comps with results".

[2017-03-28 13:17] #1468 closed

[2017-03-28 16:00] #1425 closed

[2017-03-28 22:43] Luis-J-Ianez commented on #1407
I can understand that showing "fake past my competitions" is a problem for people **approved** who did not attend **past competitions without results posted yet**.  But we are having cases of people in the waiting list and even in the deleted list of competitions with results published for whom fake competitions are shown.

Is there any problem in restricting the fake competitions to "people appro

[2017-03-31 22:34] jfly opened #1489 "Change mysql character encoding from utf8 to utf8mb4"
[This SO article](http://stackoverflow.com/questions/766809/whats-the-difference-between-utf8-general-ci-and-utf8-unicode-ci) makes it clear that mysql `utf8` is not true `utf8`, and we should be using `utf8mb4` instead.

See https://dev.mysql.com/doc/refman/5.5/en/charset-unicode-conversion.html, which talkes about switching from `utf8` to `utf8mb4`.

On production, our database is currently set

[2017-03-31 22:59] larspetrus commented on #1489
Looks true. And annoying.

https://mathiasbynens.be/notes/mysql-utf8mb4

On Fri, Mar 31, 2017 at 3:34 PM, Jeremy Fleischman <notifications@github.com

--
Procrastinators - the Leaders of Tomorrow

[2017-04-03 07:03] jfly opened #1493 "Dirty dirty hack for Kit for Rose City 2017"
This diry hack can be removed on May 22nd, 2017 (after [Rose City 2017](https://www.worldcubeassociation.org/competitions/RoseCity2017) ends).
@KitClement will explain all here.

[2017-04-03 09:24] KitClement commented on #1493
Yeah, sorry about this :(

We are using two venues for this event, one of which is a library and has intense restrictions on collecting payment.  They knew our Saturday events required payment, but as presently shown, there is no way anyone on the registration page would know not to pay.  The library didn't have a login and we exchanged many emails detailing how our registration system works, and

[2017-04-03 15:40] jfly commented on #1095
Reopening: Pedro's work in #1099 is what allows us to not make this a high priority, but definitely do plan to do this at some point in the future.

[2017-04-04 04:29] larspetrus commented on #979
What would this help achieve?

[2017-04-04 09:23] Claster opened #1496 "Emoji in delegate reports cause errors"
When I insert an emoji into the delegate report and then try to save it, it shows the error: "We're sorry, but something went wrong. If you are the application owner check the logs for more information."

(Yeah, yeah, not very critical bug 😋)

[2017-04-04 09:32] viroulep commented on #1496
😐

To avoid anyone the burden to go in the log, here is the error there:

[2017-04-04 11:57] Cubeur-manchot opened #1497 "Proposition of Personal psych sheet"
Hi everyone !
(first I'm sorry if I don't post at the good place, I don't use GitHub very often)
I recently thought about a small new functionnality on the competition pages : a personal psych sheet. When competitors look at a competition psych sheet, they have to look at the psych sheet of each event to know in each event if they have a chance to get a good place. But they could want to just have

[2017-04-04 15:00] larspetrus commented on #1496
Could be this one:
https://github.com/thewca/worldcubeassociation.org/issues/1489

On Tue, Apr 4, 2017 at 2:32 AM, Philippe Virouleau <notifications@github.com

--
Procrastinators - the Leaders of Tomorrow

[2017-04-04 16:04] jfly opened #1499 "Add support for per event pricing"
Right now, we only support a flat fee per competition, but it would be nice to have a fee for each event people register for in addition to a base fee.

[2017-04-04 16:29] jfly commented on #1380
@coder13, I totally forgot about this, but this is probably what @KitClement ran into over the weekend. He probably went to https://www.worldcubeassociation.org/regulations/scrambles instead of https://www.worldcubeassociation.org/regulations/scrambles/.

[2017-04-04 16:35] jfly commented on #1497
Hey @Cubeur-manchot, this is a neat idea, but not something I think belongs on the WCA website. We have plans for some APIs that will allow other people to build things like this very easily, though. If you're a coder and interested in hearing more about this, check out [WCIF](https://github.com/thewca/worldcubeassociation.org/wiki/WCIF).

[2017-04-04 16:35] #1497 closed

[2017-04-04 16:49] jfly commented on #1380
@larspetrus [said](https://github.com/thewca/worldcubeassociation.org/pull/1498#issuecomment-291556985):

@larspetrus, unfortunately, that option only affects url helpers that generate routes, it doesn't issue any any redirects if someone tries to visit a page without a trailing slash.

To demonstrate what that option does, notice the different return values from calling `users_path` here:

[code]

[2017-04-04 17:10] jfly commented on #1078
I didn't get any traction on this in #1348, and it's not a project I consider worth my full focus right now. Unassigning myself, see my thoughts on this [here](https://github.com/thewca/worldcubeassociation.org/pull/1348#issuecomment-291190459).

[2017-04-04 17:15] jfly opened #1500 "Ask users for all rounds of each event"
Once this is done, we can start to work on some cool stuff:

- Ask users for combined cutoffs and time limits for rounds
- Ask users for the "next round cutoff" (as in: what does it take to advance to the next round?)
- We can include round information in the WCIF export
  - TNoodle will be able to read round information for a competition and know exactly what rounds it needs to generate scrambles

[2017-04-04 17:22] jfly commented on #1496
I'll check out if this is is #1489, as @larspetrus suspects.

[2017-04-04 17:32] FatBoyXPC commented on #1071
Looks fine for me!
![buttonandinput](https://cloud.githubusercontent.com/assets/744962/24670169/14e3b5ce-193b-11e7-81a3-57f835419863.png)

[2017-04-04 17:50] jfly commented on #1071
Ah! Things look fine for me as well, but when I zoom in to 110%, it breaks! So this is not something I care about fixing, and bootstrap 3 is out of maintenence mode anyways, so they're definitely not going to care.

Out of curiousity, I would be curious what a screenshot looks like for you at 110%, though @FatBoyXPC.

[2017-04-04 17:50] #1071 closed

[2017-04-04 22:55] jfly commented on #979
Nothing I can think of. As mentioned elsewhere, I'd rather move to a system where we keep track of "nth round" and what the round cutoffs were. This would be enough to encode this information, except maybe for weird round types we don't use anymore such as [qualification round](https://github.com/thewca/worldcubeassociation.org/blob/5125d87e4aa59bb7d9d17006ceab8c60a3ab1a73/WcaOnRails/db/seeds/roun

[2017-04-04 22:55] #979 closed

[2017-04-05 12:01] Laura-O opened #1507 "Images in delegate reports"
It seems like delegates often forget or are not able to resize and compress images they want to add to their delegate reports. On the one hand, if you download these images automatically, the inline placement might destroy the formatting. Thunderbird can handle this by displaying the images in the size of the window, but Gmail just displays the image full size and adjusts the linebreaks accordingl

[2017-04-05 15:02] jfly commented on #1507
Ahahaha, I suppose you just read the report for Best Open 2017?

Yes, image uploads is definitely something I'd like to support, I don't want people going to the hassle/inconsistency of resizing images offline.

Honestly not sure when we'll be able to make this a priority, though =(

[2017-04-05 18:31] #1489 closed

[2017-04-05 18:50] Claster commented on #1496
Yay, now emojis are working! 😎
Thanks!  👏

[2017-04-05 18:54] jfly commented on #1496
Wonderful! Thanks for checking =)

[2017-04-05 18:54] #1496 closed

[2017-04-06 21:31] jfly opened #1512 "Clean up expect invalid...expect errors code using new to_be_invalid_with_errors matcher"
See discussion [here](https://github.com/thewca/worldcubeassociation.org/pull/1501#discussion_r110269394).

<details>
<summary>Affected places</summary>

[code]

</details>

[2017-04-12 04:09] KitClement opened #1519 "UI for selecting events is confusing"
It's not clear to some people which color indicates that an event is selected -- three of our registrations for Rose City have had competitors choose the exact opposite of the event selection they desired.  See examples below:

![773489950601312065-account_id 1](https://cloud.githubusercontent.com/assets/6166412/24940972/953cf76a-1efb-11e7-927a-2bc613683b8a.png)
![2017-04-08](https://cloud.githubu

[2017-04-12 17:29] jfly commented on #1519
Could you include a screenshot of the UI that is confusing people?

[2017-04-12 23:30] BiscuitCubed commented on #1519
I believe he's talking about this one.

![registration](https://cloud.githubusercontent.com/assets/16313471/24983637/05c9defa-1fae-11e7-96cf-dbe5851a301f.PNG)

[2017-04-12 23:36] KitClement commented on #1519
Yes, specifically, this part:

![image](https://cloud.githubusercontent.com/assets/6166412/24983739/fc235256-1f9d-11e7-8b63-3ac32069baa1.png)

While you can potentially figure it out via the "All" and "Clear" buttons, it's not obvious enough whether grey or black icons represent events that are selected/unselected.

[2017-04-13 23:45] #1519 closed

[2017-04-16 15:21] Baiqiang commented on #1507
I think we can do two things first:
1. Add a note saying should add pic's url instead of the website containing the pic.
2. Add the style to image which limit the max-width when rendering the html from markdown.

[2017-04-16 15:37] SAuroux commented on #296
Today we had a media submission which was just the link to a random online casino/betting page. That's the first time I personally saw something like this, but if we get more such spam submissions in the near future proceeding with this issue could become more important.

[2017-04-17 00:25] jfly commented on #1507
We do already have a `max-width` rule here: https://github.com/jfly/worldcubeassociation.org/blob/6b8a42146874f699f1970ff9397cff50cbae23eb/WcaOnRails/app/assets/stylesheets/delegate_reports.scss#L4. I think that, plus [premailer-rails](https://github.com/fphilipe/premailer-rails) would get the css working in emails.

[2017-04-17 03:07] Baiqiang commented on #1507
@jfly But I don't see there's no style attribute on the `img` tag.

[2017-04-17 05:25] LinusFresz opened #1531 "People mailing to WCT instead to organizers"
The WCT has some trouble receiving mails regarding competition stuff („I want to register another guest“, „I confirm my attendance“, etc.). Normally we would simply send them this link where they can look up a contact mail: https://www.worldcubeassociation.org/faq#how-can-i-register-for-a-competition-who-can-i-refer-to-if-i-have-problems-registering-for-a-competition

But I have an example: https:

[2017-04-17 08:26] jfly opened #1532 "Generate a competition contact link if the user didn't specify one"
See #1531. Not all competitions have a contact link (such as https://www.worldcubeassociation.org/competitions/EretumOpen2017):

![image](https://cloud.githubusercontent.com/assets/277474/25083514/5db35a90-230c-11e7-8494-1c33c7d2bef9.png)

If a contact link is not specificed, we should always generate a contact link that emails all organizer and all delegates.

[2017-04-17 08:30] jfly commented on #1531
Great points, Linus! I agree that we should always have a "Contact" link, if the user didn't specify one. I think the most reasonable thing to put there would be a link to email all the delegates and all the organizers. I've created #1532 for that.

Let's use this issue to discuss how to handle the contact link in the footer when the user is on a competition page. I see a few options:

1. Fix #153

[2017-04-17 08:47] LinusFresz commented on #1531
I like the automatic adding of a contact link!

Yes, I feel like 2.-4. would mean also a lot of work for the Software Team. The best way right now should be to go with 1, in my opinion. If the WCT still receives a lot of mails regarding competition stuff afterwards, we might need to rethink about this again.

Out of 2.-4. I would prefer option 2, which means simply hiding the contact link on compe

[2017-04-17 08:55] jfly commented on #1531
I don't think it's that simple, unfortunately. We're talking about people contacting the WCA when they really want to contact the competition organizers, but the flip side of that is people contacting competition organizers when they really want to contact the WCA. Contacting the WCA is a big hassle for us, but at least they get a response. Emailing a retired cuber it's impossible to say what woul

[2017-04-17 09:05] LinusFresz commented on #1531
Ooooh right, I see your point there! Ok this leads to the conclusion that it is definitely better if the WCT receives some more mails regarding competition stuff instead of missing important mails like you mentioned them.

[2017-04-17 23:25] jfly commented on #1531
Great. I'm going to close this issue, and start working on #1532.

[2017-04-17 23:25] #1531 closed

[2017-04-18 03:18] jfly commented on #1507
I see. Well, I'm pretty sure that the gem is supposed to do that somehow, so we'll have to figure out how to set up the gem correctly. https://github.com/fphilipe/premailer-rails#how-it-works says "t collects the URLs of all linked stylesheets", but I don't know if we have any linked stylsheets in our emails.

[2017-04-18 06:13] #1532 closed

[2017-04-18 06:20] LinusFresz opened #1539 "Select topic on contact form of WCA website"
Most of you probably know contact forms from big countries where you can select a topic on which you are contacting them.
I was thinking of something similar for the contact form of our WCA website. Options for topics could be "Media", "Press", "Regulations", "Competition related",  "Results",  "Other", etc.
"competition related" brought some other idea up: If one selects this topic, another input

[2017-04-18 06:34] LinusFresz opened #1540 "Autopopulate subject field for contacting competition organizers"
This is related to https://github.com/thewca/worldcubeassociation.org/pull/1536 and https://github.com/thewca/worldcubeassociation.org/pull/1532.

Right now, if you click on the contact link at any competition only the mail address gets filled in automatically. How about a prewritten subject field? This could be important for organizers/delegates who might have more than one competition announced.

[2017-04-18 08:00] Laura-O commented on #1539
I am firmly opposed to adding a contact form again which allows contacting the WRC.
In fact, we removed the WRC contact form because we received a lot of misrouted requests. I do not have numbers, but my impression is that this has significantly improved since we only have the plain mail address on the contact page.

Quoting the email I wrote to the software team on February 29th, 2016:

I think a

[2017-04-18 08:21] LinusFresz commented on #1539
Well actually, I am not saying that people should contact any other than the organizers or the WCT via the contact form. It is for sure that we have to avoid that more people are going to contact any other Committee.

[2017-04-18 09:23] Laura-O commented on #1539
Then I am not getting what you mean by

So the idea is to have results and regulations in the dropdown menu, but forward all mails to the WCT? If yes, that's actually forcing miscommunication.

[2017-04-18 10:41] Laura-O commented on #1539
To explain my view a bit more:
If we have a WCT contact form offering the user to ask questions regarding "regulations" and "results" (as mentioned in the first post), we suggest that this is the form they should use for their questions regarding regulations and results.

From what I understood from the prior emails we exchanged regarding the WCT, the plan is not to route *all* website communicati

[2017-04-18 14:59] LinusFresz commented on #1539
I guess you are right there.
After some thinking about this issue I believe the options to choose from should only be "competitions" (-> contact to organizers of the competition they are interested in) and "others" (-> mail to WCT). The WCT should be able to sort out everything people send us in regards to "others". If someone could choose something like "regulations" it is not even miscommunicati

[2017-04-18 16:36] Luis-J-Ianez commented on #1539
I'm a defender of the menu with initial redirections to the corresponding team. But I also understand Laura --if the unfiltered emails are a problem for the team, it's perfectly reasonable to have an entry of the menu filtered by the WCT, so that they receive the inquiry and raise it only when necessary.

[2017-04-18 17:34] Laura-O commented on #1539
No, that's not what I said. My request was:
* Remove the "regulations" from the drop-down menu of the contact form
* Let people send WRC request directly to us without any contact form

Let me please make a suggestion. It's definitely not the right place to discuss this in the WST repository. Furthermore, it doesn't look like the suggestion Linus posted is well thought out. The categories are not

[2017-04-19 16:58] jfly opened #1543 "Change wca_id_no_birthdate_html to link to the change birthdate form"
See https://github.com/thewca/worldcubeassociation.org/blob/9f4ed5fde0992cf26d10c2184f6cb0142495f2c9/WcaOnRails/config/locales/en.yml#L543. Right now it just says "We do not have a birthdate recorded for this WCA ID. Please email the <a href='mailto:results@worldcubeassociation.org' target='_blank'>WCA Results Team</a> with a photo of any legal document (ID card, driver license, etc) where your na

[2017-04-19 17:01] #1540 closed

[2017-04-20 07:51] viroulep opened #1546 "People search should only include real countries"
Since people cannot chose "Multiple Countries*" as a country, we shouldn't include them in the countries list on the people search page.

Implementation suggestion:
 - Add an option [there](https://github.com/thewca/worldcubeassociation.org/blob/4b8a8f7b86ab597bebd2f58abedad92bc36ec65a/WcaOnRails/app/helpers/application_helper.rb#L143) to include real countries or not.
 - Pass the option [here](ht

[2017-04-20 09:37] viroulep opened #1547 "Issues with non-latin characters in search results"
See the following screenshot:
![characters-in-search-results](https://cloud.githubusercontent.com/assets/1007485/25224061/8e13cf68-25bd-11e7-9f8a-b9109f09d5ab.png)

Also "Jonatan Kłosko" is actually displayed "Jonatan Klosko" so we probably do some name manipulation that we shouldn't before displaying the search results!

[2017-04-20 10:23] ron-popov opened #1548 "Potential security flaw in ranking page"
when going to the rankings page you can change the get value of the number of persons you would like to see and it will display it. It will work with really large numbers as well like the integer max value and even higher, I think this could easily be used in a ddos attack for example using really large numbers and causing a really big load on the servers , i would suggest setting a limit to how h

[2017-04-20 11:59] #1543 closed

[2017-04-20 16:44] jfly opened #1550 "Delegates following the history link from the delegates spreadsheet page get a "You don't have access to this page" warning"
Delegates recently gained access to this page:

![image](https://cloud.githubusercontent.com/assets/277474/25242226/be224136-25ad-11e7-8ed4-6d99045ee84b.png)

But when the click the "history" link above, they see this:

![bildschirmfoto 2017-04-20 um 15 58 26](https://cloud.githubusercontent.com/assets/277474/25242198/a3797f02-25ad-11e7-990b-46415801d48f.png)

Instead, they should see the history

[2017-04-20 17:05] jfly commented on #1548
Did you notice that we also have a ["All Persons" option](https://github.com/jfly/worldcubeassociation.org/blob/7d61b560cfe2b984ea8fdd923b8dd443696d81db/webroot/results/events.php#L45)? Give that we support that, I don't see any problem with letting users ask for fewer than every single person.

I'm going to close this issue. When someone ports the relevant page to Rails, they're welcome to change

[2017-04-20 17:05] #1548 closed

[2017-04-20 17:07] jfly commented on #1547
Closing as this is a duplicate of https://github.com/thewca/worldcubeassociation.org/issues/238 =)

If your'e motivated to resurrect https://github.com/jfly/translighterate, we could get this fixed. That gem is currently not a drop in replacement for us because of https://github.com/jfly/translighterate/issues/2.

[2017-04-20 17:07] #1547 closed

[2017-04-20 17:43] #360 closed

[2017-04-20 18:31] pedrosino commented on #1550
I would be in favour of this, but not in favour of they being able to see the history of *all* competitions.

[2017-04-20 18:51] jfly commented on #1083
This should be fixed by #1542.

[2017-04-20 18:51] #1083 closed

[2017-04-20 18:52] jfly commented on #248
This is fixed by #1542. Internally we store "o", but we render it as "" (empty string).

[2017-04-20 18:52] #248 closed

[2017-04-21 17:27] Luis-J-Ianez opened #1553 "Caption "gender" in competitors profiles always shows up"
Caption "gender" in competitors profiles should be omitted for the gender cases (other and NULL) where the gender is omitted.

relevant code here: https://github.com/thewca/worldcubeassociation.org/blob/8dc43979c27a214238ccd4bdb4d49eaab5e58e49/webroot/results/person.php#L84

[2017-04-22 00:56] pedrosino opened #1555 "Event counter on registration breaks up the design"
I don't know if this was intentional, but the All | Clear buttons look off:

Admin view
![events](https://cloud.githubusercontent.com/assets/1881933/25300042/5241ed64-26dd-11e7-9992-fe21fab8fcec.png)

Normal registration
![events reg](https://cloud.githubusercontent.com/assets/1881933/25300043/58b69c6c-26dd-11e7-88eb-47f39da6cc63.png)

[2017-04-22 02:03] jfly commented on #1555
Yeah, this was definitely expected. I'm going to close this issue, feel free to send in a PR if you have an idea for improving it!

[2017-04-22 02:03] #1555 closed

[2017-04-23 16:49] jonatanklosko commented on #1469
Should've been closed before!

[2017-04-23 16:49] #1469 closed

[2017-04-24 16:00] #1546 closed

[2017-04-25 18:17] jfly opened #1563 "Crash in _associated_events_picker"
`def create` in `WcaOnRails/app/controllers/registrations_controller.rb` does not define `@selected_events`, which is passed down into _associated_events_picker:

[code]

What I don't understand is how this works for anyone. Or does everyone just see the resulting 500 page and ignore it, because their registration actually gets created?

[2017-04-25 19:28] viroulep commented on #1563
We discussed this offline, but this occurs when submitting an invalid registration (empty events, negative guests,...): valid registrations redirect, invalid render with a missing `@selected_events` :s

[2017-04-25 19:32] #1563 closed

[2017-04-26 23:07] KitClement opened #1567 "Note for competitors when competition is full"
In my experience so far with Rose City 2017, we have already had a few competitors email us regarding why their registration has not been accepted. Many of them did not check how many competitors had registered and thought that there were open spots by registration being open.

Ideally, it would be nice to have a field for a competitor limit, and an associated message to show on the registration p

[2017-04-27 15:25] jfly commented on #1567
Yes, this is definitely something we're sorely lacking. Closing as a duplicate of #328.

[2017-04-27 15:25] #1567 closed

[2017-04-27 16:37] viroulep opened #1568 "Generate Person.id for WCIF"
As per some discussion with @jfly the `Person.id` generation was left out of #1463.

We want this id to be unique across multiple WCIF generations, competitors/organizers/delegates changes, etc...
So a "simple" solution is to base its generation on the `registration.created_at` (competitors deletion is not an issue since we have "soft" deletes).
However the issues start when we want to handle case

[2017-04-27 17:34] larspetrus commented on #1568
Why not use WCA ID as Person ID?

Isn't it already "unique across multiple WCIF generations,
competitors/organizers/delegates changes, etc"?

On Thu, Apr 27, 2017 at 9:37 AM, Philippe Virouleau <
notifications@github.com> wrote:

--
Procrastinators - the Leaders of Tomorrow

[2017-04-27 17:42] jfly commented on #1568
There are two reasons we can't use WCA ID as Person ID:

1. You only get a WCA ID after you've competed. There can be people registered for the competition who have never competed before. We even currently have a delegate who has never competed before!
2. The person ID is supposed to be an integer. Why? Currently, data entry software (specifically cubecomps) generates integer ids for competitors.

[2017-04-27 18:23] larspetrus commented on #1568
Thanx!

1. Would anything important break if we issued WCA IDs on registration?

2. OK, if numericality is a strict requirement, WCA IDs won't work. You _could_ map WCA IDs to 10 digit numbers with no loss of information.

I'm not clear on if this Person ID is supposed to be a unique ID for that person across all competitions ever, or just within a single competition?

Either way, basing it on the

[2017-04-27 18:32] jfly commented on #1568
This has come up in past discussions about how to fix ancient issue #21. IIRC, some people are opposed to it on hypothetical/philosophical issues, mainly "what if we give someone a WCA ID and then they never compete?".  I am confident the WRT would not like us making this change without consulting them first.

Just within this single competition, so the id can be short and easy to use for data ent

[2017-04-27 18:41] jfly commented on #1568
I just realized I missed the "possibly fake" part of this, which might be the crux of your argument. Could you explain that in more detail?

[2017-04-27 18:53] larspetrus commented on #1568
OK, if it's just within a single competition, most of my worries disappear. A few minor ones remain.

- Would you compute the ID on the fly each time it's needed, or store it in the DB?

- Philippe mentioned making "fake" deleted registrations to squeeze non competing organizers into the scheme. That sounds really hacky.

[2017-04-27 19:07] jfly commented on #1568
I'll leave this decision up to Philippe, generating these at the time people register would be a solid way to make sure they don't change. Performancewise, it probably doesn't matter, because we'll be iterating over every single registration for the competition anyways when generating the WCIF for the comp.

Yes, we won't be doing that! Instead we'll have legit, non deleted registrations that are

[2017-04-28 20:09] jfly opened #1574 "Intermittent failure in spec/controllers/persons_controller_spec.rb"
See:

[code]

You can see that we expected to only find 2 people here, but we found 5 total. I can't immediately tell from code inspection how we end up with 5 people in the Persons table, there should be only 2. Perhaps a previous test is not cleaning up the database nicely?

This does seem to be reproducible when running with seed 42773.

[2017-04-28 22:00] jfly commented on #1574
Aha! This appears to be due to the brand new `spec/lib/relations_spec.rb`, which writes to the database, but doesn't seem to clean up after itself. This is reproducible by running just the relevant part of `relations_spec.rb` followed by `persons_controller_spec.rb`.

[code]

I guess this has something to do with the fact that `spec/lib/relations_spec.rb` is not a controller/model/feature test? Th

[2017-04-28 22:57] jonatanklosko commented on #1574
@jfly I think it might be due to the fast that we run some custom SQL. Forcing truncation fixes it for me =)
[code]

[2017-04-28 22:59] jfly commented on #1574
Yep! I see that same behavior, actually =) Currently digging into why running custom sql seems to mess up the transaction.

[2017-04-28 23:20] jfly commented on #1574
OK, so there seem to be certain kinds of SQL queries that "screw up" an ongoing transaction. For example.

## This test passes (updating users seems to be fine)

[code]

## This test fails (drop table seems to screw up an ongoing transaction)

[code]

[2017-04-28 23:44] larspetrus commented on #1574
Oh, yeah!

Schema changes are not part of SQL transactions.

On Fri, Apr 28, 2017 at 4:20 PM, Jeremy Fleischman <notifications@github.com

--
Procrastinators - the Leaders of Tomorrow

[2017-04-28 23:51] #1574 closed

[2017-04-29 00:01] jfly opened #1576 "Discussing a better solution for determining whether linkings computation is needed"
(See #1572, where this discussion started.)

The current implementation looks if there are any Results that appeared within the last hour. This implementation has a few quirks to it:

1. This means there's a 1 hour period after results are uploaded where we *always* need to compute linkings, even if the linkings were up to date. For example:
  - Results uploaded at 1am.
  - Generate linkings at 1:

[2017-04-29 00:26] larspetrus commented on #1576
Yeah, that scheme will fail for sure.

Some version of solution `1` is the right thing.

_When_ the last job ran doesn't seem bullet proof. It should be clear _which_ competitions have been computed.

I also wonder what happens if the cron job activated _during_ result upload.

[2017-05-02 18:26] jonatanklosko opened #1585 "Remove old person.php code"
Get rid of the unused code once #1579 gets merged.

[2017-05-03 14:25] #796 closed

[2017-05-04 08:48] Laura-O opened #1593 "Add a WRC section"
It's difficult to find the relevant issue in the WRC repository because people assume it's here. Therefore, I am adding this here so things won't get lost.

The WRC would like to have a section on the website sooner or later.
I created a draft [here](https://github.com/thewca/wca-regulations/issues/419#issuecomment-294306580).
Noobish implementation is [here](https://github.com/Laura-O/worldcubeas

[2017-05-04 10:22] #1553 closed

[2017-05-04 12:34] #1576 closed

[2017-05-04 12:51] jonatanklosko commented on #1585
Done in #1588.

[2017-05-04 12:51] #1585 closed

[2017-05-04 15:13] jfly commented on #1593
@Laura-O, I've assigned this to you, because you've already taken the initiative and started coding. As you think of more stuff to do, it might make sense to break this issue up into lots of tiny issues. Whatever works for you! You can decide how much coding you want to do vs recruiting folks from the WST to help out.

[2017-05-05 19:39] #1114 closed

[2017-05-05 23:20] jfly commented on #693
@jonatanklosko, is this still an issue when moving servers now that the cached database php file no longer exists thanks to your work in #1591?

[2017-05-05 23:23] jonatanklosko commented on #693
I think you're right! The auxiliary tables are obviously on our mysql server and removing cache files is irrelevant here (that's what the script has been doing since I removed the cached db).

[2017-05-05 23:35] jfly opened #1603 "Our nginx config should redirect HTTPS traffic to www.worldcubeassociation.org"
Right now, our [nginx config](https://github.com/thewca/worldcubeassociation.org/blob/315a7ae80a92052647edb029f8570de98d60a9f8/chef/site-cookbooks/wca/templates/worldcubeassociation.org.conf.erb#L319-L328) only redirects https://worldcubeassociation.org to https://www.worldcubeassociation.org:

[code]

All other domains do not get redirected:

[code]

This caused a bug where some WRT members submi

[2017-05-05 23:39] jfly commented on #693
Awesome! Could you optimistically update our wiki (see the second comment in this thread) and close this issue?

Btw, this reminds me that https://github.com/jfly/worldcubeassociation.org/blob/4a45b4a093c365c46ba7f5b8ea2a24baddaa4c77/chef/site-cookbooks/wca/recipes/cronjobs.rb#L63 exists (to try to run this script once when the server starts up). Don't forget to remove that as part of #1602 (or wh

[2017-05-05 23:42] jonatanklosko commented on #693
Wiki updated, thanks for pointing out this file =)

[2017-05-05 23:42] #693 closed

[2017-05-06 05:14] larspetrus commented on #1603
Sounds like another fix could be to change whatever code is writing the URL to the DB?

[2017-05-08 17:54] jfly commented on #1603
That would be another solution! We're using the rails url helpers to generate these urls. http://stackoverflow.com/a/8523014 shows a solution for rails that hopefully would work.

[2017-05-08 18:39] #1450 closed

[2017-05-08 20:46] jfly opened #1607 "Posting results announcement fails when < 3 people competed in 3x3x3 final round"
At [Korean Spring Picnic 2017](https://www.worldcubeassociation.org/competitions/KoreanSpringPicnic2017), only 2 people competed in 3x3 final round, which triggered [this code](https://github.com/thewca/worldcubeassociation.org/blob/ef4e57980de3b73d83abf63a179ec52212704ffc/WcaOnRails/app/controllers/competitions_controller.rb#L200).

@SAuroux doesn't really care how this is handled, so we just nee

[2017-05-08 21:16] larspetrus commented on #1607
It looks like this a special case for the `'333'` event.

Is it handled differently for other events?

[2017-05-08 21:24] jfly commented on #1607
If a competition held 3x3, we show the podium for that event. If the competition did not hold 3x3, then we only announce that results of the competition are now available. A future world might have a feature where you can select the "main event" of a competition, if you don't hold 3x3.

[2017-05-08 22:05] lgarron commented on #1603
How did they do that? Did they click through certificate errors?

Anyhow, I support only responding with WCA data when they're connecting using a host we have a certificate for. That's safe, and should be sufficient for all users.
(If not, then we should carefully consider cases where it's not sufficient.)

[2017-05-08 22:06] jfly commented on #1603
I'm pretty sure they did. @SAuroux can confirm this.

[2017-05-08 22:34] lgarron commented on #1603
😢

How's this?
- Respond with WCA data only on the correct origin:
 - `www.worldcubeassociation.org` on port 443 in prod
 - `localhost` on port 3000 in dev
- Redirect any port 80 HTTP requests to HTTPS on the same host.
- Redirect https://worldcubeassociation.org to https://www.worldcubeassociation.org
- [`return 444;`](http://nginx.org/en/docs/http/request_processing.html#how_to_prevent_undefined

[2017-05-08 23:08] jfly commented on #1603
I tried implementing the [`return 444;`](http://nginx.org/en/docs/http/request_processing.html#how_to_prevent_undefined_server_names) on staging.worldcubeassociation to no avail.

## What I did

I added this to the bottom of /etc/nginx/conf.d/worldcubeassociation.org.conf and restarted nginx:
[code]

## How I tested it

### Before

[code]

### After

[code]

[2017-05-08 23:10] #1607 closed

[2017-05-08 23:10] lgarron commented on #1603
Try putting it at the top?

Possibly also try the `default_server` directive: http://nginx.org/en/docs/http/server_names.html

(Sorry, I can't test myself right now.)

[2017-05-08 23:17] jfly commented on #1603
Ok, location *does* matter, putting it above the other `listen 80` server block means this works now!

[code]

Please note: in my previous test, I was testing against HTTPS instead of HTTP. This server block doesn't address the analogous HTTPS issue:

[code]

@lgarron, how would you change the nginx config to return 444 on HTTPS traffic to the wrong domain?

[2017-05-09 00:06] jfly opened #1612 "Add preview stage to avatar submission process"
@SAuroux says that the WRT gets a lot of misoriented avatar submissions. A preview stage in the avatar submission process might help people realize they're submitted a rotated email.

[2017-05-09 18:22] #1612 closed

[2017-05-10 22:06] KitClement opened #1617 "Make "Information" text editable after competition posting"
Currently, the "Information" field on the WCA Event information page is not editable once a competition is announced except for admins/board. Since we have tabs integrated now that can be edited once a competition is announced, I feel it would make sense that this field could be editable as well. If the board has other opinions, that's fine, but I figured this should  be considered.

[2017-05-10 22:44] jfly commented on #1617
I'm supportive of this change. @KitClement, could you reach out to the Board and get approval for it?

[2017-05-10 23:06] KitClement commented on #1617
Email sent.

On Wed, May 10, 2017 at 3:44 PM Jeremy Fleischman <notifications@github.com>
wrote:

[2017-05-11 12:16] pedrosino opened #1621 "Competitions admin view looks off"
![image](https://cloud.githubusercontent.com/assets/1881933/25948566/76326904-362a-11e7-89b3-b57e9b09cf97.png)

The orange was not supposed to look like this. Also, the date field is overflowing (see first line)

[2017-05-11 17:46] KitClement commented on #1617
Blocked by #1325.

[2017-05-11 21:32] jfly commented on #1621
@pedrosino, can you take this on?

[2017-05-12 05:54] SqAtx opened #1623 "Too much information on accepted registration page"
I registered to a competition today and if i go to the Register tab again I can see this box:
![register](https://cloud.githubusercontent.com/assets/4351932/25983811/e25a7f60-369b-11e7-97f6-f6f54f96d10d.png)
It's the same one there was when I was actually registering, only now:
- It don't need the "We autopopulated this with your preferred events, which you can edit here" text
- Nothing happens if

[2017-05-12 06:03] SqAtx opened #1624 "Newly registered competitor has access to a page they shouldn't see"
I registered to a competition today and after paying the fee there was a button named something like "Update registration". I clicked on it and it opened this page:
![wca](https://cloud.githubusercontent.com/assets/4351932/25984075/5c34d4a6-369d-11e7-99b5-36e3049c3ec9.PNG)
I'm pretty sure I was not supposed to see that.
I didn't reproduce the problem because that requires me to actually register t

[2017-05-12 16:02] jfly commented on #1623
The comment box is intentional, this is how you'd see the comment you left if you had left one. I agree with your other two points, though.

[2017-05-12 16:08] jfly commented on #1623
Thanks for the suggestions! I've created #1627 to address 2 of them. I don't think we should get rid of the disabled comment box, however.

[2017-05-12 16:35] jfly commented on #1624
Here's the problematic code: https://github.com/thewca/worldcubeassociation.org/blob/54b9f1a42b68b3600338c215c391e17935db522a/WcaOnRails/app/controllers/registrations_controller.rb#L185-L186. You can see we unconditionally render `edit` here, even if the user did not come from the admin view. This isn't a security flaw, but it's certainly confusing.

The reason the page now returns a error message

[2017-05-12 16:38] #1623 closed

[2017-05-12 17:32] jfly opened #1629 "Intermittent mysql connection issue in Travis"
We're seeing a bunch of travis failures due to failing to connect to mysql:
- https://travis-ci.org/thewca/worldcubeassociation.org/builds/231618535
- https://travis-ci.org/thewca/worldcubeassociation.org/builds/231618121
- https://travis-ci.org/thewca/worldcubeassociation.org/builds/231449867

The error specifcally is `Mysql2::Error: Can't connect to MySQL server on '127.0.0.1' (111)`.

Here's on

[2017-05-12 19:28] jfly commented on #1629
I captured an error with the additional debugging! See https://travis-ci.org/thewca/worldcubeassociation.org/builds/231669737#L183-L246:

[code]

I'm not familiar with this `/usr/sbin/mysql-5.6-wait-ready` script, I'm guessing it's a travis thing? Will keep digging...

[2017-05-12 19:49] jfly commented on #1629
I captured the contents of this mysterious `/usr/sbin/mysql-5.6-wait-ready` file in [this travis run](https://travis-ci.org/thewca/worldcubeassociation.org/builds/231683396#L186):

[code]

This looks like it does exactly what we need in terms of waiting for mysql to start! I think we could just run this command ourselves in `.travis.yml` and hopefully we'd avoid all these mysql 111 errors.

[2017-05-13 15:59] SqAtx commented on #1623
Thanks for making the change!

I agree that it makes sense for the comment box to be there.

[2017-05-14 23:07] #1004 closed

[2017-05-15 17:11] jfly commented on #1139
@jonatanklosko, don't forget to assign issues to yourself.

[2017-05-15 17:12] #1139 closed

[2017-05-16 16:02] #1624 closed

[2017-05-16 17:15] jfly opened #1640 "DRY up our `to_wcif` functions"
See @viroulep's comment [here](https://github.com/thewca/worldcubeassociation.org/pull/1636/files#r116676191), which I've copy pasted here:

I've handled this through a concern in wc2017's app, see [here](https://github.com/viroulep/wc2017/blob/ff0571040c6222789f5f664e1bc76404cb72dedd/app/models/concerns/wca_model.rb#L28-L35).

This precise function does not do what you want here (it transforms ca

[2017-05-16 21:46] jfly commented on #1299
@larspetrus, I'm actually not sure how to take advantage of `find_or_create_by!` here. The problem is that we're not creating an empty post, we're creating a post with the title and the body set. Here's the current code:

[code]

This will run, but has incorrect behavior (it will create a new post if the body or title changed):

[code]

Another attempt:

[code]

This looks like it should work (but

[2017-05-16 21:57] larspetrus commented on #1299
`find_or_create_by` takes a block ([see documentation](https://apidock.com/rails/ActiveRecord/Relation/find_or_create_by)). I've never used it, but something like this should work:

    Post.find_or_create_by!(slug: CRASH_COURSE_POST_SLUG) do |post|
      post.title = "Delegate crash course"
      post.body = "Nothing here yet"
    end

There is also this form:
    Post.create_with(title: "Delegat

[2017-05-16 22:49] #1512 closed

[2017-05-16 23:33] #1299 closed

[2017-05-17 21:20] #696 closed

[2017-05-18 16:27] jfly opened #1649 "Championship Competitions"
See proposal [here](https://docs.google.com/document/d/1tgIfNxJqYni_PFsMt-hpDSh1YpfoCseLORvLX6d7-l4/edit#).

@Baiqiang, be sure to work with the WRC and @viroulep to talk about how to maintain the `eligible_country_iso2s_for_championship` table. Also see [this comment](https://github.com/thewca/wca-regulations/issues/406#issuecomment-302178014).

Remaining tasks:

- [ ] #1797
- [ ] #1796
- [ ] #17

[2017-05-18 21:33] #1310 closed

[2017-05-19 01:02] pedrosino opened #1652 "Fewest Moves appearing twice in competition results"
![image](https://cloud.githubusercontent.com/assets/1881933/26229133/a7895b34-3c15-11e7-8da0-20d6e2bc2ec2.png)

See the 2 lines saying "3x3x3 FM"
It should be one title and the two winners listed.

If I'm not wrong it used to be that way in the old design

[2017-05-19 01:05] jfly commented on #1652
For example:

![2017-05-18_11 04 17_1120x459_kaladin](https://cloud.githubusercontent.com/assets/277474/26229174/824b6d88-3bf4-11e7-9b30-93591b63a293.png)

[2017-05-20 00:31] jfly opened #1653 "Get rid of phpBB"
There are 3 things blocking this:

1. Have some way to display the legacy forum content. @jonatanklosko done this in PR #1651.
2. After #1651 gets merged up, we should let people play around with it a bit, and then set up nginx redirects from the old php links to the new "legacy" ruby urls. @jonatanklosko is working on this in PR #1663.
2. Give the WDC posting privileges. See #1666 for this.

[2017-05-20 00:32] jfly commented on #51
Closing in favor of getting rid of the forum entirely. See #1653.

[2017-05-20 00:32] #51 closed

[2017-05-20 11:11] jonatanklosko opened #1656 "New bundler fails Travis"
See  #1655.

[2017-05-20 13:15] pedrosino commented on #1621
Jonatan changed it on d12e982

[2017-05-22 18:00] jfly commented on #1656
I just talked to @jonatanklosko about this. Travis upgraded bundler from 1.14 to 1.15 and it's causing our pre-commit gem to die. There are 4 things we need to do:

1. downgrade bundler in travis so it's running version 1.15.
2. upgrade our pre-commit gem so we have the latest pluginator
3. create an issue on pluginator about the type conversion problem
4. create an issue on pre-commit about not w

[2017-05-22 19:40] jonatanklosko commented on #1656
@jfly I downgraded the bundler version in #1660, but restarting Travis didn't help as you expected so I made a new PR with translations update and it went well (also commented on other PRs affected by that) + deployed the forum thing as it was failing too. Then I updated pre-commit (and thus pluginator) to the latest version locally and created issues with the appropriate error, see rvm/pluginator

[2017-05-22 19:49] jonatanklosko opened #1662 "Make Travis use the latest bundler whenever it is possible"
Temporarily we force Travis to use `bundler 1.14.6` due to #1656.
#1660 should be reverted once jish/pre-commit/issues/258 (aka rvm/pluginator/issues/10) is resolved and everything works well with the latest version (`bundle update pre-commit`).

[2017-05-22 19:49] jonatanklosko commented on #1656
This has been fixed in #1660, though not perfect, I'm closing in favour of #1662.

[2017-05-22 19:49] #1656 closed

[2017-05-22 22:18] #1621 closed

[2017-05-23 01:12] #1493 closed

[2017-05-23 03:33] jfly opened #1666 "Give WDC posting privileges"
The WDC needs a few features before they are able to use this:
  - [x] ~~An option to not display posts on the homepage~~ Implemented by declaring that all posts tagged `wdc` do not show up on the homepage.
  - [x] A tagging feature for posts
  - [x] A page where you can view posts of a particular tag. Something like `/posts?tag=wdc` to view all posts tagged "wdc".

[2017-05-23 19:42] jfly opened #1670 "Combine custom competition tabs with the existing sticky competition nav bar"
@KitClement tells me that people find the current set of 2 navigations confusing:

![image](https://cloud.githubusercontent.com/assets/277474/26372967/9f431904-3fb4-11e7-86a5-2d61c80ca182.png)

He suggests moving the custom, horizontal tabs into the sticky navbar on the left. That would look something like this:

![image](https://cloud.githubusercontent.com/assets/277474/26373059/03eb227a-3fb5-11e

[2017-05-23 20:06] jonatanklosko commented on #1670
It's certainly possible, though I'm not quite convinced if stacking more tabs within the left menu decreases the complexity. Also introducing *reloadingly-javascriptless version* seems like a step backwards for me.

[2017-05-23 20:39] jfly commented on #1670
About the complexity, @KitClement says:

I agree that the 2 navbars don't have any logical difference between each other, and that it's easy to look at one but not the other. I think that combining them is a decrease in complexity (but I'm no UI guy).

It does not feel that way to me. The less javascript we have to maintain, the easier our lives will be.

[2017-05-23 20:43] KitClement commented on #1670
Yeah, in my limited experiences with the new system, I get a few people who
register and then come to the competition and miss all of the information
in the tabs, or people who see only the tabs and then email us asking how
to register, as they missed the sidenav. Also, when I shared our first
competition using this system to our facebook group, one person kept asking
where the website was, notici

[2017-05-23 21:02] #1550 closed

[2017-05-23 22:31] lgarron opened #1672 "/archive instead of /legacy?"
In #1651, we moved the old forum to `/legacy`. My instinct is that this doesn't have the right connotations unless you know English well, or know what it means for software.

I'd like to propose moving it to `/archive` instead.

@jfly, @jonatanklosko , if I want to send a PR without a full checkout, can I just update the single route added in #1651?

[2017-05-23 22:38] jonatanklosko commented on #1672
I'm in favour of this. Yeah `:legacy` -> `:archive` is the only thing.

[2017-05-24 01:09] #1499 closed

[2017-05-24 01:20] pingskills opened #1674 "Registration fee should be dynamically adjusted based on per event fees"
The database schema now supports per event fees, and as such the registration UI should dynamically update the current fee as a competitor selects, or deselects events on the registration page.

[2017-05-24 02:00] jfly commented on #1629
Reopening because unfortunately, we've been seeing travis builds time out while running this `/usr/sbin/mysql-5.6-wait-ready` script.

I'll add some debugging info to `.travis.yml`.

[2017-05-24 02:17] jfly commented on #1674
Yay javascript!

[2017-05-24 02:37] #1672 closed

[2017-05-24 08:58] SAuroux opened #1677 "Sorting competitors by name appears broken"
See https://www.worldcubeassociation.org/competitions/WC2017/registrations for example

When the page first loads, the sorting is fine, but clicking "Name" again does no longer result in a proper sorting.

I already had a quick chat with @jonatanklosko to confirm this is a bug. He confirmed and asked me to open an Issue. He also had the idea, that Javascript might sort by links to profiles instead

[2017-05-24 10:56] LinusFresz commented on #1677
Just a quick comment: It is still a sorting, but by WCA ID (descending). I noticed the same if I sort by country first, and then again by name, which makes the ranking ascending starting with the oldest WCA ID.

[2017-05-24 11:01] Laura-O commented on #1677
@LinusFresz Which is the result of sorting by URLs. 😃

[2017-05-24 16:42] #1653 closed

[2017-05-24 16:43] #1677 closed

[2017-05-24 20:21] #1666 closed

[2017-05-24 22:05] jfly opened #1681 "Remove cubing_phpbb database"
All the (now legacy) phpbb tables are in a separate database called `cubing_phpbb`. There's no real reason for this, and it causes [some weirdness](https://github.com/thewca/worldcubeassociation.org/search?utf8=%E2%9C%93&q=cubing_phpbb&type=).

I think the simplest solution is to move whatever tables we need into the cubing database and `prefix` their names with `archive_`

[2017-05-24 23:33] jfly commented on #1629
Caught a failure here: https://travis-ci.org/thewca/worldcubeassociation.org/builds/235471912. It looks like there simply is no mysql process running, so of course `/usr/sbin/mysql-5.6-wait-ready` is going to time out. In fact, you can see travis itself running `/usr/sbin/mysql-5.6-wait-ready` in the background.

Interestingly enough, when running `find /var/log` on travis, I saw [some permission

[2017-05-25 00:31] jfly commented on #1629
I've added some more debugging info in #1675 and now I can't seem to reproduce the issue anymore (5 tries in a row). Either the debugging I added made the problem go away, I've gotten very unlucky, or this bug is not totally random for some reason.

I chose to merge up #1675 so we can get coverage with everyone else's builds. Hopefully we'll be able to figure out what's going on then.

[2017-05-25 08:41] mpapis commented on #1662
fixed in pluginator 1.4.1

[2017-05-25 14:06] viroulep opened #1685 "Results per event cache key may need improvements"
Right now the [cache key](https://github.com/thewca/worldcubeassociation.org/blob/943630e25d51d1033d9757a967d605be74b28f68/WcaOnRails/app/views/persons/_results_by_event.html.erb#L12) is computed as follow:
[code]

Results for the competitor's latest competition share the same `updated_at` values, problems arise when some of these results get deleted.
At the time of creating this issue, you can vi

[2017-05-25 14:42] jonatanklosko commented on #1685
The same applies to [the competition results page](https://www.worldcubeassociation.org/competitions/SunmarkeDubaiOpen2017/results/all#esq1_c) as @SAuroux pointed out to me. I'd vote for clearing the cache for now. If you consider it likely enough that it needs to be solved somehow, then we can add `registrations.count` to the cache key, or go for your suggestion.

[2017-05-25 14:50] jonatanklosko commented on #1662
Thanks @mpapis!

[2017-05-25 18:01] jfly opened #1688 "result.rb bugs when computing averages"
- [x] multibld should not compute an average
- [x] 333 DNF averages are not getting DNFed
- [x] FMC DNF averages are not getting DNFed

[2017-05-25 18:40] #1681 closed

[2017-05-25 23:51] timhabermaas commented on #1685
`@results.map { |r| [r.id, r.updated_at] }.hash`?

[2017-05-27 06:20] jfly commented on #1629
@jonatanklosko says:

@jfly here you are

<details>
  <summary>MySQL error</summary>
<code><pre>
0.00s$ echo "***** Some debugging info for https://github.com/thewca/worldcubeassociation.org/issues/1629 ****"

***** Some debugging info for https://github.com/thewca/worldcubeassociation.org/issues/1629 ****

before_script.2

0.01s$ ps -efw | grep -i mysql

root         53      1  0 18:26 ?        0

[2017-05-27 06:23] jfly commented on #1629
Thanks Jonatan! There is some interesting stuff coming from dmesg here. It looks like travis is in a low memory situation and is killing mysql to try to stay alive.

[code]

There are a lot of these mysql deaths in the full log file. I'm not sure if this is just a benign, travis is low on memory situation, or if mysql is going off the rails and sucking up memory. Either way, I fear there won't be

[2017-05-29 09:26] viroulep opened #1692 "Automatic registration for organizers and Delegates"
Right now it could happen that a Delegate or Organizer is put on waiting list because of a registration limit (eg: if registrations fill very very quickly, and the Delegate/Organizer does not register quickly enough).

Since they literally create the competition and choose registration's opening/closing, I think it would make sense to automatically create a registration for them upon competition's

[2017-05-29 15:18] Mollerz commented on #1692
I was thinking about something like this as well, for delegates or organisers that are not competing then it is not a problem to remove them from the registration list. I think something like that happens far less often as well, and it's very easy to delete a registration. Good change in my opinion.

[2017-05-29 15:21] Mollerz opened #1693 "Longer Registration History"
Currently in the Registration History it only shows two of the items, so we can't actually see a history of what events have been change, who accepted the registrations, etc. It'd be nice to see a full history on show.

[2017-05-29 23:41] jfly commented on #1693
Could you explain this in a bit more detail? What "two items" are you referring to here?

[2017-05-30 07:25] Mollerz commented on #1693
http://puu.sh/w5jLe/46d589a6ae.png

At the bottom here in the registration history. If I go to change an event for example, it will just change to this:

http://puu.sh/w5jMP/b1f8f4b269.png

As you can see it only ever shows the two latest in the list. It would be extremely useful to see the full history so we can see who's accepted the registrations, change events, etc. Even after a couple of chan

[2017-05-31 00:46] jfly commented on #1693
Gotcha. Implementing this would require us actually tracking all changes to registrations, which is not something we currently do. See https://github.com/thewca/worldcubeassociation.org/issues/1031#issuecomment-264618778 for details.  We'd have to implement @larspetrus's suggestion there before we can make any improvements to that here.

[2017-05-31 02:27] pedrosino opened #1694 "Sort registrations by accepted date"
Right now we can sort them by when the registration was created, but many competitions now require pre-payment, so the date that actually matters is when the person fulfilled all requirements.

(Sorry if this exists already, I fell a little off the grid with recent changes)

[2017-05-31 02:31] jfly commented on #1694
See PR #1484 (in particular [this screenshot](https://github.com/thewca/worldcubeassociation.org/pull/1484#issuecomment-291281463)), which is all about sorting the (still misnamed) waiting list. It sounds like that's not relevant for you though, because you're asking about sorting by accepted date, which presumably means you want to sort the accepted registrations table? Why would you ever want to

[2017-05-31 02:34] pedrosino commented on #1694
Yeah, that's different. (Why isn't it merged?)

One use I can think of is you are giving some gift/prize to the first X people who registered. Going through email to find this out can be a little boring and/or messy.

[2017-05-31 02:34] pedrosino commented on #1694
Ah, duh, it is merged :P

[2017-05-31 02:39] jfly commented on #1694
I see. Yes, looking through email to figure that out sounds annoying. This might be a slippery slope though... other things I could imagine caring about include:

1. Sorting by number of competitions attended.
2. Sorting by distance travelled for this competition.

That said, this seems simple enough to add, and if it actually makes your life easier, then I'm not opposed to adding it. It's worth n

[2017-05-31 02:55] pedrosino commented on #1694
I don't think we should allow competitor to edit approved registrations, since those might require a new payment.

This isn't anything critical. What is the correct tag?

[2017-05-31 02:58] jfly commented on #1694
Let's continue that discussion over on #941 =)

I tagged this with "registrations". I can't think of a better tag than that.

[2017-05-31 12:07] Mollerz commented on #1693
Makes sense, it's definitely not a core feature but would be extremely nice to have in the future.

[2017-05-31 17:39] jfly commented on #305
@larspetrus says:

I like this plan!

[2017-06-01 21:24] jfly opened #1699 "SubmitReportNagJob schedules report nag email sometimes fails with wrong competition"
For example

<details>

[code]

</details>

This can be reproduced by running `bin/rspec --seed 14267`

[2017-06-01 22:07] #1699 closed

[2017-06-01 23:08] #1325 closed

[2017-06-01 23:22] jfly opened #1702 "ActionView::Template::Error (uninitialized constant ActionView::CompiledTemplates::DatabaseDumper) in production"
This is due to [this reference to `DatabaseDumper`](https://github.com/thewca/worldcubeassociation.org/blob/1f6b74f4edb909e39d1f93cc3da9de5d739fd9fd/WcaOnRails/app/views/devise/sessions/new.html.erb#L19). The problem seems to be that the contents of the `lib` directory are not eagerly loaded in production. Here's a very interesting article about rails's autoloading vs eager loading: http://blog.ar

[2017-06-01 23:42] jfly opened #1704 "database_dumper_spec fails when expecting dump date to be >= before_dump"
See https://travis-ci.org/thewca/worldcubeassociation.org/builds/238552421#L3237-L3251.

<details>

[code]

</details>

Presumably the problem here is that mysql only stores seconds, and is rounding down, which makes the dump time look earlier than it should be.

[2017-06-02 00:32] #1704 closed

[2017-06-02 14:22] jfly commented on #10
The WCT has been formed, and is taking on these sorts of tasks now =)

[2017-06-02 14:22] #10 closed

[2017-06-02 15:10] jfly commented on #327
A lot of work related to this just happened in PR #1683. We don't actually ask delegates for the main event, instead there's a dropdown that the WRT has to select when uploading results (it defaults to 333 if 333 was held at the competition):

![image](https://cloud.githubusercontent.com/assets/277474/26731932/9a658936-476a-11e7-8bb3-c61f8a412f4c.png)

I think it's okay for now for the WRT to have

[2017-06-02 15:10] #327 closed

[2017-06-02 15:13] jbcm627 commented on #10
How about links (icons or something) to SM?

[2017-06-02 15:17] jfly commented on #10
The WCT working on a redesign of the homepage, so I'm sure we'll have some flashy, annoying social media links soon enough =) Until then, we still have a link to the most important form of social media at the bottom of every page:

![image](https://cloud.githubusercontent.com/assets/277474/26732249/c8a7e6f8-476b-11e7-8fc7-ad17031d2cac.png)

=) =) =) :octocat: :octocat: :octocat: :octocat: :octocat

[2017-06-02 15:42] SAuroux commented on #327
No, closing this issue is perfectly fine for me. :)

2017-06-02 17:10 GMT+02:00 Jeremy Fleischman <notifications@github.com>:

[2017-06-02 21:29] jfly opened #1710 "Add a client side image rotation feature"
See #1696, which improved our handling of submitted jpegs (we used to completely ignore EXIF data about rotations, now we actually rotate images when saving them to disk). However, this is not perfect:

1. Users might simply have an image in the wrong orientation. In that case, they have to use a photo editor to fix the rotation themselves.
2. The avatar preview feature that @jonatanklosko added i

[2017-06-07 13:05] viroulep commented on #1380
Could we do this through nginx with a list of affected resources?
AFAIK the affected url are:
- `/regulations`
- `/regulations/history`
- `/regulations/scrambles`
- `/regulations/translations`

all these need some trailing slashes to work properly.

[2017-06-07 14:21] jfly commented on #1380
Thanks for the ping here. I'm looking into https://github.com/tkellen/rack-slashenforce right now. If that doesn't work out, solving this at the nginx layer seems acceptable to me.

[2017-06-07 15:06] #1380 closed

[2017-06-10 05:05] SqAtx opened #1716 ""This competition is ongoing" the day before the competition"
I just noticed a small thing when looking at Vancouver Open Summer 2017 competition page.

I get a message saying "Note: This competition is ongoing. Come back after June 10, 2017 to see the results!".

As it is currently 10:05 pm PDT (UTC-8) on June 9th, 2017, I did not expect to see that message :)

[2017-06-12 03:28] Baiqiang opened #1717 "Display events info on the competition page"
Right now people can only know a competition's events via the following ways:
1. If the competition uses the WCA system, competitors can check the register page to see the events.
2. If the competition doesn't use the WCA system, competitors can check the competition's website for the events.

I think we should display the events information in some place such as the competition index.

[2017-06-12 14:08] pedrosino commented on #1717
I agree that this would be good.

[2017-06-14 13:42] jfly commented on #1716
Yeah, our `in_progress` method uses a half baked heuristic. See https://github.com/thewca/worldcubeassociation.org/blob/58097ba2fb751058371cc1a9d627650c0054b901/WcaOnRails/app/models/competition.rb#L639-L641.

The fundamental problem here is that we do not know the schedules of competitions, nor do we know their timezones. We're slowly working on fixing that, but it's a lot work with very little g

[2017-06-14 13:43] #1688 closed

[2017-06-14 19:36] viroulep opened #1721 "Automate changes detection of the WCA Countries list"
Although automating the change in the db is not possible, it should be easy to detect changes compared to the version in the official WCA Regulations repository, and display a big warning/email the team.

See discussions [here](https://github.com/thewca/worldcubeassociation.org/pull/1650#issuecomment-308511948).

[2017-06-15 01:18] larspetrus commented on #1721
Could we detect it in a test that goes red before deployment?

I don't actually know which two things can go out of sync with each other, so I have to ask clueless questions...

[2017-06-16 13:30] LinusFresz opened #1723 "WCT: Function to see competitions a user is registered for"
The WCT receives a lot of mails related to competitions, asking for event changes, adding guests to their registrations, cancelling the registration and much more. Unfortunately lots of these people do not tell us which competition they are referring to, nor tell us their name, WCA ID or anything else. So all we have is a mail address. To solve this issue, members of the WCT need to first respond

[2017-06-16 15:23] SAuroux commented on #1723
Wow, you really spend so much time dealing with such people? Why not simply reply with a standard mail that tells them how to find the right addressee (<their competition> -> info -> contact)?

[2017-06-16 15:29] LinusFresz commented on #1723
Well, actually we do this! But you can’t imagine how many mails we receive from the contact form or forwarded from the board with the same questions over and over again (from the same people who do not use our advice but contact us again). This is also related to the issue that the contact link at the bottom is still linked to contact@ (and will remain how it is) instead to the organizers. See Jer

[2017-06-16 16:17] SAuroux commented on #1723
Well, in the interest of keeping the WCT non-burned-out I would seriously advise to go a way that requires less effort per case:

- reask the WST to fix the contact links
- use standard mails (i.e. "here is the way to contact the right person" and/or "this is the information you need to give us")
- ignore people that take too much of your time by being too lazy/stupid despite several attempts to h

[2017-06-17 20:33] LinusFresz commented on #1723
I have to admit I do not really agree with your opinion. Personally I like the way how the contact link works. We take the risk to let the people contact us (or any other team) again if we do not give them (relatively) detailed information. So why not add this feature and make this easier for the WCT? It would not need much more time to look into the database and see which competitions a competito

[2017-06-17 22:41] SAuroux commented on #1723
I don't really see how your reply corresponds to what I was saying. But it is perfectly fine if you do not agree with me. Let's just hope that you still feel the same way in 1-2 years. :)

I think that this feature should not be too hard to implement. However, in case this is not fully clear to you: it is only possible to find registrations of competitions using the WCA registration system.

[2017-06-18 02:31] jfly opened #1724 "unknown attribute 'name' for Team while editing team members"
This was introduced by db/migrate/20170417072301_remove_description_from_teams.rb, which removed the `name` column from the teams table, but didn't remove the name field from the edit team members page.

[2017-06-18 07:46] #1395 closed

[2017-06-18 08:04] #1717 closed

[2017-06-18 11:24] #1724 closed

[2017-06-18 22:09] Luis-J-Ianez opened #1726 "Bug in persons_finish_unfinished caused by apostrophes"
I have a vague recollection that this was already fixed, but I've found today that the second step of this script (the one adding newcomers to persons) doesn't work like expected when the person's name includes an apostrophe. The second part of this script performs an INSERT into persons and then an UPDATE to write gender and country. The UPDATE fails because the name is not escaped, I guess. (I s

[2017-06-19 05:59] viroulep opened #1727 "Remaining erb in Regulations"
There is some erb rendered here: https://www.worldcubeassociation.org/regulations/history/official/2015-07-01/.
It should actually be interpreted to provide the title for the page.

I'll try to take a look at it in the upcoming week, it should be fairly easy to fix.

[2017-06-19 09:08] LinusFresz commented on #1723
Yes, for now the implementation would be great! We can see how our/my opinion about this might change in the future and start this discussion again, if necessary.

Thanks, I am aware of that. Due to the increasing amount of competitions using the WCA registration system, I am confident that the implementation will help us a lot. :-)

@thewca/software-team is this implementation which I proposed in

[2017-06-19 10:16] Laura-O commented on #1723
Wouldn't this issue be (at least partly) solved by changing the contact form?

I'm not saying this shouldn't be implemented, just saying that it's probably more helpful to implement a change which will help people writing clear messages instead of implementing a change which will help you to understand unclear messages.

[2017-06-19 19:03] LinusFresz commented on #1723
I guess both things together would do the trick! I can definitely agree that a changed contact form will help, too. As you know we are already into discussions about this.

Will do soon! Unfortunately I have some other important stuff to do now, but I hope to get this done soon.

[2017-06-20 09:33] jfly opened #1728 "undefined local variable or method `new_team_path` when visiting /teams"
https://www.worldcubeassociation.org/teams crashes with:

[code]

I broke this in #1530, specifically aa577ec8bd2781c96fd8abcf282c9bb0cd2313d2, which removed the pointless create team interface.

When fixing this, I'd like us to first write a failing feature test so we don't break this again. Something really simple that just visits the page and maybe checks that the teams show up.

@jonatanklosko

[2017-06-20 09:34] jfly opened #1729 "Add the newly created WCA Financial Committee (WFC) to the website"
There are a few steps to this:

- [x] Set up a google group (wca-finances@googlegroups.com), and add cmhardwick@gmail.com, cwwright.uk@gmail.com, james.g.molloy@gmail.com to it. @jonatanklosko, you created a doc with instructions to do this, right? Could you add a link to it here?
- [x] Set up an email forward. Either finances@ or wfc@ should point to wca-finances@googlegroups.com. See https://doc

[2017-06-20 09:35] jfly commented on #1729
@pedrosino, I don't have time to do this, could you take this on?

[2017-06-20 09:47] jonatanklosko commented on #1729
Actually you created the document and I added my thoughts there, I guess you mean [this thing](https://docs.google.com/document/d/1WrayKZcTCWuHJuAhBNnZDbtCnKdxckOLYYEHAnImy-U).

[2017-06-20 10:05] jfly commented on #1726
@Luis-J-Ianez, could you search through your inbox for an email thread titled "Problem with names that include an apostrophe" (created by @pedrosino)? In that thread, we discussed this very problem, and I believe we fixed it (we intentionally did not bother to fix the highlighting code, so that could be confusing).

Are you able to reproduce this bug on staging? If so, please repoen this issue and

[2017-06-20 10:05] #1726 closed

[2017-06-21 20:10] pedrosino opened #1735 "advancement_condition > next percent bug?"
There seems to be an extra % after the %{percent} in this key.

[2017-06-23 13:43] jonatanklosko commented on #1729
From Chris:

[2017-06-24 01:37] pedrosino commented on #1729
It should. I just set that up. I'll let them know about it.

[2017-06-24 02:15] pedrosino commented on #1729
First steps are done. I'm waiting for someone to confirm if I *have* to install ruby 2.4.1 in order to make migrations and PRs.

[2017-06-24 02:50] jfly commented on #1729
You can try to do stuff with an old version of ruby, but I personally wouldn't want to try it. If travis is happy, then things should be fine.

[2017-06-24 03:15] jfly commented on #1735
Are you referring to [this line](https://github.com/thewca/worldcubeassociation.org/blob/218820c650bd2c62ad892e49c46ca7aadcc4df10/WcaOnRails/config/locales/en.yml#L102)?

[code]

This looks fine to me, what do you expect it to be?

(I'm going to close this issue, feel free to reopen if I'm misunderstanding)

[2017-06-24 03:15] #1735 closed

[2017-06-24 11:24] pedrosino commented on #1735
OH! Now I realise the second % is actually a percent sign. LOL

[2017-06-24 11:29] pedrosino commented on #1729
The thing is that trying bin/rails s or bin/rails g migration is failing.

I guess I'll try rmv once more and hope it goes well...

[2017-06-25 19:29] FatBoyXPC opened #1740 "List of competitions on profile"
Right now you can only see competitions on a per event basis. You can generally use 3x3 as a metric for what competitions you've been to, but this often isn't all inclusive (FMC USA, for example).

[2017-06-26 13:35] #1728 closed

[2017-06-27 01:17] #1729 closed

[2017-06-27 10:16] jonatanklosko opened #1744 "Automatic email to translators about en update"
Email translators@worldcubeassociation.org whenever `en.yml` changes.

Note that we want to send it *if and only if* the English version changes, so this involves storing some kind of hash digest.

[2017-06-27 13:27] jonatanklosko opened #1746 "Searching competitions by distance"
From Reto:

Concerning the "overwhelming amount of controls within competitions list form":

*Note: we already have some kind of this functionality in the new competition form, that warns about nearby competitions.*

*Also somehow related to #114.*

[2017-06-27 14:59] jonatanklosko commented on #1727
[These files](https://github.com/thewca/worldcubeassociation.org/tree/regulations-data/regulations/build/regulations/history/official/2015-07-01) are missing the `.erb` ending, thus being rendered as they are without preprocessing.

[2017-06-27 15:54] larspetrus commented on #1746
I assume we're talking about this page: https://www.worldcubeassociation.org/competitions

One fun solution would be to make the map markers different colors showing how far into the future they are. Probably simple to do.

[2017-06-27 16:50] HildrethJ opened #1747 "Competitors include middle name when registering"
When creating an accuont on the WCA website, people will see this;

FULL NAME
[text field]
Enter your full name correctly, for example Stefan Pochmann. Not sloppily like s pochman.

I have found that this results in many people entering their full legal name (that's what it asks for, right?) , which looks extremely out of place in English speaking countries and competitions.  Of course, this is co

[2017-06-28 06:05] KitClement opened #1748 "Bigger text box for "competitor limit reason""
When typing out my reason for a competitor limit for a competition, I ran out of space. It would be nice to make this text box similar to the remarks text box (multi-line, no character cap), as I just put this reasoning there with "see remarks" in the text box for the competitor limit.

[2017-06-29 02:46] jfly commented on #1740
Isn't this covered by the [my competitions](https://www.worldcubeassociation.org/competitions/mine) page? (closing this issue, feel free to reopen if I misunderstand).

[2017-06-29 02:46] #1740 closed

[2017-06-29 08:02] #1744 closed

[2017-06-29 16:33] jonatanklosko commented on #1727
Closing via #1756.

[2017-06-29 16:33] #1727 closed

[2017-07-01 07:57] viroulep commented on #1727
Thanks a lot @jonatanklosko!

[2017-07-01 10:53] #1662 closed

[2017-07-03 09:12] Mollerz commented on #1674
Is there any time frame for when we can expect to be able to allow per-event registration amounts? In the UK we would really like to start using the WCA payment system but we want to charge a base fee of £10, with £1 per event selected, which as far as I could see is not possible to do at the moment.

[2017-07-03 12:09] pingskills commented on #1674
Who's good with Javascript and knows how the payments work? @viroulep any interest in taking this one on?

[2017-07-03 12:11] viroulep commented on #1674
I won't commit into anything before mid August :p
I'll try to think about it at that time, unless someone take it on before then!

[2017-07-06 01:43] pedrosino opened #1766 "Delegates admin page gets wrong info"
The page at https://www.worldcubeassociation.org/admin/delegates is reading the wrong "region" for delegates.
Instead of the region filled by Board/Senior (which appears at https://www.worldcubeassociation.org/delegates), it shows the "Location description" which delegates themselves fill. This causes a mess because there's no structure/format for that field

[2017-07-06 01:54] pedrosino opened #1767 ""Submitted by other" is too generic"
Radu sent an email saying his old reports are all marked as "submitted by other", as per #1709
See https://www.worldcubeassociation.org/competitions?delegate=250&display=admin&years=all

I got info from the delegates group to fill this stuff sometime ago (can't find it, though), but the change we made probably had this bad side effect.

I see the report for URABackToSchool2016 is marked as posted

[2017-07-06 16:26] jfly commented on #1767
Thanks for the investigation, Pedro. I am supportive of one of the following 2 options:

1. If `posted_by_user_id` is NULL, display "submitted by unknown" instead of "submitted by other".
2. Do nothing. If delegates complain, then ask them who the correct user is, and update the database manually.

I personally am leaning slightly towards 2) here, because that's less code, but I'm okay with doing

[2017-07-06 17:08] pedrosino commented on #1767
I thought "serious" was about the issue itself, not how much work it would take. lol

I personally don't like either solution :P I got good results with scraping the delegates group, it would be a shame to have all that go to waste by having "submitted by unknown" appear.

Since we don't have any case of a "fake-posted report" (I think), I would like to mark all those that are posted and have a di

[2017-07-06 17:14] jfly commented on #1767
Submitted by which of the delegates of the competition? Just one chosen at random?

What about farming this work out to our delegates? We only have like 2000 such competitions, can't we just ask our delegates to tell us who submitted the reports?

[2017-07-06 17:34] pedrosino commented on #1767
The way I see the "submitted by other" is "submitted by some third party who was not a delegate on the competition, because the delegate(s) somehow failed to do it".

I doesn't matter much if it was you or me who submitted the report from a competition we both were delegates. What matters is that it was "posted 3 days after the comp" by a competent delegate :)

[2017-07-06 17:54] jfly commented on #1767
Marking the reports as submitted by a random delegate from the competition sounds okay to me.

[2017-07-06 19:07] #1747 closed

[2017-07-07 21:44] jfly opened #1774 "When changing a person's name, fix person updates all past Results with that name, rather than only the ones corresponding to the most recent Person"
See https://github.com/jfly/worldcubeassociation.org/blob/35a3c1ba2410f226163f0c244b95264c59e8d460/WcaOnRails/app/models/person.rb#L77-L80.

It's kind of hard to explain this, so I'm just copy pasting @SAuroux's excellent description from the email he sent us:

[2017-07-08 20:51] pedrosino commented on #1767
Actually we already do one part of what I said.

[code]

The problem here is the ones marked as posted but with posted_by_user_id NULL. I'll work on fixing those.

[2017-07-09 20:49] #1748 closed

[2017-07-10 18:15] #1774 closed

[2017-07-19 23:37] jfly opened #1780 "When a competitor who deleted their registration re-registers, we do not send a notification email"
See relevant code [here](https://github.com/jfly/worldcubeassociation.org/blob/8224ffbe3a6aa6f1b055067688181713679df917/WcaOnRails/app/controllers/registrations_controller.rb#L164-L178). Note that we only call `notify_organizers_of_new_registration` and `notify_registrant_of_new_registration` [inside of `def create`](https://github.com/jfly/worldcubeassociation.org/blob/8224ffbe3a6aa6f1b0550676881

[2017-07-21 02:36] jfly opened #1782 "Change our feature specs to be Rails 5.1 system tests?"
See #1783 and https://github.com/rspec/rspec-rails/pull/1813.

[2017-07-21 23:19] jfly opened #1785 "World Championship podiums are not sorted chronologically"
Despite the `.order("year DESC, Events.rank")` present [here](https://github.com/thewca/worldcubeassociation.org/blob/c4af9e8eb56558e33a9291f7a3a5ead5cdf29201/WcaOnRails/app/models/person.rb#L172-L177), [this code](https://github.com/thewca/worldcubeassociation.org/blob/c4af9e8eb56558e33a9291f7a3a5ead5cdf29201/WcaOnRails/app/views/persons/_world_championship_podiums.html.erb#L15) screws up the ord

[2017-07-22 00:59] #1785 closed

[2017-08-02 19:09] jonatanklosko opened #1795 "Get rid of World Championship podiums hack"
Just get rid of [this](https://github.com/thewca/worldcubeassociation.org/blob/aeb95c6e4639abd131780229abab72b054514140/WcaOnRails/app/models/person.rb#L175) in favour of the newly created `championships` table once it's filled with the appropriate data.

[2017-08-02 19:09] jonatanklosko opened #1796 "Include championships in the public database export"

[2017-08-02 19:12] jonatanklosko opened #1797 "Add all kind of championships to profile pages"
At the moment only World Championship podiums are displayed in the profile. Once we have all the necessary data stored in the `championships` table, we should be able to add continental/national championship podiums as well.

[2017-08-02 19:18] jfly commented on #1795
What's a chack? =)

[2017-08-02 19:23] jfly commented on #1797
@jonatanklosko didn't mention this, but as mentioned in the [design document](eligible_country_iso2s_for_championship), this is going to be tricky to do for National Championships, where more citizenships than just the country can be eligible to win. As @Baiqiang says about the China Championships:

This may be implemented with an additional table in the database, or perhaps some special if statem

[2017-08-04 06:20] KitClement opened #1799 "Time Zone Functionality for Registration Open/Close"
This would be a nice feature to prevent people from having to calculate their open/close times in UTC. It would also prevent situations like this from happening:

https://www.reddit.com/r/Cubers/comments/6rgyyt/how_to_f_over_cubers_101/

Can't confirm, but I bet you anything that registration was set to open at midnight UTC August 4th, and that's 8pm EDT on August 3rd. Having this time zone select

[2017-08-04 06:55] jonatanklosko commented on #1799
We show the time in the local time zone. The problem with this particular competition was that organisers included the information within the "Information" section so it was kinda "hardcoded" and that's why it was misleading. You can see the localised time on the "Register" page. [Here](https://www.worldcubeassociation.org/competitions/UPennCubeDayFall2017/register) is an example of registration c

[2017-08-04 15:31] jfly commented on #1799
I'm not wholly opposed to adding support to setting a time zone, but I'd rather discuss this after we add support for competitions with multiple locations (for comps like FMC USA).

[2017-08-04 16:03] larspetrus commented on #1799
I don't know how many non programmers even know what a "UTC" *is*.

Maybe we can do something simple that solves 80% of the problem. A simple
warning text. Or displaying what the UTC times are in New York, Paris and
Singapore.

You can also let the browser translate:
https://stackoverflow.com/questions/10574132/jquery-how-to-convert-server-time-in-utc-to-web-browsers-local-time

On Fri, Aug 4, 201

[2017-08-04 16:35] jfly opened #1801 "Should we ask the user for their full billing address when they pay via stripe?"
Currently, we *do* have [zipCode verification turned on](https://github.com/thewca/worldcubeassociation.org/blob/f1f1167313a9b9b013bc943e312575219b291fa9/WcaOnRails/app/views/registrations/_payment_form.html.erb#L25), which looks like this:

![image](https://user-images.githubusercontent.com/277474/28977628-a741bf3a-78f7-11e7-9583-94d7df4601d4.png)

(note that the zip code field doesn't show up un

[2017-08-04 17:30] larspetrus commented on #1801
We could probably get stats from Stripe on how many transactions are rejected and why?

[2017-08-06 10:49] pingskills commented on #1801
Hmmm, I had thought that the main test was the zip code. I'm not sure how much extra verification adding the extra details provides. We could send an email to support@stripe.com to ask for their opinion.

[2017-08-06 17:12] larspetrus commented on #1801
I wouldn't want to add this complexity without some semi-hard data showing
it would solve more problems than it caused. Adding more fields to fill out
is more work, and less obviously gives the user more chances to spell
something wrong.

The incident behind this is pretty bad, but also - AFAIK - an isolated one,
which mostly became as bad as it did because the competition sold out in <
30 minutes

[2017-08-06 18:48] viroulep opened #1805 "Check for other deprecation warnings"
We don't want to run again into something similar to https://github.com/thewca/worldcubeassociation.org/pull/1804!

I'll also write a test for it.
Assigning it to myself because it should have been part of the mentioned PR but I don't have time for it right now.

[2017-08-06 18:54] jfly commented on #1805
I manually looked through the output of `git grep "\.find(" | grep -v params | grep -v "\.js"` to try to see other calls to `.find(` that pass in an AR object instead of an id, but I did not see any.

[2017-08-06 20:51] #1805 closed

[2017-08-06 22:15] jfly commented on #1801
I talked to Luis (the only person with access to our Stripe account) about measuring rejection rates, and he cannot find any such data on his dashboard. I then asked @KitClement and Chris Brotzman if they can see anything (they have a Stripe account which they've connected to the WCA (Luis's) account in order to collect payments, and they say "We have had 9 failed payments out of 219 attempts. Som

[2017-08-06 22:18] KitClement commented on #1801
The way I did it was just by doing an export of all transactions. If Luis
can see all transactions, he should be able to get an export and see the
status of all transactions (Failed, Completed, etc.)

On Sun, Aug 6, 2017 at 3:15 PM Jeremy Fleischman <notifications@github.com>
wrote:

[2017-08-07 01:00] jfly opened #1807 "expect Post.count to eq 1 failure in spec/requests/competitions_spec.rb"
This is easily  reproduced with seed, but I don't think the seed is actually needed.

[code]

[2017-08-07 01:11] jfly commented on #1807
Urg nevermind, see https://github.com/thewca/worldcubeassociation.org/pull/1808#issue-248284927.

[2017-08-07 01:11] #1807 closed

[2017-08-09 01:47] jbcm627 opened #1814 "Improve email message when changing an account's email address"
I just changed my wca account email, and got a potentially misleading message:

I guess [this template](https://github.com/thewca/worldcubeassociation.org/blob/3edc01e652db9e66356af2dcd7dd2fa518d88604/WcaOnRails/app/views/devise/mailer/confirmation_instructions.html.erb) was used, which I assume is also used for new accounts. However, a better message with the new email would be... better :)

[2017-08-09 07:48] lgarron commented on #1000
Here's the best picture I have from our dinner. :-)
![dsc04350](https://user-images.githubusercontent.com/248078/29110599-04aa04b4-7c9c-11e7-8aa1-804041bd4eb2.jpg)

[2017-08-09 07:48] #1000 closed

[2017-08-09 19:31] Luis-J-Ianez commented on #1801
I do have a "export" link inside "payments". But the problem is that my account does not have payments and thus, nothing to export.

[2017-08-11 16:19] jfly commented on #1649
Closing in favor of https://github.com/thewca/worldcubeassociation.org/milestone/6.

[2017-08-11 16:19] #1649 closed

[2017-08-12 01:30] jfly opened #1816 "timestamps and championships tables have CHARSET latin1, and every table should be utf8mb4"
See [here](https://github.com/thewca/worldcubeassociation.org/blob/3628674963381d14837ce2365506eef19d82466f/WcaOnRails/db/structure.sql#L720) and [here](https://github.com/thewca/worldcubeassociation.org/blob/3628674963381d14837ce2365506eef19d82466f/WcaOnRails/db/structure.sql#L1226). All our tables should be CHARSET utf8mb4.

@jonatanklosko, could you start by adding a test that checks for any ta

[2017-08-14 19:02] yuxuibbs opened #1819 ""Refund Payment" is easy to accidentally click when updating competitors' registration"
Right now, the button for "Refund Payment" is yellow (btn-warning) and it's the most eye catching thing on the page. It's very easy to accidentally click "Refund Payment" (yellow button) instead of "Update Registration" (white button that blends into the page) when updating a competitor's events.

Could we make the "Update Registration" button a color that isn't white? Maybe blue or green?

James

[2017-08-16 00:42] jfly commented on #256
This already happened, see https://www.worldcubeassociation.org/posts/changes-of-countries-recognized-by-the-wca. I no longer believe it makes sense to implement something like this on the WCA website. I could see it as a good 3rd party website, however.

[2017-08-16 00:42] #256 closed

[2017-08-16 01:02] jfly commented on #68
We now have a financial committee (see https://www.worldcubeassociation.org/posts/start-up-of-the-wca-financial-committee) to worry about this sort of stuff. I'm going to go ahead and close this issue.

[2017-08-16 01:02] #68 closed

[2017-08-16 01:28] jfly opened #1821 "Add support for tentative events"
(The Board has asked for this, as they are getting strict about requiring that events be announced in advance.)

This actually shouldn't be too tricky to implement: a db migration, an admin UI update to put a "tentative" checkbox next to each event, and an update to the competition public page to separate the events by tentative and "for sure".

One open question would be how this affects the comp

[2017-08-16 01:31] jfly opened #1822 "Add support for multi-country championships"
We've discussed stuff like a Nordic Championships, where citizens of multiple countries would be eligible to win a title. Also, China Championships is actually a "Greater China Championships", where citizens of Taiwan, Hong Kong, Macau, and China are all eligible to win a title.

To implement this, I propose a new table, called `eligible_country_iso2s_for_championship`:

| championship_type | elig

[2017-08-16 17:04] #1822 closed

[2017-08-16 21:30] Claster opened #1825 "Multiple requests for one WCA ID are not deleted in "Notifications""
A competitor created several accounts and requested me to confirm their WCA ID. After several emails I finally confirmed one of their accounts. Others are still shown in my "Notifications" though.

Probably once the WCA ID is confirmed, all other requests for this WCA ID should be deleted. Another option is to allow delegates to deny requests (an email to a competitor should be sent then).

[2017-08-17 00:20] KitClement commented on #1819
I would also like to add that it wouldn't hurt to add a pop-up dialog for confirmation of the refund. Even if we change the color, it's still quite easy to misclick.

[2017-08-17 00:35] #1819 closed

[2017-08-17 00:36] jonatanklosko commented on #1819
I'm surprised to hear we don't ask for a confirmation at the moment, I will make the improvement soon!

[2017-08-17 01:12] jonatanklosko commented on #1819
@yuxuibbs @KitClement FYI, I've just deployed both changes =)

[2017-08-17 11:17] SAuroux commented on #297
*bump*

Unfortunately, porting these scripts to Rails did not happen in the past 19 months. This is mostly ok, but for a few cases we are sometimes severely limited by the "we don't extend old PHP scripts since they will be eventually be ported to Rails".

One such case is our check_records script. Whenever we have to retroactively change the nationality of a competitor, we would incredibly benefi

[2017-08-17 15:42] jfly commented on #1825
Ha! Oh, people. Does this happen often?

Could you write up a proposal for the contents of the automated "your WCA ID claim has been rejected" email?

[2017-08-17 21:40] Claster commented on #1825
It doesn't happen often to me, only once. OTOH, I would like to delete claims because of the other reason as well, see below number 2.

Is it possible to have 1 WCA ID attached to several accounts? If not, is it possible to claim WCA ID that is already attached? What happens if the delegate accepts two claims, does the second one overwrites the first? Maybe we need another automated email for the

[2017-08-18 22:01] jfly commented on #1825
You cannot accept two claims. The first one will succeed and the second one will fail, complaining that you cannot assign the same WCA ID to 2 different accounts. To accept the second claim, you would have to manually clear the WCA ID associated with the first account before accepting the second claim. I don't think it's worth the effort of building any automated emails around this, delegates can

[2017-08-18 22:08] jfly commented on #297
@Baiqiang, do you have time to hack on check_regional_record_markers.php to add a "country" dropdown?

[2017-08-18 22:30] jfly commented on #1814
I dug into this a bit. [Here's the relevant devise code for confirmable](https://github.com/plataformatec/devise/blob/ee01bac8b0b828b3da0d79c46115ba65c433d6c8/lib/devise/models/confirmable.rb#L50-L51), which calls either [`send_on_create_confirmation_instructions`](https://github.com/plataformatec/devise/blob/ee01bac8b0b828b3da0d79c46115ba65c433d6c8/lib/devise/models/confirmable.rb#L177-L182) or [

[2017-08-18 23:54] jonatanklosko opened #1832 "User avatar preview ignore EXIF data and renders some images incorrectly."
I had a look and it appears that the HTML `img` tag doesn't care about the image EXIF data, so it is rendered in the initial direction/position, which obviously can be wrong. There's a lovely CSS3 property (`image-orientation: from-image`), but unfortunately it's supported by Firefox only at this point. I think that the right way to solve this problem for now would be using this [JavaScript librar

[2017-08-20 02:36] jfly opened #1834 "wca-states.json typoes in comment"
From https://github.com/thewca/worldcubeassociation.org/blob/f834d079ef8db91cca2787c34d4c6b4effb0743b/WcaOnRails/config/wca-states.json#L2:

[code]

Note that there are some missing spaces in here, which clearly come from [this code](https://github.com/thewca/wca-regulations-compiler/blob/6b6aee02de716bb2c7a1b1626200b61bcc364bee/wrc/codegen/cgjson.py#L9-L12). @viroulep, could you fix this?

[2017-08-20 04:26] jfly opened #1837 "Add a section to server-status that goes red 1 week before our https certificate expires"

[2017-08-20 04:27] jfly opened #1838 "Set up a cron job to autorenew our certificate with acme.sh"
Since @viroulep switched us over to let's encrypt, we need to get autorenew set up before our certificate expires on November 14th, 2017.

[2017-08-20 04:38] jfly commented on #1837
@viroulep, could you take this on? I'll work on #1838.

[2017-08-20 12:37] #1832 closed

[2017-08-21 08:17] Mollerz opened #1841 "Monospace font for the edit section of Manage Tabs"
It's a pain making large tables and not having it monospaced! There is a toggle preview mode so that you can see how it is for when it isn't monospaced, or to see how the markdown has been applied. I can't see anyone having a problem with it being monospaced, but definitely having it as an option will be very useful.

[2017-08-21 08:19] Mollerz opened #1842 "Manage Tabs Preview doesn't load with large amounts of markdown used"
For ABHC, neither the Scramblers nor Groups tab loads the preview. I'm assuming that this is because there is a large table. When it is purely text or there is only a small amount of markdown used it doesn't have an issue. I have to update and load the actual tab to check whether it is correct if I wanted to make an update.

[2017-08-21 09:58] #1816 closed

[2017-08-21 15:44] jfly commented on #1842
Could you reproduce this on [staging](https://staging.worldcubeassociation.org/) and give us a link?

Either way, this is probably going to be a bug/limitation of [simplemde](https://github.com/sparksuite/simplemde-markdown-editor), but we can take a look!

[2017-08-21 15:49] jfly commented on #1841
I agree that a monospaced font would definitely be nice here, but I don't know if trying to change the textbox font would screw with what [simplemde](https://github.com/sparksuite/simplemde-markdown-editor) does for fancy styling as you edit. Someone will just have to give it a shot and see =)

[2017-08-21 15:55] #1593 closed

[2017-08-21 16:06] jonatanklosko commented on #1842
I think I know what's going on. I see we use a GET request that probably has some length limitation on parms. I believe this should be a POST instead (actually it is my fault that we don't do so already). I will work on that once I'm back home (next Tuesday) unless someone fixes it =)

[2017-08-21 16:36] jfly opened #1846 "wca_ids column in linkings table is NULL-able on production"
On our production server:

[code]

See my discussion with @jonatanklosko about this [here](https://github.com/thewca/worldcubeassociation.org/pull/1817#discussion_r134105597).

@jonatanklosko, could you add a migration to fix this? Bonus points for figuring out how we ended up in this state.

[2017-08-21 18:38] jfly opened #1847 "Production database discrepancies"
After #1817 and #1836, I decided to try out `db:structure:dump` on production to see how out of sync our production and development databases are. The results were not thrilling =(

<details>

[code]

</details>

There's a lot of stuff above, here's a list of the important differences I see:

- [ ] 1. Some stuff that we have as `varchar(1)` is showing up as `char(1)` on production. For example, th

[2017-08-21 18:47] jfly commented on #1847
Hey Jonatan, do you mind taking some time to look into this? You don't have to actually write any code yet, the first step would be to just figure out what happened here and how we should go about fixing this.

[2017-08-21 20:05] jfly commented on #258
Note, thanks to #1489, we're actually using `utf8mb4` instead of `utf8`. That means we want to use `utf8mb4_unicode_520_ci` instead of `utf8_unicode_520_ci` as mentioned above.

However, after reading [this article](http://mysqlserverteam.com/mysql-8-0-1-accent-and-case-sensitive-collations-for-utf8mb4/), it sounds like we might want to switch to `utf8mb4_0900_as_cs` for accent sensitive *and* cas

[2017-08-21 20:19] jfly opened #1848 "persons_check_finished.php incorrectly detects names differing due to accents as the same name"
See [this check for duplicates query](https://github.com/jfly/worldcubeassociation.org/blob/898142d37dd3b45b8c9c18ccc9b4ae996ada0ba6/webroot/results/admin/persons_check_finished.php#L245-L250).

Unfortunately, our version of mysql (5.6) does not support accent sensitive collations (they were added in mysql 8, see [this comment](https://github.com/thewca/worldcubeassociation.org/issues/258#issuecom

[2017-08-21 21:59] #1629 closed

[2017-08-22 02:55] jfly opened #1851 "The first result on google for "wca scrambler" is our website, but it's not TNoodle"
I just had an interesting conversation with a cuber. See

![image](https://user-images.githubusercontent.com/277474/29546605-491fe858-86aa-11e7-9b2b-62f3a4df82ea.png)

It turns out that [this outdated scrambler](https://www.worldcubeassociation.org/regulations/history/files/scrambles/scramble_cube.htm) is the first result on google for [wca scrambler](https://www.google.com/search?q=wca+scrambler)

[2017-08-22 06:47] lgarron commented on #1851
I don't see a *huge* problem with this, because delegates should know where to find the right scramble program.

I think it would be fine to change the title to say "legacy" and add a warning at the top with a link to the current scramble program.

I think we definitely should not redirect without notice – I would rather put the historical stuff into a .zip linked from [the history page](https://w

[2017-08-22 09:56] Laura-O commented on #1851
The old regulations (like [2004](https://www.worldcubeassociation.org/regulations/history/files/regulations2004.html)) link to these pages and just redirecting to the TNoodle page might give the impression that we already used TNoodle back then.

So I think adding a huge header with a link would be the best solution.

@lgarron There already is a [zip-file](https://www.worldcubeassociation.org/regu

[2017-08-22 15:28] jfly commented on #1851
Updating the title sounds good to me! @Laura-O, do you mind taking this on? If you don't have time, let me know and we'll find someone else to do it.

[2017-08-22 17:18] Laura-O commented on #1851
I won't have time for that in the next 2-3 weeks. So if this can wait until early-/mid-September I can do that. But I won't complain if you find someone else in the meantime. :-)

[2017-08-22 17:22] jfly commented on #1851
No worries, @Laura-O. Hey @coder13, do you have some time to work on this?

[2017-08-22 17:28] coder13 commented on #1851
Will do.

[2017-08-23 16:27] jfly opened #1853 "FMC Americas broke /competitions page"
**NOTE: I've temporarily fixed this by making FMC Americas not publicly visible [here](https://www.worldcubeassociation.org/competitions/FMCAmericas2017/edit/admin)**

(Thanks to Tommy Szeliga for reporting this)

Here's the error I was seeing:

[code]

[2017-08-23 16:31] jfly opened #1854 "What on earth is Multiple cities, XM?"
See [this post](https://www.worldcubeassociation.org/posts/fmc-americas-2017-on-october-15-2017-in-multiple-cities-xm):

![2017-08-23_09 30 34_1632x280_kaladin](https://user-images.githubusercontent.com/277474/29627093-ce30f3ac-87e5-11e7-81c9-73b23179fec7.png)

[2017-08-23 17:28] jfly commented on #1854
@pedrosino, can you look into this? I don't get how https://www.worldcubeassociation.org/posts/fmc-europe-2017-on-april-1-2017-in-multiple-cities-around-europe worked (when I try it out locally, I don't get the same behavior). Did Ilkyoo edit the post by hand?

[2017-08-23 17:54] #1853 closed

[2017-08-23 20:29] pedrosino commented on #1854
I think that's what he did. I can't remember for sure.

[2017-08-24 21:43] #1837 closed

[2017-08-25 10:46] DanielEgdal opened #1864 "Finding the closest delegate"
Hi, so recently I thought of an idea that would make it easier for new organizers/organizers who live in an area without any competitions.

So my proposal would be, to at the top of the [delegates page](https://www.worldcubeassociation.org/delegates) have a map of all delegates, like the map of competitions, so they could find the closest delegate for their competition. Because in some cases it co

[2017-08-25 11:11] viroulep commented on #1864
We actually already have that, it's just that the information is not displayed publicly :)

That could be nice and not that hard to implement; maybe on a different page to avoid loading the map if you just want the list.

[2017-08-25 12:23] DanielEgdal commented on #1864
Ok, then it should be really easy :) Yes it should probably have a redirect link under the delegates page then.

[2017-08-28 00:39] jfly commented on #1864
Do we actually have a latitude/longitude for each delegate? I thought we just had 2 fields of text that describe their location, but nothing that could be used to actually put them on a map.

[2017-08-30 12:54] #1124 closed

[2017-08-30 15:43] #1838 closed

[2017-08-30 17:17] jonatanklosko commented on #1847
1. Would just guess it may have to do with MySQL version difference.
*Suggested fix: maybe an implicit migration to the better type (after determining which one is better).*
2. I have a good theory about the index name. So [this comment](https://github.com/thewca/worldcubeassociation.org/pull/1591#discussion_r114661009) implies that the index introduced a speed bust, I had certainly tested the que

[2017-08-30 18:35] SAuroux commented on #1847
I was not involved in the execution of populating the championships list. @Baiqiang ?

[2017-08-30 19:30] #687 closed

[2017-08-30 22:33] jfly opened #1879 "`pear install mail Net_SMTP Auth_SASL mail_mime` is failing while spinning up a new server"
Here's the output of chef when spinning up a new server:

[code]

Interestingly enough, I think we may have actually gotten rid of all our PHP code that sends mail, so maybe we can get away with just not installing PEAR or any packages?

[2017-08-30 22:55] jfly commented on #1879
After some discussion with @FatBoyXPC, it looks like we have, in fact, gotten rid of all mailing code from our php codebase! There are no calls to `mail(` or `send(` in webroot:

[code]

You can see the history of us removing calls to `mail(` below. Thankfully we got rid of phpbb!

[code]

[2017-08-30 22:55] #1879 closed

[2017-08-31 03:22] jfly opened #1883 ""is".pluralize doesn't return "are""
I think it's likely I deleted this pluralization a while ago when upgrading rails. Anyways, this now happens:

![image](https://user-images.githubusercontent.com/277474/29905020-d5725a08-8dc0-11e7-80c2-b88112c7f746.png)

Relevant code here:

https://github.com/thewca/worldcubeassociation.org/blob/1b69bf3e6fd1721ba1c98e161e2c5e41bb06ef6e/WcaOnRails/app/views/server_status/index.html.erb#L37

[2017-08-31 12:10] viroulep commented on #488
For those watching this issue, please take a look to #1862 which implements this.
At the time of writing this it is deployed [to staging](https://staging.worldcubeassociation.org/incidents) if you want to try it (keep in mind everyone's password there is "wca").

[2017-08-31 20:56] jfly commented on #1847
1. @jonatanklosko, what do you mean by "implicit migration"? Perhaps you mean "explicit migration"? If so, then yes, I like that. I say let's go with production, which means changing the `gender` column in `InboxPersons` and `Persons` to be a `char` instead of a `varchar`. I guess we don't even need a migration for this, just a PR to update `structure.sql`.

2. I like @jonatanklosko's suggestion.

[2017-08-31 22:22] #1846 closed

[2017-09-01 18:11] Mollerz opened #1893 "Add # of Events column to registration tab"
In the UK we set our prices based off of the number of events people are competing in. Unfortunately this means we have to click the Show Events tab and count manually, which humans are innately terrible at.

It'd be nice to see a column of how many events someone is registered for outside of the Show Events screen.

[2017-09-03 09:02] jfly commented on #1893
Related: #1674.

[2017-09-03 18:06] jfly opened #1900 "Switch from rails-assets-autoNumeric to yarn"
`autoNumeric` version 4 seems to have dropped jQuery and instead uses ES6 imports. We should be able to take advantage of this with our webpacker setup. I ran into this while working on #1899.

@viroulep, could you take this on sometime after #1899 gets merged up?

[2017-09-03 18:22] jfly opened #1901 "Upgrade from webpacker 2 to webpacker 3"
See http://weblog.rubyonrails.org/2017/8/30/webpacker-3-0/, which looks exciting!

@jonatanklosko, do you think you'd have some time to look into this after #1899?

[2017-09-04 04:13] jfly opened #1902 "Disable posting results while compute_aux_data is running"
Results team members are not supposed to post results until compute_aux_data is finished running, otherwise competitors will receive results are up notification emails and when they view their profiles, their PBs won't be up to date.

@jonatanklosko, do you think you could look into this? This should hopefully be a simple change.

[2017-09-04 08:21] viroulep commented on #1900
I can probably take a look at this around next week, this is not just a simple change in where we get the library from, there are a lot of stuff to update, see [here](https://github.com/autoNumeric/autoNumeric/blob/master/doc/HowToUpgradeToV4.md).

[2017-09-04 15:09] viroulep opened #1903 "High level documentation of the website internals"
Several recent issues and work I've done made me realize it's quite hard to get information about what we use and how, if you don't go into the code details.

Here are a few things that I think would be worth to document/implement:
 - What are the various components involved when running the website. Here I'm referring specifically to rails and webpacker/yarn. I'm even unsure how to precisely desc

[2017-09-04 23:03] jfly commented on #1900
No rush, get to this when you have some time. Thanks!

[2017-09-05 11:54] #1901 closed

[2017-09-05 12:50] #1902 closed

[2017-09-05 15:51] jfly commented on #1903
I think https://github.com/thewca/worldcubeassociation.org/wiki/The-state-of-worldcubeassociation.org is the right place for this sort of documentation.

An explanation of the whole yarn/webpacker stuff would definitely be useful.

I'm okay with mentioning some useful gems/javascript packages that people may forget about, but I do feel like that's sort of the point of code reviews (for the people

[2017-09-05 16:01] jfly commented on #137
@pedrosino, is this needed anymore now that we have https://www.worldcubeassociation.org/admin/delegates? I'm closing this, feel free to reopen if it's still needed.

[2017-09-05 16:01] #137 closed

[2017-09-05 16:35] pedrosino commented on #137
Yeah, it's fine to close.

[2017-09-05 19:12] larspetrus commented on #1903
I don't think there are any easy solutions here.

The big problem with documenting your code is that the documentation will
probably become out of date as soon as the code changes.

I would always lean towards making the code itself simpler over explaining
its complexities. Phillippe's idea of standardizing on Yarn sounds good.
But all this is a lot of work.

Porting everything to Rails is another

[2017-09-06 17:31] jfly commented on #996
Note, the WRC added [regulation 2e3](https://www.worldcubeassociation.org/regulations/#2e3):

[2017-09-07 15:27] jfly opened #1916 "Edit rounds ui improvements"
PR #1856 is already pretty large, so I'd like to address non critical improvements in later PRs.

- [ ]  "I'm initially concerned with the selection of saying if it's being held / how many rounds. With it being grayed out, I expect not to be able to interact with it even though I'm supposed to interact with it." -@coder13
- [ ]  "Maybe for fun, not being able to select certain cutoffs when certain

[2017-09-07 17:30] Laura-O commented on #168
As already mentioned in https://github.com/thewca/wca-regulations/issues/160, the WRC has asked the WCA delegates about their opinion:

_Should the WCA website allow filtering rankings by gender?_
Yes - 84 votes -73.04%
No - 31 votes - 26.96%

It would be great if the software team could implement this. If you need any help, ideas or suggestions, please let us know.

[2017-09-07 21:27] jfly commented on #168
Thanks @Laura-O! Since I know you're good at this, do you mind posting some screenshots mocking up how you could see this feature working? We also need to decide how we should handle people with `NULL` gender (meaning we never asked them for their gender), and people with `o` gender (meaning they do not want to be shown as male or female on our website).

[2017-09-08 04:53] lgarron opened #1919 "Results: Label officially recognized current records in all ranking/record views."
We currently intend to implement filtering by gender: https://github.com/thewca/wca-regulations/issues/160
I believe the consensus is that people want to be able to view rankings by gender, but we should not single out official records by gender. (The only officially enumerated records right now are NR, CR, and WR, per [Regulation 9i1](https://www.worldcubeassociation.org/regulations/#9i1).)

We c

[2017-09-08 05:30] jfly commented on #1919
I like this idea. One thought to make the "years" filter less confusing: maybe we have a tooltip (or label) that says how old the record is?

[2017-09-08 08:36] SAuroux commented on #301
Given the recent decision to add gender-based filters, I believe this issue deserves a *bump*

Because of the controversy around this decision, it makes sense to ensure as well as possible, that these filters are only perceived as filters and not as *new* rankings that come along with records. Since this will come with some design changes (e.g. issue #1919), it might make sense to combine this rig

[2017-09-08 08:39] SAuroux commented on #301
One key aspect to consider while doing this could be somehow visually distinguishing "record-affecting filters" (event, region) and "record-neutral filters" (years, show, gender).

[2017-09-08 18:05] jfly opened #1922 "Add support for multiple attempts *and* groups of 333mbf"
Currently, if you want to run a round of 333mbf with multiple attempts, you generate a different group for each attempt. If you want to have multiple groups for each attempt, you're in for a world of hurt. See https://github.com/thewca/wca-workbook-assistant/issues/74 for the discussion where this hack came into being.

With the latest [WCIF spec](https://docs.google.com/document/d/1hnzAZizTH0XyGk

[2017-09-10 17:42] jfly commented on #168
One of the big concerns people have with this feature is that it's going to look like the WCA is saying it believes that gender somehow impacts people's speedcubing ability, and that we've decided to start awarding "world records by gender", which is very much *not* the intention here. The intention is for this to just be some fun, new filter on the data that might also motivate non-male speedcube

[2017-09-10 18:16] jfly opened #1924 "Set up linting and style checking for javascript"
It's important that this work on both js and jsx files. It would be particularly awesome if it also works on javascript inside of html and javascript inside of erb, but it's okay if that's not easy to do.

(See https://github.com/thewca/worldcubeassociation.org/pull/1856#discussion_r137937415 for some discussion about indentation of promises)

[2017-09-10 18:17] jfly commented on #1924
I know that pre-commit does some linting of javascript for us, but I think it's only configured to run on js files, and it might not be aware of es2016+ stuff that we're doing now.

[2017-09-10 21:24] Laura-O commented on #168
My first reaction was "Of course we should also show 'other'" but as these are not that many competitors, these rankings would be quite empty. Furthermore, this allows finding all competitors with "other" gender. I am not sure if these competitors would be fine with that.

Anyway, here is a suggestion how this could look like:
The WCA recognizes records for events and regions, so these filter opti

[2017-09-10 23:14] jfly opened #1925 "Implement alternative payment schemes for Stripe"
@Laura-O has asked for support for SOFORT payments. Here are some comments from her about SOFORT:

This could have been prevented with a website with an integrated payment system (i.e. the WCA website), but this is currently not an option for us as Stripe only allows paying via credit card. Germans don't like using credit cards and many do not even have one, so this would probably cause even more

[2017-09-11 18:14] jfly commented on #168
I like the proposal, @Laura-O! I do find it a little strange to move the "number of people to show" select below the fold. (Honestly a better UI might put that at the bottom of the list, since that's where people are going to notice there are only 100 people showing.)

[2017-09-12 19:07] viroulep opened #1928 "Deprecation warnings in our SASS"
This appears when we startup the server:
[code]

I can't deal with it right now, but we should probably do so in the near future, so I'm putting it here.

[2017-09-13 21:22] viroulep commented on #1916
(nit: we should find a better name to this issue, since we'll use it to track improvements for the view events page too)

We definitely need i18n for the view event pages (it's pure erb so it should be easy)!

For fun we could i18n the edit UI too, but that's related to #816, and the gem mentioned in this issue wouldn't sound overkill anymore!

[2017-09-13 21:25] viroulep commented on #816
If we're going to use the `i18n-js` gem we should probably nest all js-related strings into a common js-only yaml node: this way we can export only this node in the final js file, which means relatively small locale files to download for the client.

[2017-09-13 21:32] jfly commented on #1916
You have an interesting definition of fun... =)

If we start doing big react user facing projects, we should definitely figure out i18n in javascript. So long as stuff stays admin/delegate facing, I don't think it's worth the effort yet.

[2017-09-15 00:25] pedrosino opened #1931 "Move delegates to separate table"
Right now we stored delegate's information on the Users table, which is not a bad practice and probably not sustainable.

Having a separate table would make it easier to record new information, assign seniors and such.

[2017-09-15 00:29] pedrosino opened #1932 "Results' information we don't store"
@jfly suggested starting a list here so we can think about what we can/want to start storing.

1. Information about +2 penalties
- Which solves had penalty(ies)
- What kind of penalty happened

2. Information about DNFs
- cause of the DNF

[2017-09-15 01:01] jfly commented on #1931
I think you mean it **is** a bad practice =)

[2017-09-15 01:05] jfly commented on #1932
AFAIK, this is the full list of +2s a competitor can receive: https://github.com/cubing/ccm/blob/e6e4fbd6f6fbbc930686e0aa110c05a48871d0f2/both/lib/wca.js#L282-L301. It's worth noting that a single solve can receive multiple penalties.

What are the various causes of DNF? How many causes of DNS are there? Are there multiple causes for blank?

[2017-09-15 01:06] pedrosino commented on #1931
Yeah, sorry :P

[2017-09-15 01:27] larspetrus commented on #1931
Moving existing and future delegate specific info to its own table seems like the right idea, yeah.  As in most Rails projects, our User class is awkwardly big already.

Is it currently more than `delegate_status`?

[2017-09-17 18:24] #1500 closed

[2017-09-17 19:22] jfly opened #1937 "`bin/rake db:load:development` fails in a not immediately obvious way if `unzip` is not installed"
Normally I'd say this is fine as is, but this is people's first introduction when working on our codebase, I think it's worth putting in a little extra effort here.

[2017-09-17 19:24] jfly commented on #1937
An except of what you see when unzip does not exist. At the very least, we should halt execution when the unzip command fails, rather than blindly trudging forward:

[code]

[2017-09-17 20:43] pedrosino opened #1938 "Change e-mail subject about registration"
Suggested by Tim McMahon:

[2017-09-17 21:16] SAuroux commented on #1938
This will create more confusion than remove confusion for sure, since the common process is that someone will accept your registration soon after you registered.

Why not simply keep everything 100% accurate:

"Subject: You have filled the registration form for Australian Nationals 2017"

[2017-09-18 04:15] jfly opened #1939 "Error message returned by `/oauth/token` isn't necessarily in the user's language"
For example, see:

[code]

[2017-09-18 17:48] jfly commented on #946
This project really has begun! The edit rounds page just went live, and people are already using it =)

[2017-09-18 17:48] #946 closed

[2017-09-18 17:56] jfly opened #1941 "Alternative types of advancement conditions"
Currently, you cannot specify an advancement condition like "Top 8 Swiss competitors advance". I've never organized a competition with an advancement condition like this, perhaps people could explain why this is useful here?

I'm not opposed to adding support for this, but it's going to be a tad weird to encode and implement, and I worry that this might only be 1 kind of many advancement condition

[2017-09-18 18:04] SAuroux commented on #1941
Well, basically this is often used for Championships where you'd like to see a certain amount of competitors eligible for the championship in a final. For German Nationals for example, we used this for certain finals since 2010 already. Euros 2016 also had such conditions with Europeans: https://euro2016.cubing.net/events

[2017-09-18 18:07] Mollerz commented on #1941
At UK Championships we get a lot of foreign competitors due to it being a big competition, but sometimes we have an abundance of high quality from overseas and we don't want the finals to be a wash with foreigners. For example last year for 3x3 final we said "16 person final, minimum 8 UK competitors". So this means that if we accepted the first 16 competitors, and there were not 8 UK competitors

[2017-09-18 18:24] larspetrus commented on #1941
The easy/universal way to solve unusual advancement conditions is to provide a way to handpick who advances.

[2017-09-18 18:44] Bubtore commented on #1941
I'd like to see that implemented mainly for our national championships. Switzerland is surrounded by some high level countries, and it is hard to predict how many fast foreigners will actually come to the competition. By setting a number of Swiss competitors who enter the final we can avoid cases where national podium rankings could already be decisive in semi-finals.

[2017-09-18 19:47] viroulep commented on #1941
We use this too, countries in Europe are very close to each others and it's somewhat common, for nationals, to set a minimum number of qualified competitors from the country.

[2017-09-18 22:08] Claster commented on #1941
That was also used at Euro 2014 and 2016 (best 12 European competitors proceed).

[2017-09-19 02:41] Baiqiang commented on #1941
In China Championships we used this too.

[2017-09-19 16:41] DanielEgdal commented on #1746
Is this still in the process?

[2017-09-19 17:05] jfly commented on #1746
No one is currently working on this. You're welcome to take it on if you're interested!

[2017-09-19 17:08] DanielEgdal commented on #1746
If I knew how to help, I would love to! But how?

[2017-09-20 14:19] #1795 closed

[2017-09-20 19:25] DanielEgdal opened #1947 "Showing wrong past competitions"
So this is something that has been bothering me for some time, when going under "my competitions" it says that I have been to more competitions than I have, because when you have registered and then unregistered, it saves it, and has the sign waiting for results.
![image](https://user-images.githubusercontent.com/28397408/30663194-2167416e-9e4a-11e7-9062-4493314e4d2d.png)
![image](https://user-ima

[2017-09-21 08:08] viroulep commented on #1947
I'd argue it's not a bug since it's a known behavior and we were fine with it :stuck_out_tongue:

However it's been bothering for quite some people as we regularly receive comments about this.
The fix is probably as easy as scoping the competitions a user is registered for as `not_over`.
(ie: changing [this line](https://github.com/thewca/worldcubeassociation.org/blob/27b6d6b9bafab5d5b8dd0be3c9de5

[2017-09-21 10:38] viroulep opened #1951 "Add support for partial refund of registration's fees"
Requested by @KitClement and would probably be useful to others as well.

Right now the refund request uses a charge id to refund the charge as a whole, but apparently simply adding an `amount` field would enable an arbitrary refund (see [here](https://stripe.com/docs/refunds#api)).

A few comments/idea:
 - what happens if we request a refund higher than the initial charge?
 - we could have the cu

[2017-09-21 10:49] Mollerz commented on #1947
It might be an idea so that if you go to the past competitions page and it shows 0 competitions, it could ask a little question saying "Have you competed before? You will need to claim your WCAID! <Link here>".

It would also need to check if you are a delegate for the competition, since some delegates do not compete. For example Ivo Kruusamägi does not compete, but has delegated all Estonian comp

[2017-09-21 10:50] Mollerz commented on #1938
Would it be an option to let us customise this email? Different regions all have different registration procedures and it would be nice to be able to tell someone what the next steps are.

[2017-09-21 11:05] DanielEgdal commented on #1947
I like James' suggestion :)

[2017-09-21 12:12] viroulep commented on #1947
Currently the code already looks at delegated/organized competition:
https://github.com/thewca/worldcubeassociation.org/blob/27b6d6b9bafab5d5b8dd0be3c9de56a3c344b06b/WcaOnRails/app/controllers/competitions_controller.rb#L509
And then add up competition for which your person has results:
https://github.com/thewca/worldcubeassociation.org/blob/27b6d6b9bafab5d5b8dd0be3c9de56a3c344b06b/WcaOnRails/app/

[2017-09-21 12:13] pedrosino commented on #1938
This would be nice indeed.

[2017-09-22 15:38] loovjo opened #1953 "Export competitors for competitions in tsv export"
Right now the competitors that competed in a competition is not stored in the exported tsv data. This would be useful to make it easier to see who competed where, who won different competitions and also who will compete in upcoming competitions.

[2017-09-22 15:44] jfly commented on #1953
Can't you figure this out by looking at the `Results` table, which shows you every result for every competitor? (I'm closing this issue, feel free to reopen if I'm missing something.)

[2017-09-22 15:44] #1953 closed

[2017-09-22 16:51] loovjo commented on #1953
Yes, but you can't see competitors for upcoming competitions unless I'm missing something.

[2017-09-22 17:00] jfly commented on #1953
I see, yes, that is something we currently do not expose publicly. I don't think it would be very useful though, because only some competitions use the WCA website for registration.

[2017-09-22 17:07] loovjo commented on #1953
I see. Is there any chance of being able to get the information in the future?

[2017-09-22 17:23] loovjo commented on #1953
Well, at least right now it seems like it's quite rare for competitions _not_ to use the WCA website to handle registrations. I don't see any reason not to export this information when you can easily go to the page and look at the competitors page yourself, the information is already publicly available.

I think seeing the competitors of upcoming competitions can be useful, I'm currently developin

[2017-09-22 17:28] Baiqiang commented on #1953
@loovjo In fact, 25% competitions don't use WCA registration system. That's not quite rate IMO. For example, all Chinese and Taiwanese competitions.

[2017-09-22 17:34] Laura-O commented on #1953
I disagree here. I think there is a clear difference between being able to check all registration lists manually and being able to retrieve traveling plans for each competitor.

[2017-09-22 18:00] jfly commented on #1947
The reason we have not made this change is because we don't want competitions to disappear from people's "my competitions" list when a competition is over, but the results are not yet uploaded.

I'm going to close this in favor of #1407.

[2017-09-22 18:00] #1947 closed

[2017-09-22 18:01] jfly commented on #1407
[One idea from @Mollerz](https://github.com/thewca/worldcubeassociation.org/issues/1947#issuecomment-331137929):

[2017-09-22 18:02] jfly commented on #1938
For the record: customized emails get weird with translations.

[2017-09-22 19:38] jfly commented on #1953
@Laura-O, I don't see the distinction you're making. What do you mean by travelling plans? All we're talking about is showing what competitions people might go to, not where they plan to sleep or how they plan to travel there. As @loovjo said, this information is already public, and it's pretty trivial for someone to write a script to scrape this information if they want to.

@loovjo, the WST is w

[2017-09-22 20:11] jfly opened #1954 "Revert PR#808"
Hey @jonatanklosko, I just merged up https://github.com/thewca/wca-workbook-assistant/pull/115. The plan is to release the new workbook assistant on Monday, could you revert PR #808 sometime after that?

[2017-09-22 20:16] jonatanklosko commented on #1954
@jfly done, feel free to merge this PR as soon as the new WA is released.

[2017-09-23 00:31] pedrosino commented on #1938
I guess the idea would be customized per competition.

[2017-09-23 11:05] Laura-O commented on #1953
"Pretty trivial" is probably not true for the majority of people who could be interested in this information. It's rather pretty trivial to download the database and open the table in Excel, which would be possible if this information is available in the export.
This would mean that anyone just needs three clicks to see to which competitions I am going. Checking all competition pages for European

[2017-09-25 12:07] Mollerz commented on #1938
Yes indeed, customised per competition. I had it in my head that on the Edit page there would be the default email, and then before registration opens you may personalise the message. I assume there would be some syntax to show the waiting list numbers as well?

[2017-09-25 15:21] jfly commented on #1938
I get that this is about an email customized per competition, internationalization is per *user*, not per competition. If someone from the US and someone from Brazil register for a competition in Brazil, how would we show them an English and Portuguese message, respectively?

[2017-09-25 15:51] pedrosino commented on #1938
We don't make websites in english for brazilian comps, so they would get an email in portuguese...

[2017-09-25 17:12] #1954 closed

[2017-09-25 17:32] jfly opened #1964 "SimpleMDE renders links as clickable, but our server side markdown renderer does not"
I think the best solution here is to configure SimpleMDE to not render links as clickable.

[2017-09-25 18:28] jfly commented on #1964
It turns out that this is quite difficult to do, because simplemde forces CodeMirror into "gfm" mode](https://github.com/sparksuite/simplemde-markdown-editor/blob/6abda7ab68cc20f4aca870eb243747951b90ab04/debug/simplemde.js#L16467), and there's no hook to prevent that. Furthermore, CodeMirror's gfm mode does not provide any hook for disabling the automatic url linking.

The path of least resistance

[2017-09-25 19:17] #1964 closed

[2017-09-26 02:30] TimMcMahon commented on #732
Location information would help organisers identify new locations to host competitions. It could also help with improving participation and retention in certain areas.

[2017-09-27 10:27] Mollerz commented on #1938
What about if the default email template was used, then it can be localized per user. However if a personalized email is used for the competition, when selected the organiser would get a message notifying them that their email would be sent to everyone and would not be localized - then that is the sole message received by competitors, regardless of localization?

If I register for a competition ab

[2017-09-27 10:46] ronaldmansveld commented on #1938
I agree with James here. Competition emails can be sent out in whatever the
main language for that competition is.
However, if the organisers see that there are a large number of foreign
competitors they're free to include an (English) translation on the bottom
of the email, similar to what the organisers for world's did. With a custom
email, the organisers have the freedom to do so.

Ronald

On W

[2017-09-27 23:45] Randomno opened #1972 "Map display only lists first day of comp"
When viewing comps with the Map view, it's impossible to tell how many days a competition lasts as only the first day of the competition is shown (e.g. if a comp from October 21-22, it would only say October 21). I think it would be fairly helpful to change this.

[2017-09-28 01:29] jfly commented on #1972
Good call! Here's the relevant code: https://github.com/thewca/worldcubeassociation.org/blob/f7b30fa73ab92b807da24a8b94e11c50f3b3fcde/WcaOnRails/app/helpers/competitions_helper.rb#L99.

[2017-09-30 11:11] #1797 closed

[2017-09-30 23:09] pedrosino commented on #1931
Right now we have the following columns:
delegate_status
senior_delegate_id
region
delegate_id_to_handle_wca_id_claim (?)
location_description
phone_number
notes

83 delegates have notes empty, 6 have some information, while other 106 have NULL. Not sure why :)

We currently don't store when people became delegates or were demoted in the database. That would be an interesting information to have.

[2017-09-30 23:11] pedrosino commented on #1931
Sorry, delegate_id_to_handle_wca_id_claim is for when users claim a WCA ID. It stores the id of the delegate they choose to validate it. The name is a little awkward :P This could also use a separate table, maybe.

[2017-10-01 14:30] jonatanklosko opened #1982 "Make competition managers able to set a championship type"
For now, only admins can set a championship type. We should certainly allow delegates to set this before the competition goes confirmed.

[2017-10-01 14:36] jonatanklosko opened #1983 "Make it visible that a competition is a championship"
I think it would be cool to add an information to the competition page about its championship type.
Any fancy ideas concerning the design?

[2017-10-01 14:38] jfly commented on #1982
If we allow delegates to set a competition as a championships, we should only allow them to do that when the competition is unconfirmed. Furthermore, I think we should update the confirmation email so it's really obvious that this competition is proposed as a championship, so the board doesn't miss it.

Alternatively, the board might just want delegates to explicitly ask for a competition to be ma

[2017-10-01 14:40] jfly commented on #1983
I don't currently have any suggestions, but am very supportive of this idea! Cc-ing @lgarron and @baiqiang in case they have any thoughts.

[2017-10-02 08:03] lgarron commented on #1603
Jeremey asked me to take another look at this. `worldcubeassociation.org`'s config looks good in prod.

[2017-10-02 15:00] #1603 closed

[2017-10-03 23:58] #1407 closed

[2017-10-04 09:17] jonatanklosko commented on #1982
Right, so The Board has decided that they prefer the first solution.

[2017-10-04 19:08] jfly opened #2002 "Board members should have senior delegates"
This will likely conflict with @pedrosino's work on #1931.

Other stuff to remember:

- [x] https://www.worldcubeassociation.org/delegates needs to be updated somehow to reflect this. Should Board members show up twice on the /delegates page? Should the Board really be listed on the /delegates page? My understanding is that there is no need for a Board member to actually be a delegate.
- [ ] Verif

[2017-10-04 19:09] jfly opened #2003 "Move Board members to a team, rather than treating them as delegates"
This will let us store the history of our Board members, and also allow us to have Board members who are not delegates.

Related: #2002 and #1931.

[2017-10-04 19:12] pedrosino commented on #2002
I don't think they should appear twice in the page. This senior thing is mostly for internal organization in the competitions process.

[2017-10-04 19:13] pedrosino commented on #2003
This makes sense since Board members don't need to be delegates (IIRC). It would be rather simple from a database point of view, since we would only need their user_id and dates (and maybe their region).

[2017-10-05 14:41] jfly opened #2007 "Delete corresponding registrations when a competition is deleted"
As @viroulep suggested, we should add a `dependent: destroy` here:

https://github.com/thewca/worldcubeassociation.org/blob/c0e33e783dd47817cb2a6b3cbaff2145daca5344/WcaOnRails/app/models/competition.rb#L8

When doing this, we should also create a migration to remove all existing registrations for nonexistant competitions (we have 231 of these):

[code]

I'd like for @AlbertoPdRF to take this on, b

[2017-10-05 14:55] jfly opened #2008 "Update to nodejs 8"
When deploying, I saw the following warning:

[code]

We should update the following chef code to install the latest version of node (8):

https://github.com/thewca/worldcubeassociation.org/blob/b30a14ee41459415c380687fa2ed0fcc9c2e70ef/chef/site-cookbooks/wca/recipes/default.rb#L7

[2017-10-05 15:24] #2008 closed

[2017-10-05 17:31] AlbertoPdRF commented on #2007
Let's do it! :)

[2017-10-07 00:44] #2007 closed

[2017-10-10 16:58] jonatanklosko opened #2020 "Prevent cron from running on old server instances"
When we spin up a new server and switch to it, leaving the old one running, we should make sure that cron is not running on the old instance.

This comes as a conclusion from an issue we run into. The weirdness was that scheduled jobs were enqueued every hour, but for each type there were 3 jobs (e.g. 3 linkings computations, 3 delegate report nag email jobs). As the database is shared among serve

[2017-10-10 18:03] jfly opened #2021 "The developer database export disappears when spinning up a new server"
We could either create a fresh one, or copy the old one over to the new server, it doesn't really matter.

[2017-10-10 18:28] jonatanklosko opened #2023 "Remove potentially unnecessary require statements"
There are 5 `require_relative '../lib/<...>'` statement in the [application.rb](https://github.com/thewca/worldcubeassociation.org/blob/6a4bae54225bfbb0b99b2ea5a0cc7f83cd92fe4d/WcaOnRails/config/application.rb#L4-L6). Are all of them necessary?

E.g. 018c16b can probably be safely reverted.

[2017-10-11 06:16] larspetrus commented on #2020
Interesting problem...

I kinda hate cron jobs  because they're entirely separate from the Rails app so there aren't really any good tools to coordinate between the worlds and avoiding a mess will always depend on manual awareness.

You could imagine a place in the DB where it's noted what the "official" prod server is, and each cron job would have to check it before executing. But that probably c

[2017-10-13 23:41] jfly opened #2029 "Rsync right before `passthetorch` in servers.sh"
Right now, we have this race condition where after spinning up a new server, there's potential for users to upload pictures to the old server. Then when we switchover to the new server (in `passthetorch`), we lose the files the user uploaded to the old server. In an ideal world, we would not be storing profile pictures on the filesystem (see https://github.com/thewca/worldcubeassociation.org/issue

[2017-10-16 20:14] jfly opened #2037 "Give Board members the power to add/remove events for confirmed competitions"
Both Ron and Olivér have requested this.

[2017-10-17 06:21] #2029 closed

[2017-10-17 06:21] #2020 closed

[2017-10-17 21:20] jfly commented on #1702
I'm going to optimistically declare this fixed by the work in PR #2022.

[2017-10-17 21:20] #1702 closed

[2017-10-17 21:41] #2021 closed

[2017-10-17 21:48] jfly commented on #1059
Things seem to have been fine for a while, so I'm going to optimistically close this. Feel free to reopen if we do decide it is necessary.

[2017-10-17 21:48] #1059 closed

[2017-10-17 21:49] jfly commented on #1058
Pulling mysql out to RDS seems to have helped a lot here. I still think that some day we should consider spinning up a separate server dedicated to processing background jobs, but for now,.

[2017-10-17 21:49] #1058 closed

[2017-10-17 21:51] jfly commented on #219
Closing this issue. I think something like @jonatanklosko's approach in [wca_statistics](https://github.com/jonatanklosko/wca_statistics) is a very clever, and cheaper solution to this problem.

[2017-10-17 21:51] #219 closed

[2017-10-17 21:59] jfly commented on #138
See https://github.com/thewca/worldcubeassociation.org/wiki/Spinning-up-a-new-server. We now have a script to spin up a new server, which results in us spinning up new servers way more frequently than we did before.

[2017-10-17 22:05] jfly commented on #102
See https://github.com/thewca/worldcubeassociation.org/issues/138#issuecomment-337386056. We now spin up a new server fairly regularly, so I don't consider this an issue worth solving anymore.

[2017-10-17 22:05] #102 closed

[2017-10-17 22:28] jfly commented on #1939
Logging from someone visiting that route:

[code]

The problem here is that [`Doorkeeper::TokensController`](https://github.com/doorkeeper-gem/doorkeeper/blob/master/app/controllers/doorkeeper/tokens_controller.rb) doesn't inherit from our [ApplicationController](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/controllers/application_controller.rb), which means [our `

[2017-10-18 01:07] jfly opened #2045 ""The user specified as a definer ('root'@'%') does not exist" error when trying to use the developer database dump"
I just installed Linux on my laptop, and I ran `bin/rake db:load:development` to get started with development. The command succeeded, but when viewing pages that use the `rails_persons` view, I get the following error:

[code]

![image](https://user-images.githubusercontent.com/277474/31696379-98174f4a-b365-11e7-85a1-6e1c095defa1.png)

I looked into the developer database export, and it *does* inc

[2017-10-18 17:39] #2045 closed

[2017-10-18 17:52] jgouly opened #2051 "Integrate qualification times into the registration process"
You can currently register in events for a competition that has pre-qualification limits.
There could be some information displayed during registration to show that there is qualification per event. So you know to either not sign up, or you need to beat the qualification in an earlier competition.