[2016-06-29 12:01] jbcm627 commented on #731
Loads very quickly now! Thanks for the work.

Best,
Jim

[2016-06-29 12:02] pingskills commented on #721
@jfly I agree with that. I think if we didn't have the contact form it would make the organisers field more important. I don't know the reasons but from what I have heard so far it seems like a lot of organiser's don't have accounts on the website. But this would encourage them to create one, which is again what we want :)

[2016-06-29 12:05] pedrosino opened #751 "Datetimepicker bug?"
While editing a competition yesterday, I found that selecting October 15th 2016 is very messy. See gif below.
Basically the field is saved as 2016-10-16 on the database, but for some reason it appear as 2016-10-15 on the input. Also, when the datetimepicker opens, there are two (?!) day 15, one being to the right of everything else.

I'm able to click on the 16th and save, but on reloading the pro

[2016-06-29 12:07] pedrosino commented on #721
Sometimes people want to put a phone number or whatever information on the contact field...

I was talking to Jonatan yesterday that I didn't see much utility on this search, but seemed easy enough to do. The problem is the competition_organizers table is fairly new, and unlike the competition_delegates, which we managed to fill almost 100%, organizer information is not well structured at all...

[2016-06-29 12:46] jfly commented on #721
One problem is that some organizers prefer to list their organization team
instead of the individual organizers.

Another problem is that organizers want to be able to provide a single
email to contact the entire organization team at once, rather than giving
out their individual emails. Before we get rid of the contact field, we
need to provide a good solution for that.

On Wed, Jun 29, 2016, 14:0

[2016-06-29 15:05] larspetrus commented on #751
It's probably some broken assumptions about time zones in the code.

Can you try it at different times of day and see if it acts differently?

[2016-06-29 16:03] pedrosino commented on #751
Just tried again and got the same result.
I remember seeing this a couple weeks ago too, in another project of mine.

[2016-06-29 16:53] jonatanklosko commented on #748
I remember Lars mentioned about creating separate class for this. [Here](https://github.com/jonatanklosko/worldcubeassociation.org/commit/ace6f4fad770b462b81b6f07f2d54d7a5c52c7ac)'s my proposition.
@larspetrus @pingskills what do you think?

[2016-06-29 17:38] larspetrus commented on #748
At this point I'm only offended by the `load` ugliness. If there is a simple way to change it into regular code that we call in a normal way, I'd like that. If not, that's OK too.

I commented on Jonathan's proposition [over there](https://github.com/jonatanklosko/worldcubeassociation.org/commit/ace6f4fad770b462b81b6f07f2d54d7a5c52c7ac).

[2016-06-30 01:41] pingskills commented on #748
@jonatanklosko @larspetrus

I think we have a redundant step when using rspec. As far as I can tell this is what happens:

1. The database gets wiped
2. The seed data is loaded
3. The tables are truncated except our reference tables
4. We truncate our reference tables
5. We load our reference tables

I think we can get rid of step 2 by moving the seed files into the development directory. Does thi

[2016-06-30 08:34] jonatanklosko opened #754 "Intermittent failure of psych_sheet_event.html.erb_spec.rb"
Here's rspec output:
[code]
Emerged after #734.

[2016-06-30 08:43] jonatanklosko commented on #748
@pingskills interesting that I cannot see your comment again (only on email). The 2. point isn't true because if it would then we wouldn't need all the things we has been discussing for a while.

[2016-06-30 09:09] viroulep opened #755 "Improved "report" link in "My competitions""
It would be cool to have a visual difference in the report link, depending on the following cases:
- You are a delegate of the competition, the report is not posted
- You are a delegate of the competition, the report is posted
- You are not a delegate of the competition, but you have the right to edit it
- You are not a delegate of the competition, but you have the right to view it

I would sugges

[2016-06-30 10:44] pingskills commented on #748
@jonatanklosko yes I deleted those comments because I realised it wasn't right. I'm not sure what I was thinking :)

[2016-06-30 10:48] #748 closed

[2016-06-30 11:58] viroulep commented on #680
Here is another use case for this:
I just noticed there was some competitions that I delegated but where I was not in the delegate field.

@SAuroux fixed it manually, but here is the internal note he wrote:

Looks like a good scenario where we'd like to know that Clément was indeed a delegate at that time :)

[2016-06-30 12:09] viroulep opened #756 "Markdown rendering issue for delegates report"
It seems that we don't use the same rendering for the report fields' preview and for viewing the full report.

Here is a few differences I spotted:
- Fields preview allows lists to break paragraph, full report view doesn't (meaning you have to have a blank line before the list to display it properly, see [here](https://www.worldcubeassociation.org/competitions/LyonMegaminxOpen2016/report) vs [here

[2016-06-30 12:21] jonatanklosko commented on #756
Will be fixed after #719 is merged =)

[2016-06-30 12:39] pingskills commented on #680
Once the competition tabs have been pushed live, I'll put these changes up on staging for people to have a play with. They do allow you to keep track of delegates history.

[2016-06-30 12:56] jonatanklosko commented on #754
Firstly I rewrote the spec to be cleaner and better and hoped that there could be some tricky hidden bug. But then it failed, moreover both old and new version of the spec failed with the same rspec seed. After quick analysis I got it. Furthermore I mentioned that other specs failed after #734 and it makes sense.
This is more significant than we could thought, thanks to this failing test! So the t

[2016-06-30 13:04] jfly commented on #754
Damn. They were a database dump at some point in time. Let's just get rid of them?

[2016-06-30 13:10] jonatanklosko commented on #754
The inconsistency will be fixed with #741. At the moment I'd suggest to just update Countries seeds (and reseed countries in production?). Changes I propose to apply to the seeds:
- remove "Montserrat" as it belongs to British Overseas Territories and isn't separate country
- add: "Monaco", "Multiple Countries (Asia)", "Multiple Countries (South America)", "Uzbekistan"
Thoughts?

[2016-07-01 11:07] pingskills opened #758 "Registration Flow"
When a user has preferred events, then registers for those events, and then subsequently updates their registration to delete one of those preferred events, the form still shows all the preferred events selected. The database is correct but to the user it looks like they are still registered for all their preferred events. Once a registration has been created we should no longer be using the prefe

[2016-07-01 11:23] jonatanklosko commented on #758
@pingskills I cannot reproduce it, am I missing any step:
- set sepreferred events: 3x3x3 and 4x4x4
- go to competion's page
- click Register
- send form clicking Register!
- uncheck 4x4x4
- click Update registration

[2016-07-01 11:49] pingskills commented on #758
@jonatanklosko ah, it only happens if you uncheck all events. Which is not a very likely scenario.

[2016-07-01 13:05] jonatanklosko commented on #758
Ok I investigated it and that's a bit tricky.
Basically the problem is caused by our unworkable regitration events count validation, the problem is well described [here in the *Validating the count of nested attributes* section](http://homeonrails.com/2012/10/validating-nested-associations-in-rails/). It's easy to fix.
Apart from this I was surprised seeing my preferred events checked on the regis

[2016-07-01 22:39] pingskills commented on #758
Thanks @jonatanklosko I'll have a go at fixing it this weekend. Good luck at your competition :)

[2016-07-04 11:24] pedrosino opened #760 "Make a "new post" link/button on the homepage"
We usually create posts from somewhere else (announcing competitions or results), but today I needed to make a "random" post, and couldn't find a link.

I went to /posts/new since it felt obvious because I know the website structure, but I imagine not everybody would know that.

[2016-07-04 11:31] jonatanklosko commented on #760
It's within user's menu and I think that's fine enough. Anyway we could add a button on the home page for people with appropriate rights too.

[2016-07-04 11:34] pedrosino commented on #760
Ah, didn't think to look there...
It's probably good enought, but I'll submit a PR if I find the time.

[2016-07-04 11:44] jfly commented on #760
Closing, but feel free to continue this discussion over a PR.

[2016-07-04 11:44] #760 closed

[2016-07-05 15:16] jbmertens opened #761 "selectize locking up pages in chrome"
The selectize plugin from the php system is currently causing chrome to lock up for a minute or so when uploading results (on the [upload page](https://www.worldcubeassociation.org/results/admin/upload_results.php); other browsers seem unaffected). Few possible fixes:
1) remove the selectize plugin ([comment this](https://github.com/cubing/worldcubeassociation.org/blob/5fe5e5c1557c4d5e7d2b49d4caeb

[2016-07-06 08:40] SAuroux opened #762 "Formal split of Board and results team memberships"
The Board and the results team have agreed on performing a formal split between Board and results team memberships. Or in other words: Board members are no longer results team members by default.

However, all Board members should still keep all permissions and access which is currently associated with a results team membership.

[2016-07-06 10:58] jonatanklosko commented on #762
Related with #725.

[2016-07-06 11:10] pedrosino commented on #762
For the record, I'd like to remain a results team member.

[2016-07-06 11:18] pedrosino commented on #762
Looking through the User model, I believe the solution is very simple:

https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/app/models/user.rb#L341
https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/app/models/user.rb#L345
https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/app/models/user.rb#L350
https://github.com/cubing/worldcub

[2016-07-06 14:11] MatteoColombo opened #763 "Map in competition tabs doesn't work"
I was trying the new competition tab feature (which is really cool :D) and I noticed that the insert Map option doesn't work.

I tried with both the coordinates and the address and none of them works.

Here is an example with the Milan Summer Open 2016:
https://www.worldcubeassociation.org/competitions/MilanSummerOpen2016#5-venue

[2016-07-06 22:04] lgarron commented on #762
Why not just make them results team members individually (if they still want to participate in results handling)?

[2016-07-06 23:55] jonatanklosko commented on #763
Hi,

Thanks for reporting, it works fine now!

Cheers,
Jonatan

2016-07-06 16:11 GMT+02:00 Matteo <notifications@github.com>:

[2016-07-06 23:55] #763 closed

[2016-07-07 12:36] #754 closed

[2016-07-10 14:53] jbcm627 commented on #729
As a short-term solution, how about having the markdown editor support something like these?
https://www.paypal.com/webapps/mpp/get-started/buy-now-button
https://www.paypal.com/webapps/mpp/get-started/add-buy-now-button-to-email

[2016-07-10 18:02] larspetrus commented on #49
The link to my ideas goes to a blank page saying **There is no group named “wca-software**.

[2016-07-11 15:33] jonatanklosko opened #766 "Wrong link to competition results by event in php code"
From Evan Liu:

[2016-07-11 15:54] #766 closed

[2016-07-11 16:04] jonatanklosko opened #768 "Nginx redirects for competition results"
As discussed in #767 there are no redirects for links to competition results.

[2016-07-11 17:10] jonatanklosko commented on #768
After some off-line discussion it seems to tricky, especially that old links should just be redirected to the competition's main page, which is fine enough.

[2016-07-11 17:11] #768 closed

[2016-07-11 19:47] notkevin888 opened #769 "Links from personal profiles to competitions broken"
Looks like with the shift to the new competition pages (which are fantastic :3), the links from a competitor's profile to the individual competitions got broken, because `/competitions/[compname]/results` doesn't exist anymore.

Steps to reproduce:
1. Go to a profile (eg, https://www.worldcubeassociation.org/results/p.php?i=2008YOUN02).
2. Click on a link to a competition (eg, under 3x3, try to go

[2016-07-11 21:06] #769 closed

[2016-07-11 22:58] jfly commented on #762
@pedrosino, I believe the only thing that needs to be changed is to remove the board from [`can_admin_results?`](https://github.com/cubing/worldcubeassociation.org/blob/bad53e5988e752f8a08722ef915ddc552da1619f/WcaOnRails/app/models/user.rb#L345). All the other ones look like permissions we want the board to continue to have.

[2016-07-11 22:59] jfly commented on #762
@pedrosino, I've assigned this to you. Please feel free to unassign yourself if you don't have time to work on it.

[2016-07-12 10:57] pedrosino commented on #762
I'm not sure I understand. can_admin_results? is exactly what we want Board members to keep:

[2016-07-12 13:34] jfly commented on #762
Then, as Lucas said, we should mark each board member as a member of the results team.

[2016-07-12 14:19] pedrosino commented on #762
That seems to work too, but feels more troublesome. We'd also have people listed under the results team which are not really part of the team.

[2016-07-12 14:30] jfly commented on #762
I don't understand what this issue is about, then. @SAuroux, can you explain what exactly the results team and the board agreed upon?

[2016-07-12 15:13] SAuroux commented on #762
It is very simple actually. We agreed to only list those people as results
team members who commit themselves to regularly perform results team tasks.
All other Board members however should still have access to the database
and to the results team scripts.

I am not familiar with how this access is arranged on the website. If the
Board membership alone already provides this access, then this is a

[2016-07-12 17:26] jfly commented on #762
I see. This is a non-issue, then, as board members are included in the [`can_admin_results?`](https://github.com/cubing/worldcubeassociation.org/blob/bad53e5988e752f8a08722ef915ddc552da1619f/WcaOnRails/app/models/user.rb#L345) method.

[2016-07-12 17:26] #762 closed

[2016-07-15 22:02] gagou9 commented on #68
I would still be in favor of a call for donations ;)

2016-06-27 9:11 GMT+00:00 Jeremy Fleischman <notifications@github.com>:

[2016-07-19 10:32] jonatanklosko opened #771 "Access WCA profile easily when signed in"
It should be simplified so that when you are signed in, it's sufficient to do like 1 or 2 clicks to access your WCA profile.
Sébastien asked for this.
Note (obvious but should avoid potential error): not every user has WCA id.

[2016-07-20 22:35] jfly commented on #755
Generally speaking, I'm not a big fan of arbitrarily assigning meaning to colors (AFAIK, there's no standard for "can view" and "can edit"). How about having a link to the delegate report, and a pencil afterwards to indicate "you have the right to edit the report":

![image](https://cloud.githubusercontent.com/assets/277474/17005247/1aa3de3a-4e8e-11e6-97c4-06143eb8495a.png)

To convey if your are

[2016-07-20 22:35] jfly commented on #755
I've marked this as a ment1 project, although I believe we should fully spec it out before assigning it to someone.

[2016-07-22 12:57] viroulep opened #772 "Different results between competition's page and person's page"
Right now when looking at [Saint Mary Scramble 2016](https://www.worldcubeassociation.org/competitions/SaintMaryScramble2016) page the results are not displayed, but if you look at one of the competitors' page (eg: [Chris Olson](https://www.worldcubeassociation.org/results/p.php?i=2009OLSO01)) you can see he already has results for the competition.

Not sure what is going on, most likely results a

[2016-07-22 13:24] jonatanklosko commented on #772
I can see the results now. I remember there's a moment when results are on the page but are not visible to the public, but I've no idea how PHP code behaves in this case.

[2016-07-22 15:14] #633 closed

[2016-07-23 06:36] oyyq99999 commented on #238
There's a workaround to resolve the question mark issue, but I'm not sure what **side effects** it would take.
We can do the transliterate process by ourselves with regexp replace as following

[code]

Which produces `Dusseldorf`. And Obviously It won't destroy non-latin characters.

The `\p{Mn}` means non-spacing marks, here's quote from the unicode specification

You can use `\p{M}` to indicate

[2016-07-25 08:34] viroulep commented on #303
Just in case you never visited [CubingChina](http://cubingchina.com/results/person/2007GUIM01), I like how the person's page looks like there!

There is a bit too much information, and it's sometimes difficult to notice important information (eg: I like better how @pedrosino emphasized the final rounds), but some ideas may be taken from there :)

[2016-07-25 09:20] viroulep commented on #756
It has been merged so I looked back at it :)
The default behavior is to not create links automatically, and create lists only if there is a blank line before them.

It remains one tiny thing that is a bit misleading regarding this default behavior: when typing an url, the "preview as you type" will render a link (actually it just underlines it), whereas the actual preview won't.
By just looking a

[2016-07-25 13:18] jonatanklosko opened #773 "Add Liechtenstein to countries"
This requires adding Liechtenstein's data in three places:
- Country model (country.rb)
- Seeds file (db/seeds/countries.seeds.rb)
- A migration to insert Liechtenstein to the countries table (the same addition as in the seeds file)

After deploy we just need to run the migration.

[2016-07-25 15:51] jfly commented on #49
Ah, shoot, we renamed the group from wca-software to wca-software-public. I've updated the original link to reflect this.

[2016-07-25 15:58] jfly commented on #772
Our rails code is aware of this new [`results_posted_at`](https://github.com/cubing/worldcubeassociation.org/blob/bad53e5988e752f8a08722ef915ddc552da1619f/WcaOnRails/app/views/competitions/_index_table.html.erb#L10-L13) field, but PHP doesn't know anything about it. It's easy to hide an entire competition, but keeping track of old world rankings vs new world rankings would get tricky if we wanted

[2016-07-25 16:29] jfly commented on #238
Ahh, neat trick! I'm no expert on character encodings, but from experimentation, it looks like this would behave more nicely than our current solution using transliterate:

[code]

That all said, it would be nice of we wrote our own versions of `highlight` and `excerpt` that handle this for us.

[2016-07-25 17:09] jfly opened #774 "Give delegates a more informative error message when they try to assign a WCA ID that has already been assigned"
Right now, the message you get just looks like this:

[code]

Which understandably causes confusion for people. @larspetrus recommended that we instead say something like `WCA ID is already used by "Joe Dirt" at foo@example.com`

[2016-07-25 20:37] pedrosino commented on #773
I thought we moved countries to the countries table sometime ago?

[2016-07-25 21:17] jonatanklosko commented on #773
It's part of #759, until it's merged we need to update country.rb as well.

[2016-07-25 21:58] larspetrus commented on #774
If it's shown to the public, we probably don't want to display the email?

[2016-07-26 21:12] jonatanklosko opened #775 "Delegate report: equipment hint"
From Olivér

[2016-07-26 22:56] jfly opened #776 "Competition competitors count wrong"
This happens because the Result -> Person association doesn't account for the fact that multiple Persons can share a WCA ID.

For example, if you have Joe Bob with subId 1 and Joeseph Bob with subId 2, and Joe Bob competed at your competition, you don't want to count him as 2 people.

[2016-07-26 23:35] jfly commented on #774
Oh, good point! We should be okay here because this action is only performable by delegates, who already have the power to view people's email addresses.

[2016-07-27 00:12] #773 closed

[2016-07-27 07:09] jonatanklosko opened #779 "Remove unnecessary countries fields"
Countries have three columns that don't have reasonable values so it doesn't make sense to keep them: `zoom`, `longitude`, `latitude`.

[2016-07-27 12:29] pedrosino commented on #779
LOL, I just brought this up with Jeremy yesterday. Seems like someone at some point had a plan with this, but it never happened.

[2016-07-27 17:14] #776 closed

[2016-07-28 13:39] viroulep opened #782 ""Past competitions" table overflows from its container"
I just noticed this visual bug:
![visual_bug_table](https://cloud.githubusercontent.com/assets/1007485/17214292/83c4507a-54d8-11e6-8683-0b5b01d2bc6b.png)

It happens when the browser's window width is too small to contain the whole table.

[2016-07-28 13:53] MatteoColombo opened #783 "Multiblind ranking not showing"
I noticed that the multibld ranking doesn't work: https://www.worldcubeassociation.org/results/events.php?eventId=333mbf&regionId=&years=&show=100%2BPersons&single=Single

All the other rankings seems to work

[2016-07-28 15:29] Baiqiang commented on #783
There must be something wrong with the cache. I just ran the
compute auxiliary data script and everything is OK now.

On 28 July 2016 at 21:53, Matteo <notifications@github.com> wrote:

--
Baiqiang Dong
Website：http://www.qiyuuu.com

[2016-07-28 15:40] jfly commented on #783
@Baiqiang, any thoughts on how this could have happened? Does the script have bugs and not work perfectly every time?

[2016-07-28 16:09] Baiqiang commented on #783
I thinks some one visited the page while the compute auxiliary data script
was running and the concise results had been removed. At that time, the php
code generated a cache file with none data. Then everyone got the same
result.

On 28 July 2016 at 23:40, Jeremy Fleischman <notifications@github.com>
wrote:

--
Baiqiang Dong
Website：http://www.qiyuuu.com

[2016-07-28 16:11] jfly commented on #783
Sounds good, I'll close this issue, then!

[2016-07-28 16:11] #783 closed

[2016-07-30 10:33] pingskills opened #784 "competitions.seeds needs updating after website renamed"
The renaming of website to external_website means that the competition seeds file needs to be updated.

[2016-07-30 10:56] #784 closed

[2016-07-31 18:30] #775 closed

[2016-07-31 19:21] pedrosino opened #789 "Make a competition index inside admin"
(Just so more people don't work on the same thing).

I talked to the Board and they agree on having an index inside admin view, with some information like when the competition was announced or when results were posted. Also a direct link to /edit/admin is a good thing to have.

[2016-08-01 01:29] pedrosino opened #790 "Admin competition view asks if I want to leave"
(Sorry, couldn't think of a better title)

When I'm at competition/edit/admin, even if I don't change anything it shows a pop-up asking if I really want to leave if I try to close the window.
I thought it was just with me, but @Luis-J-Ianez reported the same behaviour. It didn't happen some time ago (not sure how long).

[2016-08-01 12:15] jonatanklosko commented on #790
Interesting, this doesn't happen for me.

[2016-08-01 22:45] pedrosino opened #791 "Change text on sign_up page"
From Rafael Cinoto:
[code]

[2016-08-01 23:00] pedrosino commented on #789
- [ ] new route
- [ ] view
- [ ] migration to add columns
- [ ] import old data

[2016-08-02 14:55] #791 closed

[2016-08-02 22:28] #782 closed

[2016-08-03 00:40] jfly commented on #790
Could you provide a direct link, @pedrosino? This issue might be competition specific. I just tried https://www.worldcubeassociation.org/competitions/LegendsofRubik2016/edit/admin on both Firefox and Chrome, and I was unable to reproduce this issue.

[2016-08-03 01:48] pedrosino commented on #790
Indeed that link has no problem for me. I'll let you know when I run into
it.

On Tue, Aug 2, 2016 at 9:40 PM, Jeremy Fleischman <notifications@github.com>
wrote:

[2016-08-03 06:52] Luis-J-Ianez commented on #790
https://www.worldcubeassociation.org/competitions/Weekend162016/edit/admin

Firefox - Ubuntu
Non-visible comp (which might be the key point)

On 08/03/2016 03:48 AM, Pedro Santos wrote:

[2016-08-03 08:52] jonatanklosko commented on #790
Gotcha!
It happens when *I would like to use WCA website instead of an external one for additional informations.* is checked. [Here are the two lines which cause this](https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/app/assets/javascripts/competitions.js#L9-L10). I think that we don't have to disable the input because of [this callback in the `Competition` model](https://

[2016-08-03 17:20] ShadenSmith opened #795 "Competition search overly specific?"
This looks similar to #690.

I've noticed that searching for competitions can sometimes be difficult. No results are found when searching for "[slow steady](https://www.worldcubeassociation.org/search?q=slow%20steady)", but "[slow n steady](https://www.worldcubeassociation.org/search?q=slow%20n%20steady)" works as expected.

[2016-08-03 21:01] coder13 opened #796 "Expose registration list via the REST api"
Live results websites such as Cubecomps or live.cubing.net need some way to import all the registrants for a competition. We already have a JSON format for this: https://github.com/cubing/worldcubeassociation.org/wiki/WCA-Competition-JSON-Format, we just need to write a page that exports this.

[2016-08-03 21:40] #790 closed

[2016-08-03 21:57] jfly commented on #796
(This is for CCM to consume)

[2016-08-03 21:58] coder13 commented on #796
(Among other competitor sites)

[2016-08-04 13:39] SAuroux opened #797 "Access "Edit profile" user account management easily from WCA profile"
For administration purposes, it would be great if the WCA profile would provide a link to the "Edit profile" page for

1) the logged-in user himself
2) Admins/Results team members

Note: Of course this goes only for profiles with associated user accounts.

[2016-08-04 13:48] SAuroux opened #798 "Add Guidelines for profile pictures and media"
First of all, this issues applies to both admin and user areas.

Guidelines to be added on top to the Admin "Approve pictures" script:
1. All avatars should be pictures of real persons.
2. The person shown must be the involved member (as far as can be judged).
3. If there is more than one person on the avatar, it should be clear who is the involved member.
4. The head of the involved member, not n

[2016-08-04 16:13] SAuroux opened #799 "Notification for profile picture rejection"
As far as I know, users are currently not notified when an admin rejects their submitted profile picture for not complying with the Guidelines. I would like to propose the following changes to the "Approve pictures" script:

1. Allow Results Team members to enter a short rejection reason.
2. Automatically send a mail to the user's mail address including a standard text + the individual rejection r

[2016-08-04 23:15] lgarron opened #800 "Regs History says 2009 did not have regs, but they do?"
https://www.worldcubeassociation.org/regulations/history/ states "No new Regulations" for 2009.

But I just realized https://www.worldcubeassociation.org/regulations/history/files/regulations2009.html does exist. It introduced certain new scramble programs.

@Laura-O for WRC visibility.

[2016-08-05 12:27] viroulep commented on #800
@cubing/wrc-team ;)
I'll fix this.

I also noticed the 2015 history link points to the current Regulations, and we are missing a "current version" link :p

[2016-08-05 12:45] viroulep opened #801 "Expose results via the REST api"
Is this something that you would be willing to see happening?

French and Swiss cubers use  some [script](https://github.com/speedcubingfrance/coupedefrance/blob/master/script/generate_rankings.py) to download the latest TSV export and generate rankings for an unofficial event (French cup).
The generated json is then uploaded to our [website](http://www.speedcubingfrance.org/speedcubing/coupedefra

[2016-08-05 14:17] coder13 commented on #801
This is something I want to see happen. I was going to get around to writing up the api so that someone can implement it.

[2016-08-05 17:51] #779 closed

[2016-08-05 22:36] oyyq99999 commented on #238
Hi, I came up with another idea and it solves the whole issue but it's a little bit tricky and possibly buggy. I wrote a demo in python [here](https://gist.github.com/oyyq99999/0998ff3e3cd7100f0ca56b09de7da9ab)

The process:
 1.  Separate the original string to pieces by transliterate result and then;
 2. Transliterate each piece and concat the results (which solves the question mark issue), and t

[2016-08-07 15:53] Baiqiang opened #806 ""By Person" display error with same names"
There're two people named Zhuo Chen (陈卓). But when I clicked the "By Person" link, it shows only one Zhuo Chen with the whole results. See here: https://www.worldcubeassociation.org/competitions/JinhuaOpen2016/results/by_person#2015CHEN95

[2016-08-07 22:24] #806 closed

[2016-08-09 22:17] KitClement opened #809 "Alphabetization Error"
Just noticed this for the [3x3x3 BLD Qualification round](https://www.worldcubeassociation.org/competitions/USOpen2008/results/all#e333bf_0) for US Nationals and Open 2008:

![image](https://cloud.githubusercontent.com/assets/6166412/17535571/37cf37e6-5e44-11e6-8774-63161662f3b9.png)

Seems Chris Tran is out of place in the ordering of competitors who have tied

[2016-08-10 09:40] #795 closed

[2016-08-10 13:45] #809 closed

[2016-08-10 14:39] SAuroux commented on #798
Even though this is now marked as "ment1", it would be good to handle this issue together with https://github.com/cubing/worldcubeassociation.org/issues/802

[2016-08-10 14:59] SAuroux opened #811 "Adding a "wiki page" for the Results team"
I would like to establish some kind of "wiki page" for the results team that allows us to document  solutions to common use case, an explanation of the results posting process and so on.

Don't worry, this doesn't need to be something fancy. A page like the Delegate crash course page visible only for Results team members (& Board) would already be sufficient.

[2016-08-10 15:22] SAuroux commented on #774
What just popped into my head: Maybe we should not let people claim alread assigned WCA-IDs in the first place?

[2016-08-10 16:18] jonatanklosko commented on #798
@SAuroux I will handle the avatar guidelines but media are PHP thing at the moment so I think it's ok to do it separately.

[2016-08-10 16:45] jonatanklosko commented on #774
Hmm I don't think we allow this.
I guess this situation is possible only if two users request the same WCA ID, one of them is approved and a delegate tries to approve the second one (unaware of the first one). Am I right?

[2016-08-11 16:42] BiscuitCubed opened #814 "Links in competition tabs seem to use relative URLs"
I had a link where the URL was worldcubeassociation.org/competitions/KCubingSummer2016/register. When clicked it took you to

https://www.worldcubeassociation.org/competitions/www.worldcubeassociation.org/competitions/KCubingSummer2016/register

I've changed it to /competitions/KCubingSummer2016/register and now it works

[2016-08-11 17:40] jonatanklosko commented on #814
I think this is expected behavior. If you type `www.google.com` it will refer to `https://worldcubeassociation.org/www.google.com`. That's because it's missing protocol part.
Summary doing `[Click](https://www.worldcubeassociation.org/competitions/KCubingSummer2016/register)` works.
Relative path is good as well anyway.
So I think it's not real issue, right? =)

[2016-08-11 17:40] #814 closed

[2016-08-12 09:14] viroulep opened #816 "I18n for string in javascript"
This is just to remember that I have to do this too.

I'm not sure how to set it up though; there is this [gem](https://github.com/fnando/i18n-js), but it may be overkill since I don't think we have to localize many strings in js files.
An alternative solution would be to make the view provide these strings to the js (ie: no more strings that need to be translated in js).

[2016-08-13 15:51] viroulep commented on #584
So after looking for any use of something like `params[:*] ==` or `case params[.*]` I found only four matching controllers: the [registrations](https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/app/controllers/registrations_controller.rb#L98), [polls](https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/app/controllers/polls_controller.rb#L45), [competi

[2016-08-16 21:21] #799 closed

[2016-08-17 12:21] Luis-J-Ianez opened #819 "Representative subject for mails sent through form to notifications@worldcubeassociation.org"
Presently all have the same subject: "WCA Website Comments".  Could you add something more representative, like at least the sender's name? "WCA Website Comments by Peter Jackson"

[2016-08-18 08:46] viroulep commented on #771
Couldn't we simply add a "My results" link to the "Results" menu (under "Persons")?

[2016-08-18 08:55] jonatanklosko commented on #771
@viroulep I think this would correspond to "My competitions" pretty nicely.

[2016-08-18 08:57] viroulep commented on #771
You mean a link on the "My competitions" page?

[2016-08-18 09:11] jonatanklosko commented on #771
I mean the link to "My competitions" page. I just think this is good idea to have "My results" in the "Results" menu the same way we have "My competitions" in the "Competitions" menu =)

[2016-08-18 14:17] #771 closed

[2016-08-19 11:55] pedrosino opened #821 "Typo in "Create competition""
From Felipe Rojas:

[2016-08-19 16:28] #821 closed

[2016-08-19 23:18] #819 closed

[2016-08-22 02:43] TimMcMahon commented on #728
Could https://www.worldcubeassociation.org/users please include "Country" and whether or not the account is waiting for approval by a delegate?

Would this allow another delegate to search for everyone representing "Australia" and follow up if another Delegate hasn't approved?

[2016-08-22 09:06] SAuroux commented on #811
Is someone willing to take care of this? :)

I might be wrong, but isn't this mainly a copy&paste of the "delegate crash course" code with different access attributes?

[2016-08-23 23:43] jfly commented on #728
@TimMcMahon, that sounds like a useful improvement, for sure. It's important to remember that someone's nationality is not necessarily the place they live. It's also worth pointing out that some senior delegates manage multiple countries, and some countries are divided up amongst multiple senior delegates (the US, for instance).

[2016-08-24 04:31] jfly commented on #774
That's correct, we don't allow claiming an already assigned wca id, but we do allow claiming a wca id that has already been claimed. The idea is that we don't want to let someone squat on someone else's wca id.

[2016-08-24 17:07] jfly opened #826 "Placeholder for discussion about "full name" vs "given name, last name""
We currently have one field labeled "Full name". There have been a lot of discussions about splitting this into multiple fields. I (@jfly) personally think one field is the way to go, but we need a place to point people to when they ask why we do it the way we do it. I hope that this issue can be that place.

Pre-reading:
- https://www.w3.org/International/questions/qa-personal-names -[Tim Haberma

[2016-08-25 10:55] jonatanklosko opened #827 "Demoted delegates and WCA ID claim"
From Luis

[2016-08-25 18:30] jfly opened #830 "check_rounds is not calling checkRoundNames for the last event"
See relevant code here: https://github.com/thewca/worldcubeassociation.org/blob/9abb59e1b3da9a4cfadc06d104eb0e43ead19647/webroot/results/admin/check_rounds.php#L140-L144.

This code only calls `checkRoundNames` on the previous event, which means that the last event never gets checked.

[2016-08-28 01:40] jbcm627 commented on #729
Bump - just want to see if any progress has been made on this, or if not, just want to make sure it doesn't drop off the radar.

[2016-08-29 13:39] #585 closed

[2016-08-29 14:08] viroulep commented on #587
I messed up the "automatic" closing but this was done in #781.

[2016-08-29 14:08] #587 closed

[2016-08-29 14:08] viroulep commented on #588
Done in #781

[2016-08-29 14:08] #588 closed

[2016-08-30 15:50] jonatanklosko opened #833 "Add reasonable user name validation"
As in the title. To make all users valid, it would be good to make migration removing all invalid characters from the current names as @viroulep suggested (#832). We can discuss the regexp here.

[2016-08-30 15:51] jonatanklosko commented on #833
This should fix #723 as well.

[2016-08-30 16:49] larspetrus commented on #723
I think the white space issue is best solved by trimming all data as it enters the system.

A quick search found this gem: https://github.com/holli/auto_strip_attributes

What I don't like so much about it is that you have to list the fields you want stripped. I want to strip all fields.

Another approach is to always trim `params` in ApplicationController.

[2016-08-31 12:28] pedrosino opened #836 "Page with information about delegates"
From Ilkyoo:

From Ron:

I'm focusing on the delegate's part for now.

[2016-08-31 15:47] jonatanklosko opened #837 "Inclusing delegate reports"
Just stumbled upon very weird thing with @pedrosino when playing with his PR on the staging.
Issue example:
[code]
I guess no one would expect this to do additional query for each competition ... but it does!
After some struggling with this I finally realised that `competition.delegate_report` doesn't actually call the relation, see how this method is overridden [here](https://github.com/cubing/wo

[2016-08-31 16:20] jfly commented on #836
Do we really need this? These are easy SQL commands, and I'd rather not have to support a new page if we can avoid it.

@pedrosino, can we close this in favor of #137?

[2016-08-31 16:22] pedrosino commented on #836
Not sure where this should be, though.
/delegates is a static_page, but looks like the one that makes more sense. Maybe having a switch of some sort to access the "admin view" would work.

EDIT

Ilkyoo requested this again, and I think it would be ok to have it. Not everybody is good with SQL queries, and having a page gives the ability to sort and search and etc.

[2016-08-31 16:41] pedrosino commented on #837
Good catch!
I like the solution, seems easier than what we have now.

[2016-08-31 17:23] jfly commented on #219
After some searching, it looks like [redash](https://github.com/getredash/redash) is an open source project that we could spin up ourselves if we want.

[2016-08-31 17:54] #837 closed

[2016-08-31 21:53] jfly opened #840 "bundle install when deploying oftentimes runs into permission errors"
Some analysis by @viroulep:

---
Hum if the first `bundle install` ever was done without argument, the default behavior is to install system-wide (and this setup is remembered for the next calls to bundle), and it seems to be the case:

[code]

On my computer I ran the first 'bundle install' with '--path vendor/bundle' and it shows up in the config :
[code]

So if the issue keeps happening every t

[2016-08-31 21:55] jfly commented on #840
@viroulep, I've assigned this to you. If you're too busy to work on this, no worries, just unassign it and I'll find someone else to take it on!

[2016-08-31 22:07] viroulep commented on #840
I have internet at home again so worst case scenario I can take care of this on Saturday or Sunday.

This is independent from #747 but both will need the timely operation of spinning up a new server; maybe both could be confirmed to work at the same time?

[2016-09-01 00:09] jfly commented on #723
I'm going to close this in favor of #833

[2016-09-01 00:09] #723 closed

[2016-09-01 01:52] #789 closed

[2016-09-01 16:02] jfly opened #845 "Smoke test all ERB pages"
This was an idea raised by @larspetrus on the software mailing list. I do wonder how much time this would add to our already not-instant test suite =).

[2016-09-01 16:09] larspetrus commented on #845
I haven't done this in Rails, but some quick ideas before I get on a plane are to get the set of pages from either the Routes or by looking at `.erb` files.

The timing issue is usually dealt with by have a fast test suite devs run all the time, and a complete/slower one that they maybe only run before checking in, or even is only run on the CI machine. Which in this case is GitHub, I guess.

[2016-09-01 20:03] viroulep opened #847 "Help i18n maintainer to easily track changes in the English locale"
Not sure how to do this right now, but we should be able to provide a way to help translators knowing what we changed in the English version of the website after their last translation.

[2016-09-01 20:08] jfly commented on #847
Crazy idea: require that the translated version have a commented out version of the english interspersed through it? That might actually make translating a little easier, and we could use it to track changes.

[2016-09-01 20:51] #274 closed

[2016-09-02 04:28] larspetrus commented on #847
How would "helping the translators" work ideally? Maybe there is one (or more) emails for each language, and they get notifications when a translated key changes? What's a realistic workflow?

It should be somewhere between "simple" and "not too painful" to generate a snapshot of the English versions of all keys translated to Elbonian, perhaps automatically when the Elbonian file is checked in, an

[2016-09-02 14:15] viroulep commented on #847
Ideally we would have a list of translations somewhere, with a green check if it's up to date, and a red cross if it's not; clicking on it would show a detailed diff justifying the red cross.

This sounds like a diff on two revisions: maybe for each translation we could keep the latest commit of the maintainer(s), and show the diff for the english+translation locales between this latest commit and

[2016-09-02 16:31] viroulep commented on #840
I took a look at [that](http://bundler.io/man/bundle-install.1.html#DEPLOYMENT-MODE), looks like installing in a custom location is part of what bundle does in deployment mode :)

So the fix may be as simple as running `bundle install --deployment --without none` as cubing, but I'm concerned about using this flag for provisioning the VM in development mode...
@jfly how did you test the production-

[2016-09-03 03:27] jfly opened #852 "/users searchbox doesn't update url"
When I search for a user, click edit, and then click back, I don't end up back on the search results I would expect to end up on. This is because we don't update the /users url to reflect the current query string.

Fixing this would be a good ment2 project. @jonatanklosko, could you add some references to other places in our codebase where we do this correctly?

[2016-09-03 06:33] jfly opened #854 "wca_excerpt doesn't handle case insensitivity"
@jonatanklosko added some awesome improvements to our search and our `wca_excerpt` method in #804, but unfortunately it looks like it doesn't handle case insensitivity. For example:

https://www.worldcubeassociation.org/search?q=Mateusz%20Wojciech
![image](https://cloud.githubusercontent.com/assets/277474/18223236/76ce3184-7165-11e6-9e0c-4fda579c1604.png)

https://www.worldcubeassociation.org/sear

[2016-09-03 06:36] jfly commented on #584
@viroulep, could you update the links in https://github.com/cubing/worldcubeassociation.org/issues/584#issuecomment-239627491 to point at the correct lines? I personally always is press "y" before copying a link (see https://help.github.com/articles/getting-permanent-links-to-files/).

[2016-09-03 06:41] jfly opened #855 "TNoodle logo doesn't line up nicely in Information navbar dropdown"
See:

![image](https://cloud.githubusercontent.com/assets/277474/18223258/7534bfea-7166-11e6-8035-284951987cbd.png)

It looks like this was broken in
https://github.com/cubing/worldcubeassociation.org/pull/820/commits/70cf76b755406b7554db5db229d0469fdc6e3317. The TNoodle logo is an `<img>`, and it does not have class `.fa`, so the `margin-right: 10px;` doesn't kick in.

This should be a good ment1

[2016-09-03 09:26] viroulep commented on #584
Done!
Thanks for the 'y' trick :)

[2016-09-03 15:29] jonatanklosko commented on #852
Hmm this is pretty tricky stuff. Actually it'd say it's not similar to anything we've done before. The bootstrap table search box seems to be troublesome, I managed to make things work when we leave it empty, but filling it with anything (including `search=something` in the url) resets the page to 1st. Actually I think that this is the lib issue and I even found such (probably, as it's in Chinese)

[2016-09-03 17:42] #854 closed

[2016-09-03 18:02] jfly commented on #852
Gotcha. This does sound tricky, so I've removed the `ment2` label. Are there other places in our codebase where we use this feature of bootstrap-table?

Thanks for commenting on the issue upstream. Let's revisit this in month and see if anyone from the project responds. If nothing happens, we can investigate (monkey?) patching it ourselves.

[2016-09-03 18:07] jonatanklosko commented on #852
@jfly We update the url on the persons index page and it works well, but it differs as we have our own form (region picker + own search box), whereas on the users index page we just use bootstrap-table's search box, that is just easier as we don't have to provide our own params method and such.

[2016-09-03 18:34] pedrosino commented on #852
Would it be too bad to mimic the Persons search for users?
Is bootstrap table a need there?

[2016-09-03 18:40] jfly commented on #852
@pedrosino, I think that is one possible workaround that we can investigate in a month from now. If someone is interested in working on this in the mean time, be my guest!

[2016-09-03 18:42] jonatanklosko commented on #852
@pedrosino the persons index uses bootstrap-table as well, the difference is that on the persons index we have custom form, and having it requires more effort but as we want more advanced search that's necessary. On the other hand for the users index is perfectly enough to have the lib's search box, and IMO it's not worth overriding this as we can do this easily if there's not bug in the lib.

[2016-09-03 18:45] jfly commented on #840
Awesome investigation, @viroulep! I'm glad to finally know the source of this issue =) It threw me off that subsequent `bundle install` runs by non root users usually work, until there's a new gem to install.

I spin up a new server in production mode =). I used to do this with Vagrant, but nowadays, I just spin up a new server on AWS. If you want to test things out with Vagrant, you'll need to tw

[2016-09-03 18:57] viroulep commented on #840
Ok thanks :)

[2016-09-04 14:51] jbcm627 opened #860 "google maps markercluster images gone 404"
Looks like some maps marker images have gone 404.
https://www.worldcubeassociation.org/competitions?display=map

![missing_markercluster](https://cloud.githubusercontent.com/assets/964048/18231668/7c46240e-728d-11e6-992e-9c176ed7a24d.png)

[2016-09-04 15:15] #855 closed

[2016-09-04 16:58] #860 closed

[2016-09-04 17:01] jfly commented on #105
Assigning to @viroulep as per @jonatanklosko's comment [here](https://github.com/cubing/worldcubeassociation.org/pull/747#issuecomment-229217530).

[2016-09-04 17:01] jfly commented on #350
Assigning to @viroulep as per @jonatanklosko's comment [here](https://github.com/cubing/worldcubeassociation.org/pull/747#issuecomment-229217530).

[2016-09-04 17:01] jfly commented on #577
Assigning to @viroulep as per @jonatanklosko's comment [here](https://github.com/cubing/worldcubeassociation.org/pull/747#issuecomment-229217530).

[2016-09-04 17:02] jfly commented on #195
Assigning to @viroulep as per his comment [here](https://github.com/cubing/worldcubeassociation.org/pull/747#issuecomment-229275357).

[2016-09-04 18:45] jfly commented on #847
It would be kind of cool if github issues were automatically created when a translation is out of date. Maybe travis could check for out of date translations and create them? It should be possible to generate an api key for travis and have him do stuff like that.

A wiki keeping track of the state of all our translations would also be cool and maybe less of a mess.

[2016-09-05 02:42] pedrosino opened #862 "Improvements to competitions?display=admin"
From Ilkyoo:

- [x] "recent" button
- missing reports/results can be complicated, because we have flaws in the database. However, we could set a starting point to this (2016?)
- [x] I thought of having "missing stuff" information on the table, like showing how many days have passed since the competition if results/reports are not posted yet. It would work almost the same way, except for doing (tod

[2016-09-05 02:46] Ilkyoo commented on #862
-- A button that displays comps with at least one red cell
-- A button that displays comps with at least one red cell or one yellow cell

These two buttons would be useful too.

[2016-09-05 03:19] Ilkyoo commented on #836
The word easy is different from easily accessible.

[2016-09-05 08:27] jfly commented on #238
Thanks for the ideas, @oyyq99999! It would appear that there is no community solution to this problem. I've gone ahead and created https://github.com/jfly/translighterate so we can make our own gem. I'd really appreciate it if you could take a look over there and let me know what you think. I used your transliterate trick from before.

[2016-09-05 12:17] pedrosino commented on #836
I am actually working on this already.

[2016-09-05 12:20] pedrosino commented on #862
I just thought that clicking "Past from 2016" will open the "recent" list as the first thing. The only moment this doesn't work is january of each year, when you'll either get competitions from that year (choosing "past from 2017", for example) or from the previous year (choosing "past from 2016").

Maybe this is something other people would be interested in as well? Seeing results for competition

[2016-09-05 19:31] jfly commented on #258
There's a pretty heated discussion about the Ł character on the mysql bug tracker: https://bugs.mysql.com/bug.php?id=9604. There's a lot of confusion/unsatisfying answers, until you get to [Peter Gulutzan's well written explanation of what's going on here](https://bugs.mysql.com/bug.php?id=9604#c369161). The answer is that Mysql's utf8_unicode_ci collation uses the Unicode Collation Algorithm (UCA

[2016-09-05 19:38] jfly commented on #258
Unfortunately, it turns out our production version of Mysql is 5.5.49:

[code]

which doesn't support `utf8_unicode_520_ci`:

[code]

It's hard for me to find out when support for `utf8_unicode_520_ci` was added, but according to Peter Gulutzan's comment [here](https://bugs.mysql.com/bug.php?id=9604#c369161), it seems like support was added in Mysql 5.6.

[2016-09-06 23:24] jfly opened #865 "Update deploy script to clear Rails caches"
Unfortunately the structure of our layout files tickles bugs in Rails's fragment caching code. I'll be copy pasting an email thread with @jonatanklosko and @timhabermaas here.

[2016-09-06 23:24] jfly commented on #865
# Jeremy

We dug into this a bit more, and here's what we could find. No matter what changes I made to WcaOnRails/app/views/competitions/show_results_by_person.html.erb, the cache key was always the same:

# BEFORE CHANGE
I, [2016-05-24T19:09:01.046824 #6390]  INFO -- : Read fragment views/NationalCapitalRegion2016/by_person/2016-05-24T04:31:48Z/3b9fd42700b830383c9f635f3d3e4511 (0.4ms)

# AFTER CH

[2016-09-06 23:24] jfly commented on #865
@timhabermaas:

Thanks for digging into it! That's an interesting find and might be a bug, but I don't see how it could be fixed. The block is executed within the `render` method and the only way to get to the place where the block is defined is to use Proc#source_location (http://ruby-doc.org/core-2.2.0/Proc.html#method-i-source_location). So Rails would need to set some global state which `cache

[2016-09-06 23:25] jfly commented on #865
@jfly

Oh, that looks promising! I just tried this out by hand, and it does seem to work. Would you recommend following the guide on nested layouts here: http://guides.rubyonrails.org/layouts_and_rendering.html#using-nested-layouts? The whole <%= content_for?(:content) ? yield(:content) : yield %> pattern seems a bit weird.

[2016-09-07 06:12] jfly commented on #474
I'm closing this issue in favor of the larger redesign discussed on #328. That said, if someone wants to do as @larspetrus suggests and tweak the current phrasing, I'd be happy to accept a PR.

[2016-09-07 06:12] #474 closed

[2016-09-07 06:18] jfly opened #866 "WCA Facebook style "groups" for rankings"

[2016-09-07 06:22] jfly commented on #256
Copy pasting from an email with the Board:

@jfly:

Ron:

- WCA decides which groups we accept
- each group must have one or more administrators
- each administrator must first be approved for that group by WCA
- each group can be moderated by administrator or managed by user, to decide who can become member of the group
- each group might have requirements, either explicit (group 'female cubers i

[2016-09-07 06:22] jfly commented on #866
Accidentally created these issue. Closing now.

[2016-09-07 06:22] #866 closed

[2016-09-07 14:49] viroulep opened #867 "Clarify how the website should build the Regulations"
See comments in #747 [here](https://github.com/cubing/worldcubeassociation.org/pull/747#discussion_r77770550).

Right now the website is still aware about `regulations-data`, and that it has to use the `wrc` compiler on the Regulations and its translations.

It seems that @jfly would basically want to do a `wget app/views/regulations`, meaning we'd have to move `regulations-data` and the build scr

[2016-09-07 17:35] jfly opened #868 "check_rounds should refuse to run if there are unfinished persons"
Right now, `check_rounds` assumes that everybody has a `personId` assigned, which can cause confusing errors if that's not the case, confusing new Results team members.

@jfly:

@SAuroux:

@SAuroux, are there other pairs of scripts for which we should add guards like this (make sure A has finished running before running B)?

Unfortunately, adding checks means we have to write _more_ code. One poss

[2016-09-07 18:00] #840 closed

[2016-09-07 18:25] jfly opened #869 "Delegate report emails should have the reply_to header set"
See https://github.com/cubing/worldcubeassociation.org/blob/683206a9b6f2babcaa22b750a2dafd186d4760e3/WcaOnRails/app/mailers/competitions_mailer.rb#L25-L32. We don't want replies to go to notifications@, so we should definitely set the reply_to header.

Note: due to some vagaries of how google groups works, it's possible that setting the reply_to header won't actually have any effect (I think googl

[2016-09-07 21:09] jfly commented on #867
I really like the idea of the `wrc` (compiler). I think it should provide everything we (the wca website) need in order to build the regulations (as mentioned [here](https://github.com/cubing/worldcubeassociation.org/pull/747#discussion_r77770550), right now there is a lot of bash logic required for us to run `wrc` correctly).

Maybe the problem here is that we don't agree on what it means to "bui

[2016-09-07 23:44] SAuroux commented on #868
Mainly the newcomer script has to be finished before proceeding, the rest
is quite exchangable.

An alternative idea would be to simply display in the newcomer script
something like "Displaying the first 20 out of 23 remaining newcomers."

2016-09-07 19:35 GMT+02:00 Jeremy Fleischman <notifications@github.com>:

[2016-09-08 14:11] viroulep commented on #800
Fixed by #805.

[2016-09-08 14:11] #800 closed

[2016-09-08 14:11] viroulep commented on #577
Fixed in #747.

[2016-09-08 14:11] #577 closed

[2016-09-08 14:12] viroulep commented on #105
Fixed in #747.

[2016-09-08 14:12] #105 closed

[2016-09-08 14:12] viroulep commented on #195
Fixed in #747.

[2016-09-08 14:12] #195 closed

[2016-09-08 14:13] viroulep commented on #350
Fixed in #747.

[2016-09-08 14:13] #350 closed

[2016-09-08 14:19] viroulep opened #871 "Continent model is built with no `recordName`"
The `Continent` constructor [here](https://github.com/cubing/worldcubeassociation.org/blob/fa94cab57ffd9528092c1e9930cefb57d4b739e1/WcaOnRails/app/models/continent.rb#L8) gets the `recordName` attribute from the  `continentId`, which does not exist in the hashes we give [here](https://github.com/cubing/worldcubeassociation.org/blob/fa94cab57ffd9528092c1e9930cefb57d4b739e1/WcaOnRails/app/models/con

[2016-09-08 16:20] BiscuitCubed commented on #329
I've used the WCA site for KCubing Summer 2016, and there has been one problem (two, but the second is partially created by the first). The problem is not having integrated payment. This has been a huge issue, as not only does it take quite a bit of effort and time to do manual payment, but it's confusing for competitors and is susceptible to errors. It's also brought up the issue with the "Waitin

[2016-09-08 17:33] jfly commented on #871
Definitely looks like a bug. CC-ing @pingskills because of his pending work on #741 (pr #759).

[2016-09-08 18:17] jfly commented on #329
I'm very sorry to hear that, @BiscuitCubed. @pingskills has been waiting for feedback on his proof of concept of payment for quite some time, and I've been madly running around catching up on email after being out of town for a week.

I assure you this is one of my highest priorities, and CubingUSA will not go away until the WCA website can provide a decent replacement. In the future, I would sugg

[2016-09-08 18:21] larspetrus commented on #329
On Thu, Sep 8, 2016 at 9:20 AM, BiscuitCubed <notifications@github.com>
wrote:

Do you have a suggestion for a better name?

--
Procrastinators - the Leaders of Tomorrow

[2016-09-08 20:21] BiscuitCubed commented on #329
I hope I didn't come across as not liking the system, I do, it's just missing that one feature.

As far as alternate name, what about something like unapproved registrations? That way it can be used for more reasons then just having full registration without confusing people.

[2016-09-09 08:21] Luis-J-Ianez opened #873 "Pending WCA ID claims"
If I'm right, once an user has issued an ID claim, there's no way to resend it until the delegate approves it or clears it.  This is not helping some highly demanded delegates in organizing their claims, and besides could potentially constitute a serious problem in the case of incommunication (extreme case: sender / recipient are blacklisted).

It would be necessary to set an expiration date for t

[2016-09-09 08:24] jfly commented on #873
I like the idea of an expiration date for claims. How about after 1 month we automatically clear the claim and email the claimer, the delegate, and the delegate's senior delegate?

[2016-09-09 08:52] jfly commented on #329
I'm not opposed to renaming it to "unapproved registrations", although when it's actually being used as a waiting list, that might introduce an equal amount of confusion in the other direction.

Can you explain in more detail how the term "waiting list" resulted in an email titled "Sons dreams crushed"?

[2016-09-09 09:13] SAuroux commented on #873
That sounds good!

2016-09-09 10:24 GMT+02:00 Jeremy Fleischman <notifications@github.com>:

[2016-09-09 09:44] Luis-J-Ianez commented on #873
Excellent :)

[2016-09-09 12:00] #836 closed

[2016-09-09 14:29] viroulep opened #875 "Localization of Countries/Events/Continents"
Localization of Countries/Events/Continents
So I did not include these in #874 because @pingskills is already refactoring these 3 models.
You can find my initial idea in this [commit](https://github.com/viroulep/worldcubeassociation.org/commit/563a51ef9cb00b7ca8bd925c6163bce497164fd1).

My implementation relied on the `i18n-country-translations` gem, with an locale extensions for our "Multiple Cou

[2016-09-09 16:50] pedrosino commented on #862
Here are 2 options for showing "pending" results/report:
![pending](https://cloud.githubusercontent.com/assets/1881933/18395274/53943c70-7694-11e6-894c-119cbcaddd83.png)

I think I prefer the one to the right (not showing how many days have passed)

[2016-09-12 16:34] jfly opened #878 "Call to next! mutates frozen string"
See this code in spec/factories/persons.rb:

[code]

This can cause a frozen string mutation (`id` is a frozen string):

[code]

[2016-09-12 18:47] jfly opened #881 "insertPerson in persons_finish_unfinished_ACTION allows injection attack"
See https://github.com/cubing/worldcubeassociation.org/blob/66a9530b6ab0e6dd23839a3f552862901363243c/webroot/results/admin/persons_finish_unfinished_ACTION.php#L159:

[code]

If you scan through the method, you'll see that `$oldName` is never escaped (you'd expect to see a call to `mysqlEscape` as happens with the other variables that are interpolated into this SQL string).

[2016-09-12 19:11] #881 closed

[2016-09-13 01:01] jfly opened #883 "poll.rb is ignoring `marked_for_destruction`"
See discussion [here](https://github.com/cubing/worldcubeassociation.org/pull/759/files/092c6c899303fd543fc8b55597e4fb8ebc2c16fe#r78271394) and [here](http://homeonrails.com/2012/10/validating-nested-associations-in-rails/).

Adding the following test to `poll_spec.rb` fails:

[code]

[2016-09-13 01:02] jfly opened #884 "team.rb is ignoring team_members that have been marked for deletion"
See https://github.com/cubing/worldcubeassociation.org/blob/54194f897fad85bb5eac393cd4ae46e53f1a5650/WcaOnRails/app/models/team.rb#L10, where we look at all the `team_members` without first checking to see if they've been "marked for deletion".

This is similar to #883.

[2016-09-13 01:04] jfly opened #885 "registration.rb is ignoring registration_events that have been marked for deletion"
https://github.com/cubing/worldcubeassociation.org/blob/54194f897fad85bb5eac393cd4ae46e53f1a5650/WcaOnRails/app/models/registration.rb#L35-L37 doesn't check to see if a `registration_events` has been marked for deletion first.

This is similar to #883.

[2016-09-13 01:59] pingskills opened #886 "Drop eventSpecs column from Competitions table"
PR #759 is creating a new `competition_events` table to replace the `eventSpecs` column in the `Competitions` table. Once this PR has been implemented the `eventSpecs` column should be removed.

[2016-09-13 02:02] jfly commented on #883
@pedrosino, I've assigned this to you as this is code you're familiar with =)

[2016-09-13 13:37] pedrosino commented on #883
The first discussion link doesn't work anymore.

From what I remember, we validate this on confirming a poll. I just tried and it works as expected.
Except if you create two options, then update, then remove one of them and click confirm, without updating again. The validation will pass and the poll will be confirmed with only one option :P

@jonatanklosko found out that simply adding .reject(&:ma

[2016-09-13 19:38] #827 closed

[2016-09-13 20:04] jonatanklosko opened #889 "WCA ID claim related columns weirdness"
Some console results that are worth investigating
[code]
[code]

[2016-09-13 20:10] jfly commented on #875
The only reason searching for "Tunisia" even works right now is because our database has this `countryId` column that contains the English name of the country. See https://github.com/cubing/worldcubeassociation.org/blob/54194f897fad85bb5eac393cd4ae46e53f1a5650/WcaOnRails/app/models/competition.rb#L745.

Once we've gotten rid of our PHP code, we're going to start doing some serious database migrati

[2016-09-14 09:48] #95 closed

[2016-09-14 09:48] #741 closed

[2016-09-14 10:18] #758 closed

[2016-09-14 10:19] pingskills commented on #758
This is now fixed as part of PR #759.

[2016-09-14 11:10] pingskills opened #890 "Final results queries can use the new final column of the rounds table"
Here's an example from the competition model:

[code]

[2016-09-14 17:06] viroulep opened #891 "Test seeds executed in wrong order"
I ran into a weird error when running `rspec` locally:
[code]

For some reason the seeds for `preferred_formats` are executed before other required tables:

[code]
How deterministic is the order of the elements returned by `Dir[...]`?
Because it doesn't occur in travis :s

Hopefully sorting them alphabetically gives an acceptable order dependency-wise:
[code]

So I'll submit a PR with this fix, fe

[2016-09-14 17:14] viroulep commented on #871
This has actually been fixed by @pingskills in #759 ;)

[2016-09-14 17:14] #871 closed

[2016-09-14 17:33] larspetrus commented on #891
On Wed, Sep 14, 2016 at 10:06 AM, Philippe Virouleau <
notifications@github.com> wrote:

it out. Which can probably be anything.

--
Procrastinators - the Leaders of Tomorrow

[2016-09-14 18:01] jfly commented on #625
For the record, we just merged up code with foreign key constraints, and something broke (see #891).

[2016-09-14 20:34] #891 closed

[2016-09-14 21:28] viroulep opened #893 "Visual bug in profile's sections"
When an undefined section name is specified, the profile is all on one page, see the screenshot:
![undefined-tab](https://cloud.githubusercontent.com/assets/1007485/18530565/60664212-7ad2-11e6-8c8f-f173d685d1c2.png)

I think we want to display only "General" in this case, like when no section is provided.

[2016-09-14 21:43] jonatanklosko commented on #893
Actually in your case it's not undefined but equal to `"g"`.
We only ensure that it's `"general"` by default if nothing else is specified ([here](https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/app/controllers/users_controller.rb#L44)).
It could be easily fixed by:
[code]
But this requires us to remember that we need to add here every new section. Is it worth doing? Manua

[2016-09-15 00:21] #886 closed

[2016-09-15 02:50] #890 closed

[2016-09-15 02:57] jfly commented on #893
It is [this line of javascript](https://github.com/cubing/worldcubeassociation.org/blob/d8d9e728e8a570b21ec1836a670e79d832634387/WcaOnRails/app/views/users/edit.html.erb#L218) that hides everything except for the magical tab? It looks like we're allowing arbitrary user input to show up as javascript. This feels like an XSS vector...

[2016-09-15 03:35] jfly commented on #893
I just played around with this a bit, and fortunately, the call to `j` seems to be protecting us from someone trying to craft a malicious `section` parameter, but I still don't feel comfortable with this.

I support sanitizing the value of `params[:section]`. Fortunately, we won't have to worry about forgetting to do this, as it will be impossible to add a new section without updating the sanitiza

[2016-09-15 08:25] timhabermaas commented on #893
Depending on how involved the sections are you might also avoid duplication by extracting the common pieces:

[code]

<details>
  <summary>Speaking of ad-hoc sanitation/params parsing aka rambling</summary>
I've had similar problems in the past where Rails' strong parameters didn't cut it (especially no type coercion until the ActiveRecord layer was annoying). So I built a small library which can

[2016-09-15 21:34] viroulep opened #897 "Intermittent test failures in travis"
- [ ] https://travis-ci.org/thewca/worldcubeassociation.org/builds/160288985#L1574
- [ ] https://travis-ci.org/thewca/worldcubeassociation.org/builds/164150505#L1565
- [x] https://travis-ci.org/thewca/worldcubeassociation.org/builds/160665055#L1508 (see https://github.com/thewca/worldcubeassociation.org/pull/954#discussion_r83998224)
- [ ] https://travis-ci.org/thewca/worldcubeassociation.org/buil

[2016-09-16 02:37] #295 closed

[2016-09-16 09:42] timhabermaas opened #899 "RegistrationsController#edit_registrations is very slow"
Here are screenshots from NewRelic. The data is from the last 3h and there were at most 70rpm (avg 30rpm), so it's not like our server was being hammered at any time.

<img width="753" alt="screen shot 2016-09-16 at 11 34 46 am" src="https://cloud.githubusercontent.com/assets/96054/18581644/cee4d4d0-7c01-11e6-8d43-a12ae990b681.png">

<img width="745" alt="screen shot 2016-09-16 at 11 35 10 am" src

[2016-09-16 09:48] viroulep commented on #899
noobie question here: do we have any tool to do profiling locally?

[2016-09-16 10:05] timhabermaas commented on #899
AFAIK you can use NewRelic's [developer mode](https://docs.newrelic.com/docs/agents/ruby-agent/developer-mode/developer-mode) by visiting a page and afterwards going to `http://localhost:3000/newrelic`. It's usually enough to find the very slow bits. If it's not, there's always [`ruby-prof`](https://github.com/ruby-prof/ruby-prof#profiling-rails).

[2016-09-16 18:46] #883 closed

[2016-09-16 18:46] #884 closed

[2016-09-16 18:46] #885 closed

[2016-09-16 19:51] pedrosino commented on #751
I was fixing a birthdate today and realised it also fails for october 1991:
![october](https://cloud.githubusercontent.com/assets/1881933/18599251/c95eadca-7c2d-11e6-98b0-92e54ea9c415.png)

[2016-09-16 20:03] pedrosino commented on #751
For the record, I just created https://github.com/zpaulovics/datetimepicker-rails/issues/83

[2016-09-16 21:48] viroulep opened #900 "Dead code in users.js(?)"
When looking for string to localize in js files (#816), I noticed [this](https://github.com/cubing/worldcubeassociation.org/blob/9f1b0c44fefb7927860f8e88cf9a1023b05cba52/WcaOnRails/app/assets/javascripts/users.js#L52-L64) code block.
It was introduced by @jonatanklosko in #466, and the screenshot displays both strings defined in the code block ("Showing i of N rows blahblah").

However when visiti

[2016-09-16 22:16] jonatanklosko commented on #900
@viroulep good catch =) I've looked into this and found out that a CSS rule has been affecting the page accidentally. Then the fix was straightforward.

[2016-09-16 22:35] #900 closed

[2016-09-16 22:37] viroulep commented on #900
Thanks!

[2016-09-16 22:46] jonatanklosko commented on #889
That's interesting
[code]
In addition the selected users have been updated recently so it's not an old fixed bug living here. [There](https://github.com/cubing/worldcubeassociation.org/blob/master/WcaOnRails/spec/controllers/users_controller_spec.rb#L67-L81) are tests which should ensure everything works.

[2016-09-17 06:20] jfly commented on #889
Oh, so everyone who has a `unconfirmed_wca_id` with a NULL `delegate_id_to_handle_wca_id_claim` actually has empty string as their `unconfirmed_wca_id`?

@jonatanklosko why does the fact that these users have been updated recently mean that this is not an old fixed bug?

[This code](https://github.com/jfly/worldcubeassociation.org/blob/d8d9e728e8a570b21ec1836a670e79d832634387/WcaOnRails/app/models

[2016-09-17 07:43] #875 closed

[2016-09-17 07:59] viroulep commented on #584
I think I "fixed" this in #874, the `region`/`year`/`state` selectors actually also had a label separated from value, and I managed to translate these without touching the the current action code.

[2016-09-17 07:59] #584 closed

[2016-09-17 13:59] #862 closed

[2016-09-17 18:31] viroulep commented on #899
Woops, re-opening this because there may be room for improvements with Tim's solution :)

At least the performance are decent again now.

[2016-09-17 18:43] jfly commented on #897
Pedro ran into this worldcubeassociation.org

[2016-09-17 18:43] jfly commented on #897
Pedro ran into https://travis-ci.org/cubing/worldcubeassociation.org/builds/160665055

[2016-09-17 19:51] jonatanklosko commented on #889
It's either `nil` or an empty string
[code]

@jfly Hmm actually I'm not sure, what I thought is that assuming that all of the users didn't update their profiles then we could treat `updated_at` as the claim confirmation date and thus see that probably some `unconfirmed_wca_id`s have been reseted to `""` recently. It doesn't seem like some good info though, so ignore this.

I tried the claim-confir

[2016-09-18 15:49] viroulep commented on #897
In #905 too: https://travis-ci.org/cubing/worldcubeassociation.org/builds/160842880

[2016-09-19 12:37] pedrosino commented on #751
https://github.com/zpaulovics/datetimepicker-rails/issues/83#issuecomment-247979994
Seems like there is hope :D

[2016-09-19 17:01] viroulep commented on #899
Working on it right now (the general issue with the new models' `find` calls).

[2016-09-21 16:08] jfly commented on #893
That's a neat idea for a library, @timhabermaas. We've definitely suffered from that "no type coercion until the ActiveRecord layer" problem. For example, we have a lot of calls to [ActiveRecord::Type::Boolean.new.type_cast_from_database](https://github.com/cubing/worldcubeassociation.org/blob/d8d9e728e8a570b21ec1836a670e79d832634387/WcaOnRails/app/models/user.rb#L546).

[2016-09-23 20:15] jfly commented on #889
I just checked, and there *are* more occurrences of this since I last checked, which proves this is not just a problem we had at one point in the past.

We're up to 137 problematic users, whereas it was only 133 when @jonatanklosko created this issue: https://github.com/cubing/worldcubeassociation.org/issues/889#issue-176736042
[code]

I was able to find an occurence of us setting `unconfirmed_wca

[2016-09-23 20:20] jfly commented on #889
@jonatanklosko, could the above behavior occur if someone tries to approve the same WCA ID twice?

[2016-09-24 05:35] oyyq99999 opened #911 "Venue in the competition list not wrapping properly when it is long"
![image](https://cloud.githubusercontent.com/assets/3143564/18806295/1472d3d0-825b-11e6-8bf8-d84bd5cb5062.png)
It looks strange to have some words under the date.

[2016-09-24 05:48] jfly commented on #911
This is intentional. Feel free to send in a PR with a change if you have something better in mind, but I'm going to close this!

[2016-09-24 05:48] #911 closed

[2016-09-24 21:14] jonatanklosko commented on #889
That's really interesting that the first pice of log shows updating *only* `unconfirmed_wca_id` (without `wca_id` and `delegate_id_to_handle_wca_id_claim` involved). So far I dunno when this happens, maybe the second condition fails [here](https://github.com/cubing/worldcubeassociation.org/blob/d8d9e728e8a570b21ec1836a670e79d832634387/WcaOnRails/app/models/user.rb#L101). Will investigate further l

[2016-09-26 06:37] keemy commented on #714
https://github.com/cubing/icons/pull/22 adds some simple magics icons if you want to remove css override for them lol.

[2016-09-26 19:52] #889 closed

[2016-09-26 21:36] keemy commented on #714
https://github.com/cubing/icons/pull/23 finishes mbo and closes https://github.com/cubing/icons/issues/8 so should be able to remove the override now and all will work.

[2016-09-26 22:00] #714 closed

[2016-09-26 22:04] jfly commented on #714
This has been fixed and deployed. Check out https://www.worldcubeassociation.org/competitions/USOpen2008:

![image](https://cloud.githubusercontent.com/assets/277474/18853547/8ee5b9f2-83fa-11e6-8eb0-0e0d397b8b82.png)

[2016-09-27 22:16] jonatanklosko commented on #893
@jfly

Actually it's not true, you'd be able to add a new tab and access it. The only think that wouldn't work is the url, so if you'd refresh the page (with the new tab open) then you'd be 'redirected' to the general section.
Don't have better solution though.

[2016-09-28 09:53] lgarron opened #918 "Touch Icon"
We should have a touch icon for nice homescreen icons on iOS/Android when people "add to homescreen".

Should be as simple as having a touch-icon image (a single 128x128 image should be fine) and updating every header to include it:

    <link rel="apple-touch-icon" href="touch-icon.png"/>

[2016-09-28 16:59] #674 closed

[2016-09-30 19:37] jfly commented on #878
I fixed this in 951143cff0d84614ee7d61e8e9f22b21f3e33cb4.

[2016-09-30 19:37] #878 closed

[2016-09-30 20:32] #869 closed

[2016-09-30 20:56] #642 closed

[2016-10-01 01:08] jfly opened #922 "DeserializationError when trying to notify_registrant_of_deleted_registration and notify_organizers_of_deleted_registration"
Whoops! This happened as part of #642. I'm going to quickly fix this by converting the calls from `deliver_later` back to `deliver_now`, but the proper solution is to add a `deleted_by_user_id` field and not actually delete registrations. This will also allow us to fix #386.

[2016-10-01 20:58] jfly opened #925 "Warn user before removing an event that has people registered for it"
In #926, we added a `dependent: :destroy` that ensures that registrations get deleted when the corresponding event is removed.

[2016-10-04 20:03] jonatanklosko commented on #918
Duplicate of #109.

[2016-10-04 20:03] #918 closed

[2016-10-04 21:06] lgarron commented on #918
Heh. :-P

[2016-10-07 12:21] viroulep opened #928 "Check country names that change using i18n-country-translations"
We should check country names that don't match the one we use before, and restore the previous one if needed.
eg: "USA" changed to "United States" but that's fine, "Hong Kong" changed to "Hong Kong SAR China" which is not fine and we restored it.

See #927 for another change in name.

If anyone has an easy way in mind to do it, please say so before I start thinking about it :p

[2016-10-07 21:54] jfly commented on #47
Our delayed jobs stopped running sometime yesterday, and nobody noticed. It is important that we set up some sort of external monitoring that makes sure our jobs are still running.

[2016-10-08 20:05] #742 closed

[2016-10-10 21:56] jfly opened #929 "Merge people script should refuse to delete a WCA ID that is assigned to a user"
I'm pretty sure that right now, we just allow this to happen, which makes a user invalid. This would be a good ment1, complete with a test.

[2016-10-10 22:49] KitClement opened #930 "Mass Email should use BCC"
Just realized how much I use this feature on CUSA, and how much I'll miss it when it's gone.  Haven't used WCA for a comp yet, but Caleb seemed to indicate that this isn't a feature yet.

Being able to mass email out to all competitors is super useful for sending out pre-comp instructions, and I use it before every competition.  It would be great to just have a way to get all the emails in a text

[2016-10-11 02:32] jfly commented on #930
Unfortunately, staging is down right now, but this *is* something we support. We provide a link that lets you mass email all competitors using your own email client. I think this maxes out at ~500 emails though, so competitions like US Nationals might run into issues. We'll deal with that when it happens, though =)

[2016-10-11 06:41] MatteoColombo commented on #930
I'm not sure if I should open a new issue or if it's ok to write here.

Btw, I think a change is needed in the current mass email system:  at the moment when you click the email button, all the addresses are copied in the "To" form of the client (at least in gmail, both app and webclient).
It would be better to if they were copied in the BCC form as it is very easy to forget to move them and this

[2016-10-11 06:47] jfly commented on #930
@MatteoColombo, that's good to know! It should be easy to switch this to use bcc.

[2016-10-11 08:40] #930 closed

[2016-10-11 19:11] #929 closed

[2016-10-11 19:16] jfly opened #934 "Improve handling of STMP 501 Invalid RCPT TO address provided during signup"
See email [here](https://groups.google.com/d/msg/wca-admin/kXCH6Nrq6-g/rrhEn1c3CgAJ).

In short, we are seeing job failures related to people signing up for accounts with invalid email addresses:

`#<Net::SMTPSyntaxError: 501 Invalid RCPT TO address provided >`

We did not run into this in the past because we sent email synchronously (rather than in a background job). I'm going to experiment with

[2016-10-11 19:37] jfly commented on #934
As expected, attempting to send an email synchronously gives us a 500 HTTP code. Pretty scary, but at least it's clear that something didn't work:

# Filling out sign up form

![image](https://cloud.githubusercontent.com/assets/277474/19285536/2c8cd360-8faf-11e6-94ea-9314a8a1c7c9.png)

# After clicking "Sign up"

![image](https://cloud.githubusercontent.com/assets/277474/19285603/74356970-8faf-11e

[2016-10-11 23:31] pingskills opened #937 "Move competition events to its own page"
We will soon be collecting more information about competition events such as entry fees, and perhaps scheduling information. The first step of this process will be to remove the events from the main competition page and create a dedicated events page.

[2016-10-11 23:35] jfly commented on #937
Before you get started on this, take a look at my open PR #926. It involved added a database migration that slightly changed the way registering for an event is handled.

[2016-10-12 08:35] dahermansson commented on #937
What are the thoughts on scheduling information? https://www.worldcubeassociation.org/competitions/VinderupOpen2016#139-schedule for example are using some sort of tab for it but it looks just like normal text.
A specified schedule-format could make it possible to create .iCal-files to subscribe to for the competitions I register for and by that get the schedule in my smartphones calender.

[2016-10-12 23:52] KitClement opened #941 "Allowing competitors to edit registrations"
Currently, once a registration is approved, the competitor is unable to edit it.  This is very safe, as if the competitor paid for a certain event list and then were able to change this after it were approved, organizers would have a difficult time keeping track of who paid and who didn't.  It would be nice to have some kind of flow for competitors to be able to edit registrations, and then be sen

[2016-10-14 22:36] jfly commented on #937
@dahermansson, could you continue the discussion of scheduling over on #278?

[2016-10-15 07:43] #47 closed

[2016-10-15 17:56] jfly opened #943 "notify_delegate_of_wca_id_claim assumes that delegate_to_handle_wca_id_claim exists"
This assumption was true in a world where we synchronously sent emails, but now that we do them in a background job, there's a window of time where the delegate could approve a WCA ID request (thereby clearing `delegate_to_handle_wca_id_claim`) before we actually send the job (this has happened to us a few times because our background jobs have stuff running, and then when we get them running agai

[2016-10-15 18:13] larspetrus commented on #943
The "computer science" solution would be waiting to clear the `delegate_to_handle_wca_id_claim` until both the email has been sent and the delegate has approved it.

But, yeah, there is no need to tell the delegate about this claim if he has already approved it.

[2016-10-15 19:20] jfly commented on #641
This was done in https://github.com/thewca/worldcubeassociation.org/commit/2597e73e4cb5cfbeb725aae6923bffe237d2d47f. I am open to adding https://github.com/ejschmitt/delayed_job_web later if we want it.

[2016-10-15 19:20] #641 closed

[2016-10-15 20:40] jfly commented on #165
Out of curiosity, I just ran our database validation script on production, and it took almost one full hour:

[code]

[2016-10-17 17:21] jfly opened #945 "rebuild_regs doesn't rebuild when thewca:regulations-data changes"
I just merged up #938 and #939 and ran `rebuild_regs` on production, and https://www.worldcubeassociation.org/regulations/scrambles/tnoodle/TNoodle-WCA-0.11.3.jar was 404-ing, despite `TNoodle-WCA-0.11.3.jar` being present in thewca:regulations-data (because I merged #938).

Here's the output of `rebuild_regs`:

<details>

[code]

</details>

As you can see, the problem is that this script is only

[2016-10-17 20:48] jfly opened #946 "Extensions to the WCA Competition Interchange Format (WCIF)"
(I've been discussing this in private with a number of people, including the software team for the last few weeks, but I want a public issue to keep track of this)

@coder13 and I wrote up a [vision](https://docs.google.com/document/d/1jiGjmBoG_-5uZOF3RicMKZmZEI7rcPaQ6ax5z785vVs/) for the future of the [WCA Competition Interchange Format](https://github.com/thewca/worldcubeassociation.org/wiki/WCA

[2016-10-17 21:49] #377 closed

[2016-10-18 07:12] jfly opened #948 "restart_app in deploy.sh doesn't work by itself"
I was following the directions on https://github.com/thewca/worldcubeassociation.org/wiki/Merging-and-deploying, and ran into this issue after running a migration. See:

[code]

The problem is that `restart_app` relies upon being in the correct directory as set by `rebuild_rails`. This should be an easy fix, I'll send in a PR soon.

[2016-10-18 07:18] #948 closed

[2016-10-18 07:52] jfly opened #951 "Validation error while trying to seed"
I just received the following error while trying to seed my development database:

[code]

The problem is looks like it's on the following lines of [competitions.seeds.rb](https://github.com/thewca/worldcubeassociation.org/blob/c9344d443d520a86615a26f47b845bdddeaadc58/WcaOnRails/db/seeds/development/competitions.seeds.rb#L165-L166):

[code]

From code inspection, I cannot tell what went wrong here

[2016-10-18 08:22] #951 closed

[2016-10-18 09:07] pingskills opened #953 "Cannot add events to a competition"
It looks like the request parameter for competition_events_attributes has an `id` rather than an `event_id`

Request parameter:

Here's the request parameters: {"utf8"=>"✓", "authenticity_token"=>"fT+OVn68oB2vhJguGcNeh1joSCqI/dyBqeVXlr3SmwhFdh9/kXQoXhXDBm6zhTqe9u9Sjko20+E4Salej4e60w==", "competition"=>{"name"=>"Fred 2016", "countryId"=>"", "cityName"=>"", "venue"=>"", "venueDetails"=>"", "venueAdd

[2016-10-18 16:30] #953 closed

[2016-10-18 19:57] jfly commented on #165
Now that #944 has merged up, I tried running our database validations again:

[code]

(Note that most of the time saved is probably because we're writing to a file instead of the screen)

We have 12433 invalid rows in our database:

[code]

[2016-10-18 20:29] larspetrus opened #956 "Speed up Persons search"
The persons search page (https://www.worldcubeassociation.org/persons) looks like the biggest performance drain in the system (in New Relic). Response times can go up to 15 seconds, and they probably have a knock-on effect on other queries as well.

We haven't profiled the code, but the likely culprit is the `rails_persons.name LIKE :part OR wca_id LIKE :part", part: "%#{part}%"` query. The only w

[2016-10-18 20:38] KitClement opened #957 "Psych sheet bug"
Just a small bug I noticed on the Skillcon 2016 psych sheet:

https://www.worldcubeassociation.org/competitions/Skillcon2016/registrations/psych-sheet/333

Tristan Doan is listed twice for all events that he is registered for.

[2016-10-18 20:49] jonatanklosko commented on #957
First step of the investigation:
[code]

[2016-10-19 05:31] jfly commented on #941
This is a lovely mock up, thanks Kit! I like the flow you've described.

@pingskills is our only guy currently working on registration stuff, and he's focusing on payments right now.

[2016-10-19 18:29] #957 closed

[2016-10-20 19:12] SAuroux commented on #96
I was just asked by someone why we have these events in the database which were never official and remembered this issue.

TLDR: These events are still in the database!

[2016-10-20 20:59] jfly commented on #96
Ahh, I see. I removed these from the virtual models we used to have, but we've gone back to our (messy) database for this.

[2016-10-20 23:21] pingskills opened #960 "Update wording of WCA registration emails"
Some suggested changes:

You will be emailed when your registration is approved. **Please note that approving registrations are not automatic, to learn about the possible criterias, please visit the competition website or contact the organizers.** You can also check the status of your registration here.

- You did not submit all the required details
- You asked for withdrawal
- You registered twic

[2016-10-21 06:26] coder13 opened #962 "Competition tabs don't switch when going back between them"
At least on chrome on linux.

I was looking at a bunch of tabs for a competition and then when I was going back in my history, the tabs weren't loading.

[2016-10-21 06:44] jfly commented on #962
Nice catch! We'll probably need to add a listener to the [hashchange](https://developer.mozilla.org/en-US/docs/Web/Events/hashchange) event to fix this.

[2016-10-21 09:46] #960 closed

[2016-10-21 16:57] jfly opened #963 "`person_with_multiple_sub_ids` factory doesn't always work"
`person_with_multiple_sub_ids` attempts to change someone's citizenship to Israel. However, if the persons citizenship was already Israel, nothing happens. I believe this is what caused https://travis-ci.org/thewca/worldcubeassociation.org/builds/168825737#L1586-L1596 to fail.

[2016-10-21 19:27] Mollerz commented on #941
As an aside to this, allow people to delete their own registrations once confirmed. It's quite a pain to have to go through and find the people who want their registration removed, when it would make sense they could do it themselves.

[2016-10-21 21:58] #937 closed

[2016-10-21 23:51] #963 closed

[2016-10-24 20:07] jfly opened #967 "Run delayed job daemon under a process manager"
We now know that delayed_job periodically dies. Thanks to #942, we get emails when it looks like our background jobs are not being processed.
#966 should help us track down the reason(s) why delayed job dies, but I think we should be running delayed_job under a process manager that will start it back up whenever it does die.

Some options:
1. while true; do delayed_job; done
2. http://supervisord.

[2016-10-24 20:36] larspetrus commented on #967
Another option is to move on to Resque. That's what we did at NeedFeed.

The downside is the added complexity of a Redis server.

[2016-10-26 15:27] FatBoyXPC commented on #967
I feel like at least taking a look at this by the weekend. If anybody else feels the desire to get to it before then, by all means, but I figure I'll assign it to myself just so we don't double up on work :)

[2016-10-26 22:05] #962 closed

[2016-10-27 00:36] jfly opened #977 "Port check_results.php to Rails"
There's a `<pre>` that's empty when there are no errors: https://github.com/cubing/worldcubeassociation.org/blob/master/webroot/results/admin/check_results.php#L111-L121.

[2016-10-28 02:24] jfly opened #979 "Store whether a round is combined or not in the database"
Right now we just have a list of all combined round ids: https://github.com/jfly/worldcubeassociation.org/blob/54ebe32683e3959f9b184745f49aabf33f78bdd4/WcaOnRails/app/models/round.rb#L10-L13.

[2016-10-28 02:42] jfly opened #980 "Contact form enhancements"
(requested by Ron, but I think this is a good improvement)

Most of the messages that are sent via the contact form are related to a competition.
Would it be possible to add a selection to the contact form?

Something like:

Topic:
Competition (default)
WCA Regulations
Member administration
Results administration
WCA Website
Other

If Competition is selected:
list of competitions
Then redirect to

[2016-10-28 17:22] #275 closed

[2016-10-28 17:22] #403 closed

[2016-10-31 07:13] jfly opened #983 "Remove vestigial pkill from deploy.sh"
As we transition our servers to supervisord, deploy.sh needs to know how to kill the old, non-supervisord workers. See https://github.com/thewca/worldcubeassociation.org/pull/982/files#diff-93518fda10b0403d3c5c20b4df4740a6R106.

Once we've deployed to all our servers, we can remove this old logic.

[2016-10-31 12:54] pedrosino opened #984 "Don't allow organizers to see nearby competitions"
Jacob Ambrose:

Ilkyoo:

I think it would be better if organizers are not able to see the competition distances.
It’s not top priority, but if it’s a simple fix, then I would like to see it done.

Luis:

[2016-10-31 23:14] FatBoyXPC opened #985 "Software Team SSH Keys"
Have a script that looks at the GitHub team and grabs their public keys stored on each user's GitHub account. @jfly, @coder13, and I all set this up for CubingUSA. I hear that @viroulep would be interested in this happening as well.

There is already some discussion on this exact topic:
https://groups.google.com/d/msg/wca-admin/NNVWHemiyTs/t4AmoHAPCQAJ

[2016-10-31 23:16] jfly commented on #985
Here's a link to the CubingUSA code that handles this when bootstraping a new server: https://github.com/cubing/usa/blob/59c6c1f66df2f3579765c1ee7130ed88844d1d16/bootstrap/bootstrap.sh#L37-L51. Since the repo is private, here's a copy paste of the code as well:

[code]

[2016-10-31 23:19] pedrosino commented on #984
Here's what I'm thinking:

Board/delegate/admin would see this
![nearby](https://cloud.githubusercontent.com/assets/1881933/19874734/8577f0f4-9fae-11e6-87f3-9718db727923.png)

Organizer would not see the unconfirmed competition
![nearbyorg](https://cloud.githubusercontent.com/assets/1881933/19874812/0a719c1a-9faf-11e6-8071-17a119979980.png)

[2016-10-31 23:20] #967 closed

[2016-10-31 23:57] jfly commented on #985
Big unanswered question for me: what happens when a software team member changes their SSH keys on github? We need to regenerate our `~/.ssh/authorized_keys` file.

[2016-10-31 23:59] jfly opened #988 "Automatically add/remove software team members to/from the corresponding Github team"
(Tangentially related to #985.)

[2016-11-01 00:00] jfly opened #989 "Passwordless SSH"
After #2053, we can turn off password login for ssh, and only allow login via ssh keys.

[2016-11-01 03:37] #983 closed

[2016-11-01 04:16] FatBoyXPC commented on #989
Since there is a concern of clobbering `authorized_keys` in a bad way, there needs to be some discussion on how to handle this. One way that @jfly and I came to pretty good terms with is to run the script produced by #985 whenever a software team member is added per #988.

[2016-11-01 18:29] viroulep opened #991 "Notify competitors that they should claim their WCA ID"
I just realized we don't have an automatic mail to remind competitors to claim their id: it could be useful so that they have it ready for their next competition (it saves time when validating the results spreadsheet).

Obviously we cannot know for sure which id belongs to who, however what we could do is, after the competition's results have just been posted, check all the registered competitors

[2016-11-01 18:33] viroulep commented on #985
I obviously support this :)
My first reaction when @jonatanklosko gave me the link to the doc was "wait, we use a *password* to log in?!" :p

Changes in ssh keys happen quite rarely, what about adding a target to the deploy script that would regenerate the `authorized_keys` file, and ask team members to execute it whenever a change occurs?

[2016-11-01 18:39] jfly commented on #985
My only concern with that is that we have to still have access to the server in order to do that. It's hard for me to get over my fear that "if I lose my laptop, I can no longer access the server, even after generating a new public key and putting it on github". That said, last night, @FatBoyXPC mentioned that with our awesome team of people, I should be able to ask someone else to run the deploy

[2016-11-01 18:43] jfly commented on #991
Ah, neat idea! I was so focused on doing the complete awesome thing (#21), that I didn't think about a simpler interim solution like this.

[2016-11-01 18:47] FatBoyXPC commented on #985
Not only with our awesome team of people, but we have a couple ideas in place to let us generate the script without being in the server. See #989 for those options!

[2016-11-01 19:29] jfly commented on #852
Unfortunately, it looks like https://github.com/wenzhixin/bootstrap-table has been dead since August. @jonatanklosko, how much work would it be for us to implement our own workaround for this?

[2016-11-01 22:49] jonatanklosko commented on #852
@jfly I've switched to use our custom text box. See the PR and let me know whether this makes sense or is an overkill.

[2016-11-02 14:46] BiscuitCubed commented on #941
We'd have to decide what to do with payments once they're added for deleting registrations. Some people would have a once paid, it's paid stance, while some people may want refund part or all of the fee.

[2016-11-02 19:58] #852 closed

[2016-11-03 19:49] coder13 commented on #980
To break it down:

If Competition is selected, create a search box and you type in the competition name. Internally, this will determine who the organizers are an email them

Regulations: email the WRC?
Same for Results and... What's Member Administration?

And for website, email the software team.

Other: you type in...what will other email?

[2016-11-04 07:20] jfly commented on #980
As Ron requested, Regulations should email the WRC, and Other should email contact@.

Im not sure what member administration is... I'd leave it out for now. Just write things in a way that makes it easy to add new stuff in the future :)

[2016-11-04 08:05] jfly opened #994 "Provide a public database dump for developers"
Note: this database dump would *not* be guaranteed to always have the same schema, it would only be useful for developers who want some more realistic data than what our seeds provide. This would also be very useful for our staging server.

I see this as a weekly cron job that the production server runs. We would want to write the script so that when new tables/columns with private data are added,

[2016-11-04 08:15] #733 closed

[2016-11-04 08:36] pingskills opened #995 "Add the ISO Code along with the description for the list of currencies"
There are 4 Zimbabwean dollars and we need to be able to distinguish between them.

[2016-11-04 08:38] jfly commented on #995
![](https://lh3.googleusercontent.com/-Tuc06jaNKTg/WBxHLr8dKoI/AAAAAAAAcRA/7w1ugWhPPnMhJIcflB07dnKAmZRAn0JVQCL0B/h116/2016-11-04.png)

Sad, but true: https://en.wikipedia.org/wiki/Banknotes_of_Zimbabwe

[2016-11-04 09:59] SAuroux commented on #980
I think member administration concerns name changes or DOB changes (the
latter in case that ID claiming doesn't work).

2016-11-04 8:20 GMT+01:00 Jeremy Fleischman <notifications@github.com>:

[2016-11-05 06:43] jfly opened #996 "Stateless/Apolide/Apatride: not everyone has a citizenship!"
So, this is actually a thing: https://en.wikipedia.org/wiki/Statelessness. The WCA Software Team just received an email from someone who identifies as stateless, so I've created this issue to discuss how to handle such people. Some questions I can think of:

1. How do we verify that someone is stateless?
2. How do we want to store statelessness? I don't believe NULL country is the right direction

[2016-11-05 09:41] SAuroux commented on #996
Hey Jeremy,

I basically see two approaches here:

1. Neglect stateless people and ask them to register with the country they
are living in as citizenship.
2. Add a "Stateless" country. In this case, such a person should now have
and national/continental rankings, only world ranking on their profiles. In
particular, there should not be national records for "Stateless".

2016-11-05 7:43 GMT+01:00 J

[2016-11-05 13:00] viroulep commented on #483
Another possible fancy improvement: if the organizers have WCA IDs, make their name link to their WCA profile.

[2016-11-05 17:55] pedrosino opened #997 "Subject and title are redundant on Website Comments"
See 2nd message:
![comments](https://cloud.githubusercontent.com/assets/1881933/20032692/490781a8-a377-11e6-9949-c4575f92c87a.png)

Maybe not every mail client does this, but it also looks kinda redundant after you open the message:
![comm](https://cloud.githubusercontent.com/assets/1881933/20032378/0128d500-a370-11e6-9598-f511dae25f5e.png)

[2016-11-05 18:15] jfly commented on #997
Sure, I support removing the first line of the body of the email. @pedrosino, I'm going to assign this one to you =)

[2016-11-05 19:29] pedrosino commented on #997
Any hints on where this is stored?
I could only find "Website Comments" at contacts_controller, but that doesn't seem to include the message body.

[2016-11-05 19:31] larspetrus commented on #996
On Fri, Nov 4, 2016 at 11:43 PM, Jeremy Fleischman <notifications@github.com

The general problem seems unsolvable. That's true for establishing regular
citizenship too, but far less so.

His email sounded like he is renouncing his existing citizenship. If so, a
copy of whatever paperwork makes that happen would be reasonable proof.

In order to not encourage people to claim statelessness for fun/

[2016-11-05 20:31] viroulep commented on #997
`Contact` is actually a `MailForm` from the [mail_form](https://github.com/plataformatec/mail_form) gem, apparently we use their default template which is [there](https://github.com/plataformatec/mail_form/blob/5c446d5c148a302971c677800b31e46c77272dc8/lib/mail_form/views/mail_form/contact.erb).

Their [doc](https://github.com/plataformatec/mail_form#custom-e-mail-template) says we can create a cus

[2016-11-05 23:22] pedrosino commented on #997
Thanks, @viroulep

[2016-11-06 13:24] #997 closed

[2016-11-07 18:00] jfly opened #1000 "First software team meeting: who is going to Worlds 2017?"
Assign this issue to yourself if you're planning/hoping to go to Worlds 2017 and would like to do a software team dinner. Non software team members are welcome to join, maybe we can even do some recruiting =)

[2016-11-07 18:31] pedrosino commented on #1000
We already have this. It's called registration_open
LOL

[2016-11-07 18:36] jfly commented on #1000
Wow I suck. What a waste of issue 1k. Gonna resurrect this as something else.

[2016-11-10 21:20] ronaldmansveld commented on #1000
I can't self-assign tickets, as only admins and other people with write-access to the repo can, but I'll be at worlds, and happy to be recruited ;)

[2016-11-10 22:42] coder13 opened #1003 "No way to search people without accounts"
There's /search/users but no way to search for people in general. This is probably obviously because there's little extra information non-users have but for a site that might just want to autocomplete anyone with a wca id, this is needed.

[2016-11-10 22:44] jfly commented on #1003
Our omni search https://www.worldcubeassociation.org/search and our persons search https://www.worldcubeassociation.org/persons both do this, don't they? Or are you looking for an API for this?

Closing for now, but feel free to reopen if I'm missing something.

[2016-11-10 22:44] #1003 closed

[2016-11-10 22:45] coder13 commented on #1003
Sorry yes, api

[2016-11-10 22:48] jfly commented on #1003
Confusingly enough, `/search/users`, *does* actually search our People table.

Here's the call stack for you:

https://github.com/thewca/worldcubeassociation.org/blob/26ed63b19a2ce8efffab598fbffd6051ac41a800/WcaOnRails/config/routes.rb#L128
https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/controllers/api/v0/api_controller.rb#L76-L78
https://github.com/thewca/worldcubea

[2016-11-13 18:40] jonatanklosko opened #1004 "Modify statistics to handle most sub-5 solves"
I feel like it's the time to extend [this](https://www.worldcubeassociation.org/results/statistics.php#subx_3x3_solves) =)

[2016-11-14 20:36] jfly opened #1005 "Transaction/audit log for all changes to a registration"
This is a fancier version of #386. I think we should keep track of every single change that happens to a registration, and who made the change. I imagine a UI like GitHub's (except for all changes that can happen to a registration, including deletion)

![image](https://cloud.githubusercontent.com/assets/277474/20281805/cba6279a-aa66-11e6-956d-32b5dbd81bb2.png)

I think we should actually implement

[2016-11-14 20:36] jfly commented on #386
Closing in favor of #1005.

[2016-11-14 20:36] #386 closed

[2016-11-15 02:56] coder13 opened #1006 "Api endpoint to reference the latest db dump"
/api/v0/dump or something.

[2016-11-15 03:00] jfly commented on #1006
Closing this in favor of #60 =)

[2016-11-15 03:00] #1006 closed

[2016-11-15 08:29] jfly opened #1007 "Additional fields for delegates"
Ilkyoo asked for these additional fields so the WCA Board can stop maintaining a separate google doc of all the delegates.

- [ ] City, State (just a text field, nothing fancy)
- [ ] Phone number (just a text field, nothing fancy)
- [ ] Notes textarea (possibly used for other email, dates of nomination/demotion, WCA Forum username)

These fields should not even show up for non delegates. Delegates

[2016-11-16 09:54] Luis-J-Ianez opened #1010 "Can we have a more descriptive error message when WCA ID claiming faces DOB mismatch?"
It presently says "incorrect".  I propose "The provided date of birth doesn't match our database. If you're sure you're providing the correct date in the correct format (YYYY-MM-DD) please email the WCA Results Team (link) reporting this error and sending a picture of any legal document (identity card, driver license,...) where your name and date of birth are visible."

[2016-11-16 16:50] jfly opened #1011 "WcaOnRails/app/views/shared/_error_messages.html.erb does not handle HTML error messages"
I discovered this while working on #1010. See:

![screenshot_2016-11-16-08-30-27 323](https://cloud.githubusercontent.com/assets/277474/20356276/e3dbfa1a-abd8-11e6-9f25-39035cb33b20.png)

The problem is that we use [`full_messages` in our `_error_messages` partial](https://github.com/thewca/worldcubeassociation.org/blob/26ed63b19a2ce8efffab598fbffd6051ac41a800/WcaOnRails/app/views/shared/_error_me

[2016-11-16 18:46] viroulep opened #1012 "WCA ID not displayed when claimed after registration"
Please see [here](https://www.worldcubeassociation.org/competitions/UgineJeuetJouet2016/registrations), the WCA ID of Thomas Duplessis doesn't show up, even though he did claim it a few days ago.
Interestingly, it shows up correctly from the admin registrations view.

FTR here are both check before displaying the id, no idea why `.present?` is false though:
In `edit_registrations.html.erb`
[code]

[2016-11-16 18:51] jfly commented on #1012
We should definitely clear up that inconsistency between using `present?` and not using `present?`, but I suspect the issue is actually related to caching. Note that we cache the index page here: https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/registrations/index.html.erb#L4. I fear that when a user is edited, their corresponding registrations don't update, so o

[2016-11-16 19:01] BiscuitCubed commented on #1007
Just so I know what's going on, is there a key to the labels? Most of them are pretty self explanatory, but a couple aren't (Like ment1)

[2016-11-16 22:22] jfly commented on #1007
@BiscuitCubed, ment1 and ment2 projects are reserved for onboarding people new to the codebase. Please see https://github.com/thewca/worldcubeassociation.org/wiki/How-to-join-the-WCA-Software-Team for a rough outline of how I picture them being used.

[2016-11-16 22:25] BiscuitCubed commented on #1007
Okay! Thanks!

[2016-11-17 01:01] jfly opened #1016 "undefined method `empty?' for nil:NilClass when editing a competition with validation errors"
See:

![image](https://cloud.githubusercontent.com/assets/277474/20372111/e8c379d2-ac1d-11e6-958e-c8506e2e8066.png)

@pedrosino, I believe this is due to the fact that [the validation error codepath](https://github.com/thewca/worldcubeassociation.org/blob/a8b10d4dbda23da6b70dac93a4bd9fa9830089da/WcaOnRails/app/controllers/competitions_controller.rb#L343-L351) causes us to render `edit` without fir

[2016-11-18 06:07] larspetrus commented on #1012
If `.wca_id` is an empty or whitespace string, `wca_id.present?` would be different from  `wca_id`.

The way to invalidate the cache when the user changes is something like this:

`cache ["registrations_index", @competition.events, @registrations.pluck(:id), @registrations.maximum(:updated_at), common.user.updated_at]`

Yeah, cache invalidation is a pain, especially to maintain as you change the p

[2016-11-18 22:14] #60 closed

[2016-11-19 00:22] pingskills opened #1020 "Allow Competition Organizers To Enter Entry Fees in Dollars"
A user creating a competition needs to enter the entry fee in the lowest denomination, so for USD is is cents, for Japenese Yen, it is Yen.

In most currencies it is more natural to use dollars and so the UI would be more intuitive if it was modified. https://github.com/plentz/jquery-maskmoney might be useful for this.

[2016-11-20 08:18] jfly commented on #1012
What is `common` here? Also, is there a reason you closed this issue? I've reopened it, please reclose it if I'm missing stuff.

[2016-11-20 16:14] larspetrus commented on #1012
`common.user` is how the user is accessed in `WcaOnRails/app/views/registrations/index.html.erb`. I don't know what it is, just reading the code.

I must have hit the wrong button by mistake.

[2016-11-21 20:54] viroulep commented on #1012
I'm not sure how to reproduce it locally...
I quickly tried something simple as removing a WCA ID, registering this person to a comp, then claim/edit back the ID and the registrations view updated immediately.

Is there a chance the aforementioned cache would be disable locally?

[2016-11-21 21:12] viroulep commented on #595
I changed my mind, I know like the idea of having the locale as a session variable.

I'd like to push this forward and start thinking about what would be needed to implement this part of i18n.
Here is some basic stuff we would need:
- a `locale` session variable (?, if we go the "session" way)
- some kind of `preferred_locale` in the `User` model
- some kind of `get_locale_for_user` that would pic

[2016-11-22 01:57] jfly commented on #595
I think it looks great, although I would add a textual description of the locale next to the flag.

I look forward to us having so many languages that we have to reevaluate the design =)

[2016-11-22 02:26] jfly commented on #1012
I believe so. See https://github.com/thewca/worldcubeassociation.org/blob/07d766cf3132169dde69d3cdbc8f1a2527ed25d5/WcaOnRails/config/environments/production.rb#L60 where it is enabled for production.

[2016-11-23 10:08] #1012 closed

[2016-11-23 17:03] viroulep commented on #1016
@pedrosino's fix is merged and there on production, yet when I tried to create a dummy competition for new year's eve I forgot to set some name and ran into this (from production log):

[code]

It's easy to reproduce as to just have to clone an existing competition, set any valid date and click create :)
It seems that even with a date and a location the `@nearby_competitions` is `nil` when the com

[2016-11-23 18:15] pedrosino commented on #1016
Just as before (with update action), this seems to be at the create action. Before rendering new (in case of fail), we must set the @nearby_competitions object at https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/controllers/competitions_controller.rb#L133

[2016-11-24 12:45] #1016 closed

[2016-11-24 22:54] #991 closed

[2016-11-24 22:58] viroulep commented on #991
Awesome, thanks @jonatanklosko!

[2016-11-25 18:04] #1010 closed

[2016-11-26 18:46] #96 closed

[2016-12-01 20:33] jfly opened #1028 "Allow registering for unofficial events or additional data entry columns"
[A request from Ron](https://groups.google.com/d/msg/wca-admin/ZvNYzuxvFpQ/_7AyenoQBwAJ):

I believe that 1) and 2) can be merged.

[2016-12-01 23:50] jonatanklosko commented on #928
If I understand this we need to compare countries from [here](https://github.com/onomojo/i18n-country-translations/blob/master/rails/locale/iso_639-1/en.yml) with these from [here](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/db/seeds/countries.seeds.rb).

I've made a [script](https://gist.github.com/anonymous/b2cfb1e837412509b0105a1cbba94f15) doing this =)
Here's the

[2016-12-03 00:24] pingskills opened #1031 "Registrations Should Have a Status"
The current design of the `registrations` table has `accepted_at`, `accepted_by`, `deleted_at` and `deleted_by` columns which allow for tracking the last changes to a registration. The problem is that the table can appear to be accepted and deleted, which actually means the registration is deleted.

It would be clearer to have a status field.

[2016-12-03 00:27] jfly commented on #1031
Switching to a status field would require us to track changed to that status somehow (presumably through a separate `registration_status_history` table or some such). One benefit of this would be that we'd be able to fully track the history of a registration (right now, when a registration is "ressurected", we lose its past history).

[2016-12-03 02:46] larspetrus commented on #1031
I think all you need can be done in code:

1. To get the state of a `Registration` object, have a status function on the object that computes it.
2. To query  for certain states, have predefined scopes/functions that does it right.

A new column with redundant information creates a new class of bugs: When the columns contradict each other.

[2016-12-03 05:26] jfly commented on #1031
Just to be clear about the current state of things, we have 3 states a Registration can be in:

- `pending` (aka: on the waiting list)
- `accepted`
- `deleted`

There are 4 database columns that drive these states:

- `accepted_at`
- `accepted_by`
- `deleted_at`
- `deleted_by`

Here's what can happen when I (Jeremy) register for a competition organized by Lars:

1. Jeremy registers. A Registration

[2016-12-03 05:41] larspetrus commented on #1031
Aha. I missed the implied "instead". Sorry...

This makes sense.

So the new table could have these columns:

`registration_id`
`action`: `accepted`,`deleted`, `created`, etc
`action_at`: timestamp
`action_by`: user_id

Whether to remove the existing `created_at` and `updated_at` columns is debatable. I assume `accepted_at` would go, and ideally be migrated to the new schema.

[2016-12-03 08:21] FatBoyXPC commented on #1031
I'd be in favor of keeping created_at, and updated_at as well if the registration can get updated in a way other than updating the status.

[2016-12-04 21:47] viroulep commented on #928
Thanks @jonatanklosko, that's exactly what we needed!

Apart from those we fixed, nothing seems too fancy except the Congo/DR Congo that are now named with their capitals. According to Wikipedia it sounds fine though.

I'm closing this because I think no further Country names overriding is needed, feel free to re-open it if you think otherwise!

[2016-12-04 21:47] #928 closed

[2016-12-05 21:00] jfly opened #1032 "Add the poll close date to the /polls page"
This was requested by James Molloy:

I don't think the creation date is that interesting, more interesting is the date the poll was opened for voting... and of course, [there is only a `confirmed` boolean, not a `confirmed_at` datetime](https://github.com/thewca/worldcubeassociation.org/blob/756402ded19b398f3c6cee2dafa915db1e8a1483/WcaOnRails/db/structure.sql#L676).

I think just adding the poll c

[2016-12-05 21:17] pedrosino commented on #1032
Adding a confirmed_at field wouldn't be too hard, but maybe not too useful.

[2016-12-05 21:19] jfly commented on #1032
On further thought, I think it would be good for us to know how long polls were opened, so I support a `confirmed_at` field as well.

[2016-12-06 22:09] #1005 closed

[2016-12-07 00:48] jfly opened #1035 "Add a delegate_id parameter to competition search"
(See #1034 and #956)

The `/competitions` page can generate some pretty expensive queries when searching.

The `contains?` method calls `delegates.pluck(:name)`, which causes a query per competition to fetch just the names of the delegates. It might be faster if this were done as a map with a call to `includes(:delegates)` before. However, I think it would be even better to remove the delegates fr

[2016-12-07 06:09] jfly opened #1036 "Allow organizers to edit profiles of registrants"
If someone without a wca id is registered for an upcoming competition that you are an organizer of, then you should be able to edit their profile.

Delegates already have the power to edit everyone's profile, so nothing needs to change for them.

[2016-12-07 10:31] pedrosino opened #1037 "Check if banned members competed when they could not"
We do have a list of banned people (and how long the ban lasts, of course), but we don't have a way to check this on the posting results process.

[2016-12-07 21:59] jfly opened #1040 "Validate birthdate when assigning user a WCA ID"
Recently, a delegate incorrectly assigned a WCA ID to a user. Checking that the user's DOB matches the person's DOB before assigning the WCA ID would have prevented this.

This would need to refuse to do anything if we don't have a birthdate recorded for the user.

[2016-12-08 19:15] jfly commented on #1037
idea, but might work... @pedrosino, do you think we could use the teams infrastructure to maintain a list of banned members? Team members have start and end dates. That would be almost 0 work to implement, it would just require every banned member to have a WCA website account.

[2016-12-09 11:03] #1032 closed

[2016-12-09 12:08] pedrosino commented on #1037
I'm just worried about the only requirement. Even though we have more than 35k users, only 13545 (~37.8%) have an assigned WCA id, and almost 6k (~16.5%) are not even confirmed accounts.
It would be very easy to implement, but probably not have the desired reach.

[2016-12-09 17:46] jfly commented on #1037
Yeah, we'd have to create accounts for them ourselves if they don't already have one. This is a bit of manual work, but I don't think it's a problem.

As more and more completions use the wca website for registration, this becomes less of an issue, as well.

[2016-12-09 18:34] pedrosino commented on #1037
You mean like the dummy accounts we have now for people with an avatar? I guess that could work.

[2016-12-09 19:12] jfly commented on #1037
Yeah, something like that.

[2016-12-10 22:20] jfly opened #1043 "Rails's transliterate and parameterize don't handle ș (LATIN SMALL LETTER S WITH COMMA BELOW) well"
See:

[code]

Related: #238 and https://github.com/jfly/translighterate/. I (jfly) will look into this.

[2016-12-11 19:20] jbcm627 opened #1044 "Competition pages sidebar menu tweaks: improve menu item highlighting, positioning"
Maybe a separate "information" menu item is needed?

Eg, when viewing a schedule, having "results" highlighted off to the side doesn't make much sense:
![snip1](https://cloud.githubusercontent.com/assets/964048/21082577/21b399f6-bfac-11e6-87ff-245d0fe02adb.png)

The positioning of the sidebar also makes more sense to me to have below the competition title. Having it below implicitly suggests that

[2016-12-11 19:21] jbcm627 opened #1045 "Add a jump-to menu on the delegates page"
Scrolling through this can take a little while. Having some sort of nav at the top could help, with links to jump to specific regions (eg, "USA West" jumps to an anchor by Chris Krueger's profile). (Additional benefit: helps people link to specific parts of that page.)

[2016-12-11 19:34] jfly commented on #1045
We did something similar on [/faq](https://www.worldcubeassociation.org/faq). Relevant code [here](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/static_pages/faq.html.erb).

[2016-12-12 10:31] #945 closed

[2016-12-12 16:06] #1007 closed

[2016-12-12 19:20] jfly opened #1046 "Allow senior delegates to promote/demote delegates"
Senior delegates are responsible for promoting/demoting delegates, and the Board has asked to give senior delegates the power to do this themselves. To keep an audit trail, we want to email board@ (and cc the person who took the action) whenever someone changes a delegate status. It is okay to give senior delegates the power to make someone a board member, however.

[2016-12-13 14:57] viroulep commented on #595
@jfly, did you picture something like this:

![selector-textual](https://cloud.githubusercontent.com/assets/1007485/21144960/d5c84bde-c14c-11e6-83a7-1f67e9dc8a7a.png)

[2016-12-13 19:17] jfly commented on #595
That looks good to me!

[2016-12-14 02:22] coder13 opened #1048 "Add back sorting competitions by date in the api"
As removed in #803

Essentially undo this commit
https://github.com/thewca/worldcubeassociation.org/commit/19972385d9b139e93c51c92268f990eb7257a2f0

[2016-12-15 11:17] viroulep commented on #595
I'll try to add the support for the locale in the profile and setting it in the session.
I've been through the "Session" section of the rails guide, the examples involves getting information about users that is, for us (and if I got it right), handled by devise.
I didn't see any code related to session manually handled by us, do you have any advice on where the logic regarding this should land?
Wo

[2016-12-15 20:23] jfly commented on #595
I was confused by your use of the word "session", but then I realized that we want to handle both signed in users and unsigned in users. If you're not signed in, we have to store your language choice somewhere, so I suppose that calls for either a cookie or a session. I don't have a preference which of those we use.

I like putting this in `ApplicationController` as shown here http://guides.rubyon

[2016-12-16 18:49] notkevin888 opened #1049 "Can't edit user profile along with approving WCA ID"
I've been having some difficulties with this user in particular: https://www.worldcubeassociation.org/users/33319/edit?section=general

His original account had no gender and no WCA ID (first time), so I tried to give him a gender and a WCA ID, but only the ID stuck.  I tried removing the WCA ID, then adding the gender, and that worked - until I added the WCA ID, and the gender was removed again.

[2016-12-16 18:54] jfly commented on #1049
That is expected. WCA Delegates have the right to edit profiles (name, dob, gender, citizenship) for new members, but only the WCA Results Team has the power to edit the profiles of existing members.

Please see the "Requesting changes to person data" section of the [delegates panel](https://www.worldcubeassociation.org/delegate/crash-course), in particular, https://www.worldcubeassociation.org/fi

[2016-12-16 18:54] #1049 closed

[2016-12-16 19:41] larspetrus commented on #1049
Sounds like a UI bug.

The app should not give editable controls for things the user can't edit.

On Fri, Dec 16, 2016 at 10:54 AM, Jeremy Fleischman <
notifications@github.com> wrote:

--
Procrastinators - the Leaders of Tomorrow

[2016-12-17 22:41] jfly commented on #1049
We *do* disable the inputs, but only after a WCA ID is assigned. If you try to simultaneously edit the name and the wca id, you end up assigning a wca id, and the name gets disabled.

I think the simplest fix here would be to have a dedicated page for delegates to handle WCA IDs.

[2016-12-20 13:39] pochmann commented on #219
What do you mean with getting rid of our misc statistics page would be a great simplification?

[2016-12-20 17:59] jfly commented on #219
The misc statistics page is rather expensive to generate. Simply caching the page isn't good enough, as it takes several minutes to generate the page the first time someone visits it. The current PHP implementation and our [attempted rails port](https://github.com/thewca/worldcubeassociation.org/pull/175#issuecomment-218896242) require some sort of background page generation that can do this page

[2016-12-20 18:11] #1011 closed

[2016-12-20 19:02] #1036 closed

[2016-12-21 02:16] kinch2002 commented on #219
I'm only good with the stats themselves... Totally lost with all the different services and ways of genarating/displaying them. I'd be happy with the idea of many people being able to contribute new stats with code for them, but perhaps we need some sort of moderation of what is submitted.

[2016-12-21 07:28] larspetrus commented on #219
I don't know anything about any stats page, I just want to mention that with multiple rails servers, you typically set up a shared cache using `memcached` or `Redis`.

[2016-12-22 14:37] pedrosino commented on #1035
I believe @pingskills is working on this at #1051 , right?

[2016-12-22 17:45] jfly commented on #1035
@pingskills is investigating some possible performance improvements to the existing queries, but that's not going to fix the bugs with pages like this https://www.worldcubeassociation.org/competitions?display=admin&search=Ray+Li&years=all. I've renamed this issue to make it more clear what I'm hoping to be done here.

[2016-12-27 15:11] viroulep commented on #991
Short feedback on that: this is working great, right after the results of my last comp were uploaded I've had roughly 50% of the newcomers claiming their ID, compared to the usual 1 or 2!

[2016-12-27 17:35] pedrosino opened #1054 "Get rid of cellName for Events"
Since we changed the names in #1053 this doesn't make much sense any more.

[2016-12-29 20:42] jfly opened #1056 "Evolution of records doesn't obey the rank field in the database"
See https://github.com/thewca/worldcubeassociation.org/blob/53894784bb97b797ca539a5d9b7458006e333927/webroot/results/misc/evolution/update7205.php#L36, which hardcodes the order of the events.

It also invents some "extra short names" to fit everything in horizontally, but I feel like we should get rid of those and use [cubing/icons](http://cubing.github.io/icons/) instead:

![image](https://cloud

[2016-12-30 11:29] pedrosino commented on #1056
After many tries I found that this file you mentioned doesn't seem to be used. The index.php file right next to it does (and was ignored by git for some reason).

I like the idea of using the icons, will try to do it.

[2016-12-30 17:50] jfly commented on #1056
The file I linked to *is* used. I'm pretty sure it generates that index.php file you're talking about, which is why it's not stored under git.

[2016-12-30 17:51] jfly commented on #1056
Your call, but at some point, it might be better to just port the page to Rails.

[2016-12-30 21:08] jfly opened #1058 "Scaling"
Currently, everything that powers worldcubeassociation.org is on a single AWS EC2 m3.medium server. (I plan to switch this to a t2.medium soon, which seems to be better optimized for webservers)

Some potential future plans for improvement:

- [ ] Set up unicorn-worker-killer #1059.
- [x] Dedicated MySQL instance - Right now, MySQL runs on the same server as our rails application. If we split this

[2016-12-30 21:13] jfly opened #1059 "Set up unicorn-worker-killer"
@larspetrus suggested this. It certainly seems like a good idea to me.

[2016-12-31 02:56] larspetrus commented on #1058
I think the search problem can be fixed in an afternoon, by adding a MSQL FULLTEXT index and moving from `%term%` to `term%`¹ type queries. Once that is handled, we need to reevaluate what performance problem remains, if any.

Adding more (or faster) servers can help with many things, but it also costs a lot more.

¹ conceptually. The actual syntax is different.

[2016-12-31 12:02] #1056 closed

[2016-12-31 19:31] jfly opened #1063 "Spinning up a new server dies due to missing wca-regulations.json"
In the screen session:

[code]

From `log/unicorn-production.log`:

[code]

The problem is that we cannot start our rails application until we've built the regulations, and our chef script is calling [`startall`](https://github.com/jfly/worldcubeassociation.org/blob/43c5d0f135cc015967680991591c189d8392d107/chef/site-cookbooks/wca/recipes/default.rb#L389) before we execute [`rebuild_regs`](https://

[2016-12-31 20:19] jfly opened #1064 "Competitions page selectors don't work when proxying to a new server"
@pedrosino discovered that right now, if you go to https://www.worldcubeassociation.org/competitions/ and try to click on "Recent", nothing seems to happen.

This is due to the fact that we call `pushState` with a URL that doesn't match our worldcubeassociation.org domain. This is an artifact of proxying. I see the following javascript being generated:

[code]

We should be using a path [here](htt

[2016-12-31 20:30] jfly commented on #1064
Another, safer fix that I've implemented is to update our nginx proxy configuration to pass along the HTTP host header, so the receiving rails application will know the correct domain name. This config isn't stored in git (...yet), but you can find it on our wiki here: https://github.com/thewca/worldcubeassociation.org/wiki/Spinning-up-a-new-server-part-2.

[2016-12-31 20:50] jfly opened #1066 "Nag emails can be sent unexpectedly when spinning up a new server"
When you spin up a new server, it may start out with an outdated database dump, and if our nag email jobs run before we get a fresh database dump on it, we may send out nag emails that shouldn't actually be sent out. This just happened with GuateMaya Open 2016 and Santa Claus Cube Race 2016 (both of whose results were actually already posted).

One "good enough" fix would be to always do a databas

[2016-12-31 20:55] #1064 closed

[2017-01-03 21:18] Claster opened #1069 "Change URLs in "nearby competitions" table"
When creating a competition, other close competitions are showing in the "Nearby competitions (within 90 days and 500 km)" table. Their URLs are `https://www.worldcubeassociation.org/competitions/CompetitionName2017/edit/admin` which are not very useful if I can't admin their results (btw, I, as a delegate, can't admin any competitions, including my previous competitions - is this intended?)
It wo

[2017-01-03 23:48] jfly commented on #1069
Ah, yeah, this was created by @pedrosino, and he probably only had the Board in mind when building this.

We might need better vocabulary for this, but "admin"-ing a competition is something that only the Board (and other site admins) can do: this includes the power to mark a competition as publicly visible or not. Regular delegates never have this power, so it's expected that you can't admin any

[2017-01-04 09:29] viroulep commented on #1063
Oops, I didn't see the mention right away because the mail that reached my mailbox didn't have it :s

When implementing the omnisearch extension we had a discussion about doing a silent rescue if the file was not there, you can see it [here](https://github.com/thewca/worldcubeassociation.org/pull/722#r67143183).
I'm ok with your suggested solution (actually I think you could just take my initial i

[2017-01-04 16:26] jfly commented on #1063
Yeah, I remember the discussion about how to handle the missing json file, and I'm sorry to be going full circle on you here.

Yes! We have this https://www.worldcubeassociation.org/server-status infrastructure now, this seems like a perfect use case. We have configured New Relic to check this endpoint (not sure how often it checks), and if it ever returns something other than a 200, it will send

[2017-01-04 16:52] larspetrus commented on #1063
I just got the code and started up a server for the first time. It dies
right away on this JSON regulation thing.

I have no idea what this is even about so I just hacked around it with code
that I hope doesn't break anything important.

Among other problems, this is a poor way to welcome new developers to work
on the project.

On Wed, Jan 4, 2017 at 8:26 AM, Jeremy Fleischman <notifications@githu

[2017-01-04 19:05] pedrosino commented on #1069
I'll try to take a look at this. What do you think of having just the competition link visible to everyone, and an Admin link only to those with that power?

[2017-01-04 19:26] pedrosino commented on #1069
A couple screenshots:

Delegate/organizer view:
![delegate](https://cloud.githubusercontent.com/assets/1881933/21655852/c98ac33a-d2a2-11e6-9f6e-2a158c94da74.png)

Admin/Board view:
![board](https://cloud.githubusercontent.com/assets/1881933/21655861/d2a488b6-d2a2-11e6-9e7b-d4a0cc458216.png)

I'll ask other Board members if they actually use that link and if keeping an "admin" link somewhere is nec

[2017-01-04 21:22] Claster commented on #1069
Yes, I think that would be awesome! Thanks!

[2017-01-04 22:09] viroulep commented on #1063
Ok then lets just change this behavior and add something to the status page!

@jfly do you have time to work on this?

[2017-01-05 01:48] jfly opened #1071 ""Approve" button is one pixel too small when approving a WCA ID"
![image](https://cloud.githubusercontent.com/assets/277474/21666288/94d9a194-d2a5-11e6-901a-99d68045a8b2.png)

I believe I have encountered this exact problem before in another project using bootstrap, and it was actually related to a rounding configuration setting for SASS. See http://stackoverflow.com/a/40918900.

I'll look into this right now.

[2017-01-05 02:13] jfly commented on #1071
Whatever's wrong doesn't seem to be related to rounding. See:

![image](https://cloud.githubusercontent.com/assets/277474/21666504/d704b396-d2a6-11e6-8224-7d6131c059b2.png)

I have found that if I disable the `height` rule for `.form-control`, then things line up nicely. For the record, here's the relevant bootstrap source code: https://github.com/twbs/bootstrap-sass/blob/5d6b2ebba0c2a5885ce2f0e01

[2017-01-05 11:48] pedrosino commented on #1069
Luis gave a better idea (I didn't like the look on my proposal anyway).

I'll make the link point to the regular competition view if the user is the organizer or delegate, and keep it pointing to /edit/admin if the user has that power. See below:
![boards](https://cloud.githubusercontent.com/assets/1881933/21679562/fbd44ab2-d32b-11e6-8d34-566315a4ae89.png)

He also said

I would like that too. I'm

[2017-01-05 12:29] viroulep opened #1074 "Activate new locales for `momentjs-rails` automatically"
`momentjs` is the component that displays a calendar when we need to pick a date.

Right now if we add a locale we absolutely need to add a line [there](https://github.com/thewca/worldcubeassociation.org/blob/34d46d3f0ed022ec20a84d6d6241853f05495b71/WcaOnRails/app/assets/javascripts/application.js#L28), as it doesn't fallback automatically to English.
Failure to do so generate a somehow silent err

[2017-01-06 01:01] jfly commented on #1063
Working on this now.

[2017-01-06 05:50] jfly opened #1076 "Get rid of the production branch"
We currently have a master and a production branch, and the production branch only serves to confuse people. I think we should have master be what we deploy to our production server.

Don't forget to update our wiki after fixing this: https://github.com/thewca/worldcubeassociation.org/wiki/Merging-and-deploying#how-to-merge-and-deploy-a-pr.

[2017-01-06 10:23] viroulep commented on #603
Done in this [wiki page](https://github.com/thewca/worldcubeassociation.org/wiki/Translating-the-website).

[2017-01-06 10:23] #603 closed

[2017-01-06 10:28] viroulep commented on #847
Given we now have a "server status" page on the website, I guess we could add a status for every available languages too.
But I don't think the page should trigger a mail if a translation is not up to date, so we could make it a warning instead of an error.

[2017-01-07 18:06] jfly opened #1078 "Document our API"
It's time for us to buckle down and do this.

The current plan is to use [Swagger](http://swagger.io/) to document our API.

[2017-01-08 07:54] jfly opened #1080 "Enable mysql slow query log"
See http://dev.mysql.com/doc/refman/5.7/en/slow-query-log.html.

We currently have the slow query log turned off, but we should turn it on, *and* enable logrotation of the resulting new file.

[code]

[2017-01-08 08:19] jfly opened #1081 "Organizers are confused that they can now view user data"
In https://github.com/thewca/worldcubeassociation.org/pull/1041, we gave organizers of upcoming competitions the [`can_edit_users?`](https://github.com/jfly/worldcubeassociation.org/blob/22de696bf09f01d090298436f817e0e829861479/WcaOnRails/app/models/user.rb#L360-L363) power, and allow them to edit the [`:name`](https://github.com/jfly/worldcubeassociation.org/blob/22de696bf09f01d090298436f817e0e82

[2017-01-08 12:33] viroulep opened #1083 "Available genders for users and persons are different"
[Here](https://github.com/thewca/worldcubeassociation.org/blob/aba31178269bf6eb6c4398c4ed2f6a08bf83bbf1/WcaOnRails/app/views/admin/edit_person.html.erb#L25) for persons, and [here](https://github.com/thewca/worldcubeassociation.org/blob/aba31178269bf6eb6c4398c4ed2f6a08bf83bbf1/WcaOnRails/app/views/devise/registrations/new.html.erb#L48) for users.

Is this intended?

[2017-01-08 13:51] jonatanklosko commented on #1081
I think it makes much sense. `can_edit_user?` seems like the right way of doing things.

[2017-01-08 14:19] larspetrus commented on #1081
Just about the naming:

On Sun, Jan 8, 2017 at 12:19 AM, Jeremy Fleischman <notifications@github.com

This is true, which I like, but a little wordy, and perhaps slightly
missing the point.

Maybe can_view_sensitive_user_data? says more about the intention?

can_edit_user?(user) is pretty tautological. I'd prefer can_edit?(user). Or
really can_edit(user), since the ? is an English syntax error the

[2017-01-08 17:59] jfly commented on #374
Just did a little research on this. The access token you get from the WCA OAuth flow is only valid for 2 hours. Past that point, you either need to send the user through the WCA OAuth flow, or add support for refreshing access tokens to the WCA website. See https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-Token-Expiration#access-token for a simple explanation of all this.

[2017-01-08 20:39] SAuroux commented on #1081
I agree that this makes a lot of sense, especially since the current
feature seems to be a severe security issue, by providing access to
information which we are supposed to keep private to numerous people.

Maybe the current feature should be reverted until this is implemented?

2017-01-08 15:19 GMT+01:00 Lars Petrus <notifications@github.com>:

[2017-01-09 21:07] jfly commented on #1083
I don't think this is intenational. @SAuroux, should we update https://www.worldcubeassociation.org/admin/edit_person?person[wca_id]=2005FLEI01 to have a "other" option?

[2017-01-09 21:15] jfly opened #1084 "What are all the various WCA registration platforms out there?"
This issue exists to collect a list of all the WCA registration platforms that exist, and who maintains them. Having an accurate list of these might be useful as we work on #946 (the people that built these websites are the kinds of people who might be interested in the "big" json).

(Inspired in part by this Fantasy Cubing [spreadsheet](https://docs.google.com/spreadsheets/d/1V3mIqmXKtFiocmzh13Y_

[2017-01-09 21:26] fw42 commented on #1084
yep

[2017-01-09 21:45] jonatanklosko commented on #1084
In Poland there are two main websites
- *polishcomps.pl* - Powers competition pages & registration. [Here](http://santaclaus.polishcomps.pl) is an example one.
- *kostkarubika.org* - It's a general website of the Polish Speedcubing Association and they have a competition pages & registration system. [Here](http://www.kostkarubika.org/zawody/gls-cup-final-2016) is an example.

I don't know the deve

[2017-01-09 21:55] viroulep commented on #1084
For Tribox we need to summon @kotarot!
Japan uses its own registration system, but as far as I could understand by discussing with Kotaro in Japan, they would be interested in moving to the WCA website after i18n is done.

[2017-01-09 22:36] #1074 closed

[2017-01-09 23:00] pingskills commented on #1084
Tim McMahon is responsible for the Speedcubing Australia site. He will start using the WCA site once it supports payments.

[2017-01-10 12:42] viroulep commented on #755
I played around and used the following logic:
If user can view the report -> show a "view report" icon
If user can edit the report -> show an "edit report" icon
If competition is ended, and the user is one of the delegate, and the delegate report is not posted -> show a warning icon.

As a WST member it shows something like this:
![wst-member](https://cloud.githubusercontent.com/assets/1007485/218

[2017-01-10 23:18] TimMcMahon commented on #1084
@jbrungar maintains https://www.speedcubing.nz

[2017-01-10 23:19] AlexMaass commented on #1084
there is also this: http://europe.cubing.net/
I think there were some others that I either can't remember the names of or have started to use the WCA website instead

[2017-01-10 23:24] jfly commented on #1084
AFAIK, these are just competition websites. I believe they use the WCA website for registration. Someone please correct me if I'm wrong.

[2017-01-11 23:56] pedrosino commented on #1084
I have a registration system we used a few times (including Worlds 2015): http://www.cuber.com.br/campeonato/

But I don't have it on GitHub :P

I'm pondering whether maintaining it is good or not (which includes moving to another website and maybe re-writing in rails). Main feature is being pt-BR and flexibility to show messages about payment after registration.

[2017-01-13 15:12] coder13 commented on #1084
That reminds me about https://euro2016.cubing.net/
Although the website isn't a typical comp site, it works really well.

[2017-01-14 02:57] TimMcMahon commented on #1084
Is it worth comparing features of each system? E.g. Would making "possible events" available during registration be desirable so that organisers can determine whether there's interest in hosting particular events without committing to them upfront or would this create more complexity for payment?

[2017-01-14 07:01] larspetrus commented on #1080
The dev.mysql.com link requires a PhD in MySQl. This one is more practical: https://www.a2hosting.com/kb/developer-corner/mysql/enabling-the-slow-query-log-in-mysql

There should be very few slow queries, so log rotation shouldn't hold this up.

I'd start with a cutoff of 2 seconds.

[2017-01-14 20:44] pedrosino opened #1092 "FAQ item has wrong wording"
https://www.worldcubeassociation.org/faq#what-are-the-wca-accounts-for-what-is-the-difference-between-wca-accounts-and-wca-profiles

You are assigned a WCA ID when you **first participate** in a WCA sanctioned competition. When the results from that competition are uploaded, your WCA **profile will be created**, with results from **every competition you have been to**.

This doesn't add up. Your p

[2017-01-14 21:37] pedrosino opened #1094 "Make a script to add a missing result"
This is not very common, but happens from time to time. Maybe we could have a simple rails script for this. @SAuroux described it as:

I think the max(id)+1 should be automatic, right?

Is this feasible/worth the effort?

[2017-01-14 21:49] jfly commented on #1094
This seems like a good thing to support. I think we should port the fix_results.php script to rails first, however.

[2017-01-14 21:58] jfly commented on #1084
@Luis-J-Ianez did a great job with that website. Interestingly enough, the actually used the WCA website for registration.

If you'd like to write up a list of features and what systems support what, I won't stop you, but I don't see a huge benefit to it. I can't speak for other registration platforms, but the WCA website is not going to add features just because some other website supports them,

[2017-01-14 22:10] jfly commented on #1092
You're right, this text doesn't make a lot of sense. I also am not wild about the term "WCA profile", which doesn't really mean anything.

How about we change that whole paragraph to just:

?

[2017-01-14 22:11] jfly commented on #1092
@SAuroux, because I think he may have written that FAQ answer originally.

[2017-01-15 01:50] SAuroux commented on #1094
It has to be added that while this is not overwhelmingly common, it is by
far the most annoying regular task that the WRT faces. We currently have
the choice between "hacking" the entry into the database manually or to
re-post the updated competition results, which both takes approximately the
same amount of time.

2017-01-14 22:49 GMT+01:00 Jeremy Fleischman <notifications@github.com>:

[2017-01-15 01:54] SAuroux commented on #1092
Well, the text certainly isn't wrong but feel free to improve the wording.
:)

2017-01-14 23:11 GMT+01:00 Jeremy Fleischman <notifications@github.com>:

[2017-01-16 01:40] KitClement opened #1095 "Editable text section on registration page"
It would be really nice to have an area where organizers/delegates could put information regarding registration on the registration form.  Competitors often miss the most important information (how to pay, if we need additional info for lunch/t-shirts, etc.) if it is only left on the website, and may not fill out the form correctly or miss important details.  Here's an example on CUSA:

https://ww

[2017-01-16 09:44] SAuroux opened #1096 "Add one FAQ about when/how results are posted"
Please add the following (the WRT gets such question regularly...):

**When are the results of a WCA competition uploaded to the WCA website?**

After a competition has ended, the WCA Delegate has to double-check all score sheets and person data to eliminate possible errors. Once this is done, the results are sent to the WCA Results Team (WRT), which is responsible for uploading competition result

[2017-01-16 09:46] viroulep commented on #1096
Doing this later today.

[2017-01-16 09:48] SAuroux commented on #1096
Thanks Philippe!

I would suggest to place this above the profile picture question.

[2017-01-17 03:37] kimchikoon commented on #1084
In Hong Kong, we are using our own system for registration of the cubers, instead of the system in WCA.
The system is taken care by Hong Kong Rubik's Cube Union (HKRCU).

[2017-01-17 15:17] viroulep opened #1098 "Improve the reply-to of notifications for competitions"
Right now people reply to "notifications@...", which is the software team.
We get of lot of mails because of this, and most (if not all) are actually for the organizers of the competition.

It would be nice to set the reply-to to the contact address, if any, or one of the organizers (not sure we can have multiple addresses in there).

[2017-01-17 15:44] larspetrus commented on #1098
5 minutes of googling says SMTP only allows one address in `reply-to`

[2017-01-18 21:31] pedrosino commented on #1095
Jacob Ambrose:

[2017-01-18 21:46] jfly commented on #1092
It is, though. It says you're assigned a WCA ID when you first participate in a competition, but you're actually not assigned a WCA ID until the results from your first competition are uploaded.

[2017-01-18 23:44] SAuroux commented on #1092
Ok, granted. Please just fix it according to your linkings. :)

2017-01-18 22:46 GMT+01:00 Jeremy Fleischman <notifications@github.com>:

[2017-01-19 14:58] viroulep commented on #1083
Ping @SAuroux ;)

[2017-01-19 15:22] SAuroux commented on #1083
Sorry, I must have missed that.

As stated in past discussions, I absolutely support this. However, I am not sure if I am the one to decide this. Definition of available genders falls into the same category for me than definition of available citizenships and should definitely get an OK from the WCA Board.

[2017-01-19 16:24] viroulep commented on #1083
No problems :)

I guess it would also impact cubecomps (@Luis-J-Ianez), since if we start to export "other" in the registrations csv, it would have to support it too.

[2017-01-19 17:25] #1092 closed

[2017-01-19 17:41] BiscuitCubed opened #1103 "Allow delegates to assign WCA ID's to accounts"
Other than not having payments integrated, one of the biggest problems I face using the WCA site for registration is people not conecting their WCA account and ID. Most of the time I can email them and get it sorted, but not always. I'm in a limbo with one competitor right now where he's paid, but has not connected his Id (2015FRIT01). I sent an email saying that I'd approve the registration once

[2017-01-19 17:52] pedrosino commented on #1103
I believe you should be able to go to https://www.worldcubeassociation.org/users/38991/edit or https://www.worldcubeassociation.org/users/27028/edit (whichever has the right email) and input the WCA ID and hit save.
Is that what you need?

[2017-01-19 18:06] BiscuitCubed commented on #1103
Oh, doh! I should have thought to look at the code to make sure it's not there.

I can't edit it, as I'm not a delegate. Why am I able to see it at all?

[2017-01-19 18:50] pedrosino commented on #1103
I think because you are an organizer. You are allowed to edit name (and maybe DOB, IIRC).
We're looking into changing this behaviour, since it's a little confusing.

[2017-01-19 19:01] BiscuitCubed commented on #1103
Just name. Thank you!

[2017-01-19 19:01] #1103 closed

[2017-01-19 19:14] jfly opened #1104 "Provide an API to query for the competition JSON for a competition"
Right now, people can export competition registration information as csv, but we really should provide an API for them to get the [WCA Competition JSON](https://github.com/thewca/worldcubeassociation.org/wiki/WCA-Competition-JSON-Format). (this API will need to *not* return birthdates unless the user is logged in as a delegate or organizer for the competition)

I think we can redefine the existing

[2017-01-19 20:09] micahstairs commented on #1084
All competitions in Canada have registration on http://canadiancubing.com/.  It's under active development by Dave Campbell.

I've never seen the code before, but I'm guessing it's in a private repo in https://github.com/canadiancubing.

[2017-01-20 09:32] Luis-J-Ianez commented on #1083
The importation of "o" genders in the CSV file is in fact already supported. :) Internally Cubecomps stores "m", "f" or blank.

[2017-01-20 10:37] #1096 closed

[2017-01-20 12:35] #847 closed

[2017-01-20 14:44] #595 closed

[2017-01-20 19:31] jonatanklosko opened #1111 "Caching internationalized website parts"
Things that we cache currently (e.g. tables) stays unchanged regardless the language used.

[2017-01-20 21:11] jfly commented on #1111
Oh DANG. That's a serious problem =( Is it possible to include the locale in the hash key?

[2017-01-20 21:16] larspetrus commented on #1111
I haven't seen the code, but it should be easy.

On Fri, Jan 20, 2017 at 1:11 PM, Jeremy Fleischman <notifications@github.com

--
Procrastinators - the Leaders of Tomorrow

[2017-01-20 21:33] jonatanklosko commented on #1111
[One of the first results of Googling](http://blog.iempire.ru/2015/09/14/localized-cache-store/) is pretty interesting, it suggests to make a per-locale cache, rather than cleaning it when a the locale changes (that with my current understanding doesn't make much sense, because whenever someone using different language would enter a page, then the cache would be updated (almost continuously when t

[2017-01-20 21:48] pedrosino opened #1113 "Pluralizing keys may require passing the locale"
I found this at the nearby_admin key. It pluralized competitions wrong in pt-BR.
@jfly found http://api.rubyonrails.org/classes/ActiveSupport/Inflector.html#method-i-pluralize

@viroulep what do you think?

[2017-01-20 21:51] pedrosino commented on #1113
https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/competitions/_nearby_competitions.html.erb#L38
and
https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/config/locales/en.yml#L720

I was expecting '2 competições ...', but it gives me '2 competiçãos ...' instead.

Maybe just making
[code]
would solve it.

[2017-01-20 21:51] larspetrus commented on #1111
That looks quite fancy. I don't really get what they're trying to do.

I'd start with simply manually adding the locale to the key of any cached
page/fragment that uses i18n.

On Fri, Jan 20, 2017 at 1:33 PM, Jonatan Kłosko <notifications@github.com>
wrote:

--
Procrastinators - the Leaders of Tomorrow

[2017-01-20 21:53] jfly opened #1114 "Upgrade to Ruby 2.4.0"
[Ruby 2.4.0 came out in December](https://www.ruby-lang.org/en/news/2016/12/25/ruby-2-4-0-released/).

I just upgraded to Ruby 2.4.0 locally, and ran into the following issue while running "bundle install":

[code]

https://github.com/rails/rails/issues/27450 looks relevant to this.

[2017-01-20 21:58] jfly commented on #1113
On https://github.com/thewca/worldcubeassociation.org/blob/e9055daba873f54ae391e6c832d44d54cc1df1a6/WcaOnRails/app/views/competitions/_nearby_competitions.html.erb#L38, you can see that we define a `comp` variable for interpolation in the `nearby_admin` key:

[code]

Pluralizing the `.comp` key as @pedrosino suggested seems like a good solution.

Alternatively, it looks like [Rails's pluralize](ht

[2017-01-21 12:37] viroulep opened #1116 "Buggy display of names in the avatar view"
For example when using this name "Amir Reza Zargar Javaheri (امیر رضا زرگر جواهری)", and WCA ID "2016JAVA01", the output of:

[code]
is actually:

![wrong_display](https://cloud.githubusercontent.com/assets/1007485/22174421/54ce54b4-dfde-11e6-8cd7-648714a78b8d.png)

Putting a char in front of the ID like this:
[code]
makes the whole string display correctly!

Not sure what's going on here...

[2017-01-21 12:41] viroulep opened #1117 "Pending avatars with missing WCA ID prevent actions on all avatars"
If a user submit an avatar, and its WCA ID is removed before the avatar submission has been handled, it generates an CSRF authenticity token error when trying to update any avatar.

I, [2017-01-19T09:46:39.602847 #3327]  INFO -- : [User Id] Request was made by user id: 277
F, [2017-01-19T09:46:39.603987 #3327] FATAL -- :
ActionController::InvalidAuthenticityToken (ActionController::InvalidAuthenti

[2017-01-21 13:31] Baiqiang commented on #1116
I think the text direction causes this.

On 21 January 2017 at 20:37, Philippe Virouleau <notifications@github.com>
wrote:

--
Baiqiang Dong
Website：http://www.qiyuuu.com

[2017-01-21 13:44] Baiqiang commented on #1116
See the following screenshot. I just double clicked on the 2016 and it auto selected the highlight part.
![image](https://cloud.githubusercontent.com/assets/2390434/22174826/9f5e1264-e022-11e6-85f7-b55c662380eb.png)

[2017-01-21 22:19] #109 closed

[2017-01-22 07:38] jfly commented on #1111
@jonatanklosko, my understanding of the article you linked to is that they're just trying to save you the bother of remembering to put `I18n.locale` in every single cache key.

Isn't that necessary, though? We need to regenerate the view for each possible locale, because the text will be different.

[2017-01-22 12:18] jonatanklosko commented on #1111
@jfly I think I thought the wrong way about caching for a moment, i.e. that when something changes then the cache is updated and the old file is removed (so we stick with a single locale in the cache), but that's not true. So adding the `I18n.locale` to each cache key seems reasonable =)

[2017-01-22 14:55] coder13 opened #1123 "Add option for registrants to be marked as staff or register as staff"
1. Add option on Admin page to to toggle registrants to volunteer as staff
2. In admin view add option to mark registrants as volunteers
3. Add option in register view register as staff if they can
4. In the competition JSON, the person object should get a boolean with whether or not they're staff.

This will make it better when importing into ccm or other future data entry software to know who's

[2017-01-22 15:24] viroulep commented on #1113
Well, if pluralize is called on very simple words and we can check the language pluralization rules are respected, then I'd go with adding the locale parameter to the pluralize calls (saves unneeded work for translators).

Otherwise I would just go for pluralizing the key.

I could take a deeper look at this probably later this evening

[2017-01-22 15:36] viroulep opened #1124 "i18n for bootstrap tables"
Right now a few messages in bootstrap table are not translated, such as the "No matching records found" message.

We can easily pass a locale to a bootstrap table like this:
[code]
Which we could do [here](https://github.com/thewca/worldcubeassociation.org/blob/277241c4010128ae420e36e3b5948b13b38528e2/WcaOnRails/app/helpers/application_helper.rb#L100).
(I tested it locally)

However it takes only

[2017-01-22 17:41] larspetrus commented on #1111
The universal approach makes sense if everything we cache has localized text in it. Is that really true? If not, it's a waste of resources.

My uninformed guess is that what's worth caching is big tables, and the only thing that's localized in them is the headers. It's quite doable to handle those in JS while only caching the data. I have no idea if it's worth the effort.

[2017-01-22 21:48] pedrosino opened #1128 "Competition announcement is partially localized"
I just announced a competition and this happened: https://www.worldcubeassociation.org/posts/qingdao-prime-numbers-2017-on-marco-26-2017-in-qingdao-shandong-china

Seems like the month part is localized. I think we should keep posts in english.

[2017-01-22 21:50] pedrosino commented on #1128
I fixed the post but took a screenshot:
![qingdao](https://cloud.githubusercontent.com/assets/1881933/22186378/fedf6378-e0db-11e6-8c31-9c9038f439ec.png)

[2017-01-22 21:50] jfly commented on #1128
Tricky!

Relevant methods: [post_announcement](https://github.com/thewca/worldcubeassociation.org/blob/1b7375ee2ef4384945d258249597082e5e9b8aa3/WcaOnRails/app/controllers/competitions_controller.rb#L159) and [post_results](https://github.com/thewca/worldcubeassociation.org/blob/1b7375ee2ef4384945d258249597082e5e9b8aa3/WcaOnRails/app/controllers/competitions_controller.rb#L174).

Probably a good id

[2017-01-22 21:52] jfly commented on #1123
Relevant to #946.

[2017-01-22 23:12] pedrosino commented on #1128
Looks like post_results doesn't use the date.
We tracked down the problem to the date_range method from time_will_tell: https://github.com/mbillard/time_will_tell/blob/master/lib/time_will_tell/helpers/date_range_helper.rb#L11

It won't take a forced locale. Maybe we could modify it to accept one.

@larspetrus @jonatanklosko @timhabermaas maybe you know something?

[2017-01-22 23:42] larspetrus commented on #1128
Can you temporarily change the locale while rendering the announcement?

That would be a clean way to do it.

[2017-01-23 00:10] timhabermaas commented on #1128
Instead of hacking around the issue I'd c&p the `date_range` code into our code base, remove unused code and remove the entire `time_will_tell` gem. There's no need to keep an unmaintained gem which has a dependency on Rails (might break updating Rails) around if we only use a small subset of one method of it.

[2017-01-23 08:12] viroulep opened #1129 "Sorting of countries isn't correct in Chinese"
This is how @Baiqiang does it in CubingChina:
![cc](https://lh3.googleusercontent.com/-ViprbksYBGA/WIW3-UmfMrI/AAAAAAAAZTg/AE4xmvaZ2kMl8tcQkVTRCT_bubRvC1m3QCL0B/h66/2017-01-22.png)

This is how [we do it](https://github.com/thewca/worldcubeassociation.org/blob/1b7375ee2ef4384945d258249597082e5e9b8aa3/WcaOnRails/app/models/country.rb#L27-L31).

[2017-01-23 08:15] viroulep opened #1130 "Competitions' table titles are not fully localized"
We just pass the param [here](https://github.com/thewca/worldcubeassociation.org/blob/1b7375ee2ef4384945d258249597082e5e9b8aa3/WcaOnRails/app/views/competitions/_index_competitions_list.html.erb#L7), we should be localizing the param (there is already keys for that).

Right we have this kind of display:
![ct](https://lh3.googleusercontent.com/-6bl6XM6pxEU/WIVnodPDTOI/AAAAAAAAZRc/4dGFYA2NbFw4EKIBNy

[2017-01-23 21:33] viroulep commented on #1128
@jfly: why do you mention the `post_results`?
As far as I looked, there is no localized part in there, did I miss something?

I like @timhabermaas' suggestion, the helper method's small enough, and tuning it would be easy.

I'll look into this.

[2017-01-23 23:19] jfly commented on #1128
Whoops! I just assumed, I didn't look too closely.

[2017-01-24 16:07] viroulep commented on #1129
@Baiqiang is this correct? (both continents sort and countries)
![attempt-sort-cn](https://cloud.githubusercontent.com/assets/1007485/22255340/631fc982-e257-11e6-8135-31a652a34b8a.png)

[2017-01-24 16:58] Baiqiang commented on #1129
Yes! Looks nice!

[2017-01-24 18:20] viroulep commented on #1130
@Baiqiang, you told me about the need of having a character next to a number in a sentence; do you have the same need in the dropdown menu of the years or is it just specifically in a sentence?

[2017-01-24 18:51] Baiqiang commented on #1130
No. In the dropdown the character "年" can be omitted.
What I said was the sentence "Past from XX", in which "XX" maybe number or all years. In these two cases, we'd like to translate them into two formats.
Past from 2017=>2017**年**的
Past from all years=>所有的

[2017-01-24 20:31] pedrosino opened #1139 "Delegates table is not localized"
The table headers are (name, role, region), but not the information within, like Board Member, Senior Delegate, etc.

[2017-01-24 20:47] pedrosino opened #1140 "Countries in competitors table is not localized"
The admin part of registration is - the headers appear translated here.
But the public list of competitors is still in english.

[2017-01-24 21:10] viroulep commented on #1140
It is, but see #1111 :(

[2017-01-24 21:11] viroulep commented on #1111
Ok doing this now because it's very very annoying.

[2017-01-24 21:16] viroulep commented on #1140
Providing a screenshot of what I see locally, please re-open the issue if this is not what you're talking about:
![localized-registrations](https://cloud.githubusercontent.com/assets/1007485/22266963/45fb5314-e282-11e6-884d-ca25d37d3f73.png)

(and actually re-opening immediately because I notice on the screenshot that countries are still in English, and this is not cache-related)

[2017-01-24 21:21] pedrosino commented on #1140
This is what I see:
![table](https://cloud.githubusercontent.com/assets/1881933/22267260/4e60fcd8-e26a-11e6-9444-c995c6c53139.png)

[2017-01-24 21:24] viroulep commented on #1140
Ok, the table headers it's because of #1111, and the country names is a separate issue.
Fixing it now too.

[2017-01-24 21:24] jonatanklosko commented on #1140
That's exactly why I created #1111 =)

[2017-01-24 22:24] #755 closed

[2017-01-24 22:25] #1128 closed

[2017-01-25 13:25] viroulep opened #1143 "Improved caching in website"
Here is a dedicated issue to continue the discussion started in #1137:

@viroulep

-----
I had a quick look at the cache directory on prod:

I don't feel confortable just sending the modification knowing we may multiply this number.
I couldn't find a maximum for the cached content size in the configuration files nor could I find a time where the cache expires.
I think we should modify the [product

[2017-01-25 13:40] viroulep commented on #1143
So if take some of the ideas here, we could set an `expires_in` in the [configuration file](https://github.com/thewca/worldcubeassociation.org/blob/d849ffefe0193701f7fbdcae0cf9d1646060b97a/WcaOnRails/config/environments/production.rb#L60), and set up some cron job that would call `Cache::cleanup`.
If we combine that with an LRU in-memory cache, it may suits our needs with acceptable drawbacks.

We

[2017-01-25 15:35] viroulep commented on #1113
This is from [Rails doc for pluralize](http://apidock.com/rails/String/pluralize):

And according to [this API doc](http://apidock.com/rails/ActiveSupport/Inflector/Inflections) we would need to define a lot of rules.
There is [this](https://github.com/davidcelis/inflections) gem, but the set of languages supported is small.

So all in all, it's probably better to get rid of `pluralize` and go thr

[2017-01-25 16:48] larspetrus commented on #1143
`Cache#cleanup` is the missing piece. Thanks!

Rails can only have 1 cache, so a combined in memory cache and file cache isn't possible, unless someone writes it :)

I don't think memory cache is a viable option, since it eats scarce RAM, and would be a separate duplicate copy for each of our 3(?) workers.

Redis is great, as is memcached in it's own way, but the effort (and monetary cost) of conv

[2017-01-25 19:18] jfly commented on #1113
Darn, that sucks! Yeah, getting rid of all calls to `pluralize` is probably for the best =( This is probably going to be hard to enforce moving forward*. The best solution is probably to keep an eye on people's PRs.

*crazy idea that we don't actually have to implement: something like i18n-tasks that scans our codebase for calls to `pluralize`, and complains about them. We'll need some way to opt

[2017-01-25 19:55] #1076 closed

[2017-01-25 20:51] viroulep commented on #1113
Actually there was not that much uses, [this](https://github.com/thewca/worldcubeassociation.org/pull/1137/commits/54f8e84a0460ea981da4165cf649802b8a250e13) commit fixes them all but two.
The last two that would need to be fixed are part of a to-be-localized text.

There is a bunch of other pluralize uses but I think they are fine, as they are in non-localized part of the website.

Here are the "p

[2017-01-25 20:56] viroulep opened #1147 "Registrations mailers need localization"
On my todo list before next Monday.

Should be pretty simple: take the user attached to the registration, look at their preferred locale, if nil->en, else we output the text in the preferred_locale.
Should come with a test using a foreign locale.

[2017-01-25 21:09] jfly opened #1148 "Get rid of mailer.text.erb"
I specifically set up the `premailer` gem so we wouldn't have to write text versions of all our emails, instead the `generate_text_part` is option is supposed to handle that for us: https://github.com/fphilipe/premailer-rails#configuration.

[2017-01-25 21:09] jfly commented on #1147
Oh, a thought! How about updating our mailer layout to include a friendly message like "This email was sent in <local>, you can change that setting <here>"? Relevant code:

- [mailer.html.erb](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/layouts/mailer.html.erb)
- [mailer.text.erb](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/

[2017-01-26 00:00] timhabermaas commented on #1143
I agree, it's probably not worth spending much time on caching until performance becomes a problem - IIRC regenerating large competition pages from scratch took less than 3s, I don't know about registration pages, though.

Converting to memcached looks pretty straightforward: http://edgeguides.rubyonrails.org/caching_with_rails.html#activesupport-cache-memcachestore and I assume someone implemente

[2017-01-26 00:02] pedrosino opened #1150 "[idea] Load the appropriate translation of regulations from locale"
This is just an idea, but would be cool if we could load the translation (if available) based on the user's locale.

One or two people commented to me "oh, the regulations are not translated" when testing :)

[2017-01-26 00:29] jfly commented on #1150
@lgarron, who asked me about this exact thing last week.

[2017-01-26 00:35] jfly commented on #1143
I like the simplicity of a `expires_at` plus a cron job to clean up expired entries.

I don't have any experience with redis, and am counting on you more experienced web devs to chime on when it's time to bite that bullet :)

[2017-01-26 00:47] lgarron commented on #1150
I think there should still be a main URL for the official regulations, and all hash links for that URL should link to the same official text. However, offering a conspicuous link to the translation for your locale would be nice.

[2017-01-26 01:58] jfly commented on #1098
15 minutes of playing around says that comma delimited emails in `reply-to` seems to work for me on gmail =)

## I ran this command after sshing to production

Be sure to change the `To: ` field to your own email. (I'm going to regret this if people start spamming me.)

[code]

## What I see in gmail

![image](https://cloud.githubusercontent.com/assets/277474/22317273/693b1dd2-e327-11e6-9cd3-cc20f

[2017-01-26 02:01] jfly commented on #1098
Furthermore, it turns out we're already including multiple emails in our `Reply-To` headers in other places. See https://github.com/jfly/worldcubeassociation.org/blob/919665b6b85348dada1bd52bb03626b02a549a4f/WcaOnRails/app/mailers/competitions_mailer.rb#L29

[2017-01-26 16:30] Baiqiang opened #1153 "Model name should be translated"
See the following screenshot.
![image](https://cloud.githubusercontent.com/assets/2390434/22340260/c58e0260-e427-11e6-9808-73b5ba8d93d1.png)
![image](https://cloud.githubusercontent.com/assets/2390434/22340250/bf9965ac-e427-11e6-8370-fc130714240d.png)

[2017-01-26 18:06] #1098 closed

[2017-01-26 18:08] #1148 closed

[2017-01-26 18:24] Baiqiang opened #1156 "Round name is not localized"
https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/competitions/_results_table.html.erb#L54

[2017-01-26 18:38] jfly commented on #1156
@Baiqiang, in the future, please include permalinks in your github issues: https://github.com/thewca/worldcubeassociation.org/blob/58043a6689896ac03465f03413099f5eb735072f/WcaOnRails/app/views/competitions/_results_table.html.erb#L54. You can easily get to a permalink by pressing the "y" key on your keyboard.

[2017-01-26 19:46] jfly opened #1157 "local_time doesn't handle internationalization"
From @Baiqiang:

![image](https://cloud.githubusercontent.com/assets/277474/22345626/b12e3744-e3b5-11e6-9c79-746ab15ea179.png)

local_time is a neat gem we use that allows us to render times in the users timezone. This is hard/impossible for Rails to do, because the server has no idea what timezone its users are in (AFAIK, there's no "this is my timezone" http header). locale_time's clever solutio

[2017-01-26 20:57] kotarot commented on #1084
Hi there,
Yeah, as Philippe mentioned, I know circumstances in Japan (sorry that I didn’t notice my notification for long days).

Most competitions in Japan use [JRCA](http://jrca.cc/) as the platforms.
This website is based on XOOPS Cube application, and the registration system is implemented on the application, but the system was created quite a few years ago and is not maintained anymore. Moreo

[2017-01-26 23:30] UnsolvedCypher commented on #329
I would also really like to replace "waiting list" with something else, possibly "pending payment"? I'd be happy to submit a PR if you're on board with this. The main issue I see is people being confused because "waiting list" usually means registration is full and there is no room. I feel that "pending payment approval" or something similar would give the user a better idea of what is happening (

[2017-01-26 23:35] jfly commented on #329
@pingskills, will it be a problem if @UnsolvedCypher starts touching the registration code? If not, then let's get a PR going and we can continue the discussion over there.

[2017-01-26 23:40] BiscuitCubed commented on #329
I'd just like to say I'm opposed to the wording of "pending payment" or anything to do with that. What I would say is maybe have it two state where it can be pending approval, or it can be a waiting list. If we wanted to go down that road more, we could have competitor limits built into the site, and it switches the terminology once you hit the limit OR you toggle it on the edit page.

If it's sin

[2017-01-27 00:04] pingskills commented on #329
@jfly - I don't see it being a big problem to work on the registration pages. I think the Payments PR is ready to merge up now which would be good from my point of view to save any rebasing in the case of conflicts. Let me know if you think it's ready to merge up or if you think there are still some points to discuss first.

[2017-01-27 01:02] larspetrus commented on #329
Here is the latest PR/discussion:
https://github.com/thewca/worldcubeassociation.org/pull/1099#issuecomment-274045407

I'm usually not a "something-ist", but we really need to just put
*something* less misleading there ASAP.

On Thu, Jan 26, 2017 at 5:04 PM, Jeff Plumb <notifications@github.com>
wrote:

--
Procrastinators - the Leaders of Tomorrow

[2017-01-27 01:04] BiscuitCubed commented on #329
I'd vote for "pending approval" for 'something'

[2017-01-27 01:31] pedrosino commented on #1150
That sounds like a good way to go.

[2017-01-27 07:42] Baiqiang commented on #1156
@jfly Ok. I didn't realize that url wasn't a permalink.

[2017-01-27 13:15] viroulep opened #1161 "Should we stop using i18n-tasks for unused keys in non-English locales?"
@jonatanklosko suggested that we remove the test for unused keys in our non-en locale files.
The motivation behind that is that we would stop having to edit existing locales (other than English), and that we would have unused keys only for a while, since updates to the locales through the app will remove them.

[2017-01-27 13:15] #1111 closed

[2017-01-27 13:15] #1113 closed

[2017-01-27 13:15] #1129 closed

[2017-01-27 13:15] #1130 closed

[2017-01-27 13:15] #1140 closed

[2017-01-27 14:50] #1157 closed

[2017-01-27 18:45] Baiqiang opened #1166 "Events name not being translated in winners and by persons"
https://github.com/thewca/worldcubeassociation.org/blob/84a8bec48b80b37608347e9e8dcd9f63c9771eee/WcaOnRails/app/views/competitions/_results_table.html.erb#L47

I think we can simply change the event.cellName to event.name but now I don't have local env to check it.

[2017-01-27 21:17] jfly commented on #1124
Without digging into the bootstrap-table code, aliasing locales like you describe sounds like a reasonable solution. Can we do it in erb somehow so we can loop over `I18n.available_locales` when doing the aliasign?

[2017-01-27 21:53] CameronSamuels opened #1168 "Mobile web app: links to not be opened in web browser"
Currently when you add the website to your homescreen, it will open all the links you click on in your default browser (known to do this on iPhone).
By changing:
`<a href="link.html">`
To
`<a onclick="window.location='link.html'">`
This is easy to do by adding something along the lines of this to any javascript file/script tag:
`var links=document.getElementsByTagName("a");
for (i = 0; i < links.l

[2017-01-27 22:08] CameronSamuels commented on #1168
You might need to add a class or something identifying the <a>'s that go to a page and the <a>'s that have a href of "\" and is just used for dropdowns. If the ones for dropdowns change to onclick instead of href, that will be bad because you don't wan't it having to refresh the page to do a dropdown, and not do the dropdown because of the refresh. I recommend adding a class to the ones going to a

[2017-01-27 22:10] CameronSamuels commented on #1168
And using ontouchend for mobile and onclick for desktop will be good so there will be no 0.x second delay for touch. You can check if it is a mobile device using these functions:
`var isMobile = {
	Android: function() { return navigator.userAgent.match(/Android/i); },
	iOS: function() { return navigator.userAgent.match(/iPhone|iPad|iPod/i); },
	Windows: function() { return navigator.userAgent.matc

[2017-01-27 22:17] jfly commented on #1168
I just tried this out in android and can confirm that things work fine over there.

CC-ing @lgarron.

[2017-01-27 22:23] CameronSamuels commented on #1168
We just need to fix it for iPhone. Once you publish it, I can confirm it works, if you don't have an iPhone. By the way, I have an Android too, if we need it to test if no one else can for some reason.

[2017-01-27 22:24] CameronSamuels commented on #1168
I use BitBucket for my source control, so I am not used to GitHub, so I am still getting use to it, so I probably won't be coding in the repo until a little while.

[2017-01-27 22:40] lgarron commented on #1168
If we don't want this behaviour, we should remove `<meta name="apple-mobile-web-app-capable" content="yes">` instead. I am strongly against adding Javascript to all links.

[2017-01-27 22:47] CameronSamuels commented on #1168
If you are strongly against it, which I could understand, because it could slowdown the speed. I have used this code before and it doesn't seem to slow it down. Maybe just 0.x%. But if you don't want to do that, I still recommend keeping that meta tag, because if people don't want the safari, they could just add the page they want to there homescreen. An example would be the competition list, or a

[2017-01-27 22:56] CameronSamuels opened #1169 "Having the navbar be in a iFrame to keep consistency"
Having the navbar in an iFrame would be good. But the iFrame should have no border or style so it will loo like the content is on the page you are on.
Some pages on the website don't have the competition link dropdown, or don't have "my results" link in results dropdown.
Some pros of having those links on every page will be good and will make changing them in the future be much easier (just like i

[2017-01-27 23:01] jonatanklosko commented on #1169
That's not true, we have pages written in Ruby&Rails, but some still use PHP - those don't have the *better* navbar.
As we are getting rid of the PHP code I don't think it makes any sense to work on it. For this reason I'm closing that.

[2017-01-27 23:01] #1169 closed

[2017-01-27 23:03] CameronSamuels commented on #1169
OK. That sound good.

[2017-01-28 00:53] jfly opened #1170 "On certain screensizes, the tooltips for the "my competitions" page overlap"
See:

![image](https://cloud.githubusercontent.com/assets/277474/22392689/f8174fdc-e4b0-11e6-849f-0f8861a578b4.png)

CC-ing @viroulep, @pedrosino, both of whom I believe have worked in this code before.

This is minor enough that I'm going to mark it as a ment1. The simplest fix might be to have one of the tooltips appear below, whereas the other will continue to appear on top.

[2017-01-28 01:24] jfly commented on #1161
Sure, I would support that change, but I would ask that we add the check to our /server-status page, though. I don't want to assume that everyone is using Jonatan's app.

[2017-01-28 01:36] pedrosino commented on #1170
Your solutions sounds good.

[2017-01-28 01:47] jfly opened #1171 "Should we have a code of conduct for software team members?"
(Just to clear the air, there is no incident that occurred that caused me to create this issue. @lgarron suggested this and I think it's a good idea.)

Members of the software team actually have a lot of power. In increasing terrifyingness:

1. We have admin power on the website (post to the homepage, mark people as board members, demote board members).
2. We have database access. This means the p

[2017-01-28 02:38] jfly opened #1173 "Do not allow delegates to assign WCA IDs that are missing birthdays"
Garret Webster ran into this for an upcoming competition. David Woner assigned a WCA ID to a registrant, and the person for that WCA ID did not have a birthdate in our database, so we ended up with a registrant without a birthdate, and we have validations that says registrants must have birthdates, so it was impossible to approve the registration.

I'm going to add a validation to our users model

[2017-01-28 03:20] CameronSamuels commented on #1171
Maybe: "I acknowledge that the WCA software development team has much power, and I pledge to only use that power to help WCA and its members.

And I don't think your pledges you came up with were cheesy.

[2017-01-28 04:08] lgarron commented on #1171
An important detail in tech codes of conduct is *consequences*: https://www.chromium.org/conduct
https://geekfeminism.org/about/code-of-conduct/

It's also good to be constructive:
- Don't do "X".
- Only do Y with permission/sign-off using mechanism Z.
- If there is a disagreement, resolve it using mechanism W before going further.

If we want to keep it a simple sentence, I think that's fine – I'

[2017-01-28 04:28] jfly commented on #1156
Dumping some analysis:

More English in our stupid database schema (https://github.com/thewca/worldcubeassociation.org/blob/583552d8a59d48cf1fdc32d226531b0a3554811a/WcaOnRails/db/seeds/rounds.seeds.rb).

On http://localhost:3000/competitions/My0ResultsComp2016/results/all:

![image](https://cloud.githubusercontent.com/assets/277474/22394215/a4494464-e4ce-11e6-936e-d371e2bebaee.png)

Relevant code

[2017-01-28 04:30] jfly commented on #1166
Yep, this is definitely happening.

On http://localhost:3000/competitions/My0ResultsComp2016

![image](https://cloud.githubusercontent.com/assets/277474/22394216/ad19bfd8-e4ce-11e6-896a-3cb0bf292dd1.png)

On http://localhost:3000/competitions/My0ResultsComp2016/results/by_person:

![image](https://cloud.githubusercontent.com/assets/277474/22394212/95672d26-e4ce-11e6-937e-f067bfce846d.png)

[2017-01-28 05:56] jfly commented on #1168
Before doing anything here, I'd like to understand *why* iOS behaving the way it behaves. Why open safari when there's a regular anchor tag, but not when a link causes some javascript to execute?

@lgarron, I'm not saying I'm a fan of it, but why are you strongly opposed? This is what every single [SPA](https://en.wikipedia.org/wiki/Single-page_application) does, right?

[2017-01-28 06:05] #1173 closed

[2017-01-28 06:23] jfly commented on #1116
This appears to be an issue with chrome, actually. I created this simple test: http://www.jflei.com/temp/text-direction-test/.

Here's what it looks like on Chrome on Linux for me:

![image](https://cloud.githubusercontent.com/assets/277474/22394793/f5eaddcc-e4de-11e6-8c63-27141e72a8f8.png)

Firefox on the same Linux laptop:

![image](https://cloud.githubusercontent.com/assets/277474/22394801/09d7

[2017-01-28 06:26] jfly commented on #1116
@lgarron, once again, we could use your Chrome expertise =)

[2017-01-28 06:36] jfly commented on #1143
don't need to install it. But then you might as well just use memcached.

Could you elaborate on that? I tried googling the difference between memcached and redis, and landed on this SO answer: http://stackoverflow.com/a/11257333. It makes it sound like if you're starting something new, you should just use redis. Are there situations in which you would recommend using memcached instead of redis?

[2017-01-28 06:50] SAuroux commented on #1173
Hi Jeremy,

was David Woner contacted about this?

Am 28.01.2017 7:05 AM schrieb "Jeremy Fleischman" <notifications@github.com

Closed #1173
<https://github.com/thewca/worldcubeassociation.org/issues/1173> via #1174
<https://github.com/thewca/worldcubeassociation.org/pull/1174>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<ht

[2017-01-28 07:10] jfly commented on #1173
Nope, I never talked to David about this directly, just Garret.

[2017-01-28 08:17] FatBoyXPC commented on #1171
I agree with this. @jfly and I have discussed this category of things many times, but I'll put my vote here as well.

[2017-01-28 10:10] jfly opened #1176 "I18n 'does not have unused keys' spec raises "[WARN] 'faq.answers' was a leaf, now has children (value <- scope conflict)""
This happens when I run the following test: https://github.com/thewca/worldcubeassociation.org/blob/bcb1b3682f8d5f32ea588c9107c68ad4cc0aec0e/WcaOnRails/spec/i18n_spec.rb#L13

[code]

https://github.com/glebm/i18n-tasks/issues/158#issuecomment-273872322 is an example of some other people with the same issue. It sounds like the problem is that i18n-tasks sees [this line of code](https://github.com/t

[2017-01-28 10:14] jfly opened #1177 "Registration confirmation email assumes that the competitor will be attending day 1 of a multiday competition"
Olivér Perge noticed this:

We do plan to eventually ask organizers for their schedules (#278), so Olivér's last idea isn't so crazy, actually.

An interim solution would be to change the sentence to "We look forward to seeing you on March 25, 2017 (or whatever day your first event is, please check the schedule <here>)"? We could be clever and only add that parenthetical if the competition is more

[2017-01-28 10:29] #1081 closed

[2017-01-28 10:31] #1156 closed

[2017-01-28 10:31] #1166 closed

[2017-01-28 11:05] jfly opened #1178 "Intermittent test failure in api_controller_spec.rb"
From https://travis-ci.org/thewca/worldcubeassociation.org/builds/196111930

[code]

This failure is reproducible by running `bin/rspec --seed 59147`

The problem is that our spec creates a post, which creates a random author (user) and a competition, which creates a random delegate. It's possible that these random creations match "jeremy", and trigger more results than the 2 we expected.

[2017-01-28 11:12] #1178 closed

[2017-01-28 14:38] CameronSamuels commented on #1168
When you use href="link.html", and you are in a mobile web app, it opens in safari. But if you use onclick="window.location='link.html'", it doesn't. This is because window.location doesn't open a link, it changes the current URL.

[2017-01-28 19:59] jfly opened #1182 "deploy.sh refers to `origin`, which doesn't work if you are working on a fork"
See [here](https://github.com/thewca/worldcubeassociation.org/blob/6e2064d7d57ec909961856ef0733d2bece8c2c23/scripts/deploy.sh#L38) and [here](https://github.com/thewca/worldcubeassociation.org/blob/6e2064d7d57ec909961856ef0733d2bece8c2c23/scripts/deploy.sh#L67).

Both of these lines refer to `origin`, assuming that it refers to `thewca/worldcubeassociation.org`. However, for me it refers to `jfly/

[2017-01-28 23:38] CameronSamuels opened #1186 "WCA Android app! Approval to publish accepted!"
I think there should be a WCA android app to view the results, competitions, and anything on the website.
I would enjoy to make this app for the WCA. I will do it.

It would embed the WCA website inside the app, so people can quickly access the website.

I already have a developer account to publish it to, and have the software installed to make it. It won't take more than a day, because I already

[2017-01-29 01:04] CameronSamuels commented on #1186
WooHoo! I just finished the app! I used Android Studio to make the Java android app. See what you think and I can publish it. Once it publishes, we might want to post a link on the wca website, maybe on the footer.
Download: [http://playbclick.com/apps/wca/android-app.apk](http://playbclick.com/apps/wca/android-app.apk)

[2017-01-29 01:07] CameronSamuels commented on #1186
I think we should create a repo for this code.

[2017-01-29 01:32] larspetrus commented on #1143
memcached is a cache. Period. It does caching very well, and nothing else.
Redis is an alternative data storage solution to MySQL etc. It can do most
anything, including caching. I assumed that the simple specialized tool
would be better than the hack-of-all-trades, but according to that SO
article that is no longer true.

One thing I worry about is the temptation to put some data in Redis, since

[2017-01-29 04:38] CameronSamuels commented on #1186
Check out the android app at [https://play.google.com/store/apps/details?id=org.worldcubeassociation.androidapp](https://play.google.com/store/apps/details?id=org.worldcubeassociation.androidapp)

[2017-01-29 04:38] #1186 closed

[2017-01-29 06:22] lgarron commented on #1168
Well, now, single-page apps are mainly single-age apps. If you don't go to a different page, it's not a navigation. ;-)

I believe the common fullscreen "Add to Homescreen" sites work is to pull in the full browser UI when you click a cross-origin link.

We should not hack around the semantics of links.
It requires assumptions about browser behaviour, client detection, hacky rewriting or templatin

[2017-01-29 07:44] jfly commented on #1182
Bah, nevermind. It doesn't really make sense to be running `deploy.sh` locally, it was definitely not written with that in mind. It's a deployment tool, not a tool for local development.

I'm closing this issue. @viroulep feel free to reopen if you disagree.

[2017-01-29 10:30] jfly commented on #1116
I haven't read read the article closely yet. Can you tell if this an ambiguity in the bidi algorithm, a bug in Chrome/other webbrowsers, or just something we're supposed to handle better by inserting appropriate markeup?

[2017-01-29 10:32] jfly commented on #1168
I'm not willing to make any changes here until I understand **why** iOS behaves the way it behaves. Presumably there's a good reason they do what they do, and I'm nervous about hacking around that.

I'm going to close this issue for now. Someone feel free to reopen this if they can give insight into why iOS behaves as it does.

[2017-01-29 10:32] #1168 closed

[2017-01-29 23:11] jfly opened #1199 "competitions.unscheduled is a bit misleading"
Right now [`wca_date_range` returns `t "competitions.unscheduled"` if a date is missing](https://github.com/jfly/worldcubeassociation.org/blob/1a20dad042ffa31c431b68ed59a75de4478bb8d1/WcaOnRails/app/helpers/application_helper.rb#L122). This is kind of misleading, however, as this `wca_date_range` method could be used in contexts other than competitions.

@viroulep, how do you feel about renaming t

[2017-01-29 23:28] jonatanklosko opened #1200 "Prevent from committing \r characters"
It would be worth adding `\r` to our [pre_commit](https://github.com/thewca/worldcubeassociation.org/blob/master/config/pre_commit.rb).
Note: some old files won't satisfy this check, so should be [ignored](https://github.com/thewca/worldcubeassociation.org/blob/master/.pre_commit.ignore).

[2017-01-29 23:58] SAuroux commented on #737
I just finished the report of a competition that I have delegated this weekend and that has **now already ended** and the fact that I cannot just submit this report is extremely annoying. Can this simple fix please be tackled soon?

[2017-01-30 00:06] jfly commented on #737
Just talked to @SAuroux about this, we both agree that the best thing to do here is to allow posting delegate reports **on or** after the last day of a competition.

@larspetrus brings up a good point. It might be more friendly to provide the user with a submit button that spits out an error when you try to click it.

[2017-01-30 00:25] jfly opened #1203 "Deploying changes to environment variables can crash the server"
@jonatanklosko and @pingskills have both run into this recently:

1. Merge a PR that addes an env var (such as #1196).
2. Run `pull_latest` and `rebuild_rails`.
  - This crashes unicorn because of missing env vars. For some reason, this crashes unicorn master, not just the workers.
3. Run `chef`. This creates the new env var in `.env.production` needed for the server to run correctly.
4. Run `rest

[2017-01-30 06:46] jfly commented on #1080
Strange, that link you included also says 'You should only enable the slow query log for as long as it is necessary to troubleshoot performance issues'. I'm going to ignore their advice =)

[2017-01-30 08:06] jonatanklosko opened #1209 "Include user name in thewca-bot PR description"
Require users to be signed in and include their name in the description.

[2017-01-30 08:28] #1200 closed

[2017-01-30 09:00] viroulep commented on #1199
`common.date.no_date`?
"No date" as a text is probably enough(?).

[2017-01-30 09:03] jfly commented on #289
I think we can close this issue :smile: This is definitely happening.

[2017-01-30 09:03] #289 closed

[2017-01-30 09:06] jfly commented on #1199
Sure, I like that key. "No date" seems like a safer bet than "unscheduled".

I'll take this on right now =)

[2017-01-30 09:30] #1161 closed

[2017-01-30 10:06] #1199 closed

[2017-01-30 17:29] jonatanklosko commented on #1209
Fixed in #1212 and tested in #1213.

[2017-01-30 17:29] #1209 closed

[2017-01-30 17:37] BiscuitCubed commented on #1177
Why not just "We look forward to seeing you at {competition name}!" I don't think there's any need to remind them what the date is. It makes it much more difficult on the code end, and is entirely unnecessary in my opinion.

[2017-01-30 18:58] jfly opened #1215 "Include user WCA ID in thewca-bot PR description"
(See #1209 and #1212 and https://github.com/thewca/worldcubeassociation.org/pull/1213#issuecomment-276143266)

I think we should include the WCA ID (if they have one) with a link to their WCA results. We could also include a link like https://www.worldcubeassociation.org/users/33471/edit to edit their user. That way, we'll be able to find their email address even if they don't have a WCA ID.

@jon

[2017-01-30 19:08] jfly commented on #1177
Good call, @BiscuitCubed. I've implemented your idea in #1216.

[2017-01-30 20:14] viroulep commented on #1215
I support this :)
(I actually posted the comment linked, by replying to the mail, but it looks like it made thewca-bot author it!)

[2017-01-30 20:23] jfly commented on #1215
I was wondering how that happened! GitHub bug?

[2017-01-30 20:26] viroulep commented on #1215
I also noticed that "author" is cc-ed when the bot creates a PR, just like when you personally create the PR; this is probably related.

[2017-01-30 20:51] jfly opened #1217 "Mixed content on the update_translation page"
See https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/git_hub/update_translation.html.erb#L9 which uses HTTP instead of HTTPS.

@jonatanklosko this should be a quick fix, since catapi (thankfully) supports HTTPS. Sorry for not noticing this in your original PR.

[2017-01-30 21:18] jfly opened #1218 "Precommit should not allow BOM markers"
See https://github.com/thewca/worldcubeassociation.org/pull/1198/files#r98543029.

I'm not sure what the right way to check for a BOM is, but I'm creating this issue just to keep track of the fact that I want to look into this.

[2017-01-30 21:24] jfly opened #1219 "wca_date_range refers to undefined variable `locale`"
See https://github.com/thewca/worldcubeassociation.org/blob/097343c37844d7318613baef1913bdee53c5bce1/WcaOnRails/app/helpers/application_helper.rb#L122.

For some reason, this code isn't blowing up... maybe the standard `I18n.locale` method is accessible without the `I18n.` prefix? Either way, I don't like it, and believe we should just remove it from this line of code.

[2017-01-30 22:01] #1218 closed

[2017-01-30 22:18] lgarron commented on #1116
I strongly suggest reading the whole article.

The [end](https://www.w3.org/International/articles/inline-bidi-markup/uba-basics#isolation) offers some solutions:

A simple solution in one of the demos is to wrap a (potential) RTL string in `<bdi>`.

[2017-01-30 22:44] #1153 closed

[2017-01-30 23:26] jfly opened #1223 "Add a "change your mailer language" footer to all our emails"
I think it would be friendly to update our mailer layout to include a message like "This email was sent in `<locale>`, you can change that setting `<here>`"? Relevant code:

- [mailer.html.erb](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/layouts/mailer.html.erb)
- ~~[mailer.text.erb](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/a

[2017-01-30 23:26] #1215 closed

[2017-01-30 23:34] #1217 closed

[2017-01-31 07:34] #1177 closed

[2017-01-31 08:56] #1219 closed

[2017-01-31 10:13] #1147 closed

[2017-01-31 18:18] larspetrus commented on #1171
I've never been under any "code of conduct", and it's hard for me to see
what it would do practically. Does anyone have a real world experience of
the opposite?

The suggested phrasing doesn't seem to prohibit or prescribe any concrete
conduct.

The Geek Feminism code deals with interpersonal interactions. Those have an
offended party that can make a complaint. The same is not true if a SW Team
me

[2017-01-31 20:05] jfly opened #1246 "Should we require that users have a WCA ID in order to upload a profile picture?"
I think we should allow users to upload profile pictures, even if they do not have a WCA ID yet.

For:
- One of our delegates has never competed before, which means he does not have a WCA ID and cannot have a profile picture on https://www.worldcubeassociation.org/delegates.
- Third party applications that use WCA OAuth might want to use pictures for users, and it would be unfair if you don't get

[2017-01-31 23:22] SAuroux commented on #1246
Hi Jeremy, my problem with this is not more work for the WRT in the first place, but rather a complete lack of authentification requirements in order to upload a profile picture to our website. There for, we would not only have to deal with more incoming profile pictures, but potentially also with a lot of spam pictures.

As for your pro argument for non-competing delegates: Since we know if a use

[2017-02-01 00:42] AlexMaass commented on #1246
how view-able would these profile pictures be?

[2017-02-01 00:49] jfly commented on #1246
There's currently no place on our website where the public would be able to see these. There are admin pages where delegates other website admins would be able to see these. Also, if a third party website that uses WCA OAuth (such a fantasy.cubing.net) chose to show profile pictures, then they would show up there.

[2017-02-01 01:33] pedrosino commented on #1246
I'm of the opinion that we should stick to only allowing people with a WCA ID to upload a picture. It makes not much sense to allow someone to upload a picture that would appear nowhere on our website.

If fantasy.cubing.net uses WCA OAuth and would require pictures for non-competitors, I guess they should maybe not use WCA OAuth :P

[2017-02-01 04:01] #729 closed

[2017-02-01 15:10] viroulep opened #1257 "Competition entry fee should have a default currency"
Having a blank currency code for a competition raises an exception [here](https://github.com/thewca/worldcubeassociation.org/blob/ea2642398830683da92b86f14abd09e90c6bb9d5/WcaOnRails/app/models/registration.rb#L112).

I'll quickfix this, but I think we should probably enforce a default currency for the competition's fees.

[2017-02-01 19:20] jfly opened #1259 "Outdated translations can crash individual pages"
So, the /edit/admin page doesn't load for me in locale: es.

Here's what I see on the server logs:

[code]

And if you check https://www.worldcubeassociation.org/server-status, you will see that the competitions > nearby_competitions > nearby_admin key is out of date, which is probably what's causing this error.

It's rather unfortunate that an out of date translation can effectively crash our web

[2017-02-01 19:21] jfly commented on #1259
Whether we go the path of writing a test that checks this statically, or a runtime fallback to English, I think this is problematic enough that we should hold of on deploying our i18n changes until we've got a workaround for this. Do you agree, @viroulep?

[2017-02-01 19:28] larspetrus commented on #1259
On Wed, Feb 1, 2017 at 11:17 AM, Jeremy Fleischman <jeremyfleischman@gmail.com> wrote:
We *do* actually have fallbacks enabled. The problem in this particular case is that this is not a missing translation, it's an out of date translation.

Oh! It's a translation that exists but throws an exception? Interesting...

You can define an exception handler: http://edgeguides.rubyonrails.org/i18n.html#us

[2017-02-01 19:36] jfly commented on #1259
Nice find! That is **exactly** what we need. Of course, checking this statically would be ideal (and is theoretically possible), but I'm okay with this solution.

I'll let @viroulep decide.

[2017-02-01 19:48] jfly opened #1261 "Pluralization rules for Hungarian are incomplete"
This was brought to our attention by Niki and Oliver of Hungary.

Here's how to translate the following 3 sentences:

"registration ends in 5 days"

"registration ends in 1 day"

"we had a competition which lasted for days"

"the number of days we spent on the competition"

this is more awkward 😛
as for the word "for"
we put "ig" at the and of the plural day
nap is day
napok is days
napokig is for

[2017-02-01 19:52] larspetrus commented on #1259
I assume static analysis would mean you have to wait for all translations to be updated before committing/deploying?