[2017-10-18 17:57] Mollerz commented on #2051
I don't think it should fully prevent you from registering for the event, you might have a competition between registering and the time of the competition that allows you to qualify for it. Perhaps give organisers an option to press a button that removes all those who haven't got results with the designated qualifying times? Maybe with a check...

[2017-10-18 17:58] jgouly commented on #2051
Yup, that's why I was suggesting to show the qualification information!

[2017-10-18 19:13] #138 closed

[2017-10-18 20:55] jfly commented on #988
Closing this. I don't think this happens often enough to be worth the effort.

[2017-10-18 20:55] #988 closed

[2017-10-18 20:58] jfly opened #2053 "Provide some mechanism for updating ~/.ssh/authorized_keys"
PR #2054 added a script (`gen-authorized-keys`) to update authorized_keys, but it only runs whenever chef runs. It does not run in any of the following cases:

1. Someone is added to the software team on Github.
2. Someone is removed from the software team on Github.
3. A member of the software team updates their ssh keys on Github.

@FatBoyXPC and I discussed some ideas for how to handle these th

[2017-10-18 23:37] #985 closed

[2017-10-19 03:09] #1982 closed

[2017-10-19 06:29] #2023 closed

[2017-10-19 14:50] #238 closed

[2017-10-19 15:51] jfly commented on #1043
I think this was fixed in #2059.

[2017-10-19 15:51] #1043 closed

[2017-10-19 16:16] AlbertoPdRF opened #2064 "Set a maximum size for all images in e-mails"
Now that we added support for css in e-mails (see #2040), we can give all `img` tags a `max-width` rule and solve the problem of incredibly big images in reports.

[2017-10-21 01:33] jfly opened #2069 "Vestigial comment about bootstrap table"
Hey @jonatanklosko, could you look at https://github.com/thewca/worldcubeassociation.org/blob/18526dcf901fef414dbb56267240a9dec113d802/WcaOnRails/app/assets/javascripts/application.js#L322-L324? It links to an issue on bootstrap-table that has been closed.

I ran into this when debugging why a link with a data-method on it wasn't actually doing anything when clicked. I tracked it down to this call

[2017-10-21 18:24] jfly opened #2070 "Add `enum_help` gem"
We have a number of `select` inputs in our codebase, and `simple_form`
 doesn't make dealing with them especially easy. You still have to specify the possible values and their labels, when you'd really expect `simple_form` to be able to figure that out. https://github.com/zmbacker/enum_help is a gem that seems to solve that problem.

[2017-10-22 02:04] pedrosino opened #2073 "Make a form to request results fixes"
From Radu:

competition (will show only the competitions this delegate has delegated - ex Estonian Nationals) -
event (will show on only the events that took place here - sq1) -
competitor (automatically shows only who competed in sq1) -
etc.

[2017-10-22 17:31] ToastyKen opened #2074 "Website link should have different presentation if it's the page you're already on"
Steps to reproduce:
1. Go to a competition page whose competition website is hosted by the WCA, e.g.:
https://www.worldcubeassociation.org/competitions/BerkeleyFall2017

Expected behavior:
Some indication that this is the official website for the competition.

Actual behavior:
2. See the Website link and think maybe the main competition site is elsewhere.
3. Click Website link.
The same page you a

[2017-10-23 02:23] jfly commented on #2074
We actually do have this already, see [`generate_website`](https://github.com/thewca/worldcubeassociation.org/blob/a20d2f02e1513a0c5c5b26438755be9860f802be/WcaOnRails/db/structure.sql#L43).

In fact, you can see the [`def website`](https://github.com/thewca/worldcubeassociation.org/blob/a20d2f02e1513a0c5c5b26438755be9860f802be/WcaOnRails/app/models/competition.rb#L412-L414) that implements the beh

[2017-10-23 15:17] #1937 closed

[2017-10-23 18:27] radufaciu commented on #2073
Well, basically the first post says it all. I think we can reduce significantly the number of errors when people submit "change requests" for anything if we implement a form to be filled in, than an e-mail. I think we should implement this for:
-Results change/correction
-Date of Birth change/correction
-Name change/correction

Having the form also with drop-down menus will be ideal. In the end, t

[2017-10-23 18:35] jfly commented on #2073
This sounds like a great idea, and hopefully we can get someone to take it on as a ment2.

[2017-10-23 19:16] jfly opened #2085 "Spinning up a new staging server dies while trying to load developer database export"
When initializing a new staging server, we run [`db:load:development`](https://github.com/thewca/worldcubeassociation.org/blob/73a4a474adfcb9829469f27781e2c936780c5515/chef/site-cookbooks/wca/recipes/default.rb#L407). While executing this Rake task, we end up in `translations.rb` and call [`Timestamp.find_or_create_by`](https://github.com/thewca/worldcubeassociation.org/blob/73a4a474adfcb9829469f2

[2017-10-23 20:49] #2085 closed

[2017-10-23 21:46] jfly opened #2087 "When spinning up a new staging server, log files are owned by root"
See the following error when spinning up a new staging server:

[code]

I believe these files get created when we load the developer's database export [here](https://github.com/jfly/worldcubeassociation.org/blob/ff8f31ed9ce89b66ac2921cf74a70053ce20b886/chef/site-cookbooks/wca/recipes/default.rb#L407)

[2017-10-23 21:58] #2087 closed

[2017-10-24 13:57] SAuroux opened #2089 "Add senior delegate to automated results reminder"
I just learned that senior delegates are CC'd for late report reminders, but not for late results reminders. We should CC seniors for the latter as well.

[2017-10-24 14:59] jfly commented on #1040
With out new WCA ID claiming flow, I don't think this is worth doing anymore.

[2017-10-24 14:59] #1040 closed

[2017-10-25 02:09] jfly commented on #2089
@SqAtx is working on this as a ment1!

[2017-10-25 05:43] #2089 closed

[2017-10-25 06:46] #1796 closed

[2017-10-29 20:35] jonatanklosko commented on #2069
I think the only one reasonable solution would involve changing the library, see [this comment](https://github.com/wenzhixin/bootstrap-table/issues/2154#issuecomment-340291940) for details.

[2017-10-29 23:08] jfly opened #2107 "Port fix_results.php to Rails"
- https://github.com/thewca/worldcubeassociation.org/blob/master/webroot/results/admin/fix_results.php
- https://github.com/thewca/worldcubeassociation.org/blob/master/webroot/results/admin/scripts/fixresults_ajax.php

https://staging.worldcubeassociation.org/results/admin/fix_results.php

[2017-10-29 23:10] jfly commented on #2073
For the record, here's what the Results team requires when someone requests a change to competition results:

### Requesting changes to competition results (updated on September 22, 2017)

If changes are requested, the following information must be provided (in the same email thread used to submit results):

- Competition name or competition ID
- **WCA-ID** and name of the competitor
- Event and r

[2017-10-29 23:30] FatBoyXPC opened #2108 "Failed payment shows as paid"
I saw this failed payment in stripe:
![image](https://user-images.githubusercontent.com/744962/32149742-94079f26-bcdf-11e7-8a0c-2e1c894e4063.png)
![image](https://user-images.githubusercontent.com/744962/32149744-a2810740-bcdf-11e7-83fc-3673c7fa807f.png)

However, this seems to show up:
![image](https://user-images.githubusercontent.com/744962/32149724-4d1f2fe8-bcdf-11e7-9a4d-302e6a453d24.png)

[2017-10-29 23:31] FatBoyXPC commented on #2108
Bah - there was another transaction I missed. Closing this!

[2017-10-29 23:31] #2108 closed

[2017-10-30 03:34] SqAtx commented on #2073
I've checked with @jfly and I'm planning to start working on this in the next days, once I'm familiar with the relevant parts of the website and the code base.

[2017-10-30 11:52] SAuroux commented on #2073
Just in case that's not clear: such a form definitely needs to allow
sending multiple change requests at once. But you can limit it to one
competition at a time.

In the best case, this form would be as easy as sending a mail with
multiple change request, while ensuring a correct format with all
information.

2017-10-30 4:34 GMT+01:00 Kevin <notifications@github.com>:

[2017-10-30 20:22] #2070 closed

[2017-10-30 21:25] jfly opened #2113 "Form for submitting competition results"
Tangentially related to #2073, but probably more important.

- [x] ~~check that the `/events` page has been filled in (so the WRT can enforce time limits)~~ see https://github.com/thewca/worldcubeassociation.org/issues/2984
- [x] update the submit results nag email to link to this new form (#2979)
- [x] add a required field linking to the competition schedule (https://github.com/thewca/worldcubeas

[2017-10-30 21:55] #296 closed

[2017-10-31 00:01] jfly opened #2115 "Youtube video doesn't show up in delegate report email"
The original markdown I wrote (using the cool youtube feature introduced in 8d090cc70468f0c4524217c794e88c76cf4a3f14):

[code]

Here's the generated email (by clicking "view original" in gmail):

[code]

But here's what shows up in my email client:

![image](https://user-images.githubusercontent.com/277474/32201302-832e9506-bd93-11e7-9b84-884b4769de03.png)

The solution to this might be to convert

[2017-10-31 00:02] jfly commented on #2115
If we can't figure out an easy solution to this, maybe we should remove the youtube feature for delegate reports (and anything else where markdown is included in an email).

[2017-10-31 03:15] jfly commented on #2113
Copy pasting information about submitting results from the delegates crash course:

Submitting competition results
Once obtained from the WA, the JSON file is to be submitted to the Results Team: results@worldcubeassociation.org. Please make sure, to include all helpful information for the results team in the text body of this mail:

New: To allow the Results Team to verify time limits and cutoffs

[2017-10-31 03:38] jfly opened #2116 "Add a notification for competitions that are over, but the delegate has not yet submitted results for"
I discovered that we don't actually have that over in our [notifications_helper](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/helpers/notifications_helper.rb) while investigating #2113 with @SqAtx.

This might make for another good ment2 for @SqAtx when he's done with #2113 =)

[2017-10-31 16:54] Laura-O opened #2118 "Change Feet format to Average of 5"
The WRC has decided to change the format of Feet to "Average of 5". Technically this means that we will move Feet from [9b2](https://www.worldcubeassociation.org/regulations/#9b2) to [9b1](https://www.worldcubeassociation.org/regulations/#9b1) so it has the same formats as the other events mentioned in this regulation.

**Important Disclaimer**: This is currently "only" a WRC decision. Regulation

[2017-10-31 17:40] viroulep commented on #2118
I've edited your list of changes to be check-able, even if it's not exhaustive we'll have to handle at least that.

Explicitly mentioning @Luis-J-Ianez et @Baiqiang for the last bullet.

[2017-10-31 20:59] pedrosino commented on #2113
Just to be a little picky, this comma is not necessary, I think:

[2017-10-31 21:01] jfly commented on #2113
You're totally right. I've updated the [crash course](https://www.worldcubeassociation.org/delegate/crash-course) to remove that extra comma.

[2017-11-01 06:17] SqAtx commented on #2113
So this ticket has a lot of small changes. I think it would help to write them down.

We talked about splitting it a bit, start with something simple and work towards the desired workflow.
### Step 1: Add a page for submitting results
* Add a new "Submit results" navigation item in the delegate view of a competition, probably just above "Delegate report"
* It opens a simple view with a file upload

[2017-11-01 08:46] ToastyKen opened #2122 "Full results pages for large competitions need to be split into multiple pages"
Example, the Worlds 2017 full results page:
https://www.worldcubeassociation.org/competitions/WC2017/results/all

On mobile, it pretty much kills my phone.  Even on desktop, it's extremely slow.

Proposed solution is to have a mode where each round of each event is split into a separate page, ideally with an easy table of contents navigation box on the left or something.  Basically, do it like Cub

[2017-11-01 20:43] jfly opened #2123 "Implement support for a changing registration fee over time"
See the discussion here: https://github.com/thewca/worldcubeassociation.org/pull/1368#issuecomment-285380825. Currently, we make the registration fee immutable once someone has paid.

If we just unlock this field, then when you increase registration fees, people who previously appeared as fully paid will now appear as not fully paid. This might be good enough to start, since their registrations wi

[2017-11-01 22:29] jfly commented on #2122
Really? For me on both mobile and desktop, I start seeing results almost immediately, and I can even scroll and click around while the rest of the page loads. I think it's a pretty decent experience in both environments.

It does take a while for the page to fully load, but I don't think that's a big problem.

[2017-11-02 00:09] ToastyKen commented on #2122
Well, my phone has been slow in general lately, but I've definitely experienced serious lag before, especially when I wasn't on WiFi.  It does seem relatively responsive on desktop right now.

I've edited the original description to focus on the main problem, which is that it's difficult to find a specific round, because rounds are not indexed.

For instance, go to that page and try to find Rubik'

[2017-11-02 00:12] ToastyKen commented on #2122
Oh here we go. I turned of WiFi, tried to load that page, and, after loading some of the page, it literally crashed Chrome on Android:

https://photos.app.goo.gl/6VLOdU2c8nsmJeUH2

[2017-11-02 00:14] ToastyKen commented on #2122
That page is over 4 MB of HTML!

[2017-11-02 06:03] jfly commented on #2122
That's pretty lame that it crashes your android phone =(

Sure, but it's being transferred gzipped, and we get huge savings that way.

You can see here that it's only 467 KB of download to load the page:

![image](https://user-images.githubusercontent.com/277474/32311958-6d367630-bf58-11e7-8618-55fc2e48c935.png)

I did this load with nothing cached, and you can see that the total amount of bandwid

[2017-11-02 06:30] ToastyKen commented on #2122
So that's a matter of degree, but what about the main issue, which is that there are no links to individual rounds, and scrolling to find them is onerous for large comps?

I think supporting a broader set of links on the left would be an easy solution to this (compared to putting each on its own page, which I imagine would be harder).

[2017-11-02 06:35] ToastyKen commented on #2122
Btw, I don't think it's the file size that's the issue with the 4 MB so much as the RAM and CPU load once you render that into a page, which is probably what killed Chrome on my phone. :\

[2017-11-02 06:36] ToastyKen commented on #2122
Anyway, again, back to the main issue: Have you tried scrolling down the page? It's ridiculously long. Surely we can agree the usability could be improved?

[2017-11-02 09:33] Luis-J-Ianez commented on #2118
I'm 99.999% positive this would take from me like 1 minute updating the events table plus 5 minutes testing.

[2017-11-02 09:38] Baiqiang commented on #2118
Cubing China supports Ao5.

[2017-11-02 15:47] ShadowMCS opened #2128 "[Suggestion] Change policy of 1 comp every 26 days."
I never really saw the point of this rule. I think it should be reduced to about half the time, or just to a fixed amount of comps per month. The 200km radius is a pretty considerable amount of area, and this pretty much means only 1 comp per month per area. In addition, comps in my area (Northeast), fill up extremely quickly. If more comps were permitted this would be less of an issue.

I heard f

[2017-11-02 15:53] jfly commented on #2122
Yes! I have also found this quite annoying. Another idea might be to provide "next/previous" round links when you're looking at a particular round, which would let you get around faster.

Yeah, I think the only fix for that is to split this up into multiple pages, which I'm not opposed to, but maybe should be a different project.

[2017-11-02 16:49] #2115 closed

[2017-11-02 17:35] #798 closed

[2017-11-03 05:31] SqAtx opened #2132 "Fix "In Memoriam" formatting"
I stumbled upon one of the [In Memoriam pages](https://www.worldcubeassociation.org/archive/forum_topics/1982). They are not very readable - we could fix the formatting :)

[2017-11-03 21:18] jfly commented on #2132
Yeah, this should definitely get improved!

This actually isn't specific to the in memoriamm pages, this is just because we made no effort in #1651 to parse the phpbb forum syntax.

[2017-11-06 13:54] DanielEgdal opened #2144 "Finding competitions by number of events"
When you are searching for competitions that look interesting to attend, it would be a nice feature to be able to select a minimum amount of events at competitions, like the way you are able to search for competitions with a certain event. (see picture under).
![image](https://user-images.githubusercontent.com/28397408/32444253-3c6c2ad8-c302-11e7-9faf-b797657d84c7.png)

[2017-11-06 16:57] jfly commented on #2144
Just to be clear, currently the search is "find me a competition with one of these events", and you'd like to be able to ask "find me a competition with ALL of these events"?

How would you suggest representing that in the UI?

[2017-11-06 17:02] pedrosino commented on #2144
I believe he wanted to be able to ask "find me competition(s) with at least 6 events"

[2017-11-06 17:08] jfly commented on #2144
Oh. How is that useful?

[2017-11-06 17:26] DanielEgdal commented on #2144
Yes what Pedro said.

It's useful in that way, when you care pretty evenly about all events (which quite a few people do), you just don't care which event you compete in, but just having enough events so it's worth traveling and using money on.
It takes quite a lot of time to check every competition, to see if it's worth it.

[2017-11-07 10:23] viroulep commented on #2118
See thewca/wca-regulations#479 and thewca/wca-regulations#299 for the related issues and discussion.

[2017-11-07 10:55] Mollerz commented on #2118
What is the timescale for this change? We want to announce a competition with two rounds of Feet for next March. Obviously the reason we are holding two rounds is due to the change to average of 5.

[2017-11-07 11:23] Mollerz opened #2147 "Allow users to "Follow" competitions"
Might be nice idea to allow competitors to follow a competition, that gives you a notification for when registration opens.

Currently a competitor has to just remember when registration opens or set their own calendar event on a personal app to be notified when registration opens. Seems somewhat simple to allow people to follow a competition to be notified when this occurs?

As a sub-point. It mi

[2017-11-07 12:49] Laura-O commented on #2118
@Mollerz This is still not approved/decided yet, but I am quite confident that you can hold Ao5 rounds in March 2018.

[2017-11-08 02:30] jfly opened #2148 "More useful error message when signing in with an unconfirmed email"
When signing up, if you miss (or not receive) the confirmation email, you'll see the following, not-so-helpful message when you try to log in:

![image](https://user-images.githubusercontent.com/277474/32528748-97a48732-c3e9-11e7-89d4-25ec609fbac4.png)

We should change this message to link to say something like "Didn't receive a confirmation email? Go to https://www.worldcubeassociation.org/users

[2017-11-08 16:56] #2148 closed

[2017-11-10 05:23] UnsolvedCypher opened #2153 "Contact button on competition pages is not user-friendly"
At the moment, in order to contact the organizer, you must click the orange envelope next to the word "Contact" on the competition site, which then opens a mailto link, which may open the email program on your computer, but on many computers it will just open a blank tab with the email and some encoded characters in the address box. I don't think this is very intuitive behavior, as

1. It's not cl

[2017-11-12 10:02] AlbertoPdRF commented on #2064
I'm closing this one, as I see that #1507 already covers this issue.

[2017-11-12 10:02] #2064 closed

[2017-11-12 10:05] AlbertoPdRF opened #2156 "Missing word in the automatic reminder to post the report"
Quoting Bob:

I'll take care of it.

[2017-11-12 16:21] jfly commented on #2156
Oh, I always incorrectly read that as "if you have availability...." (removing the word "an" entirely)

[2017-11-12 16:52] AlbertoPdRF commented on #2156
Actually, could someone else take care of this issue? I'm having trouble with my local repository and I'm afraid I won't have time to solve it soon, so I will un-assing the issue from myself.

[2017-11-13 06:11] Baiqiang opened #2157 "The field scramble in Scrambles table should be extended"
After #1922, all scrambles of an attempt for multi-blindfolded are stored in the scramble field. Thus there're many scrambles' length over 500, which is the current max length of the field `scramble`. This means we've lost a lot of scrambles in our database.

[2017-11-13 06:13] Baiqiang opened #2158 "The scramble on export doesn't contain "\n""
There's only one line for all multi-blindfolded scrambles after #1922, which should contain `\n` in the export.

[2017-11-13 07:14] Baiqiang commented on #2158
@jfly Yes. For TSV file, containing `\n` will be strange. Currently the WCA website doesn't show the scrambles so we should fix this IMO. Otherwise people will be confused if the see a loooooooong scramble.

[2017-11-13 15:57] larspetrus commented on #2157
Can the lost scrambles be recovered from backups?

[2017-11-13 16:15] jfly commented on #2157
Unfortunately this data is not in our backups =( We didn't change the size of this column at any time, we just changed the type of stuff we're trying to put into it. Fortunately, the WRT should have all the missing data in email attachments, so we should be able to get one of them to recover this data for us.

[2017-11-13 16:42] jfly commented on #2158
@Baiqiang, could you look into improving export_public to include newlines when generating the SQL dump?

[2017-11-13 16:42] #2157 closed

[2017-11-13 16:45] larspetrus commented on #2157
Aha, the inserts failed silently!

[2017-11-13 16:46] jfly commented on #2157
Yeah :cry: :sob: :sob: Hopefully the email I just sent out explaining the whole situation makes sense.

[2017-11-13 17:02] coder13 opened #2163 "Persons showing up twice when searching for persons with multiple subids"
Example:
https://www.worldcubeassociation.org/search?q=Anthony%20Brooks

[2017-11-13 19:34] #2163 closed

[2017-11-13 19:37] AlbertoPdRF commented on #2156
To clarify: the proposal is to add the word "time" between the words "any" and "soon". Also, after speaking to @jfly, "an availability" should be changed to "availabilty", i.e. remove "an".

[2017-11-13 20:22] Luis-J-Ianez commented on #2156
Would it be possible to change "Over a week has passed" with an accurate time of period?

[2017-11-13 23:49] cubewhiz commented on #2156
Instead of removing "an" before availability, I think it could also make sense to say "the availability" but I'm not sure if that's better.

As per Luis's comment, is when is the reminder sent? Is it sent after 7 days have passed or is it always sent at the end of day on Saturday? If the former, I don't think any change is necessary.

[2017-11-14 11:11] Luis-J-Ianez commented on #2156
@cubewhiz, those reminders are sent on a weekly basis as long as they remain overdue. This results in several emails sent out for a competition overdue by several weeks. This is why I'm asking for an accurate time period (if affordable).

[2017-11-14 16:25] timhabermaas commented on #1851
@Laura-O This can be closed thanks to #2000, right?

[2017-11-14 16:48] Laura-O commented on #1851
Yep. :-)

[2017-11-14 16:48] #1851 closed

[2017-11-15 01:36] jfly commented on #2156
@Luis-J-Ianez, if we change it from "over a week" to an exact time period, then you lose a sense of what time period is expected. For instance, currently we say:

You're suggesting saying something like:

Which doesn't educate people about when they were actually expected to get the report sent in.

I don't actually feel strongly one way or the other. Could someone make an executive decision and c

[2017-11-15 05:23] #2158 closed

[2017-11-15 13:06] Laura-O commented on #2118
The Board has approved the change.

To give an update on the timescale:
We are not ready yet with the other changes, but the remaining steps will take at least 4 weeks. We are in the week before Christmas then, which is usually quite a busy time for everyone, so January 2nd, 2018 seems like the best solution for me.
I will post an update here when we have news.

[2017-11-16 07:39] AlbertoPdRF opened #2179 "Add a specific "registration-requirements" field to competitions"
One of the changes in the new Regulations release will be to make mandatory the announcement of the requirements that a competitor has to fulfill in order to complete their registration. To do so, as suggested by @viroulep, we think that a specific field in the competition form makes sense. Additionally, this field would have to be locked once the competition is confirmed. Please, see thewca/wca-r

[2017-11-16 07:44] viroulep commented on #2179
I've assigned this one to me, I'll make sure to give me time to tackle it this weekend.

[2017-11-16 21:48] timreyn opened #2180 ""Info" tab on competition page unclickable on Chrome mobile"
1) Go to a competition page with WCA registration (e.g. https://www.worldcubeassociation.org/competitions/BigNBlindNYC2017)
2) Emulate mobile (ctrl+shift+M in desktop chrome)
3) Click "register"
4) Try to click "info".  Observe that it's unclickable.

The issue appears to be that the navbar-brand div is covering up most of the "info" list-group-item.  You can click on the right half of it though.

[2017-11-17 16:10] AlbertoPdRF opened #2182 "Rename the events according to the next release of the Regulations"
The events on the Regulations have been renamed, so we should rename the ones on the website too:

Rubik's Cube -> 3x3x3 Cube
Rubik's Clock -> Clock

More information in thewca/wca-regulations#479.

[2017-11-17 16:35] jfly commented on #2182
(Just to be clear, I'm not at all opposed to this change, I just want to make sure we're consistent about how we handle changes to event names).

We did a whole delegate vote the last time we changed the names. I'm not saying we should do a vote again, but it does seem a little strange to first tell delegates "hey, we care what you think about even names", but then next time we say "the WRC gets t

[2017-11-17 16:56] SAuroux commented on #2182
@jfly as far as I understand it, the WRC is not even involved in this: https://github.com/thewca/wca-regulations/pull/510

[2017-11-17 19:13] AlbertoPdRF commented on #2182
"Rubik's" is a registered trademark. We must not use it. The Board itself has decided upon this for the best of the WCA. Besides, we thought that although we voted on it recently, many people's minds may have changed in light of recent facts. Also, I think that last time we voted for the order of the events and not the name itself, although this specific topic was brought up to the discussion.

[2017-11-17 22:01] Laura-O commented on #2182
I completely agree with Jeremy's reply.
And to make it clear again: this is not a WRC decision. I learned about this in https://github.com/thewca/wca-regulations/pull/510 and was surprised as well.

[2017-11-18 19:55] #774 closed

[2017-11-18 20:01] jfly commented on #2182
Just did a quick search through our codebase for occurrences of the word "Rubik". Most of them are in translations, but some of them are in code that will need to change:

[code]

[2017-11-19 03:08] cubewhiz commented on #1931
It would be helpful if the Delegates table (available in the Panel) could be sorted by Senior Delegate. It would also be helpful to see the date of appointment. Is that part of this issue or would this be separate?

[2017-11-19 03:10] cubewhiz commented on #2182
The Board will make an announcement explaining this change.

[2017-11-20 05:32] jfly commented on #1931
@cubewhiz, this issue is just an internal refactoring of our code and database, @pedrosino will not be adding any new features as part of this. Adding delegate start/stop dates is an interesting problem that we attempted to tackle in the past, but decided it wasn't worth the effort vs the benefit. See #680 and #725. For the record, it's still something I personally would like to address, it just h

[2017-11-20 05:34] jfly commented on #1046
@cubewhiz, I've added to to an email thread about this titled "Allow seniors to edit delegate status?". Maybe let's continue the discussion over there.

[2017-11-20 12:31] TimMcMahon opened #2185 "Delegates page to include historical and current "terms""
It would make it easier for the Board to manage Senior Delegates and for Senior Delegates to manage Candidate Delegates if the Delegates page (under Panel) included historical and current terms served. The Board would be able to see when a Senior Delegate was appointed, when their term expires, and whether they've served in that role previously. This information could be used to help manage a Cand

[2017-11-20 12:40] SAuroux commented on #2185
This seems to be part of https://github.com/thewca/worldcubeassociation.org/issues/680

[2017-11-21 04:04] cubewhiz commented on #278
The schedule feature would be helpful for the WCA Board as well. When we confirm competitions, one of the things that we check is that the events list matches the schedule. Since schedules are done manually now, this usually means writing the events from the events list into notepad and then checking the schedule to make sure they all appear (and that there are no extras).

[2017-11-21 13:44] pedrosino opened #2188 "Add a field for registration information"
We currently have tabs, and the following texts at the registration page:

(not sure if this is always shown)

But I think it would be valuable to have a custom field for additional information. This could be more useful (and less confusing) than the generic message above.

Related: #2051

[2017-11-21 16:23] pedrosino opened #2189 "Add a birthdate column to Persons"
Right now we have separate colums for year, month and day, which is quite annoying to use when you need birthdate information and/or operations.

Is there a specific reason for this?
We already have start_date and end_date for Competitions (the old columns are still there, though), so it would make sense to have this for Persons as well.

[2017-11-21 19:21] pedrosino commented on #1931
Once this one is ready (which I cannot make promises about), I plan to track appointment/promotion/demotion dates too.

[2017-11-21 22:15] cubewhiz commented on #2182
This change has now been announced to WCA Staff and External staff via email from the WCA Board.

[2017-11-22 00:44] jfly commented on #2189
We were able to make this change to the Competitions table because only Rails code updates the Competitions table, so we can use ActiveRecord hooks to keep all the columns in sync. That's not possible with the Persons table because we have PHP scripts that write to the Persons table. So, before we can make this change, we need to first get rid of all the PHP code that writes to the Persons table.

[2017-11-22 00:46] jfly commented on #2182
In the latest email from the Board:

[code]

[2017-11-23 21:04] #1900 closed

[2017-11-24 17:15] pedrosino commented on #2189
Ah, that sucks :(

[2017-11-24 17:34] jfly commented on #2153
I believe this was fixed by #2197. @UnsolvedCypher, please reopen if there is remaining work today. Also, in the future, please comment your commits with appropriated `fixes #...` notation so issues automatically get closed!

[2017-11-24 17:34] #2153 closed

[2017-11-24 17:35] UnsolvedCypher commented on #2153
Ok, this looks good for now. And I'll be sure to do that, thanks for letting me know!

[2017-11-24 19:20] jfly opened #2200 "Convert old 333mbf scrambles to match the new, newline separated format"
When implementing #1922, we never did a database migration to deal with all our old 333mbf scrambles. Here are my thoughts on the issue:

[code]

Since the group A scrambles were actually used for attempt #1, and the group B scrambles were actually used for attempt #2, I'd argue it would make more sense to change our database to look like this:

[code]

I checked, and these would come out to 16863

[2017-11-24 19:53] jfly opened #2201 "Weirdness with the groupId column of our Scrambles table"
Here are the contents of an email I sent the WRT:

While working on issue #2200, I discovered some strange looking groupIds in our database. See:

[code]

TNoodle should never generate groups with ids like "Fin", "Ext", or "Not". Do you have any idea what these groupIds mean? Here's the list of competitions that had these weird groupIds:

[code]

Do you know if there was any weirdness with the scr

[2017-11-25 21:12] jonatanklosko opened #2207 "Extract manual statistics computation into a job"
This should be called from an application job, without the `>/dev/null 2>&1 &` part.
https://github.com/thewca/worldcubeassociation.org/blob/966f5b0afc5bc543d65de43abfb38ea6cd5dde88/WcaOnRails/app/controllers/admin_controller.rb#L102

If someone does #305 before this one, it would likely be closed.

[2017-11-27 02:32] coder13 commented on #2182
Another instance that needs to be be changed: https://www.worldcubeassociation.org/results/misc/evolution/

[2017-11-27 02:46] cubewhiz commented on #2185
This is also related to #1931

[2017-11-27 19:21] jfly commented on #2201
The workbook assistant allows setting arbitrary strings for group names, so these all probably came from humans messing around in the WA.

As part of fixing this, we could consider adding a check in our results uploading scripts for group names that do not match regex `[A-Z]+`. We could also check for gaps such that (A, B, D, E, ...) is not allowed

[2017-11-27 21:19] #2182 closed

[2017-11-28 12:08] pedrosino opened #2221 "Add a Table of Contents to the Delegate Crash-Course"
The page is getting big, and finding stuff can become tricky.
Having a TOC at the top would be of great help.

[2017-11-30 06:49] coder13 commented on #2128
Closing because of #2195

[2017-11-30 06:49] #2128 closed

[2017-12-01 14:31] Mollerz commented on #1674
Is anyone working on this currently? @viroulep do you have some time? :)
UK is soon to start having problems with PayPal as we reach "donation" thresholds which mean our buttons won't work anymore.

[2017-12-01 14:54] viroulep commented on #1674
Absolutely not :(
I couldn't do it in September, and since then I'm barely keeping up with my WRC and French association duties as I finish writing my PhD :(
I should be "back" mid January, and a lot more active starting early March.

[2017-12-02 00:03] jgouly opened #2234 "Can't search for Phil Yu!"
I'm sure there are other names that don't search well, but this is the one I found.

https://www.worldcubeassociation.org/persons?page=1&region=all&search=phil+yu

Searching for the start of his ID doesn't work either:
https://www.worldcubeassociation.org/persons?page=1&region=all&search=yuphi

His profile is https://www.worldcubeassociation.org/persons/2010YUPH01

[2017-12-02 00:19] jonatanklosko commented on #2234
@jfly It probably has to do with #2196.

[2017-12-02 04:50] larspetrus commented on #2234
You _can_ search for the start of his ID: https://www.worldcubeassociation.org/persons?page=1&region=all&search=2010yup

[2017-12-02 09:36] jgouly commented on #2234
Good point, I actually meant 'part'. I edited my comment to change that.

[2017-12-02 16:47] larspetrus commented on #2234
I didn't mean to nitpick, just to inform :)

One of the changes in #2196 was that you can only search WCA IDs from the beginning, not for arbitrary substrings. This is a big performance win, but does have this usability loss.

I'll leave it to @jfly to investigate, but I'd speculate that the MYSQL full text search for names does something weird with 1-2 character strings.

[2017-12-03 18:49] jfly commented on #2234
Yeah, mysql's fulltext search defaults to a 4 letter minimum on words. I just checked our mysql configuration:

[code]

There's some information on changing this setting for AWS RDS here https://forums.aws.amazon.com/thread.jspa?threadID=92917 and here http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_WorkingWithParamGroups.html, but I'm not sure this is a rabbit hole we want to go down.

[2017-12-03 19:04] larspetrus commented on #2234
Lowering the MySQL limit is the better solution, but I'm not volunteering to figure out the RDS setting magic.

If you think that's a rabbit hole, Elastic Search is a rabbit Moria.

[2017-12-03 19:20] larspetrus commented on #2234
Because I only just realized it myself:

The "Phil Yu" search is failing because "Yu" simply isn't in the fulltext index. As far as the fulltext index is concerned his only name is "Phil".

[2017-12-03 20:17] jgouly commented on #2234
@jfly does the fulltext index always have to be used? Or can it be turned off for a particular query?

[2017-12-03 20:20] jfly commented on #2234
We introduced the fulltext index as a defense against some DOS attacks we were seeing a week ago, so turning off the fulltext index would open us up to those attacks again.

Someone just needs to take the time to dig into AWS RDS's settings.

[2017-12-03 20:28] sam596 opened #2240 "Competitions with results show up in Upcoming Competitions"
Browsing upcoming competitions and it seems that if a comp was held today, finished, and the results were uploaded all on the same day, the competition shows up in upcoming competitions, rather than in progress or past competitions.

[Gyazo Screenshot Example](https://gyazo.com/5dfcc0abb05253f3adf34d458e91588e). Also, not isolated since I noticed it on an Indian comp yesterday also.

[2017-12-03 20:29] jgouly commented on #2234
Ah, so turning it off for small searches wouldn't be a good idea. But for curiosity's sake, do you know if it's possible?

[2017-12-03 20:32] jfly commented on #2240
I agree, a competition should be declared over if it's results are uploaded. Relevant code here:

https://github.com/thewca/worldcubeassociation.org/blob/a77968d3b161072003098fe67a7881c00ae260c3/WcaOnRails/app/models/competition.rb#L663-L665

[2017-12-03 20:32] jfly commented on #2234
Yes, it's possible. As mentioned several times in this thread, take a look at #2196 if you want to see how we introduced the fulltext index.

[2017-12-05 00:01] cubewhiz commented on #2051
It's not a "must have," but something like this would be very helpful for big competitions like Nats or Worlds, so that we don't have to manually edit hundreds of registrations.

[2017-12-05 00:06] cubewhiz commented on #1692
I think this is even more critical now that a delegate recently could not compete because he did not register for his own competition.

[2017-12-05 00:13] cubewhiz commented on #328
From Philippe Virouleau in an email to announcements in September (regarding Stripe's fees)

 - Refunds: We will no longer return Stripe fees when refunding a customer. We currently return all of the Stripe fees from the original charge when a business refunds a customer. Unfortunately, we still incur costs from the various payment partners we work with when a charge is refunded. Until now, we've

[2017-12-05 01:11] jfly commented on #1692
When you automatically register a delegate for a competition, what events should you register him/her for?

[2017-12-05 01:16] cubewhiz commented on #1692
How about that person's profile preferences?

If they have no preferences, can you register for no events? Is that possible? They could amend their registration later, but at least they would be on the list.

[2017-12-05 01:26] jfly commented on #1692
Currently, we do not allow people to register for 0 events. We could change that, but I don't think we actually do want people creating registrations for 0 events...

[2017-12-05 01:42] cubewhiz commented on #1692
How about if they can't be bothered to fill out their preference in their profile, then they get registered for nothing? :P

I agree, don't change to allow registration for 0 events.

[2017-12-05 05:57] Baiqiang commented on #1692
I don't really like this idea. It lacks fair for others. Every competitor including delegates and organizers must use the same registration process. In China, Fangyuan, Xiaobo and Chirs have missed the registration several times and didn't compete finally.
I agree with delegates/organizers choosing the registration's opening time. But I think we must announce it enough time like 3 days so that com

[2017-12-05 07:04] dependabot[bot] opened #2247 "Dependabot couldn't verify the SSL certificate for https://rails-assets.org/"
Dependabot couldn't verify the SSL certificate for https://rails-assets.org/.

This is most likely to be because https://rails-assets.org/ doesn't have the CA certificate needed for verification.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2017-12-05 14:38] #2247 closed

[2017-12-05 17:20] ToastyKen opened #2248 "Total actual competitor count on General Info page"
After a competition's results have been posted, please include total competitor count on the General Info page.

This number is useful for planning purposes.

Right now there's no easy way to get this number. You can look up 3x3 Round 1 count, but not EVERYONE always competes in that, so this number is not necessarily correct.  Trying to count unique competitors manually across different events is

[2017-12-05 17:36] jfly commented on #2248
Good idea! Could you include a screenshot mocking up what you'd like this to look like?

[2017-12-05 17:56] jfly commented on #2201
@SAuroux fixed this manually in the database. I created #2245 to make sure this doesn't happen again.

[2017-12-05 18:06] #2200 closed

[2017-12-05 18:15] ToastyKen commented on #2248
Sure: Mockup:
![num competitors](https://user-images.githubusercontent.com/2019068/33623033-89807b5e-d9a4-11e7-9d1d-ab2d3b47273b.png)

It should only appear AFTER results have been submitted.

Btw, example: CubingUSA Nationals 2017 had 633 3x3 R1 competitors, but, according to the [stats page](https://www.worldcubeassociation.org/results/statistics.php#most_persons), it actually had 656 total comp

[2017-12-05 18:16] ToastyKen commented on #2248
It'd also maybe be okay if it only appeared on the By Persons page?

[2017-12-05 19:28] jfly commented on #625
Closing this issue. I decided to get rid of all foreign keys a while ago. See https://github.com/jfly/worldcubeassociation.org/blob/5637ddd887d14091a58cbbb5959cf8e58bdd02a7/WcaOnRails/db/migrate/20170404184332_convert_utf8_to_utf8mb4.rb#L10-L17.

[2017-12-05 19:28] #625 closed

[2017-12-05 19:29] jfly commented on #393
I'm closing this issue. I don't suggest that people use vagrant for local development anymore.

[2017-12-05 19:29] #393 closed

[2017-12-06 00:50] cubewhiz commented on #1692
Isn't it more unfair that the person who is organizing or delegating the
competition doesn't have the opportunity to compete? I don't think this
person is violating the "first come first serve" basis because they are
literally the first one--they are creating the page in the first place!

Bob Burton

On Tue, Dec 5, 2017 at 12:57 AM, Baiqiang <notifications@github.com> wrote:

[2017-12-06 03:20] Baiqiang commented on #1692
The registration process is the same for everyone, regardless their status. This is inherently fair. The organizer knows when registration begins, they can make a point to be sure to register on time.

[2017-12-09 21:25] #2221 closed

[2017-12-10 09:49] #2201 closed

[2017-12-10 10:15] jonatanklosko opened #2260 "Use < or > for cutoffs instead of <= and >= respectively"
Regulations state

And the potential ambiguity has been fixed [here](https://github.com/thewca/wca-regulations/pull/467/files).

The change should apply both to the code and the WCIF document.

[2017-12-12 18:30] jfly opened #2270 "JSON API urls do not include port"
For example, when running on localhost port 3000, the urls that come back are for port 80:

[code]

See b8443bb8bf39a35f55f704eef37c4ce0b54baa50 where we changed the relative urls in our API to absolute urls.

[2017-12-13 02:01] jfly commented on #2260
I've updated the [WCIF doc](https://docs.google.com/document/d/1hnzAZizTH0XyGkSYe-PxFL5xpKVWl_cvSdTzlT_kAs8/edit#) to reflect this.

I'll send in a PR shortly fixing our code accordingly.

[2017-12-14 16:44] DanielEgdal commented on #2248
What I do currently is going to the "By person" page, then I use the search function (ctrl+F) and search "WCA profile", then it gives the total count, as it says how many times it says "WCA profile" and every competitor has that.

[2017-12-14 20:47] jfly commented on #73
@SAuroux, unfortunately both of these links are now broken. Do you remember what this issue was referring to?

[2017-12-14 21:03] jfly opened #2286 "import_persons.php basically only uses names when importing data"
See the where condition here: https://github.com/thewca/worldcubeassociation.org/blob/abc382dbcd338bd83c599b1640a8e005ac042305/webroot/results/admin/scripts/import_persons.php#L33-L34

It's only matching on `name`, `countryId`, and is restricting the search to people who competed in this particular competition.

We run `import_persons.php` *after* running `persons_finish_unfinished.php`, so it sho

[2017-12-14 21:22] SAuroux commented on #73
Oh, wow. This can definitely be closed. :)

[2017-12-14 21:32] #73 closed

[2017-12-14 21:33] jfly commented on #73
Ok, thanks!

[2017-12-17 03:11] jfly opened #2297 "Default to 75% when people are selecting an advancement condition"
Suggested by @SAuroux.

[2017-12-17 06:16] SAuroux commented on #2297
a bit more specific: put 75 as default value instead of 0 when selecting an advancement condition AND when selecting "Percent" from the dropdown in the next step.

reasoning:
- 75% is used by the vast majority of cases when a percentage is used as advancement condition
- changing the value from 0 to 75 every time requires many unncecessary clicks/key strokes

[2017-12-19 22:47] #2260 closed

[2017-12-21 09:44] Laura-O opened #2312 "Number of competitions in person profile API"
At the moment the person profile API provides a lot of useful information, but it would be nice to have the number of competitions people attended.

It would be helpful for planning purposes, especially for filtering experienced competitors.

Thank you! :heart_eyes:

Edit: and also useful for generating neat nametags.

[2017-12-22 05:09] cubewhiz commented on #21
As more and more competitions are using the WCA site for registration, it makes a lot more sense for WCA IDs to be automatically assigned in that way.

[2017-12-22 09:30] DanielEgdal opened #2316 "Registration email"
Currently whenever a competitor sign up for a competition they recieve an email confirmation. In that mail you recieve basically the same for each competition. I propose for the organizers of the competition to be able to make a custom notification mail, where it would say some other import details which may also be on the WCA site, and some thing like "your registration will be accepted whenever

[2017-12-22 12:07] pedrosino commented on #2316
Related #2188 and #1938

[2017-12-22 15:01] pedrosino opened #2318 "Option for organizer(s) and delegate(s) to automatically register for a competition"
We've had a couple cases of organizer or delegate failing to register and missing it because the competition got full very quickly. This is mainly due to CubingUSA automatically registering organizers and delegates for a comp.

This could be a checkbox on the competition creation page and people could opt in.

[2017-12-22 15:02] pedrosino commented on #2318
Duh, there's already #1692

[2017-12-22 15:02] #2318 closed

[2017-12-22 16:37] jfly commented on #1692
The Board just informed the WST that they are ok with the WST implementing this feature.

[2017-12-23 02:26] jfly commented on #2248
@pedrosino, always assign issues to yourself before you start working on them!

[2017-12-23 15:42] Baiqiang commented on #1692
I still can't understand why the organizers/delegates have privilege on registration. We just released the new regulations and added some restrictions on the registration. Why must we grant delegates/organizers the privilege?

[2017-12-23 19:56] #2248 closed

[2017-12-23 19:59] pedrosino commented on #2248
@ToastyKen just to let you know that this was done.

Let us know if you think the design could be improved somehow.

[2017-12-23 20:17] ToastyKen commented on #2248
Thanks! That's perfect!

[2017-12-25 08:05] dependabot[bot] opened #2327 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependencies.

This is almost always the result of a dependency version you rely on having been yanked. Please try running an install locally, fix up any errors and commit the result. If no errors occur, get in touch and we'll help dig into things further.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2017-12-26 14:38] moralsh commented on #2297
Got this solved on my local git, I'll push it to my fork as soon as I change the reference of my local git.

[2017-12-26 17:40] moralsh commented on #2297
Created pull request #2333

[2017-12-27 15:33] moralsh commented on #1692
I might be interested in implementing this (if no one tells me I'm crazy), What I understad that has to be done:

- Create one or two checkboxes (default checked) on the new comp form to automatically register delegates and/or organizers
- Create one or two boolean columns on Competitions table to reflect that
- If checked, add registration in the default profile events, if there are no default ev

[2017-12-27 17:42] coder13 opened #2335 "Competition action log"
A log to keep track of who does what when to a competition. E.G. Change events, approve registration, change competition settings, etc..

[2017-12-28 04:07] jfly commented on #2327
@coder13, can you take a look into this?

[2017-12-28 04:18] jfly commented on #1692
Thanks, Raul! I don't like the complication of giving an option for this, let's just automatically register them. Yes, delegates and organizers can be added after a competition is announced, and we should definitely handle this case! I think it could work to put all this logic inside of the `CompetitionDelegate` and `CompetitionOrganizer` models in an `after_create` callback.

[2017-12-28 05:51] coder13 commented on #2327
I did the instructions it told me.

This is the output:

[code]

I didn't add webpacker nor did I add this stuff so I'm not 100% on fixing all of it. Clearly the 3.2.0 matches the >=0.25.2 unless I'm missing something. Maybe whoever added webpacker can figure it out.

[2017-12-28 05:59] ToastyKen commented on #1951
Any chance we could raise this in priority? We're hoping to finalize our refund policy for Nationals before we launch registration on January 9.

[2017-12-29 07:31] #2327 closed

[2017-12-29 15:13] jfly commented on #2327
@coder13, it looks like it's complaining about the version of yarn you're using? Try bin/yarn instead maybe?

Hopefully things are better now since dependabot closed this issue. @coder13, could you verify that our javascript dependencies are up to date?

[2017-12-29 16:05] coder13 opened #2343 "API specific 404 that returns a JSON error message"
instead of returning a full html page, we should send back a short and simple JSON error message when someone tries to query a page we don't have under /api.

[2017-12-30 13:21] jfly opened #2344 "Create a WCIF validator and use that to collect the names and contact information of people using WCIF"
Idea from @timbreynolds:

I rather like this idea! It would also be nice to have a place to store our schema definition, which is currently scattered throughout our database models (see https://github.com/thewca/worldcubeassociation.org/blob/1363c716103442698a3bac8b7dc1d752e7d6ca71/WcaOnRails/app/models/competition.rb#L867-L868).

[2017-12-31 15:43] pedrosino opened #2348 "Competitions in progress not working?"
![image](https://user-images.githubusercontent.com/1881933/34462684-7a57067a-ee30-11e7-88a8-e003227af98a.png)

There's a competition which started yesterday that appears under Upcoming Competitions still.
Two others in the exact same days are In Progress.

[2017-12-31 15:44] pedrosino commented on #2348
If you hover the mouse over the hourglass, it says Starts in -1 day

[2017-12-31 16:36] pedrosino commented on #2348
I think the issue might be because ChongqingOpen2017 already has results posted.

[2017-12-31 16:41] jfly commented on #2348
Thanks for finding this bug, can you root cause and fix it?

[2018-01-01 16:54] nathanajah commented on #797
Hi there! I'm interested in taking this issue.

Just want to clarify a few things though:
- The WCA profile would be at, for example, https://www.worldcubeassociation.org/persons/2010AZAR01, right?
- Where would be a good place to add a button? Perhaps something like ![this](https://user-images.githubusercontent.com/5294606/34469310-0dd8b342-ef14-11e7-9a4e-9978c8b1b1d1.png) with a more proper styl

[2018-01-01 23:35] pingskills opened #2357 "Testing refunds with 2017 credit card fails"
The current test for refunds creates a dummy credit card with a 2017 expiry date which is no longer valid in 2018!

[2018-01-02 00:53] jfly commented on #797
Yeah, that's totally the idea! Generally speaking, I prefer using buttons only for things that *do* something, and visiting an edit profile page doesn't do something (tl;dr: **this should be a link, not a button!**)

In the interest of saving space, it might look better to put the link after the name? If not, we should at least have some padding below the button so it's not smooched up against the

[2018-01-02 00:58] nathanajah commented on #797
Something like
![this](https://user-images.githubusercontent.com/5294606/34472340-06c0216e-ef58-11e7-82f3-969fa9b35149.png)
perhaps?

[2018-01-02 01:04] jfly commented on #797
I love it!

[2018-01-02 06:11] #2357 closed

[2018-01-02 15:37] #2270 closed

[2018-01-02 15:43] pedrosino commented on #2348
Related #2240

[2018-01-03 02:31] cubewhiz commented on #1692
I think a fair compromise is to have the delegate and organizers automatically registered, but not to automatically confirm that registration...or maybe that just makes this needlessly more complicated.

As for handling the case of delegates and organizers to be added after the competition is announced, I would like to clarify that those people should NOT be automatically registered as this could

[2018-01-03 07:55] jfly commented on #1692
I'd rather not do that. A lot of delegates have asked us to implement automatic confirmation of registrations, and whenever we do get around to working on that, having delegates/organizers automatically end up in this unconfirmed state is almost certainly going to cause issues.

Ah, you're absolutely right.

[2018-01-03 20:36] jfly opened #2369 "Add average of 5 as an allowed (and the preferred!) format for 333ft"
See https://github.com/thewca/wca-workbook-assistant/pull/117 and https://www.worldcubeassociation.org/regulations/#9b1.

@viroulep, as our WRC+WST member, could you take this on?

[2018-01-04 00:40] #1951 closed

[2018-01-04 13:07] viroulep commented on #2369
I can take a look, but since the changes will impact results uploading and I know almost nothing about it, I'd love to have an eye from @SAuroux.

Sébastien, do you expect to have to upload any more results with feet Mo3?

I guess we just need to update the [seeds](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/db/seeds/preferred_formats.seeds.rb#L13) and setup a migrati

[2018-01-04 14:29] SAuroux commented on #2369
All with feet results of 2017 have already been posted, so I don't expect any needed support for Mo3 in the future.

Unfortunately, I won't have time to test this new WA version before next week (which will be too late), so it would be good if someone else could do this.

[2018-01-04 16:24] jonatanklosko opened #2375 "Assets doesn't seem to be updated correctly"
I saw the first sign of something weird going on [here](https://github.com/thewca/worldcubeassociation.org/pull/2360#issuecomment-355296741).

Then I was playing on the staging where @viroulep deployed #2373. It should allow the user to pick ao5 for Feet through the UI, but apparently ao5 didn't show up. I think it may have to do with the fact that [the .js.erb file where events data come from](ht

[2018-01-04 16:28] jfly commented on #2375
Darn!

We could probably hack around this in our deploy.sh script by manually removing the `public/packs` directory as you suggested, but that seems like it could break the website while the compilation is occurring (there won't be any assets to serve up).

Do we know if this ever worked well? Were there any suspicious gem upgrades recently? Perhaps one of those introduced an issue with deciding w

[2018-01-05 15:30] pedrosino commented on #2156
We discussed within the Board about a new wording, and this is what we need:

(I made the bolded part also italic, but we'd prefer underlined instead of italic - there's no option for that here)

[2018-01-05 15:46] AlbertoPdRF commented on #2156
Just to clarify, we would like to keep all the links that are now included in the email.

[2018-01-05 17:42] Laura-O opened #2380 "Latest regulation release missing in history"
The [regulation history](https://www.worldcubeassociation.org/regulations/history/) wasn't updated with the new regulation release yet.
It would be great if someone could update the history and add the link to the page.

[2018-01-05 19:57] operge commented on #2156
Also, would it be possible to write the bolded part with a bigger font size, please? This is the core message of the e-mail and we would like to draw as much attention to it as possible.

[2018-01-06 06:27] jfly commented on #2380
Historically, that page has always been updated by the WRC. Could you or maybe @viroulep send in a PR with the changes? Thanks!

[2018-01-06 09:51] Laura-O commented on #2380
Yes, I can probably do that. I just need a confirmation that what I would do is correct. 🙂

What I would do:
1. Add a new folder with the new regulation files in `regulations/build/regulations/history/official/` in the `regulations-data` branch and create a PR
2. Create another PR to update the history page in `master`

[2018-01-06 17:48] moralsh commented on #1692
Just curious to learn How the process can be abused. To register in an already full competition? I'd rather put checks on this or other things than not registering, but maybe I'm not getting what you are meaning.

@jfly If we don't automatically register organizers and delegates added after the competition is announced as @cubewhiz suggests, Do you still see the callback after the object creation

[2018-01-06 23:01] #2297 closed

[2018-01-07 02:30] cubewhiz commented on #1692
Indeed, the abuse would come by means of adding a delegate/organizer when the competition is already full. For example, my friend did not register in time, so now I add them as an organizer and now they are registered for the competition.

If the competition is not full, though, then I see no reason why you couldn't add delegates/organizers automatically.

[2018-01-07 13:06] #2369 closed

[2018-01-07 13:30] viroulep commented on #2380
The last time I did it, I had [this PR](https://github.com/thewca/worldcubeassociation.org/commit/46163cfc3ecf69ed9cefa2dde7eb672ae556df13) for `regulations-data`, and [this one](https://github.com/thewca/worldcubeassociation.org/pull/747) for master.

What you suggest sounds good, in the new folder I would put the files generated by `wrc --target=html`, including a disclaimer (like [here](https:/

[2018-01-08 09:28] #2156 closed

[2018-01-08 17:49] Mollerz opened #2399 "Changing nationality makes SOR 0 instead of highest rank +1"
... for events with no result for the new country.

See: https://www.worldcubeassociation.org/results/misc/sum_of_ranks/?regionId=Finland&average=Average

[2018-01-08 19:42] pedrosino opened #2401 "Warning/Danger button doesn't work as expected"
If you go to https://www.worldcubeassociation.org/competitions?utf8=%E2%9C%93&region=all&search=&year=2017&state=past&from_date=&to_date=&delegate=&display=admin and filter by clicking the Warning button, it will not show the competitions that have a yellow or red block for report or results.

Apparently it only takes the pending ones.

[2018-01-08 21:05] coder13 opened #2402 "Extend the /wcif/events endpoint to accept and store results"
These are unofficial results that can be updated during a competition for use with external apps.

[2018-01-08 21:29] Laura-O commented on #2312
This was implemented in #2400 so I am closing this issue. Thanks @jonatanklosko 😄

[2018-01-08 21:29] #2312 closed

[2018-01-08 21:45] jfly commented on #2312
Thanks for staying on top of stuff, @Laura-O!

[2018-01-09 01:03] jfly commented on #2399
Hey @Baiqiang, do you have any time to look into this? Thanks!

[2018-01-09 02:28] jfly commented on #1692
@moralsh, how about automatically registering delegates and organizers so long as one of the two is true:

1. The competitor limit is disabled
2. The competitor limit is enabled, **and** registration is not full yet.

[2018-01-09 03:53] cubewhiz commented on #2002
I think it makes more sense to list Board members under their senior delegates on the WCA Delegates page. Board members are already listed as such on the "About the WCA" page, and I think that's probably enough.

[2018-01-09 05:41] jfly commented on #2002
@pedrosino, could you work on this instead of #1931? While it would be nice to pull the delegates out into a separate table, I think it would be better to abandon that effort for now and fix this real problem.

[2018-01-09 06:32] #2380 closed

[2018-01-09 17:10] pedrosino commented on #2002
I will try :)

[2018-01-09 20:35] BiscuitCubed commented on #2122
Another idea might be to collapse the actual results under their round heading. That way you can quickly navigate to the event/round you want to see, click on it, and then it expands to show all results from that round. Shouldn't be too hard to do either.

If you wanted to get really fancy, you could only do that for a competition with x results, and/or y events.  Honestly, I really dislike the wa

[2018-01-10 14:09] Mollerz opened #2413 "Registration Flow Improvement"
It's been mentioned many times that the waiting list isn't actually a waiting list, people get confused etc. All organisers are well aware of the system. However, having recently opened registration for a couple of competitions, the amount of confusion from outside of the WCA is really really high. I've lost count about how many times I've had to explain the system, as a result I have spent some t

[2018-01-11 09:41] jfly commented on #2413
Thanks for the great feedback, @Mollerz. The currently situation definitely needs some polish, and it's embarrassing how long it has been going on. Unfortunately, most active members of the WST are pretty busy with other (also high priority) projects right now, and we haven't had anyone available to focus on registration stuff for a while.

What's the simplest possible thing we can do right now to

[2018-01-11 10:04] Mollerz commented on #2413
Thanks for the comment @jfly - I understand a lot of the team are working on other projects but I thought I would get this out here so there is some direction to aim for. As for the email, maybe something like the following:

"You just registered for <comp>.

Your registration has been accepted by the system and is pending approval from the organisation team.

Please note that registrations are no

[2018-01-11 16:32] jfly commented on #732
I'm assigning this to @pedrosino. Step one should just be to add the table @larspetrus suggested in a database migration. In later PRs, we can add a UI to let users input this data, and actually start *doing* stuff with this information.

[2018-01-11 17:29] ronaldmansveld commented on #732
Note: Location Data is considered personal data, and is therefore subject
to GDPR (which comes into effect in May). Please double check if and how we
can use that data, and what permissions we need to get from users. This
should also be done retrospectively for all other data we have.
GDPR will always apply, as we do have data on EU citizens, regardless of
where the data is stored/processed or whe

[2018-01-11 20:02] cubewhiz commented on #1046
As per the email thread, please make the following changes, which have been approved by the Board:
(1) Change permissions so that Senior Delegates now have the ability to change Delegate status of users on the WCA website user pages.
(2) When a Senior Delegate changes the Delegate status of any Delegate (promotions, demotions, and new delegates), an automatic email shall be generated and sent to t

[2018-01-11 21:31] jfly commented on #2413
I like this! @jonatanklosko, do you have any time to make this quick change to the registration email?

[2018-01-12 17:41] ToastyKen opened #2429 "Custom deleted registration message for CubingUSA Nationals 2018 (or in general)"
Currently, when we delete a registration,the competitor gets a canned set of possible reasons for deletion.

For CubingUSA Nationals 2018, the main reason is because they don't qualify in any events, but this is not one of the canned reasons, leading to confusion.

In priority order:

(a) Highest priority: Could we add a message in the deleted registration message for CubingUSA Nationals 2018 sayi

[2018-01-12 18:37] pedrosino commented on #2429
Hi @ToastyKen

Maybe @jfly has a better answer, but I think having a custom message *only for you* is probably as hard as allowing everyone to have a custom message.

One easy solution would be to add "You did not meet the qualification criteria" to the existing message. Would that help?

[2018-01-12 19:02] pedrosino commented on #1046
@jfly can you help me out here?

I was trying to find the relevant code, and found this:
https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/models/user.rb#L405-L407

https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/users/edit.html.erb#L115-L126

https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/controllers/us

[2018-01-12 19:04] pedrosino commented on #2002
Would this be the only change needed?
https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/models/user.rb#L299-L308

[2018-01-12 19:11] pedrosino commented on #2003
Change the way @ board_members object is found: https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/static_pages/about.html.erb#L17-L21

Change this to not select the board team (?): https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/static_pages/about.html.erb#L23-L31

Remove this: https://github.com/thewca/worldcubeassociation.org/

[2018-01-12 19:18] jfly commented on #2429
Isn't this what "You didn't meet the registration criteria" is trying to tell you? How about adding something to the parenthetical, something like:

[2018-01-12 19:41] jfly commented on #2002
Very possibly!

[2018-01-12 19:45] jfly commented on #1046
I believe this is guarded by the [`editable_fields_of_user`](https://github.com/thewca/worldcubeassociation.org/blob/f9c977d5bf367472ae9494f6d6258c4725ffd153/WcaOnRails/app/models/user.rb#L552) method.

[2018-01-12 22:25] ToastyKen commented on #2429
We'd be perfectly happy with Jeremy's suggestion. :)

[2018-01-13 12:59] #2429 closed

[2018-01-13 16:22] pedrosino opened #2435 "Edit reports and keep it structured"
The WQAC asked for permission to unlock reports for editing, but we find this problematic for a couple reasons:

- people (delegates) must somehow be informed that the report was changed. If it's posted again, the date of submission would be the new one, giving the false impression that the report was sent much later than it actually was;
- sending a new email could cause confusion like "wait, I t

[2018-01-14 04:46] cubewhiz opened #2439 "Senior Delegate Forms"
In the past, Senior Delegates made recommendations for nominating/promoting/demoting WCA Delegates by writing an email to the WCA Board. To help standardize this process, the WCA Board created Google Forms for each of these three processes:
(1) Nominating Delegates
(2) Promoting Delegates
(3) Demoting Delegates

We would prefer if Senior Delegates could instead fill out a form on the WCA website (

[2018-01-14 06:55] EvilPotato1216 opened #2440 "Allow People To Be Notified Of Competitions"
We could work on a feature where the user could choose their locations and a radius around them. When a competition is announced near them, they will get an email. With the current website, users have to continuously check the website for new competitions. This would be a neat feature which could help the users of the website.

[2018-01-14 06:59] EvilPotato1216 opened #2441 "Add Social Media Profiles to WCA Profiles"
We could add social media profiles such as Twitter, Facebook, and YouTube to users' WCA profiles. This could help users interact with each other much easier and know more about the competitors. We could also connect them to the SpeedSolving forum.

[2018-01-14 07:38] drfb opened #2442 "Can't authorize the application"
I was able to use it a year ago but now I can't authorize the app anymore.

My app ID: 6751d55b9b1cc5710fed3a47d9c69eca871af9b0f83ec5388a5b0cebe1f93037
Sample request:
![wca-oauth-error](https://user-images.githubusercontent.com/12893349/34913752-cdb0e24e-f940-11e7-8f7d-77fb76910ebf.png)

The webview is not working either.

[2018-01-14 08:03] drfb commented on #2442
My bad, I'm doing it wrong. I got it working now.

[2018-01-14 08:03] #2442 closed

[2018-01-14 10:17] Laura-O commented on #2435
I agree that this is problematic for the reasons you mentioned.
Furthermore, we should make sure that edits do not destroy references. We occasionally use the numbering to refer to incidents in other reports. When delegates are allowed to change all parts of the reports, this could result in two differently numbered lists.

[2018-01-14 17:36] jfly commented on #2442
Sweet! For future readers, it's always nice if you tell us what you figured out that you were doing wrong =)

[2018-01-14 17:37] #1972 closed

[2018-01-14 17:59] jfly commented on #2440
Thanks for the suggestion, @EvilPotato1216! We actually already have an issue for this, see #114.

[2018-01-14 17:59] #2440 closed

[2018-01-15 00:14] pingskills opened #2444 "Add UI for setting entry fees for each event"
All the database structures are in place, we now need a UI to allow for a competition organiser to set the entry fee for individual events.

[2018-01-15 20:39] jfly commented on #2441
It's important to note that we are extremely careful about giving people control of the content on the WCA website. Currently, anything our users do that might be seen by other people is always moderated before it goes live (for instance, the WRT must approve every profile picture that is submitted before it goes live).

[2018-01-16 03:34] EvilPotato1216 commented on #114
Basically, anything like country or delegate could be used to track down competitions near the user. The user could select a specific delegate and get notified about their new competitions.

[2018-01-16 03:38] EvilPotato1216 commented on #2441
Yeah, all that will go on their profile now will be a link to their twitter or facebook page. If anyone wants to contact the competitor or know more about them, all they have to do to go to their social media. Nothing will be shown directly on the website.

[2018-01-16 04:31] EvilPotato1216 commented on #1983
Maybe a trophy icon with the country's flag or if it's worlds, then something else.

[2018-01-16 04:34] #830 closed

[2018-01-16 19:29] BiscuitCubed commented on #2413
Changing the name of the wait list is easily the most important thing at the moment. I like the email draft that @Mollerz proposed, but I think that "Your registration has been accepted by the system" is both redundant and confusing. I think that removing that bit, reordered a couple of the sentences and added a bit about lack of payment being the most common reason for delayed payment makes it sl

[2018-01-16 19:50] Mollerz commented on #2413
@BiscuitCubed That phrase actually got changed thankfully, I didn't like it either. See the merged request here: https://github.com/thewca/worldcubeassociation.org/pull/2430

[2018-01-17 04:21] jfly opened #2453 "Change birthdate field on sign up page to make it clear that we're asking for *your* birthdate, not the delegate's birthdate"
We just received a pretty amusing email about our sign up page:

## Currently

![image](https://user-images.githubusercontent.com/277474/35025378-06b6fa28-fafa-11e7-9479-aeb46bc9dd82.png)

## Proposal

Move the birthdate field up, and change the label to say "Your Birthdate"

![image](https://user-images.githubusercontent.com/277474/35025407-333acfe8-fafa-11e7-8b50-e0dfacebeea3.png)

[2018-01-17 06:57] lgarron commented on #1983
What would be the main motivation for this? The competition page is pretty crowded, and I think we need a stronger purpose than "it would be cool". The use case would also give us an idea of how clearly we mark championships, and how.

Note that many championships already have "Championship / National" in the title.
Possible examples of reasons to add an icon (although I think they are too weak as

[2018-01-17 09:08] EvilPotato1216 commented on #2453
Yeah, that's a good solution.

[2018-01-17 11:22] pedrosino commented on #2453
LGTM

[2018-01-17 14:23] EvilPotato1216 opened #2456 "A Mobile App for WCA"
This is just an idea but should we start working on an application of WCA for mobile instead of the user using a specific browser? This could help many people. Obviously, we're not going to make the app offline cause that'll stock up the servers. Any thoughts?

[2018-01-18 03:28] cubewhiz commented on #2185
I think that this information is not just useful, but instead necessary. Candidate Delegates may only be promoted after they have delegated at least 3 competitions AND served for at least one year. However, there is no place to look up when a delegate was appointed. In most cases, the Senior Delegate can look up the appointment date from emails, but when a Senior Delegate is replaced and did not n

[2018-01-18 03:32] cubewhiz commented on #2185
Yes, that is a fair statement.

[2018-01-18 05:08] Baiqiang commented on #1983
I like this idea. Maybe a simple line like this?
![image](https://user-images.githubusercontent.com/2390434/35081711-b0c31ba8-fc50-11e7-8bd9-1f1f5a289417.png)

@lgarron
There're 325 championships and 188 of them contains "champion" or "nation" in the name. That is ~57%.
And there some competitions have two types of champions. An icon might be confusing?

[2018-01-18 07:05] jfly commented on #2456
Thanks for the suggestion, @EvilPotato1216. We are not planning to make a mobile application at this time. If there is stuff that does not work well on mobile, let's focus on improving the responsiveness of the website.

[2018-01-18 07:05] #2456 closed

[2018-01-18 07:42] tobipch opened #2457 "Schedule Management"
IMHO I find the current state of how to put in schedules in WCA-Tabs very unsatisfying.
Basically there are three ways to implement schedules nowadays.

### Markdown
To me this just doesn't look user-friendly. I find it to be a lot easier to get and remember information of a nicely formated schedule ([Hotel Cube 18 Schedule](https://www.worldcubeassociation.org/competitions/HotelCube2018#3536-zeit

[2018-01-19 16:20] cubewhiz commented on #2441
I have some serious concerns about this--I do not support this at all.

[2018-01-19 16:35] cubewhiz commented on #2457
This issue already exists (#278).

I would love to see this integrated with the feature in which organizers/delegates select the Events for the competition (schedule should match selected events & rounds). One of the issues would be dealing with the tentative events (#1821).

[2018-01-20 02:17] lgarron commented on #1983
Ah, I assumed "competition page" meant https://www.worldcubeassociation.org/competitions

I don't see the harm in listing the championship type on a competition's individual page like  in @Baiqiang's mockup. The information is relevant, and I don't see the need to keep this as dense as the table of all competitions.

[2018-01-20 03:41] jfly commented on #2457
Yes, please let's continue this discussion over on #278.

[2018-01-20 03:41] #2457 closed

[2018-01-20 03:49] Baiqiang commented on #1983
@lgarron
If you meant the competition index page, I fully agree with you.
Maybe we can add a filter so we can see the championships in a country/continent.

[2018-01-20 15:43] EvilPotato1216 commented on #2441
Why?

[2018-01-20 16:23] jfly commented on #2441
We don't have any control over these people's social media accounts. They could have very offensive content there that we don't want to link to.

[2018-01-20 18:11] #2002 closed

[2018-01-22 04:18] cubewhiz commented on #2118
Just as a follow-up, are all of these handled by now?

[2018-01-22 04:21] cubewhiz commented on #2037
It is indeed annoying not being able to do this.

Just out of curiosity, can this only be done by delegates/organizers right now?
Can they do so even when the competition is confirmed?

[2018-01-22 04:28] cubewhiz commented on #1799
What if after selecting the date/time (in UTC), it is displayed below as text for the local time zone? Is that easy enough for a quick fix?

[2018-01-22 05:12] jfly commented on #1799
Just to be clear "local time zone" has two potential definitions:

1. The time zone of the user who is editing the date.
2. The time zone in which the competition will be happening. This is potentially ambiguous (consider FMC competitions that occur in multiple venues simultaneously), and not something we actually ask the user for yet.

[2018-01-22 05:13] jfly commented on #2037
Delegates and organizers are not capable of adding or removing events for confirmed competitions. The Board is capable of uncomfirming a competition, so Board members can unconfirm a competition, make changes, and then reconfirm the competition.

[2018-01-22 05:14] jfly commented on #2118
As far as I know, all this work is done! Please reopen if there's anything left to do (@Luis-J-Ianez can speak for cubecomps and @Baiqiang can speak for cubingchina)

[2018-01-22 05:14] #2118 closed

[2018-01-22 05:17] KitClement commented on #1799
I think option 1 sounds fine. There are plenty of cases where people
delegate in time zones outside their own, but it's a lot easier to consider
the difference from your own time zone rather than UTC.

On Sun, Jan 21, 2018 at 9:12 PM Jeremy Fleischman <notifications@github.com>
wrote:

[2018-01-22 16:55] Gomorritas opened #2468 "Single times not appearing in competition psych sheets"
Title says it all. I don't see the single  in psych sheets anymore, for example here: [https://www.worldcubeassociation.org/competitions/CubeduKorea2018/registrations/psych-sheet/444](https://www.worldcubeassociation.org/competitions/CubeduKorea2018/registrations/psych-sheet/444)

[2018-01-22 16:59] jonatanklosko commented on #2468
Hey @Gomorritas, it's related to the problem of auxiliary data computation we encountered today. I've just fixed it and it should look good now!

[2018-01-22 16:59] #2468 closed

[2018-01-22 17:22] Luis-J-Ianez commented on #2118
yeah yeah yeah, it's done since Jan 3 or 4 in cubecomps.

[2018-01-22 19:45] Mollerz commented on #2441
I agree this is a bad idea. The WCA _isn't_ a social media site, it is a database for competitions and information and shouldn't contain personal social media pages. Similar to ATP Tennis or PSA Squash, it has rankings and player information but no social media links to those individuals.

[2018-01-22 19:50] jfly commented on #2441
I hear you, @Mollerz. In terms of thinking about our mission as an organization, one very valuable thing the WCA website *can* do for the community is provide people with a way to prove who they are. Think of this as "verified twitter accounts". I agree we need to do a lot of thinking about how we would provide this service to the community, but I think there is value to be added here.

[2018-01-23 02:38] jfly commented on #426
I don't think there's any value in adding a demote button. Speaking as a team leader who has removed members from his team before, it's quite easy (and useful!) to set an end date instead.

[2018-01-23 02:38] #426 closed

[2018-01-23 02:38] jfly commented on #797
How's this coming along, @nathanajah?

[2018-01-23 03:20] jfly commented on #2037
I'm pairing on this with Adam Walker right now.

[2018-01-23 09:47] nathanajah commented on #797
Hey @jfly ! I'm relatively busy at work lately, but I should be able to find some time this week to work on this. Thanks for checking!

[2018-01-23 14:29] EvilPotato1216 commented on #2441
Is the SpeedSolving Forum a good, clean website. It's not really social media.

[2018-01-23 18:09] AlbertoPdRF opened #2472 "Update to Create Competition Form"
As discussed in the email thread, the Board wants to propose an update to the Create Competition Form. The proposed update consists of:

- New Section: Article Z (checkboxes):

1. [ ] I would like to require competitors to submit puzzles during registration.
2. [ ] I would like to limit the number of events per competitor.
 (if checked) Maximum number of events __
3. [ ] I would like to select com

[2018-01-24 09:51] jbrungar commented on #2441
@Mollerz both of those have social media links:

http://www.atpworldtour.com/en/players/rafael-nadal/n409/overview

https://psaworldtour.com/players/view/1099/mohamed-elshorbagy

[2018-01-24 10:18] Mollerz commented on #2441
Yeah after I posted I had a little dig around and found this out myself, so I did some exploring and thinking about it and I've completely changed my position on it already.

I think it is important to know that these players can be penalised, disallowed entry, or even banned from play based off of things that are posted on their social media. Do we want to expand our regulations to cover things p

[2018-01-24 18:05] ToastyKen opened #2478 "Allow adding custom refund policy message on the registration page"
Currently, the registration page just lists the price of registration.

Many competitions do not allow refunds.  CubingUSA Nationals only allows 50% refunds.

This is important information that needs to be present on the registration page so warn people properly.

(Related to issue #2179 on displaying registration requirements, since that should also be on the registration page.)

[2018-01-24 18:07] ToastyKen commented on #2179
I think the registration requirements message should be displayed on the registration page itself, just before you pay.

(Fyi in our experience for CubingUSA Nationals 2018, despite having a How to register tab and a giant notice on the comp page, people still fail to read those.)

[2018-01-24 18:08] ToastyKen commented on #2179
I also filed issue #2478 on adding a custom refund policy message to the registration page, which may be related to this.

[2018-01-24 21:29] AlbertoPdRF opened #2479 "Links to the website in social media showing a blank image"
When someone links to the WCA website on social media, no image is showing. Example:

![image](https://user-images.githubusercontent.com/26309166/35358034-99d858ae-0155-11e8-9461-db132fca3382.png)

Tim Reynolds provided this link as an explanation: https://developers.facebook.com/docs/sharing/webmasters

And suggested that we probably need an og:image on most WCA pages

[2018-01-25 03:55] EvilPotato1216 commented on #2441
I guess we could let **everyone** link their SpeedSolving Forum page to their WCA Profile as it's a clean website without any room for harmful content.

[2018-01-25 04:05] EvilPotato1216 commented on #1983
We could make the the name of the competition or the its details **bold** so that people know that it's important. Maybe Nationals could be in a specific color, like red, and Continental or Worlds could be in another color. This would draw attention towards the competition.

[2018-01-25 04:11] EvilPotato1216 commented on #114
I also think the user could enter their own mile/km radius around them where the competition should happen for them to get a notification. The notification should be via email I think.

[2018-01-25 09:09] Laura-O commented on #1983
Encoding information by making it bold/colored is not making the information easier to notice and understand.
And I can't see why these championships need to get more attention. Championships are probably the competitions that get the most attention already.

[2018-01-25 09:21] viroulep commented on #1983
I kind of like the idea of a trophy icon (next to the competition's name, on the competition's page) with some kind of popover indicating the championship type(s).

[2018-01-25 09:35] Luis-J-Ianez opened #2482 "Two new columns in _nearby_competitions_table.html.erb for the board"
The quality of the requested competitions could be better checked if the board (or any team announcing in the future) could have two new columns in this table: "limit" and "number of competitors" (the latter only if results are posted).

[2018-01-27 18:20] jfly commented on #1939
I don't think this is worth handling. Before the user is logged in, we don't even know what local to give them (when testing around via curl as I did, we're not actually specifying the language accepts headers). I suppose the best solution would be to monkeypatch the Doorkeeper controller to at least always return English (as suggested in https://github.com/doorkeeper-gem/doorkeeper/issues/994), b

[2018-01-27 18:20] #1939 closed

[2018-01-28 09:13] Luis-J-Ianez opened #2489 "Rewording the hints under "Remarks" in the competition forms"
While a new form is implemented with specific checkboxes for the article Z, can we please have this text...

https://github.com/thewca/worldcubeassociation.org/blob/6f8ce63120916716b8d750841df8c8625f69b6b8/WcaOnRails/config/locales/en.yml#L366

...reworded to:
Some additional information you want to pass on to the board. For example, elaborate your reasons if this competition is requested less tha

[2018-01-28 09:18] AlbertoPdRF commented on #2489
Please, capitalize Board :P

[2018-01-28 15:34] ronaldmansveld opened #2491 "Records API endpoint"
Currently the API does not have an endpoint to get all the current WR/CR/NRs.

This endpoint will be a requisite for the WCA-Live program, and can be useful for other interested parties as well.

Pinging @coder13 as he may have additional information for this ticket.

[2018-01-28 18:15] jfly commented on #2491
It's worth noting somewhere that wca-live is going to want to show PBs as well, right? I suppose you guys can get that information from the WCIF that originally comes in from the WCA? Also curious how you plan to handle the case where the world record is broken twice at a competition, or perhaps it is broken at two simultaneous competitions.

[2018-01-28 18:16] jfly commented on #2489
@pedrosino, don't forget to assign issues to yourself!

[2018-01-28 18:21] ronaldmansveld commented on #2491
It's mostly to replicate the current functionality in cubecomps, where if someone enters a time that would result in WR/CR/NR, we warn the person doing data-entry, so they can double-check what they've entered.

Good point about the PB's, I know remember that CC does indeed show those on the result pages. I don't think that should be part of this endpoint though, I think it's better to include PB'

[2018-01-28 18:42] jonatanklosko commented on #2491
@jfly JFTR we already have an endpoint to get personal bests ([example](https://www.worldcubeassociation.org/api/v0/persons/2005FLEI01)), apart from WCIF data.

[2018-01-28 23:48] #2037 closed

[2018-01-29 00:21] jfly commented on #2286
@Baiqiang, do you have any time to look into this? Jacob Ambrose just ran into this.

I think this should be a fairly straightforward change to the two files mentioned above. It's just a bit annoying to test, unfortunately =(

[2018-01-29 00:24] jfly commented on #2482
@pedrosino, could you take this on? It should be a fairly straightforward project =)

[2018-01-29 13:17] pedrosino commented on #2482
I'll try.

[2018-01-29 23:08] #2003 closed

[2018-01-30 11:55] AlbertoPdRF opened #2502 "Change text in the /delegates page"
The text on the [/delegates](https://www.worldcubeassociation.org/delegates) page is not accurate, so the Board drafted what it should look like [here](https://docs.google.com/document/d/1FvDIejtf31sxKs5s66IJfLXvWoSqcTXxPR20t5YAzM8/edit?usp=sharing).

Also, the same text appears at the bottom of the [/about](https://www.worldcubeassociation.org/about) page. As discussions with the WCT are taking p

[2018-01-30 20:45] #2489 closed

[2018-01-30 21:17] jonatanklosko commented on #303
Closing as the page was ported to Rails quite a long time ago.

@jfly do the checkboxes still apply?
1. I've never had the need of linking to specific result, but I imagine this being useful =)
2. Showing ongoing competitions would be inconsistent, given that not all competitions use WCA registration. This may make more sense in the future though (once we import registrations).

Let me know what t

[2018-01-30 21:17] #303 closed

[2018-01-30 21:52] jonatanklosko commented on #2069
JFTR this has already been fixed by @jfly (wenzhixin/bootstrap-table/pull/3490). Once new version is released and the gem is updated this commend can go away.

[2018-01-31 02:52] subhankar-panda commented on #2453
Has this been patched yet? I was looking to get started with contributing to the codebase

[2018-01-31 03:02] jfly commented on #2453
This would be a great first issue for you, Subhankar! Let us know if you have any questions about how to get started!

[2018-01-31 06:01] jfly commented on #303
No need to create issues for these, methinks. I'd say if someone is motivated to take one of these things on, please feel free to send in a PR, but I don't think it's a priority for the team =)

[2018-01-31 06:05] jfly commented on #2069
Hopefully dependabot will let us know when the new version is out. Try to remember this issue when that happens!

Also, hopefully https://github.com/bjevanchiu/bootstrap-table-rails isn't abandoned, or else we'll have to switch to using webpack to import bootstrap-table.

[2018-01-31 16:52] Rubiks-boy opened #2514 "Remove Admin View tab for organizers"
Small tweak, but within the competition's edit page, hide Admin View as a option for organizers. Currently, if organizers click this link, they are redirected to the home page with an error message, which could be confusing for new organizers.

This:
![screen shot 2018-01-31 at 8 47 36 am](https://user-images.githubusercontent.com/24919355/35635619-a53ce58a-0663-11e8-95ab-b1b9c3de1897.png)

Into t

[2018-02-01 16:42] jfly commented on #2514
Thanks for the report, @Rubiks-boy! We tend not to notice this stuff, because all members of the WST are in fact site admins, so we see that link and can click on it. Would you be up for sending in a quick PR that hides this link for people who can't click on it?

[2018-02-01 17:28] Rubiks-boy commented on #2514
Yep. I'll work on it this weekend.

[2018-02-01 17:31] jfly commented on #2514
Great! I've assigned the issue to you, because apparently github lets me do that now, even though you're not a member of our organization =)

[2018-02-01 21:36] #2491 closed

[2018-02-01 21:41] #2402 closed

[2018-02-02 16:51] jfly commented on #1640
I'm going to close this issue, I think our to/from wcif code is actually pretty readable, even if there is a bit of boilerplate involved.

[2018-02-02 16:51] #1640 closed

[2018-02-03 00:47] #2482 closed

[2018-02-04 21:18] viroulep commented on #2478
I feel like this kind of information would definitely belong to the "registration requirements" field.
If so I've implemented showing this field over in #2183.

[2018-02-04 21:20] viroulep commented on #2478
@thewca/wrc-team what do you think?
The registration requirements field is frozen post-announcement, I feel like any refund policy should be announced beforehand too.

[2018-02-05 10:29] Laura-O commented on #2478
Yep, I agree.
I think it's reasonable to give all important information regarding the registration in one place, so the refund options should be in the requirements field as well.

[2018-02-05 14:17] Baiqiang commented on #2286
I'm going to fix this now.

[2018-02-05 17:14] coder13 commented on #1143
I fear we may  have gotten to scared about the memory usage of redis. And if we don't like it, we can switch back.

Redis should be a lot better for us than having to constantly clear the cache and remove files and have the server be down and if none of us are around, it won't be going back up any time soon.

Redis also has an option to persist storage to disk if we want the cache to persist when

[2018-02-05 18:27] shelchang commented on #1825
I have two notifications in my queue that I can't clear because the users have since had their WCA ID connected with a different account. There should be a "reject" option - what if someone requests the wrong ID by mistake (unlikely because of birthdate verification) or by malice (I don't know who'd want to do this but I assume the extra step of delegate verification is there for a reason)?

[2018-02-05 18:31] shelchang commented on #2441
I don't like the idea of linking to any external site where we don't have control over the content. Anyone *could* post harmful content to SpeedSolving.

[2018-02-06 16:09] coder13 opened #2535 "Add schedule.startDate and schedule.numberOfDays to WCIF"
Right now, we can't derive the date of a competition from the WCIF, we need to expose the schedule object and at least the startDate and numberOfDays.
Obviously we're doing nothing else with the schedule so we can't expose venues[], but we can at least expose these so I don't have to make 2 calls to the api, one for the date and the other for the WCIF.

[2018-02-06 22:54] viroulep opened #2538 "Boosted incidents log"
Issue for myself to track neat features that can wait until the "core" (#1862) of incidents log is merged.

- [ ] filter incidents by competitions
- [ ] for WRC members/admin, add an extra "pending digest" column + a filter
- [ ] search in public summary
- [ ] for user who `can_view_delegate_matters?`, search also in incident private description
- [ ] for user who `can_view_incident_private_sectio

[2018-02-06 23:28] viroulep opened #2539 "Manage WRC digests"
Right now we manage WRC digests manually.

The incidents log will have the incidents dates, if they are digest-worthy, and if they are resolved.
We could automatically draft a digest based on which digest-worthy incident were resolved since last digest, including the public summary of the incident.
And also send the draft directly from the website when we're happy with it.

[2018-02-07 12:22] Laura-O commented on #2538
Some comments/ideas:
- For internal purposes, it could be helpful to see the original author of an incident.
- Server-side filtering & pagination seems reasonable for me as the number of incidents might grow over time. I expect we will publish more incidents on the website than we did in the spreadsheet, especially when they are interesting for the community.
- We need to discuss what to do with "

[2018-02-07 12:49] viroulep commented on #2538
(I assume we're talking about authors as in WRC members here)
Right, the easiest approach I can think of now is to register some "created_by" and "resolved_by" to go with the "created_at"/"resolved_at" fields.
And then display this info if present on the "show incident" view.
Sounds good?

Sounds pretty hard to handle all cases correctly and automatically :s
Lets take the example of 3h1 which chan

[2018-02-07 17:33] viroulep commented on #2538
Let me correct myself:

we already have per-incident tags, so it's perfectly fine to deprecate a single tag.

So I think we can have a scenario where we give a list of tags to deprecate, and we mark them as deprecated. On the incident we can display if it's deprecated, because of which tag, and when it got deprecated.

[2018-02-07 20:35] ronaldmansveld commented on #1568
Some quick thoughts:
1) Yes, generating upon registrating seems the most logical choice, to make sure they don't change.
2) Non-competing orgs/dels can be given an id of 0 or -1, clients can use that to distinguish from regular competitors.
3) This would mean that competing orgs/dels would get aded twice to the result. Once as competitor (with valid Id), once as org/del (with id 0/-1)

Another opt

[2018-02-07 22:36] coder13 commented on #1568
I vote 3.
Have new columns: "competing", "staff", a comp person id of sorts that is unique to each person and comp that is generated upon accepting a registration.
This can be a registration to compete, staff, or both. Doesn't necessarily have to be linked to a user account, maybe just a name and email.
With this personId, we can distinguish everyone person involved with this competition, schedule

[2018-02-07 22:52] #2514 closed

[2018-02-08 03:16] viroulep commented on #1568
We already have this through `wcaUserId`.

The only point of this new `personId` is to have a more friendly id for cubecomps-like application, and the issue was how to generate it consistently.
We don't even have to have a valid unique id for non-registered persons.

I like a variation of what Ronald suggested: use positive ids for people with registrations, and either 0/-1 or negative ids for com

[2018-02-08 05:17] jfly commented on #2514
Thanks @Rubiks-boy! Feel free to reach out to me if you're looking for ideas for anything else to work on =)

[2018-02-08 07:42] coder13 commented on #1568
Sure, whatever works. Just need this field so that we can start the results part of wca-live.

[2018-02-08 08:57] Laura-O commented on #2538
Yep, sounds good.

Yes, that sounds good as well.
I think it's important to have any kind of marking to give people a hint that they should not take an incident as precedent. In an ideal scenario, the incident log will be used by delegates during competitions and this could lead to some weird situations when someone finds an old decision, adapts it and we later realize regulations have changed.

[2018-02-08 11:36] #2286 closed

[2018-02-08 15:47] coder13 commented on #1568
Sure, do we just want to go with wcaUserId? Do we want to rename wcaUserId to id or just close this and leave it as is?

[2018-02-08 15:52] coder13 commented on #1568
Sure, whatever works. Just need this done so we can get started with the results part of wca-live.

[2018-02-08 15:54] jonatanklosko commented on #1568
@viroulep if we were to go the 0/-1 path I'd rather suggest making them `nil`. You can name those like `competitor_id`, `competing_id`, whatever. Then a `nil` value means the person is not competing, which would effectively do the job of a `competing` boolean flag we talked about.

[2018-02-08 15:56] Jambrose777 commented on #2286
to close the loop, All persons data affected by this issue has already been corrected in November(6-7 cases), by them claiming their ids (speculation of some of the 80 cases that this could have happened in), or when uploading results (2 comps in Jan).

[code]

[2018-02-08 15:59] viroulep commented on #1568
I'll handle this as soon as possible!

[2018-02-08 18:22] #2535 closed

[2018-02-08 22:13] #1842 closed

[2018-02-08 22:55] Mollerz commented on #2444
Anyone that can start this soon? Maybe @viroulep? :)

Would really appreciate this...

[2018-02-09 16:31] coder13 commented on #2240
Does this need to be closed?

[2018-02-09 16:43] pedrosino commented on #2240
Yes, it was fixed on #2361

[2018-02-09 16:43] #2240 closed

[2018-02-10 04:39] timreyn commented on #374
I have a use case for refresh tokens.  For [CubingUSA Regional Championships](https://cubingusa.org/regional), competitors are only eligible to win regional titles if they live in a state in that region.  For example, because I live in Massachusetts, I'm eligible to win the Northeast regional title, but I'm not eligible to win the Southeast regional title.

The WCA doesn't know which states compet

[2018-02-11 18:32] timhabermaas commented on #1143
Just a heads up regarding redis and since we recently ran into this issue: https://redis.io/topics/faq#background-saving-fails-with-a-fork-error-under-linux-even-if-i-have-a-lot-of-free-ram (tl;dr you need at least as much free RAM as Redis is currently using, otherwise saving to disk won't work. Or enable `overcommit_memory`.)

[2018-02-11 22:53] jfly commented on #1143
@coder13, we tend to have hundreds of megabytes of cached data on disk. If we switch to Redis, my understanding is that *all* of that data is going to be stored in memory instead. As I understand it, this isn't a question of how efficient Redis is, it's a fundamental issue with how much stuff we cache.

[2018-02-12 00:11] jfly commented on #1825
@shelchang, I definitely agree that a dedicated page that says "This use has claimed this WCA ID, click here to approve, click here to reject" would be idea.

[2018-02-12 05:57] #374 closed

[2018-02-12 14:12] #2179 closed

[2018-02-12 14:12] #2478 closed

[2018-02-12 22:21] viroulep commented on #2444
To be honest I'd rather focus on #278 that I started working on before I was totally busy with non cubing stuff, and which I think is high priority as the Board is currently in pain every time they have to announce a competition.

@pingskills do you have any availability to work on the UI?

If not I'll definitely keep it in mind but can't guarantee anything :s

@Mollerz do you have any deadline by

[2018-02-12 23:29] Mollerz commented on #2444
Fair enough, I think that would benefit more people anyway. For the UK we want it as soon as possible, we make the system as simple as possible but it's still awful trying to deal with it all. Would save a few people many hours every week.

[2018-02-13 03:50] larspetrus commented on #1143
You *can* have Redis persisting its data to disk but that's a questionable
thing to do when using it for caching. The advantage is that you have a
full cache if you ever reboot Redis, but I don't know that it's worth the
bother.

Redis will keep as much cached data in memory as you allocate to it. It
will swap out old entries as needed to make place for new ones. This is
independent of how much is

[2018-02-13 05:19] jfly commented on #797
This has been merged up, so I'm closing this issue. Thanks @nathanajah!

[2018-02-13 05:19] #797 closed

[2018-02-13 16:34] jfly commented on #2453
Are you still working on this, Subhankar? If not, Adam Walker is going to start working on this this weekend.

[2018-02-15 06:37] KitClement commented on #1938
Wanted to bump this back up to at least consider the change that Tim suggested. We had a case with a free competition this upcoming weekend where a competitor thought they were fully registered but were actually on the waiting list due to the competitor limit. I'd prefer something like:

"Subject: Your registration for Australian Nationals 2017 is submitted and pending approval"

This seems to cov

[2018-02-16 18:07] Luis-J-Ianez opened #2576 "Please make "Registration requirements" mandatory"
The regulations force this field to be in our competitions forms, but at this moment competitions can be saved and confirmed with this field blank. At least if the WCA is the competition website, this field must be filled up. And overall, it wouldn't harm if this key piece of information is requested always.

[2018-02-18 21:33] Rubiks-boy commented on #2453
I will begin working on it.

[2018-02-19 09:17] #1568 closed

[2018-02-19 19:23] Z4chy opened #2584 "Show if competition is full on registration page"
I really think this would be useful. For my competition, even though it is full, plenty of users are signing up, and they are currently on the 20 user waitlist that I specified prior to registration. They will be approved if another competitor drops out.

However, I feel like for some of the newer/younger cubers who are unfamiliar to the system, particularly ones who are signing up with their pare

[2018-02-19 22:19] jfly commented on #2576
@Rubiks-boy, this is a really important, hopefully easy issue to address. Do you think you could take it on? Thanks!

[2018-02-19 22:38] Rubiks-boy commented on #2576
I’d be happy to work on it. I’m relatively busy this week, but if I don’t get a chance to work on it sooner, I’ll do it this coming weekend.

[2018-02-19 22:53] subhankar-panda commented on #2453
Whoops, been away for a couple of weeks, sorry for not replying!

[2018-02-20 14:18] #2453 closed

[2018-02-20 18:11] Mollerz opened #2589 "Registration Requirements formatting is broken on the competition main page"
See here: https://www.worldcubeassociation.org/competitions/HastingsOpen2018

As you can see the formatting on the right hand side of the page is different to the formatting that should be showing when you are on the Register page.

[2018-02-20 18:53] Mollerz opened #2590 "Change "until 20XX" to a date field in rankings page"
It would be really useful to be able to see rankings at a specific date instead of just at the end of the year. Since all results are tied to competitions and all competition dates are stored, this should theoretically be possible right?

[2018-02-20 19:43] jfly commented on #2590
This gets a bit funky with multiday competitions, but other than that, yes, this is theoretically possible.

The real problem would be doing this in a performant way. Currently, we have auxiliary tables we compute with per year granularity. Changing those tables to instead store stuff on a per day granularity could seriously increase the size of our database.

[2018-02-20 19:47] viroulep commented on #2589
argh sorry!

[2018-02-20 19:47] #2589 closed

[2018-02-20 19:50] viroulep commented on #2589
@Mollerz: not related to the issue, but I noticed that some of your links are broken in the registration requirements :s

[2018-02-20 19:51] Mollerz commented on #2589
Yes because I haven't updated them fully :)

[2018-02-21 18:18] SAuroux opened #2593 "endYear column missing in database export"
as the title says, the 'endYear' column from the Competitions table is not included in the database export. More generally, it might also be a good idea to also include the internal 'start_date' and 'end_date' columns when already fixing this.

[2018-02-23 19:48] Rubiks-boy opened #2602 "Clarify Error Message for Organizers Editing WCA Account Info with WCA ID Assigned"
Currently, when organizers click the edit button on a person's page:
![image](https://user-images.githubusercontent.com/24919355/36613569-bcc2e078-188e-11e8-8d99-2c372be7b618.png)
If the person's WCA ID is assigned, they receive the following error:
![image](https://user-images.githubusercontent.com/24919355/36613582-cd259b9a-188e-11e8-9a8e-625b37c5c4b0.png)

This error is confusing from my perspe

[2018-02-23 19:49] Rubiks-boy commented on #2602
I'd be happy to work on this but won't be able to for a couple of weeks.

[2018-02-23 21:30] jfly commented on #2602
Just to be clear, this is not an error, it's a warning. errors show up in red =)

[2018-02-24 22:35] pedrosino opened #2603 "4BLD ranking for South America doesn't work"
https://www.worldcubeassociation.org/results/events.php?eventId=444bf&regionId=_South%2BAmerica&years=&show=100%2BPersons&single=Single

It just appears blank here. Brazil and World work, though.

[2018-02-25 04:58] Baiqiang commented on #2603
This has occurred several times. The reason is someone was visiting this page while we're computing aux data. And it cached an empty results. It's fixed now.

[2018-02-25 04:58] #2603 closed

[2018-02-25 05:39] timreyn opened #2604 "Allow senior delegates to see unannounced competitions"
Senior delegates receive an email when a competition is confirmed. But we can't easily follow (or participate in) the email thread, since we can't see the competition details until it's announced.

It would be helpful if the senior delegate for a competition's delegate could see /competitions/:competitionId.

[2018-02-25 10:55] Luis-J-Ianez opened #2605 "Add the WR Submission Form link to the Delegates' Panel"
Quite straight forward. Full link is
https://docs.google.com/forms/d/e/1FAIpQLSeJwf6b7yGGyWFhU0xfKSF3ki_nITyIKXVFRP86unb9EYRtHQ/viewform
and short one is http://tiny.cc/wrform

[2018-02-25 17:25] #2605 closed

[2018-02-26 01:59] cubewhiz commented on #2576
Sort of related, I'd actually prefer if the text from this field was not included in the email sent to the board. It makes the email we receive very cluttered.

[2018-02-26 05:15] Baiqiang opened #2613 "Some competition page is down in zh-CN"
1. Switch to zh-CN
2. Open some competition page. e.g. https://www.worldcubeassociation.org/competitions/SingaporeChampionship2018
3. It shows "We're sorry, but something went wrong.".

Firstly I think it may be caused by missing some translation. But later I found only in zh-CN it's down.

[2018-02-26 09:25] viroulep commented on #2613
Went quickly through the log and found this:

F, [2018-02-26T09:16:56.755349 #20738] FATAL -- : [c65d0054-fa96-4db8-85f4-c8e81e827903]     22:       <dd><%= link_to "#{competition.name} website", competition.website, target: "_blank" %></dd>
[c65d0054-fa96-4db8-85f4-c8e81e827903]     23:
[c65d0054-fa96-4db8-85f4-c8e81e827903]     24:       <% if competition.organizers.length > 0 %>
[c65d0054-fa96-

[2018-02-26 09:31] Baiqiang commented on #2613
@viroulep Thanks for digging this. Any idea to solve this quickly?

[2018-02-26 09:31] viroulep commented on #2613
Oh see svenfuchs/rails-i18n#767.
They released a fix a few hours ago, I'll try to see if we can bump our rails-i18n to this version.

[2018-02-26 09:48] #2613 closed

[2018-02-26 11:54] Luis-J-Ianez commented on #2576
+1 to @cubewhiz

[2018-02-26 23:11] pedrosino commented on #2604
Hi @timreyn
I was looking for the source and found this:
https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/models/competition.rb#L644
which uses
https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/models/user.rb#L464

So, should we include the senior in can_manage_competitiom? or just give the ability to view the competition before it's announc

[2018-02-27 18:45] timreyn commented on #2604
Senior delegate in can_manage_competition sounds fine to me.

[2018-02-27 23:24] jfly commented on #2604
I agree with @timreyn. That should be simplest and easiest!

[2018-02-28 01:24] shelchang opened #2625 "Rename "waiting list" to "pending approval""
"Pending approval" is a much more accurate description for what is currently called a "waiting list". I've fielded questions from so many people thinking registration was full because they were on a "waiting list".

[2018-02-28 02:30] ToastyKen commented on #2625
Ditto. I just want to back this up with saying that while these people are technically "waiting" for approval, the term "waiting list" has a strong connotation that registration is full, and that people are waiting for spots to open up.

It's my understanding the reason is that the same functionality is used when registration actually hits the limit, at which point it does become a waiting list.

[2018-02-28 03:33] cubewhiz commented on #2625
This is already covered in #2413.

[2018-02-28 05:35] ToastyKen commented on #2413
Only the email has been updated, right? If you log in and look at your status, I think it still says you're on a waiting list?  How hard would it be to have that page say "Pending Approval/Waiting List" at least or something as an interim measure?

[2018-02-28 13:29] Luis-J-Ianez opened #2631 "Should we add Groupfier to the Score Tools page?"
I think it would be handy to link @jonatanklosko's Groupifier someplace easy to find, and the /score-tools makes a good candidate in my view. Thoughts?

[2018-02-28 18:07] jfly commented on #2631
I agree that it can totally go on https://www.worldcubeassociation.org/score-tools. @jonatanklosko, are you willing to take this on?

[2018-02-28 21:08] #2631 closed

[2018-03-02 06:39] jfly commented on #2625
@ToastyKen, you're correct that this list has both meanings. We can't programmatically do what you ask for because we currently don't programatically know if registration is full or not. I'm going to close this as it is covered by #2413 (as @cubewhiz already pointed out).

[2018-03-02 06:39] #2625 closed

[2018-03-02 13:56] timreyn commented on #2625
@jfly, you said:

why is this?  We have a competitor limit for each competition, and we have the list of accepted competitors, why can't we just compare the two?

[2018-03-02 14:12] pedrosino commented on #2625
I guess he doesn't mean we "can't" but rather that we "don't do it yet".

[2018-03-02 14:15] timreyn commented on #2625
Ah, got it :)

[2018-03-02 14:17] pedrosino opened #2639 "Add Motion about WCA Logo"
We just approved a motion about using the WCA logo, so it should be added to the documents.
Quoting Bob:

[code]

[2018-03-02 14:19] timreyn opened #2640 "/competitions vertical alignment issues"
![wca_competitions](https://user-images.githubusercontent.com/3885929/36902993-50b6f02e-1dfa-11e8-9e3c-fbdec5d67928.png)

The vertical alignment of each row on /competitions is a little weird (on desktop).  The competition name is not lined up with the rest of the row.

[2018-03-03 01:25] shelchang commented on #2413
Changing the wording of the email isn't enough because people don't read instructions. The list is still called a "Waiting List", and people see it and think they're on a waiting list because registration is full.

[2018-03-03 10:41] #488 closed

[2018-03-03 13:50] pedrosino commented on #2639
Update:

On the logo page. The text on that page should be updated to reflect our policy and include a link to the actual policy IMO. My suggestion is as follows:

[2018-03-04 02:48] #2640 closed

[2018-03-04 20:00] Mollerz opened #2647 "Trinidad and Tobago is considered South America in the database but it is actually North America"

[2018-03-04 23:07] jfly commented on #2647
This data is actually maintained by @thewca/wrc-team over in https://github.com/thewca/wca-regulations/blob/draft/wca-states.md. @viroulep, do you think you could take care of this?

Also cc-ing @SAuroux to comment on if there will be any trickiness with our results database. I think the only concern would be continental records, which doesn't look like an issue because [Philip Habib]() is [our on

[2018-03-04 23:22] timreyn opened #2649 "Broken link on user edit form"
1) find a person with no DOB in the database (e.g. 2017EDMO02 = https://www.worldcubeassociation.org/users/78769/edit)
2) try to set their WCA ID and birthdate
3) save

The error on the subsequent page has a `<a>` tag that doesn't get linkified:

![dob_form](https://user-images.githubusercontent.com/3885929/36952052-bfb4390c-1fd8-11e8-8b4e-666c45cfa91e.png)

[2018-03-04 23:52] Mollerz commented on #2647
Yeah it lies on the South American shelf but the only countries that are part of South America are all on the mainland and all Caribbean islands are considered North America.

See also: https://gyazo.com/0d919356499a31c35e067484ae510dcd

[2018-03-05 00:23] jfly commented on #2649
OH WAIT SORRY I MISREAD EVERYTHING. I thought you were asking about the error message. Instead you were talking about the broken link, sorry. Reopening this issue and marking it as a bug.

[2018-03-05 06:41] jfly commented on #2649
I'm having trouble reproducing this. From code inspection, I can't see any reason why this link wouldn't render as a proper link. In your steps to reproduce, you say "find a person with no DOB in the database". Do you mean a user with no DOB, or a person with no DOB (https://github.com/thewca/worldcubeassociation.org/wiki/Why-do-we-have-both-%22users%22-and-%22persons%22%3F)?

Are you able to repr

[2018-03-05 13:37] timreyn commented on #2649
I mean a person with no DOB.

Reproduced by assigning https://staging.worldcubeassociation.org/users/29569/edit?section=general to 2009BOBO01.

The source of the page says:

[2018-03-05 18:36] #2649 closed

[2018-03-06 03:08] UnsolvedCypher commented on #2413
What about also including registration requirements in the email? We now have these filled out for competitions, so it might be helpful to remind people that they need to pay/send an email/whatever for their registration to be accepted.

[2018-03-06 03:09] UnsolvedCypher opened #2668 "Add Spectator Information Field"
The WCT gets a lot of inquiries asking about whether they can spectate at a given competition, and unfortunately this is something organizers often omit from their websites. It would be great to add a field similar to the registration requirements field that would say what the requirements are for spectating (whether you need to register, buy a ticket, etc).

[2018-03-06 03:13] jfly commented on #2668
I think this should be implemented a little differently than registration requirements. Most competitions allow all spectators, so I think we should have a checkbox (or maybe a dropdown?) to select if there are any restrictions, and if there are, then a textbox appears that you must fill in with any restrictions. On the backend, this would still be just a single null-able text field.

[2018-03-06 03:18] shelchang commented on #2413
I think changing the wording of the email is already something that has been done, but it is an incomplete solution to the problem, which is that the pending approvals list is called a waiting list even though the majority of the time that's not what it is.

[2018-03-06 09:18] Mollerz commented on #2413
@UnsolvedCypher The email does now suggest that there may be more steps to complete for the registration, such as making a payment.

I think we just need to wait for the main contributors to finish on their current high priority projects and then switch to working on this one. We have a system in place, it's not ideal but it does work.

[2018-03-06 14:35] fangorntheent commented on #2668
That makes more sense than just having a text field.

[2018-03-07 03:33] jfly opened #2674 "Stricter rules for delegates's profile pictures"
The WQAC would like to enforce stricter rules for WCA Delegates's profile pictures. We have a few things to do:

1. Update the guidelines on https://www.worldcubeassociation.org/profile/edit?section=avatar for delegates. We're still discussing the exact wording, but they should look something like this:

2. Update the guidelines on https://www.worldcubeassociation.org/admin/avatars with a version

[2018-03-07 16:05] pedrosino commented on #2674
Yes, we have a spreadsheet with the steps. I'll add this there.

For 6, I expect the WQAC will do it.

[2018-03-07 17:05] sam596 opened #2676 "Certain Records not appearing as records"
Not sure what's causing this, but it was pointed out to me that some records such as the following are not showing up as records on a competitor's profile?

[2016DIAZ21 - 6x6 Guatemala NR Single - 2:06.17 - Big Bang Open 2018](https://www.worldcubeassociation.org/persons/2016DIAZ21?event=666)

[2015CAMP03 - Megaminx Argentina NR Average - 50.75 - Santa Fe Cubing Spring 2017](https://www.worldcubea

[2018-03-07 18:15] jfly commented on #2676
Could you reach out to the WRT directly about this? Thanks!

[2018-03-07 18:15] #2676 closed

[2018-03-09 00:48] #2604 closed

[2018-03-12 17:31] jfly commented on #2576
@Rubiks-boy, when you get around to working on this issue, feel free to either include @cubewhiz's request in your PR, or feel free to make a separate issue for it and address it in a separate PR. Whatever you believe is easiest.

[2018-03-14 19:03] pedrosino opened #2689 "Fewest Moves appearing twice in competition results"
See https://www.worldcubeassociation.org/competitions/SilentSwapOpen2017
![image](https://user-images.githubusercontent.com/1881933/37425136-450cf3c6-27ba-11e8-87d8-ebe85248a45c.png)

My guess is that it's due to people being tied as 1st place.
I think it would make more sense to show the event only once and both names under it.

[2018-03-14 19:51] jfly commented on #2689
This is a duplicate of https://github.com/thewca/worldcubeassociation.org/issues/1652, which you filed! You've gotten better at naming issues in the last year =)

[2018-03-14 19:51] #2689 closed

[2018-03-14 19:53] pedrosino commented on #2689
Haha
I updated the title on that one.

[2018-03-15 16:39] UnsolvedCypher opened #2690 "Improve Contact Form"
The WCT has developed a mockup for the WCA website contact form.
It aims to have users select the competition they're referring to so their email can be directed to the organizer, not the WCT, and allow tagging of incoming messages to the WST. The biggest addition would be the competition selection box, which would contain competitions in the future and in the past 2 months. If a competition is se

[2018-03-15 18:01] AlbertoPdRF commented on #2674
@Luis-J-Ianez already did 6. not so long ago, although some of the newest Delegates may have avatars not compliant with the guidelines.

Regarding your open question: right now there are Delegates without profile picture, and I guess it's up to the WQAC to decide if that's acceptable or not.

[2018-03-16 09:44] TimMcMahon commented on #1389
Would it be possible to split the full name into multiple fields? First name, Last name, Local full name, Nick name...

First name and Nick name would be useful for sending personalised emails. E.g. "Hi Tim"

[2018-03-16 09:53] timhabermaas commented on #1389
@TimMcMahon It's hard: https://www.w3.org/International/questions/qa-personal-names#singlefield Dealing with the pain of splitting the name just for some email isn't worth it in my opinion.

[2018-03-19 20:47] pedrosino opened #2699 "Show registration open/close on competition main page"
From Ron:

[2018-03-21 16:35] jfly commented on #2699
I think we've already got too much stuff on the info page, but I do agree that this is more important that some of the information we already have on our info page, so it should also go there. @viroulep, could you take care of this? Thanks!

[2018-03-22 08:33] KitClement opened #2707 "Side-effect to editable registration fees"
One thing we've noticed that is somewhat confusing to registrants at competitions is when people pay for a registration, are accepted, and then the registration fee is raised later. See the example below:

![image](https://user-images.githubusercontent.com/6166412/37759385-add82c5c-2d70-11e8-99ea-29333fbdb199.png)

This is my registration for Yakima, where I paid $10 to attend. This was arbitraril

[2018-03-24 05:58] TimMcMahon opened #2710 "FAQ CubingUSA Competition Guide deadlink"
The CubingUSA Competition Guide Link on https://www.worldcubeassociation.org/faq returns a HTTP 404 error.

Page cannot be found:
http://www.cubingusa.com/ctutorial.php

[2018-03-24 13:55] timreyn opened #2713 "Broken email address on competition page"
https://www.worldcubeassociation.org/competitions/NacionalesUruguayasUCHI2018

The first organizer's email address has two _'s in it.  These are being formatted as <em></em> and breaking the email address link.

[2018-03-24 15:34] mzfr opened #2714 "What all data does api provide ?"
I was willing to know what all kind of information be extracted from API.
I have tried and following link works
* [delegates](https://www.worldcubeassociation.org/api/v0/delegates)
* [competitions](https://www.worldcubeassociation.org/api/v0/competitions)
* [person](https://www.worldcubeassociation.org/api/v0/persons)
* `https://www.worldcubeassociation.org/api/v0/<wca_id>`
Is there anything else

[2018-03-30 03:09] cubewhiz commented on #2710
We transitioned from cubingusa.com to cubingusa.org and that guide was not (and won't be) published on the new site.

A separate guide is being created, but perhaps we can remove that reference for now.

[2018-03-31 13:24] AlbertoPdRF commented on #2538
Also, I think it would make sense to order incidents by the last competition they happened in.

[2018-03-31 13:25] AlbertoPdRF commented on #2539
And also we need to be able to mark the digest worthy incidents as sent.

[2018-03-31 13:42] AlbertoPdRF commented on #2539
This actually exists :P Then I think the only necessary thing is to display it on the main menu, similar as how the "Status" is shown.

[2018-04-01 11:55] Baiqiang opened #2737 "Incorrect announcement with tied rankings"
I and Ziheng Ma tied on the 3x3x3 fewest moves. But the generated announcement was incorrect. See the following pics.

![image](https://user-images.githubusercontent.com/2390434/38172853-434d02c6-35e6-11e8-841b-332b6be5b0e2.png)
![image](https://user-images.githubusercontent.com/2390434/38172867-7e161b9a-35e6-11e8-9a36-8bfad04458e7.png)

[2018-04-01 16:09] jfly commented on #2714
Hi @mzrf. We do not currently have documentation of our, API, but you can figure out what we support by looking at our routes file and then the corresponding code: https://github.com/thewca/worldcubeassociation.org/blob/727f065b508bcc9f7089faf84be761d719e0bffc/WcaOnRails/config/routes.rb#L156-L179.

[2018-04-01 16:09] #2714 closed

[2018-04-01 19:33] rodrisan97 commented on #1723
I was thinking about the possibility of putting in the user's profile (public) a list of his upcoming competitions (which he is registered).
People that want to follow the competitions of a person could do it easily, now it is so tedious.

For example, I'd like to know what competitions Feliks will go, so I access to his profile and I can see it in a section like "Results" "Podiums" or "Map"

[2018-04-02 02:24] cubewhiz opened #2739 "Change Nearby competitions criteria"
When editing a competition, nearby competitions are currently shown with a criteria of "within 90 days and 500 km." The WCA Board uses this list of competitions to determine if there are any proximity collisions, but we also use it to determine if the competitor limit is appropriate.

I propose to change the criteria to instead be "within 180 days and 250 km." Doing so should better allow us to de

[2018-04-02 11:06] #2737 closed

[2018-04-02 17:59] mzfr commented on #2714
@jfly Thank you for this.
just want to know are you guying planning to write doc any time soon ?

[2018-04-02 18:03] jfly commented on #2714
We have no plans of writing a doc while our API stays on v0.

[2018-04-02 18:05] mzfr commented on #2714
@jfly  ok thanks for the help

[2018-04-03 07:29] DanielEgdal commented on #2674
Hi, is there any update on this topic? I believe we have covered most of your concers on the mailing thread. If you have more concers, please ask them, and we will try to answer them :)

[2018-04-05 23:20] pedrosino opened #2758 "Remove registration requirements from email to Board"
Right now they are embedded in the email the Board receives when the delegate confirms a competition.
Sometimes the text there is very long and complex (two languages) and it "hides" the remark part just above.

We (the Board) feel it would be better to remove the text and just put a note if the field is left blank.

[2018-04-05 23:57] #2739 closed

[2018-04-06 00:01] pedrosino commented on #2739
Hi all,

this is fixed here:
https://github.com/thewca/worldcubeassociation.org/pull/2757

Please test if it works as expected.

Pedro

On Sun, Apr 1, 2018 at 11:24 PM, cubewhiz <notifications@github.com> wrote:

[2018-04-06 02:26] cubewhiz commented on #2739
I just checked it out. Looks like it works!

[2018-04-07 20:12] jfly commented on #2713
@timreyn, I don't see anything wrong right now. Presumably something has been changed on the page you linked to?

I *imagine* that at one point, the contact field was set to something like `[testing_one_two](mailto:test_one_two@example.com)`, which does render as:

![image](https://user-images.githubusercontent.com/277474/38459919-05d4ff92-3a65-11e8-9bce-d5791c020a24.png)

This is just the way mar

[2018-04-07 20:12] #2713 closed

[2018-04-15 20:58] #2699 closed

[2018-04-16 20:10] #2710 closed

[2018-04-16 21:45] Z4chy commented on #2584
Great implementation. Will be very helpful!

[2018-04-16 22:26] #2584 closed

[2018-04-18 12:20] #2758 closed, assigned to pedrosino

[2018-04-20 21:05] DanielEgdal commented on #2674
Hi, the WQAC is still waiting for an update. Again, if you have any further concerns, which you didn't feel got adressed in the mailing thread, then please feel free to ask.

[2018-04-22 16:44] viroulep commented on #2539
I handled this in #2802.

[2018-04-26 10:44] Goosly commented on #2625
Actually, for example in the Netherlands they currently use a system where they accept X competitors **per day**.

[2018-04-26 10:47] Goosly commented on #2625
Actually, in the Netherlands they currently accept X competitors **per day**, so if the limit is 100 there might be 110 registrations accepted because 10 people only go on Saturday and another 10 only on Sunday.

So this idea wouldn't work for them (or they would have to stop using that system).

[2018-04-27 03:01] cubewhiz commented on #2625
Per day limits are not explicitly allowed by the Regulations so cases in which they have been used have required Board approval on an individual basis. There are other ways around this, so I don't think per day limits should be a valid reason to block the software implementation. Indeed, the easier solution is to disallow per day limits.

[2018-05-02 19:48] DanielEgdal commented on #2674
@pedrosino Yes! Then only display these to Delegates, in addition to the 'old' guidelines.

[2018-05-08 16:15] Luis-J-Ianez commented on #2576
Every time a delegate submits a form without this section, it's a hassle for the Board. Can we please have this done?

[2018-05-08 16:55] Rubiks-boy commented on #2576
I apologize that I have been so flaky on this. I thought my schedule would die down and I would have a chance to work on this, but it does not appear that I will any time over the next month. Please assign this issue to someone else to work on. I am sorry for any inconvenience I have caused.

[2018-05-09 03:10] patjk opened #2860 "WCA RSS Feeds"
Are there various RSS feeds for the WCA other than just this?
https://www.worldcubeassociation.org/rss

Basically looking for 1 feed for new competition announcements, then another RSS feed with results. Does the WCA have this setup or is it all in just 1 feed? Thanks.

[2018-05-09 17:29] pedrosino commented on #2576
There's #2774 which would become obsolete with this.

[2018-05-14 14:25] YTCuber opened #2871 "Sum of ranks of Europe does not display any content"
When I go to
[here](
https://www.worldcubeassociation.org/results/misc/sum_of_ranks/?regionId=_Europe&average=Average), the only thing that gets displayed is this:
![grafik](https://user-images.githubusercontent.com/20047592/40002892-3cf4e042-5792-11e8-8258-0e7bece4f5ce.png). Other countries or continents work (I tested some of them, but not all). It looks like the rank information does not even g

[2018-05-14 20:09] jonatanklosko commented on #2871
Hey, the link you provided works just fine for me. It might've been a temporary issue resulting from new data being computed. I'm going to close this for now =)

[2018-05-14 20:09] #2871 closed

[2018-05-17 12:21] Mollerz opened #2873 "Misleading registration period information & dynamic tweak"
I'm currently creating a new competition and noticed that the Registration Period is shown as follows:

`Online registration will be open from Friday, November 23, 2018, 7:00 PM GMT to Friday, January 4, 2019, 11:59 PM GMT. Other forms of registration may be allowed (such as registration at the door). Be sure to read through all the competition details to find out.`

Those last two sentences in th

[2018-05-17 15:39] larspetrus commented on #2873
I'd phrase it `will close` just so the two sentences don't look almost identical.

[2018-05-18 17:51] Luis-J-Ianez opened #2874 "Provide exact link to disconnect from Stripe"
https://github.com/thewca/worldcubeassociation.org/blob/8e6166d96a45d5e93ab36b389c4ac19a977a6831/WcaOnRails/app/views/competitions/payment_setup.html.erb#L29

The exact link is https://dashboard.stripe.com/account/applications It took me several minutes to spot it, so I thought the link would be appreciated here.

[2018-05-19 18:33] Mollerz commented on #2647
@viroulep

[2018-05-21 00:31] jfly commented on #2576
@pedrosino, I'm going to close this issue since you've merged up https://github.com/thewca/worldcubeassociation.org/pull/2774.

[2018-05-21 01:05] jfly commented on #2873
This parenthetical was added in https://github.com/thewca/worldcubeassociation.org/pull/2799 by @viroulep at the request of @Luis-J-Ianez. @Mollerz, could you work with @Luis-J-Ianez to come up with a final wording for this, and we can make the change?

Thanks!

[2018-05-21 12:19] pedrosino commented on #2576
I'm not entirely sure, but I think @Luis-J-Ianez meant that delegates shouldn't be able to confirm the competition if the field is empty.

[2018-05-21 16:59] #2860 closed

[2018-05-21 16:59] #2874 closed

[2018-05-21 17:02] jfly commented on #2576
Ohhhh, sorry, I misread your original comment.

[2018-05-21 17:17] jfly opened #2886 "Clicking on errors for in SimpleMDE forms don't scroll you to the SimpleMDE form"
For example, a link like http://localhost:3000/competitions/TestTwo2016/edit#competition_id will take you directly to the competition id textbox for that competition. However, a link like http://localhost:3000/competitions/TestTwo2016/edit#competition_registration_requirements doesn't work, because SimpleMDE has hidden the underlying textarea and it's that hidden textarea that has dom id `#competi

[2018-05-21 21:43] #2576 closed

[2018-05-21 22:14] #2886 closed

[2018-05-21 22:33] #2180 closed

[2018-05-22 08:27] jfly commented on #2873
Ok, sounds like @Luis-J-Ianez is on board with this change! @Mollerz, could you update your original post to include an example of what we should say if registration has not yet opened?

[2018-05-22 08:42] Mollerz commented on #2873
@jfly Updated

[2018-05-22 17:17] jfly commented on #2873
Thanks, @Mollerz!

@pedrosino, do you have any time to take this on?

[2018-05-24 22:57] bugybunny commented on #941
What’s the status on this? I wanted this feature so many times. I’ll explain from my view as competitor.

When a registration opens I just register for all my events I’m normally doing. Sometimes, I decide that I don’t want to go on some days (for multi day comps) because it’s far away and I decide it’s not worth it only to go for Pyra and 4x4 as an example. So I want to take them off the list but

[2018-05-25 00:28] #2873 closed

[2018-05-28 13:39] viroulep commented on #2647
Thanks for the ping James!

[2018-05-28 18:03] jfly opened #2908 "Look into avoiding running out of disk space when dumping developer database"
At rest, it looks like our database takes up just over 2GB of free space:

[code]

You can see below that we tend to hover around 2GB of free space:

![image](https://user-images.githubusercontent.com/277474/40625243-1d05ac60-6266-11e8-85ed-ac1db2dc37c5.png)

So, I think our current strategy of "copy the whole database to a temp database and then dump the temp database" is no longer tenable.

[2018-05-29 04:19] KitClement commented on #1938
We just had another case of a competitor's parent that saw the "You have registered for..." email and thought they were set, but did not complete payment and had their registration deleted. I'd really like us to make the simple change to what I had suggested 3 months ago in my previous reply to avoid further confusion.

[2018-05-31 20:17] jfly opened #2914 "Change your password form should be clear about the fact that it's asking for your *new* password, not your current password"
Here's what the page currently looks like:

![image](https://user-images.githubusercontent.com/277474/40805963-ccbabab8-64d4-11e8-865f-6b989fa694eb.png)

The field labelled "Password" is kind of ambiguous. It sounds like it should be your current password, but the only reason you're here is because you don't know your current password! We should change this label to "New password".

I feel less st

[2018-05-31 21:46] alokpant commented on #2914
@jfly Took a look at what Google does, they use:

New Password and Re-enter New Password

![image](https://user-images.githubusercontent.com/6135761/40810029-cfa3d2ac-652c-11e8-8cbc-2a07cbba8a61.png)

Can I pick this issue up?

[2018-05-31 21:58] jfly commented on #2914
Yes, please! Thank you @alokpant!

[2018-06-01 15:06] bugybunny opened #2915 "SOR table headers should have a more distinguishable look"
Right now the table headers are really hard to see.
![image](https://user-images.githubusercontent.com/5311105/40847794-a023f372-65bd-11e8-90a2-f090903c51ac.png)

Another color would be better. Even better would be a scrolling table header. I can’t seem to find an example right now but I’m sure you know what I mean. As soon as the user starts scrolling, the header always stay at the top of the scr

[2018-06-01 15:19] bugybunny commented on #2399
Screenshot for later to show how it looks as Reto has almost completed every average/mean.

![image](https://user-images.githubusercontent.com/5311105/40848531-ce06eda6-65bf-11e8-905f-2cf032b2a36c.png)

[2018-06-01 16:17] Mollerz commented on #2915
If I recall the stats page is kind of on hold for now. We've requested some stats to add and upgrade the look etc. but there are some other more important things to be doing first :)

[2018-06-01 19:03] alokpant commented on #2914
@jfly Looks like same label is used across Sign Up and Password Change page. So for now I have just change: Password Confirmation to Re-enter Password.

If it is need to change: Re-enter Password to **Re-enter new password** in Password Change page only, then I will add two labels in translation file and use them.

[2018-06-01 21:37] jfly commented on #2914
We should definitely change that, then!

[2018-06-07 20:27] #1938 closed

[2018-06-08 21:01] AlbertoPdRF opened #2933 "If delegate_status_allows_senior_delegate a senior_delegate should be required"
The title is self explanatory I think. I came when around this while working on #1046, and actually I started fixing it, until I saw how many tests it broke :P

Adding such a validation is quite easy:
[code]

And the test too:
[code]

Also, a change is needed on the en.yml file:
[code]

I think the issue is that the factory by default generates a `delegate` without a `senior_delegate`, but I'm not

[2018-06-08 21:08] AlbertoPdRF opened #2934 "Capitalization of the word "Delegate" is not consistent across the website"
As @jfly pointed out on #2917, the capitalization of the word "Delegate" is not consistent across the website, as for instance can be seen in:

https://github.com/jfly/worldcubeassociation.org/blob/efcd848621418fd54dd6d7c8be42faf2f2dd1511/WcaOnRails/config/locales/en.yml#L380

and:

https://github.com/jfly/worldcubeassociation.org/blob/efcd848621418fd54dd6d7c8be42faf2f2dd1511/WcaOnRails/config/loc

[2018-06-08 21:13] jfly commented on #2934
Thanks for filing this, @AlbertoPdRF. Which do we want to aim to use?

[2018-06-08 21:17] jfly commented on #2933
This sounds like a reasonable change to me. It should be possible to update our `delegate` factory to create a senior delegate for each delegate it creates. I wonder if this would have a measurable effect on how long it takes for our tests to run....

[2018-06-08 21:17] AlbertoPdRF commented on #2934
The appropriate capitalization is "Candidate Delegate", "Delegate", and "Senior Delegate".

[2018-06-10 16:19] #1046 closed

[2018-06-12 15:13] jfly opened #2954 "elegate_status_change_mailer_spec.rb flaky tests with names that require html entity encoding"
We just saw the following test failure in Travis:

[code]

In this case, you can see that the delegate's name is "Adolf D'Amore", but it (correctly) gets rendered to the email as "Adolf D&#39;Amore".

There are two ways to fix this:

1. Explicitly set the name to something that doesn't need to be html-escaped. You can see an example of @jonatanklosko implementing this in 9c45307cfc4e28b2cc20e5cc83

[2018-06-12 16:32] pedrosino opened #2955 "Show past team members"
It could be interesting to show past members of the teams. I thought of a small link in the team's description.

[2018-06-12 18:09] #2954 closed

[2018-06-13 05:14] alokpant commented on #2914
@jfly Thank you for merging my PR.

[2018-06-14 17:18] jfly opened #2959 "CompetitionTab::slug method behaves differently based on the chosen locale"
See the behavior of CompetitionTab.slug in English vs Russian:

[code]

[2018-06-14 17:37] #2959 closed

[2018-06-14 17:42] jfly opened #2962 "Changing locale does not preserve the hash in the url"
I noticed this while investigating https://github.com/thewca/worldcubeassociation.org/issues/2959.

The issue is that the HTTP referer header does not include the "hash" part of a url, so this redirect: https://github.com/thewca/worldcubeassociation.org/blob/792220e7a8661aaafa2308224de90d76d4fdf471/WcaOnRails/app/controllers/application_controller.rb#L46 effectively strips the hash part of the url

[2018-06-14 17:51] jonatanklosko opened #2963 "Multiline row in markdown renderer"
Currently there is no way to create multiline rows in markdown table.

Example:
[code]
Expected behaviour:

| Column 1 | Column 2 | Column 3 |
| -------- | -------- | -------- |
| First line <br> Second line     | Text     | Text     |

[We escape any HTML coming from user](https://github.com/thewca/worldcubeassociation.org/blob/2e707119c2829754b94498a049e4745ac7fa4db6/WcaOnRails/app/helpers/markd

[2018-06-14 20:49] jfly commented on #2963
Thanks for looking into this. I'd definitely be supportive of whitelisting `<br>` tags. Unfortunately, as you said, it definitely looks like redcarpet doesn't support anything like this =(

Since I looked into this a bit, here's some relevant code in redcarpet:

- here's where it calls `escape_html`: https://github.com/vmg/redcarpet/blob/26c80f05e774b31cd01255b0fa62e883ac185bf3/ext/redcarpet/html.

[2018-06-15 15:08] viroulep commented on #2647
Fixed in #2907.

[2018-06-15 15:08] #2647 closed

[2018-06-15 19:32] #2962 closed

[2018-06-16 17:02] jfly commented on #2914
Fixed in https://github.com/thewca/worldcubeassociation.org/pull/2916

[2018-06-16 17:02] #2914 closed

[2018-06-16 19:34] jfly opened #2969 "Rewrite DelegateStatusChangeMailer.notify_board_and_wqac_of_delegate_status_change to not depend on `deliver_now` semantics"
When @AlbertoPdRF and I worked on the DelegateStatusChangeMailer, we didn't consider the fact that `deliver_later` semantics means that all of the fancy `.delegate_status_before_last_save` attributes and the like that we were using would not work.

As a quick fix, I've changed our code to deliver immediately, rather than in a background job. That should fix the issue, but we should really rewrite

[2018-06-17 16:37] #1652 closed

[2018-06-18 15:21] jfly commented on #1045
I fixed this in https://github.com/thewca/worldcubeassociation.org/pull/2244. Thanks to @LinusFresz for noticing that this issue can be closed!

[2018-06-18 15:21] #1045 closed

[2018-06-18 15:22] jfly commented on #2539
@viroulep, can this issue be closed now? Thanks!

[2018-06-18 15:31] viroulep commented on #2539
Not really, I handled Alberto's comment but the original issue still exists: we could have an automatically generated digest draft from the incidents information!

[2018-06-18 17:34] AlbertoPdRF opened #2978 "Update the way to handle registration requirements"
Changing the registration requirements field from a text box to a system of check boxes that automatically generates the text to be displayed seems to be the best way to make sure that this field complies its purpose. Right now, organizers and Delegates can write whatever they want there and it's difficult and time consuming for the Board to make sure that everything is correctly and concisely exp

[2018-06-19 03:09] jfly opened #2980 "Actually store the submitted results JSON, rather than simply attaching it to an email"
A MEDIUMTEXT (16MB) column should be big enough to hold the results json of even the largest competitions (@SqAtx did some research into this and I think he found that large competitions are like 4MB json files?).

@SqAtx looked into adding a MEDIUMTEXT column to our database to store the full contents of the JSON, but ran into issues with that (I don't remember the specifics). I see no reason why

[2018-06-19 05:34] larspetrus commented on #2980
Maybe it doesn't matter, but the JSON should be highly (90%+) compressible to take vastly less DB disk space.

It could also be a candidate for storing in S3, rather than the DB.

[2018-06-21 03:03] SqAtx commented on #2980
Hey I'm not sure either. I remember being concerned about scalability but the biggest results file as of last october was 775kb, which is an order of magnitude smaller than the MEDIUMTEXT field. So that's not actually a problem.
I _think_ the problems were in ActiveRecord, like you couldn't have a MEDIUMTEXT field as part of an ActiveRecord? I may be wrong.

[2018-06-21 09:11] jfly opened #2984 "Check that the events and rounds in the submitted results json match the events page"
Currently, it's possible for a delegate to submit results for a competition that do not match the information they put in the events page. Ways in which things could differ:

- The scheduled number of rounds of an event does not match the number of rounds that actually happened.
- Scheduled events may not have actually happened. Note that this is slightly different than the above item about "sched

[2018-06-21 12:16] #2113 closed

[2018-06-21 19:15] #2116 closed

[2018-06-21 19:33] pedrosino commented on #2984
There's also the possibility that not all events have results - some event was not held at the competition.

[2018-06-21 23:41] #2934 closed

[2018-06-22 00:01] jfly opened #2990 "WCA Style Guide?"
I'm creating this issue to continue the discussion from https://github.com/thewca/worldcubeassociation.org/pull/2988#issuecomment-399254732.

@AlbertoPdRF recently went through and changed all occurrences of "delegate" to "Delegate". That reminded me that we've had a number of repeated discussions in the past about various style things, some WCA specific, and some just English related:

- "WCA" vs

[2018-06-22 07:43] jfly commented on #223
Duplicate of #2113

[2018-06-22 07:43] #223 closed

[2018-06-22 07:53] jfly commented on #165
I don't think this is a very high priority for us right now. Closing.

[2018-06-22 07:53] #165 closed

[2018-06-22 08:49] jfly opened #2992 "Remove extra 333fm scrambles"
(cc-ing @SAuroux to get his thoughts on this)

TNoodle's new UI had a bug where it generated extra scrambles for 333fm that would show up in the results json and eventually get uploaded to the WCA website. See https://github.com/thewca/tnoodle/issues/358 for more information.

The bug is fixed over on TNoodle, and after a version of TNoodle is released with the fix, we may want to go through the d

[2018-06-22 09:06] SAuroux commented on #2992
Thanks Jeremy. WRT will handle this as soon as a new TNoodle version is released.

[2018-06-22 09:15] Baiqiang commented on #2992
Just a note that we should be careful because there's real extra scramble in recent competitions like Indian Nationals 2018.

[2018-06-22 10:17] jfly commented on #2978
I just chatted with @AlbertoPdRF about this a bit. The goal here is to get rid of the free form "registration requirements" textbox in favor of structured ui components. This has two benefits:

- We'll be able to autogenerate (and translate) well thought out text for more of the common cases
- It will be easier for the Board to sanity check these things when approving competitions

[2018-06-22 17:09] AlbertoPdRF commented on #2978
As I couldn't do a proper mock up, here's my handmade schema for how the UI would look like:

![image](https://user-images.githubusercontent.com/26309166/41788999-f7cb8040-764d-11e8-90fb-d0261187e4ca.png)

- What's already done?
  - Check to use the WCA website for registration
  - Make it possible to enable donations
  - Ask/don't ask about guests (actually, this could be reworded a bit)
  - Regi

[2018-06-22 17:40] jfly commented on #2978
Is there a reason why you think it's better to make this a checkbox vs asking the user to enter the amount and handling 0 as "free"? I feel like adding a checkbox is just going to be cluttering the UI for the common case where competitions are not free.

I think we should be clear about what this limit date means. Specifically, what happens *after* the limit date? What if an organizer wants to pro

[2018-06-22 18:09] AlbertoPdRF commented on #2978
I think some kind of double check is necessary for the case of free competitions just in case, although maybe there is something more practical than my proposal. Any idea?

Well, this is exactly the same case as the registration fee: there are infinite options, but having everything available on the website is quite difficult. I think for a first version it would be enough to offer a strict deadli

[2018-06-22 18:19] AlbertoPdRF commented on #2978
Also, #2668 could be handled as a part of this. This is the possible rewording of the ask/don't ask for guests I was thinking about before.

[2018-06-22 18:20] cubewhiz commented on #2978
Instead of:
[ ] The competition is free

I think the field that asks for the fee is enough. However, if the fee is not zero, the following options should be available.
[ ] Payment is collected at the venue
[ ] Payment is collection online

[2018-06-22 21:00] pedrosino commented on #2978
The existing fee textbox can be integrated with a check box about competition being free or not. If it's (un)checked, the field for the fee is visible or not.

[2018-06-22 22:11] pedrosino commented on #2990
I like the idea. And having it on the website seems fine (opposed to a google doc).

[2018-06-23 19:16] Laura-O opened #2998 "Registration requirements are shown when they are empty"
The registration requirements for old competitions are shown even when they are empty:

![screenshot_2018-06-23_21-08-11](https://user-images.githubusercontent.com/362249/41812782-cd9be346-7729-11e8-9230-230cf626281b.png)
![screenshot_2018-06-23_21-08-48](https://user-images.githubusercontent.com/362249/41812783-cdc72650-7729-11e8-8719-804d76e1ebe1.png)

This was obviously already fixed in #2665,

[2018-06-24 19:28] cubewhiz commented on #2188
Wasn't this taken care of?

[2018-06-26 03:59] jfly commented on #2690
I've created https://docs.google.com/spreadsheets/d/1ModhMvi0mZh-VrOkoIGTgm98UgEED6nFkKylNb9hVS8/edit#gid=0 to discuss what exactly should happen when these various options are selected.

[2018-06-26 04:19] jfly commented on #2188
Yup! @viroulep took care of this in https://github.com/thewca/worldcubeassociation.org/pull/2183. Good catch, @cubewhiz!

[2018-06-26 04:19] #2188 closed

[2018-06-26 06:34] lgarron commented on #2990
Perhaps "American vs. British"?

I'd say either GitHub or website. If a website, I think a good approach is how some design teams do it, saying "we're making our internal processes publicly available!"
I'd try to put it under a common folder with things like the organizer guide.

[2018-06-26 17:06] #2933 closed

[2018-06-26 18:02] jfly commented on #2998
@viroulep, is this broken because we did a migration to add dummy registration requirements to all past competitions?

I think the best path forward might be to wait for @AlbertoPdRF's work in #2999 to go live, as that will make it so we no longer require registration requirements to be set for competitions. Then we can do another sql query to clear out registration requirements for old competitio

[2018-06-27 00:40] sam596 opened #3011 "Lack of Organiser Notification Emails"
Just as an idea, less of an issue as such. I feel like Organisers should be notified when one of these occur:

- They've been added as an organiser to a competition.
- Their competition has been submitted to the Board for review.
- Their competition has been announced.

I have never had any of these notifications for a competition I have organised, in fact the first time I realised one of my compe

[2018-06-27 00:46] jfly commented on #3011
This seems fine to me!

This seems potentially problematic to me, as CC-ing the organizer on these email threads may not be appropriate, as the Board and the Delegate(s) may be discussing how capable the organizer(s) are. It may be best to create a brand new email for this.

The safest option would be to create a separate email for this

Similar to the "submitted to the Board for review" email, it

[2018-06-27 02:39] jfly commented on #2990
Wowow, let's pretend I didn't do that. I've updated the original post.

[2018-06-27 08:10] viroulep commented on #2998
Right, the requirements are not actually empty, but the field is set to "#", which appear empty.
(this was done in #2895)

I overlooked that this behavior would re-appear when modifying old competitions...

Fixing this would be easy, as we could just have a migration looking for "#" and changing it back to an empty string.

[2018-06-27 12:35] viroulep commented on #897
One more:
https://travis-ci.org/thewca/worldcubeassociation.org/builds/397319235#L3913

I won't restart the build to keep the log.

[2018-06-27 15:38] jfly commented on #2998
Hey Alberto, just be assigned this to you. Could you take care of this when you're done with your current work to revamp the registration requirements?

[2018-06-27 16:56] jfly commented on #897
Thanks, @viroulep! I am able to reproduce this reliably by running rspec with the same seed that travis used.

[2018-06-27 16:58] AlbertoPdRF commented on #2998
I will. Should I address this on a separate PR?

[2018-06-27 17:03] jfly commented on #2998
Yes, please don't do this in your current PR =)

[2018-06-27 20:38] sam596 commented on #3011
would Bcc work for the initial (i'm assuming automated) email? That way the organiser wouldn't be replied to on a reply all. Forgive me if i'm missing something.

[2018-06-28 03:37] jfly opened #3016 "Deprecating TNoodle 0.13.3"
As discussed over email, we're going to try introducing TNoodle 0.13.4 while still allowing use of TNoodle 0.13.3. Since the new version of TNoodle doesn't actually change the scrambling algorithms, it's safe to do this. However, we do want to eventually require that delegates not use 0.13.3. This issue tracks that.

@Laura-O, would you be able to work with @SAuroux to determine when a good time f

[2018-06-28 03:37] jfly commented on #3016
Note that we cannot do https://github.com/thewca/worldcubeassociation.org/issues/2992 until we stop allowing delegates to use TNoodle 0.13.3.

[2018-06-28 07:47] SAuroux commented on #3016
I don't think that there is much to work out there. The sooner, the better.

[2018-06-28 15:38] sam596 commented on #3011
Unfortunately my Ruby/Rails knowledge is very lacking, so no, I wouldn't know where to start to be honest.

[2018-06-28 15:40] LinusFresz commented on #3011
can take a look at that after I am done with the registration mails. :-)

[2018-06-28 15:52] jfly commented on #3011
Wooohoo, thanks @LinusFresz! When you do get around to this, please start by sending an email in plain English explaining what we plan to do to the Board. As discussed here, I think there are some subtleties such that we'd like to make sure they're ok with these changes before we go to the effort to implement them.

[2018-06-28 16:11] jfly opened #3017 "More granular permissions for "admin access to competitions""
Currently, we give people admin access to a competition if they `can_admin_results?`. We recently gave the WQAC permission to approve and announce competition (see #3013 and #3010), but that required giving them `can_admin_results?` power, which includes access to phpMyAdmin.

We'd like to have more granular permissions for this. Here's a not-very thought out proposal, just trying to get the conve

[2018-06-28 16:13] #2690 closed

[2018-06-29 06:12] Laura-O commented on #3016
My suggestion would be July 2nd and allowing delegates to use 0.13.3 for two weeks. Does that sound good, @SAuroux?

[2018-06-30 17:00] pedrosino commented on #3017
I think this is a good idea.
Is the ability to edit a post included in "allowed to post_announcement"?

[2018-07-01 12:54] jonatanklosko commented on #3017
Sorry for the late response, I like the idea! I've just implemented it in #3026 making `can_announce_competitions?` an alias for `can_admin_competitions?`, and ensuring that someone able to `post_announcement` can also create/edit posts (as pointed out by @pedrosino).

[2018-07-01 17:54] #3017 closed

[2018-07-02 17:19] AlbertoPdRF opened #3042 "Log of edits to competitions."
As suggested by @Laura-O, we should have a log of edits to competitions, with the following features:

1. Show a "Last edited by XXX, on Month Day, Year, Time" message at the bottom of the edit competition page.
2. Store an historical copy every time something is changed.

[2018-07-02 17:31] jfly commented on #2335
Closing this in favor of #3042

[2018-07-02 17:31] #2335 closed

[2018-07-03 04:05] Jambrose777 opened #3045 "Bug- Clicking Results Upload Button"
From time to time WRT members will have an issue when uploading results where each result will be uploaded multiple times.
<img width="637" alt="screen shot 2018-06-24 at 12 17 39 pm" src="https://user-images.githubusercontent.com/11577241/42198058-e6a94848-7e53-11e8-9e60-dc372c02598e.png">
For us to fix this, we must remove the temporary results and scrambles then reupload.

I believe I have nail

[2018-07-03 07:30] jfly commented on #3045
Fun =)

Http method verbs are just conventions. Changing this method from a POST to a PUT wouldn't magically make the backend code idempotent. I think the simplest fix would be to disable the submit button after it is clicked. We aren't actively working on the old PHP code anymore, so don't expect anyone to take this issue on. If you are interested in working on it, feel free to take it on!

[2018-07-03 07:33] lgarron commented on #3016
I missed this suggestion and independently suggested 1 week in the thread. Does that still sound okay to you, @Laura-O?

[2018-07-03 09:24] Goosly opened #3047 ""General info" tab is not selected by default in IE 11"
Currently, when browsing to a competition in IE 11, none of the tabs are selected by default, so the page looks empty. I would expect the "General info" to be selected by default.

Works fine in Google Chrome and used to work fine previously.

[2018-07-03 09:52] Laura-O commented on #3016
Yes, I was unsure whether we should choose 1 or 2 weeks, so that's okay!

[2018-07-03 17:09] jfly opened #3050 "Rename "registration_requirements" column to "extra_registration_requirements""
@AlbertoPdRF's work in https://github.com/thewca/worldcubeassociation.org/pull/2999/ makes it so the registration requirements column is no longer required to be filled in. Instead, the registration requirements are now structured data, and our `registration_requirements` string column is just some extra space in case our structured data doesn't fully capture the special stuff for this specific co

[2018-07-03 17:11] jfly opened #3051 "Add support for "hidden" teams"
This will be useful for implementing the WDC's list of banned competitors, and who knows, maybe will be useful in the future for something else!

I think this would be as simple as adding a "hidden" boolean column to our teams table, and then auditing all our frontend and api parts where we surface team information, to make sure that information about a hidden team doesn't make it out in to the wo

[2018-07-03 17:13] #3045 closed

[2018-07-03 17:16] AlbertoPdRF commented on #3050
I was planning to do this as a part of #2998.

Although I'm not sure of my availability for the month of July, I'll try to finish with everything related to #2999.

[2018-07-03 17:18] jfly opened #3052 "Build a /wdc page"
At first, it will be pretty simple:

- If the person logged in is part of WCA Staff (TODO: figure out what "WCA Staff" is), then display a list of banned competitors (see #3051), along with a message that this is only visible to WCA Staff.
- If the person logged in is the leader of the WDC, then show a link to edit the "banned competitors team"
- Then display a list of all posts tagged "WDC" (just

[2018-07-03 17:20] AlbertoPdRF commented on #3052
Sure, I'll forward a thread to software@ right now.

[2018-07-03 17:59] Mollerz commented on #1692
Bringing this up again, our latest competition registration filled up in only an hour or so and one organiser registered with only 2 free spaces left as he was busy during the time it opened. Another organiser had to pull over whilst driving to register to get in...

[2018-07-05 18:40] LinusFresz commented on #1814
Fixed in https://github.com/thewca/worldcubeassociation.org/pull/3009.

[2018-07-05 18:40] #1814 closed

[2018-07-05 20:07] jfly commented on #3051
This was done by @jonatanklosko in #3053.

[2018-07-05 20:07] #3051 closed

[2018-07-05 20:18] jfly commented on #3052
@LinusFresz is going to start working on this!

[2018-07-05 23:27] jfly opened #3059 "Remove scrambleGroupCount once TNoodle does not read from it"
See https://github.com/thewca/worldcubeassociation.org/pull/3058, which renames "scramble group" to "scramble set". We could not remove `scrambleGroupCount` from the WCIF, because TNoodle reads that field. However, once a version of TNoodle with <<< in it is released, this will be safe to clean up https://github.com/thewca/tnoodle/commit/9e58918eb148bda519f0fa71d560da276c808acc.

[2018-07-06 09:23] Baiqiang opened #3060 "Event not shown on by person page"
It only affects those who competed in one event only.
Screen shot:
![image](https://user-images.githubusercontent.com/2390434/42371184-490488a0-8141-11e8-9e12-755b25f29980.png)

Related code: https://github.com/thewca/worldcubeassociation.org/blob/cfb14fe6b2c5f74a4edaf885447fbf213df4f492/WcaOnRails/app/views/competitions/_results_table.html.erb#L44

[2018-07-06 17:34] #3060 closed

[2018-07-07 17:06] viroulep commented on #2984
Gathering some notes to myself, mostly to not forget them and eventually get feedback if I'm stating something dumb:
  - the JSON should definitely be validated by a JSON schema, currently it's a very long test in the php code.
  - individual results validation (eg: best is best, average is correctly computed, ...) should be moved to a concern, and be applicable to both Results and InboxResults.

[2018-07-07 17:21] jfly commented on #232
For the record, the "conditionally include gmaps" was implemented in https://github.com/jfly/worldcubeassociation.org/commit/b46f6389ce88a377aa58095236e57a69b1868ebb as part of https://github.com/thewca/worldcubeassociation.org/issues/434.

@viroulep, I'm going to go ahead and close this issue. Feel free to create a new one for dropping google maps entirely.

[2018-07-07 17:21] #232 closed

[2018-07-07 23:04] viroulep commented on #2984
Interestingly, the validation currently written [here](https://github.com/thewca/worldcubeassociation.org/blob/2479da18bca7acd15e5f209bd72a862c864bc1e6/WcaOnRails/app/models/result.rb#L44-L49) is wrong.
Or rather the way we do `compute_correct_average` is wrong, as we're using the division on integers instead of floats + rounding.

I found this out while working on checking the results: according

[2018-07-09 06:10] jfly commented on #3047
I just opened this up on IE 11, and it looks like our javascript is failing to parse:

![image](https://user-images.githubusercontent.com/277474/42432385-2a64083e-82ff-11e8-91d2-31e1f2215272.png)

Prettifying that bit of code looks like this:

[code]

I think IE11 is actually correctly complaining here, because `createEvent` is not previously defined. I found the unminified code for this in `jackm

[2018-07-09 06:20] jfly commented on #3047
I'm out of time for now. Currently we're using uglifier 4.1.13 (https://github.com/thewca/worldcubeassociation.org/blob/1f4b686a7e94433a21fad0c2388238e6750bf14d/WcaOnRails/Gemfile.lock#L505). I think the next step would be to figure out which version of uglifyjs it is using (and with what options), and see if we can reproduce this issue and hopefully report it upstream to uglifyjs!

[2018-07-09 19:47] LinusFresz commented on #980
This was dealt with in https://github.com/thewca/worldcubeassociation.org/issues/2690.

[2018-07-09 19:47] #980 closed

[2018-07-09 20:15] jfly opened #3082 "Should we store the user's `http_accept_language` at the time they register for the website?"
I was just discussing #1223 with @LinusFresz, and that got us thinking about the following scenario:

Someone in Japan creates an account on our website and interacts with out website a bit. Their web browser is set to send a [HTTP Accept-Language](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language) that prioritized Japanese, so they never have to interact with our locale pi

[2018-07-09 20:30] jfly commented on #322
I took care of this in https://github.com/thewca/worldcubeassociation.org/pull/1683. Closing this issue!

[2018-07-09 20:30] #322 closed

[2018-07-10 01:13] #3016 closed

[2018-07-10 05:00] LinusFresz commented on #1223
While chatting with @jfly about this issue, we've experienced that it is not as easy as editing [mailer.html.erb](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/layouts/mailer.html.erb). First, we'd have to build a "set your locale" page in the user's settings before we could link them to anywhere. On this page, we should do something similar to what the `set_l

[2018-07-12 18:30] SAuroux commented on #2992
`SELECT competitionId, COUNT(*) as num FROM Scrambles WHERE competitionId LIKE "%2018" AND eventId='333fm' AND isExtra=1 GROUP BY competitionId HAVING num != 2`

returns 7 competitions that I looked at individually. 5 of them have 4 extras as they simply had 2 rounds of FMC. And then there are IndianNationals2018 and MedanOpen2018 with one extra scramble each. We know that IndianNationals2018 is l

[2018-07-12 18:30] #2992 closed

[2018-07-16 06:45] jfly commented on #2984
Good catch, @viroulep! I've fixed the rounding bug in https://github.com/thewca/worldcubeassociation.org/pull/3100.

[2018-07-17 07:17] #3011 closed

[2018-07-17 09:13] jfly commented on #3047
I'm able to reproduce this with a fairly simple javascript file. See the following:

[code]

With a little investigation, I was able to distill this down into a reproducible using the `uglify-js` javascript package directly:

[code]

Interestingly enough, this only seems to happen with "ie8" support turned on.

[2018-07-17 09:33] jfly commented on #3047
I've filed https://github.com/mishoo/UglifyJS2/issues/3215 to track the underlying UglifyJS bug: https://github.com/mishoo/UglifyJS2/issues/3215.

In the mean time, I suspect we could work around this by disabling ie8 support. At least that would get things working for ie11 :p

[2018-07-17 16:24] jfly opened #3105 "Improvements to the base entry fee"
Currently, we have the following ui on the competition form:

![image](https://user-images.githubusercontent.com/277474/42831024-155c0ce4-89a2-11e8-9a94-4c27a764bb0a.png)

There are a couple of issues with this form:

1. We have a database default that sets this currency code to USD. That's not very worldly of us, although maybe it's a pretty reasonable to default and in practice saves people clic

[2018-07-24 02:49] Z4chy opened #3121 "Better email notification system"
I really like the email notification system that notifies organizers when competitors register for a competition. However, this results in a lot of inbox spam. It is possible to turn off, but I like the idea of a notification.

So here is what I propose: Have some sort of scheduled task or cron job that checks during a certain interval, say, 1 hour, and instead of having individual emails, have an

[2018-07-24 17:24] pedrosino opened #3122 "Results by competitor is not on correct alphabetical order"
See here for example:
https://www.worldcubeassociation.org/competitions/Brasileiro2018/results/by_person

It's probably because of the ã, but in portuguese we have João before José.

[2018-07-24 18:41] pedrosino opened #3123 "Make disclaimer page"
Requested from the Board:

[code]
-----

- [] There should be a link to this page under the Information drop down menu after Privacy.
- [] There should be a link to this page in the website footer, after Privacy.

[2018-07-25 13:58] cubewhiz opened #3129 "Give Senior Delegates Access to See All Competitions in their Area"
It would be helpful if there was a list under "My competitions" (or elsewhere) that shows all competitions by Delegates in the Senior's region (separated by confirmed and unconfirmed).

[2018-07-31 03:46] cubewhiz commented on #2051
This year we were able to edit the registrations for Nationals through SQL query, but many competitors (and their parents) were quite angry because they were removed from the events (and they didn't quite understand the requirements). I think it is much better to prevent them from registering for these events in the first place than it is to remove them from the events later. We would be grateful

[2018-07-31 08:26] Mollerz commented on #2051
I think preventing people from registering for not making the qualification is a bad idea. In many cases these qualifications are for major championships which are announced quite far in advanced. It is very likely that someone will compete in another local competition in the mean time and possibly get some of the qualifications. In which case they will need to email the organisers and ask to be a

[2018-07-31 18:29] ToastyKen commented on #2051
@Mollerz Fyi, we've actually used the system we're recommending, and it worked better. We're not just posing a hypothetical.

For CubingUSA Nationals 2017, we rolled our own registration system, and it worked like this:

1) You could not register for events you didn't qualify in.

2) You needed to qualify in at least one event before registering at all.

3) If you were already registered, and you

[2018-07-31 20:58] timreyn opened #3155 "Don't show "website" link when there's no external website"
Since most competitions don't have an external website, it's a little confusing to have a link on each competition page (e.g. https://www.worldcubeassociation.org/competitions/IVETECJacareiOpen2018) to itself.

[2018-07-31 23:30] jfly commented on #3155
@AlbertoPdRF, you've been working with this code recently, could you take a look at this?

[2018-08-01 05:06] SqAtx commented on #2980
How do we actually use the JSON file? Where is it uploaded at the moment?
AIUI, we upload the file to the website and that populates the results, right? Do we just need the JSON file for backup? In that case, it would make more sense to store it in S3, I think.

Well that's a lot of questions, but it boils down to:
1- What is the current process?
2- What do we want it to be?

[2018-08-01 07:41] viroulep commented on #2980
#3127 uses it to populate the inbox tables and then drop it.
The WRT didn't seem to need it besides that goal, so if we store it it's definitely only for backup purpose!

[2018-08-01 19:48] AlbertoPdRF commented on #3155
I can definitely take a look, but I don't know when I'll be able to.

[2018-08-01 20:01] Mollerz commented on #2051
Ok I agree that is a better system, in which case we do need the option on the WCA website to charge different fees based on the events offered. And we also need to be able to give the option to allow people to therefore amend their own registrations. Maybe a checkbox to allow the organisers to either allow or deny the option for competitors to change their own registrations?

[2018-08-01 20:37] pedrosino commented on #3155
I'm guessing an if at https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/competitions/_competition_info.html.erb#L21 would work, right?

I'll try to do that shortly.

[2018-08-01 21:43] AlbertoPdRF commented on #3155
Yes, I think that should be it! I'm passing the issue to you then :)

[2018-08-01 22:54] Jambrose777 opened #3169 "Events Tab"
Hello WST,

Here is a list of items for that I feel like the new events tab should be changed to in order to provide the best quality and clarity for competitors.

- [ ]  the events are in the wrong order. They are currently in alphabetical instead of wca event order.
- [ ]  the footnotes on cumulative limits should not show if a cumulative limit is not in use for the competition.
- [ ]  the footn

[2018-08-02 01:57] FatBoyXPC commented on #3169
Throughout this discussion, can we keep the top post updated?

Alphabetical is most definitely the correct order. It's absurd that WCA Event order isn't alphabetical, and when trying to find an event in a list, it makes sense to make it alphabetical.

I think all of the automatically generated tabs should come first to enforce consistency.

Right now this information isn't stored in the "Manage Ev

[2018-08-02 02:02] Jambrose777 commented on #3169
The delegates voted on this a year or so ago. The correct order is the order that the WCA lists the events in. Consistency with the rest of the website is important.

[2018-08-02 09:30] lgarron opened #3170 "Add menu or home page link to 404 page"
https://www.worldcubeassociation.org/non-existent is very generic right now.

I'm not a fan of error pages that are too silly or try too hard to be "helpful", but the current error is very generic:

<img width="645" alt="screen shot 2018-08-02 at 02 30 47" src="https://user-images.githubusercontent.com/248078/43575594-143de524-95fc-11e8-80c2-0e63eb809f83.png">

[2018-08-02 12:31] #3155 closed

[2018-08-02 12:32] pedrosino commented on #3155
Let us know what you think, @timreyn

[2018-08-02 13:00] viroulep commented on #3169
I've just sorted a bit more the bullets in the original post, as I think some are critical and should be addressed asap, whereas others are definitely open (to discussion, or implementation-wise).

A few comments on the points:
I've started some wording improvements in #3161, and I believe some of your comments were written before so just to make sure:

I'm honestly not sure I got this right, but

[2018-08-02 16:03] Jambrose777 commented on #3169
Agree to disagree. A competition doesn’t have to have everything be official. If there is kilominx at a compeititon, I would like to clearly know that it is being held and all the information regarding format, time limits, rounds, etc that the events tab shows. If it isn’t displayed on this tab I may not even know that the unofficial event is being held until I get to the competition.

[2018-08-02 19:53] timreyn commented on #3155
Thanks Pedro!

[2018-08-02 20:25] Laura-O commented on #3169
I think there are many ways to communicate unofficial events outside the events tab. Expecting that (potential) competitors only read the Events page before registering is really unlikely...

Therefore, I agree with Philippe that the page should only be used for WCA official events and we should focus on making this as good as possible atm.

[2018-08-03 04:11] FatBoyXPC commented on #3169
I must have missed this, can you link me to it? If it's not something we should put in here, a personal email or message would suffice!

Tough shit, you lose the right to complain once you don't read all of the available information.

[2018-08-03 12:34] pedrosino commented on #3169
James: I believe it's this thread
https://groups.google.com/forum/#!searchin/wca-delegates/order$20events$20-%22wca-report%22|sort:date/wca-delegates/dVPC9S4841k/zfk_hTpAFgAJ

On Fri, Aug 3, 2018 at 1:11 AM James LaChance <notifications@github.com>
wrote:

[2018-08-03 20:04] cubewhiz commented on #3169
The scheduler allows for custom objects, so I think that it is most appropriate to put unofficial events into the schedule (and not in the events tab).

I also agree with using the WCA Events order instead of alphabetical.

[2018-08-03 20:20] cubewhiz opened #3175 "Language Translations on Competition Pages"
Currently, the way that most competitions display multiple languages is to repeat the same information two or more times directly underneath. Here is an example:
https://www.worldcubeassociation.org/competitions/SwissNationals2018

This causes the Information and Registration requirements to become quite long and take up much more space on the page than necessary.

I think it would be friendlier t

[2018-08-04 10:06] AlbertoPdRF commented on #3175
I like this idea for the information field. However, this won't be necessary for the registration requirements one, as they will be pre-translated as soon as I finish with #2999, to which I'll try to dedicate some time this weekend.

[2018-08-04 17:26] cubewhiz opened #3178 "Allow Senior Delegates to see pending WCA ID claims for Delegates in their region"
From Tim McMahon via email:

As a Senior Delegate
I want to be able to see pending WCA ID claims for Delegates in my region
So that I can escalate within a few weeks before competitors start complaining.

Scenario: Senior Delegate views Pending WCA ID Claims on Delegates stats page
Given I'm logged in
And I'm a Senior Delegate
When I visit the Delegates stats page
Then I can see the number of Pend

[2018-08-04 22:01] Jambrose777 commented on #3169
As well, Many championships like to have "Top 16 / Min 4 Europeans" or "Top 10 Europeans" as the advancement condition. I believe this is not currently possible.

[2018-08-06 20:03] Goosly commented on #3169
Would it be possible to make this Event tab optional for "basic" users?
It seems like it's mostly useful for the WRT anyway.

More information = more competitors not reading everything (and thus, skipping the essential information).

[2018-08-06 20:36] FatBoyXPC commented on #3169
@Goosly from a delegate and organizer standpoint, I find it _very_ annoying that I need to setup the events in the "Manage Events" page _and_ create a whole separate page where I list everything. Duplication always leads to something being wrong, too.

[2018-08-06 21:43] Goosly commented on #3169
@FatBoyXPC I've never created the list of events that's generated now and no competitor has ever asked me for such a list. That information is all in the schedule.

I'm not asking to remove it, I'm asking to make it optional: you can use it, and I won't :-)

[2018-08-06 21:51] FatBoyXPC commented on #3169
The fact that one of the complaints is "Now old competitions have 2 Events tabs" shows that plenty of other people create that tab, too. The Schedule doesn't give you an overview of what events are available, and what tentative events are available.

[2018-08-06 23:14] cubewhiz commented on #3169
Since the application of the scheduler will cease the need for manually created schedule tabs, I'd rather keep the Events tab for all users.

[2018-08-06 23:31] TommyCherry opened #3197 "Would it be legal to have a box to put finished cubes in so that they aren't all in a messy pile on the desk/table during a MBLD attempt?"

[2018-08-06 23:33] pedrosino commented on #3197
Hi @TommyCherry
This repository is for the WCA website. You may want to ask this question at the [Regulations repository](https://github.com/thewca/wca-regulations) or directly to the [WCA Regulations committee](regulations@worlcubeassociation.org)

[2018-08-06 23:33] #3197 closed

[2018-08-06 23:35] TommyCherry commented on #3197
@pedrosino thanks. Sorry for posting in the wrong place. I'll repost in the regulations repository

[2018-08-06 23:52] Jambrose777 commented on #3169
Could we possibly add what Bo2, Ao5, etc... mean in the format footnote section? More specifically if its possible to define only what appears in the the events (so if I only list Bo2 and Ao5 in my events, it won't list definitions for bo1, mo3, bo3).

[2018-08-06 23:57] FatBoyXPC commented on #3169
I don't think the last bit there is necessary (restricting the footnotes to relevancy from the applied events).

[2018-08-06 23:59] Jambrose777 commented on #3169
If I as a competitor see something along the lines of:
Bo1 = Best of 1, Bo2 = Best of 2, Bo3 = Best of 3, Mo3 = Mean of 3, Ao5 = Average of 5 (where the best and worst times are not counted, averaging the middle 3).
Makes it very confusing if the schedule only mentions the use of Ao5.

[2018-08-07 00:08] FatBoyXPC commented on #3169
That can be solved with how we display the information. Something along the lines of "click here to see the available formats"

[2018-08-09 02:45] cubewhiz commented on #3175
I forgot until recently that we actually have a Motion (12.2017.1) that dictates that the online services of WCA competitions should be available in American English. From the Motion:

For WCA Competitions, the online services and on-site announcements may be in local languages, but should be available in American English in case of participation of non-native speakers of the local languages.

[2018-08-09 20:33] viroulep opened #3206 "Locale based formatting for the currency symbol"
When I introduced the currency formatting I kind of remember that I had to override some setting to have the '€' sign displayed after the price.
This is not the case anymore because we probably changed the library in charge of displaying the fee(?), so I looked into what we're using now.
Looks like the gem we're using is indeed following the iso specifications, [which states](http://publications.e

[2018-08-09 20:47] AlbertoPdRF commented on #3206
I see that the PR to fix that issue has already been merged: https://github.com/RubyMoney/money/pull/783

[2018-08-09 21:05] viroulep commented on #3206
I saw that but I believe that's just a first step adding a formatting method to the Money class, but I'm not sure if the "locale to sign position" part is done.

I'll play a bit locally, but I'd rather not add a "number.currency.format.symbol_position" to our locale files, if it's going to be standardized somewhere (but as you noticed it would probably work).

[2018-08-13 14:50] saranshgrover opened #3221 "Adding Competitions to Calendar"
As a calendar enthusiast, I always keep my calendar up to date with events. It would be really beneficial (and I don't think it's hard to implement) to add an option to add a Competition to someones calendar once they're registration has been approved.

[2018-08-13 18:12] Goosly opened #3222 "Incorrect warning about submitting results"
As a delegate, after I just submitted results, I still get this warning on the competition page:
"Note: Please submit results for this competition! You can upload them here."
And I also still have a notification about it.

This is incorrect and should be changed to something that makes clear that the results have been submitted, but the Results team hasn't published them yet. This way a delegate w

[2018-08-14 03:06] Jambrose777 opened #3224 "Payments can be refunded months after a competition."
With the current system, I am able to refund a payment months after the competition. I believe the same may be true for organizers and delegates to be able to do. This can be potentially harmful as someone can refund payments and cause the person with the stripe account to loose money, which they may not have.

Please correct me if I'm wrong, but this seems to be the behavior of the website. I hav

[2018-08-14 03:07] FatBoyXPC commented on #3224
Jacob,

I'm pretty sure you can test this on staging, just login as an organizer
that's not a delegate.

James

On Mon, Aug 13, 2018 at 11:06 PM Jacob Ambrose <notifications@github.com>
wrote:

[2018-08-14 03:09] Jambrose777 commented on #3224
is it possible to make payments on staging?

[2018-08-14 04:05] FatBoyXPC commented on #3224
I think so? I know Stripe has a fully functional sandbox, I guess I just
haven't poked around on staging to make sure we're using test credentials.
I imagine we are, though, because we played with it on staging before we
pushed it live.

On Mon, Aug 13, 2018 at 11:09 PM Jacob Ambrose <notifications@github.com>
wrote:

[2018-08-14 19:18] coder13 commented on #3169
Reporting a bug:
When you have 2 (or more, didn't check) rounds that are using a single cumulative time limit and you delete one of the 2 rounds, the other event doesn't correctly update knowing you removed that round.

Say you setup 4bld and 5bld to be using a single cumulative time limit, remove 5bld, 4bld will still think it's time limit is 4bld + 5bld rounds 1.

[2018-08-15 00:32] Jambrose777 opened #3225 "Showing if a championship type is already in use for the year"
One of the requirements for a competition to be recognized as a national championship is:
There’s no other similar competition the same year.
In other words, the same championship for the country, continent, or world cannot be used twice in one year.

It would be nice if the members announcing competitions had easy access to this information whenever they are announcing competitions.

[2018-08-15 00:41] jfly commented on #3225
I like this idea! @Jambrose777, where do you think would be a good place to put this information? Some ideas, not necessarily good ideas, but just to get the conversation started:

- A message on the `notify_board_of_confirmed_competition` email: https://github.com/jfly/worldcubeassociation.org/blob/master/WcaOnRails/app/views/competitions_mailer/notify_board_of_confirmed_competition.html.erb
- Re

[2018-08-15 01:27] Jambrose777 commented on #3225
Option 2 would be very nice!

[2018-08-15 01:33] Jambrose777 opened #3226 "Competition Subregions"
It may make sense to have a competition subregion attribute in the competitions table.

WRT/WQAC is currently going through the process of standardizing the formats of the cities used per country.
Typically the preferred city format is either 'city' or 'city, subregion'. However once these changes are made, it may be hard to enforce the correct use per country via human approval.

It may be benefi

[2018-08-15 01:35] Jambrose777 commented on #3226
Writing this out it may be better for the competition creation UI to soley handle this (rather than the database).
so the UI would have something like:
City: Atlanta
Subregion: Georgia
and the it would compile that into a city to store of Atlanta, Georgia.

This could still make use of the requiring/making the subregion only available for certain countries.

[2018-08-15 02:56] jfly commented on #1821
Brandon Mikel pointed out that this is more important now that we have first class support for scheduling on the WCA website.

[2018-08-15 09:31] AlbertoPdRF commented on #1821
I already talked with @viroulep about a possible implementation of this: on the "Manage events" page, there could be a checkbox for every event that you have to check if you want the event to be tentative, and this event would be displayed differently both in the "Events" and in the "Schedule" pages.

[2018-08-18 01:13] cubewhiz commented on #3178
I just found today that this issue already exists as #728. It's just unfortunate that no progress has been made on this issue in 2 years. :\

[2018-08-18 01:13] #3178 closed

[2018-08-19 19:24] Mollerz opened #3228 "Javascript errors on Safari 9: unable to see exact registration date"
Email from a competitor's parent who could not see the exact date of a competition registration opening time, I asked them to provide a screenshot, see below. Initial impression appears to be a Safari problem, not sure if the width of the webpage is causing the issue.

Screenshot of https://www.worldcubeassociation.org/competitions/ManchesterOpen2019/register:

![image](https://user-images.githubu

[2018-08-19 22:22] timreyn opened #3229 "Past competitions show up in "upcoming competitions""
https://www.worldcubeassociation.org/competitions

I see a few competitions including Asian Championship that have already happened in the "upcoming competitions" section.  The alt text on the hourglass says that it starts in "-2 days".

![screenshot from 2018-08-19 18-18-12](https://user-images.githubusercontent.com/3885929/44313793-580a4200-a3dc-11e8-9302-f6eaf163b0c6.png)

[2018-08-20 17:52] jfly commented on #1821
Quick note tentative events are being discussed over on https://github.com/thewca/wca-regulations/issues/614. Let's try to remember to update this issue with the results of that discussion!

[2018-08-20 20:47] AlbertoPdRF opened #3240 "Improve website's SEO"
I think we should make an effort and improve the SEO of our website. #3238 has been a first step, but now I'm opening this issue to keep track of the changes we would like to make in order to improve the website in this sense.

From #2479:

- [ ] Personalized images -- perhaps the title superimposed to our logo.
- [ ] Keywords
- [ ] Descriptions for every page.

Feedback and ideas are welcome :smi

[2018-08-20 20:47] #2479 closed

[2018-08-21 01:14] jfly commented on #2980
I don't think it's worth storing the JSON just for backup purposes. In the fullness of time, the submitted JSON should be fully formed WCIF documents.

1. Removing the WCA Workbook Assistant entirely, which means giving delegates the ability to upload scrambles to the website along with results.
2. Alerting about differences between the announced schedule and the actual schedule, includes events a

[2018-08-21 01:14] #2980 closed

[2018-08-21 02:46] jfly commented on #3228
@Mollerz, in the future, please don't link to external websites hosting images. You can copy paste them directly into github. I've updated your post for you. It's also nice to include a direct link to the problematic page whenever possible, which I have also updated your original post with.

The screenshot looks like there was a javascript error that prevented the localized time from rendering. I'

[2018-08-21 03:10] jfly commented on #3229
Here's the relevant code: https://github.com/jfly/worldcubeassociation.org/blob/702ffd97f43e6fc2973ac3c1bd117f4e317143e1/WcaOnRails/app/views/competitions/_index_competitions_list.html.erb#L19-L29, which roughly looks like this:

[code]

That `@competitions` array came from here https://github.com/jfly/worldcubeassociation.org/blob/702ffd97f43e6fc2973ac3c1bd117f4e317143e1/WcaOnRails/app/controller

[2018-08-21 04:39] jfly commented on #3170
Related: https://github.com/thewca/worldcubeassociation.org/pull/691.

[2018-08-21 06:48] jfly commented on #3228
I am able to reproduce this over on BrowserStack using their iPhone emulator.

![image](https://user-images.githubusercontent.com/277474/44385123-50799480-a4d3-11e8-99fd-3b3fded7878c.png)

The "Can't find variable: Intl" is referring to this line of javascript:

![image](https://user-images.githubusercontent.com/277474/44385173-6dae6300-a4d3-11e8-964a-42279baec3cf.png)

[2018-08-21 06:58] AlbertoPdRF opened #3242 "Add a footer with links to WCA's social media accounts"
I think that this will help us give more visibility to the accounts and also engage people more.

As @Laura-O was working on re-designing the website, maybe she has already thought about this.

[2018-08-21 07:03] jfly commented on #3228
Looks like the iPhone 6S is using Safari 9.0?

![image](https://user-images.githubusercontent.com/277474/44385422-38eedb80-a4d4-11e8-8083-2135a9b31843.png)

According to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl#Browser_compatibility, Safari 10 is when support for `Intl.DateTimeFormat` was added.

I just checked Google Analytics, and Safari 9 makes up 1.

[2018-08-21 07:08] jfly commented on #3242
For the record, we have been adding a lot of stuff to the footer. On mobile, we're basically out of space:

![image](https://user-images.githubusercontent.com/277474/44385998-0514b580-a4d6-11e8-89c4-14292393df66.png)

Ideas:

- Privacy and Disclaimer could potentially get combined? In some sense they're both about our users rights.
- FAQ and Contact could potentially get combined or one of them re

[2018-08-21 07:12] AlbertoPdRF commented on #3242
Or maybe we can add a second footer? With a different style and only for those links, which are a bunch by the way.

[2018-08-21 10:09] Mollerz commented on #3228
Thanks for the tip @jfly - I'll take those into consideration for future issues!

[2018-08-21 11:37] Laura-O commented on #3242
Yep, I already considered that and have that in my drafts. I think it's more or less standard to put a contact form, the privacy policy and social media icons in the footer, so I support Alberto's idea.

I also don't think the mobile footer is too large or is getting too large if we add the logos for FB, Twitter, and Instagram. A large footer doesn't force users to scroll more, which is usually th

[2018-08-21 16:20] pedrosino opened #3243 "Extra spaces in the competitors name section"
From Roman via email:

edit: @jambrose also asked for this for `Competitions.cityName`:

https://github.com/holli/auto_strip_attributes might be a useful gem for this.

[2018-08-21 18:09] lgarron commented on #3242
I would prefer to have more social media in the footer, and consolidating some of the other links if needed.

Could we combine "Privacy" + "Disclaimer" into "About" and "FAQ" + "Contact" into something like "Questions"?

[2018-08-21 20:02] Mollerz opened #3246 "Competitions wrapping and column order"
At: https://www.worldcubeassociation.org/competitions

Would it be possible to amend this so that the wrapping is contained within the column?

![comp-wrap](https://user-images.githubusercontent.com/7948340/44425971-54fe8580-a585-11e8-90fb-5b3f47e0cfdf.png)

Also when you shrink the screen size down, presumably to go to the mobile version, the date jumps from the left to being right aligned at the

[2018-08-22 02:30] KitClement opened #3247 "Remove circular links on /register"
I do want to say that I really appreciate the standardization of registration requirements. One minor issue I have with the update is the introduction of more circular links on the /register page. We recently removed the "(Competition name) website" link when no external website link was provided, and I'd like to remove the automatically generated links to the register page once you are on the reg

[2018-08-22 07:40] viroulep commented on #3222
I believe it will be taken care of in #3127, I've adjusted the `user_should_post_competition_results?` [here](https://github.com/thewca/worldcubeassociation.org/pull/3127/files#diff-848ffc153c457b964c6c8a9d204cea61R226), and used it to issue the warning on the competition page.

[2018-08-22 14:03] BlargMeister opened #3250 "Inconsistency in the Custom Dates feature in 'Competitions'"
I noticed recently that the Custom Dates feature in 'Competitions' would only show competitions that only occurred within the parameters. As such, if I were to search for competitions between 2018-08-16 and 2018-08-22, as seen here:
![image](https://user-images.githubusercontent.com/42611676/44467549-0b607a00-a61b-11e8-8646-d183871040c9.png)
The results would not show this competition:
![image](ht

[2018-08-22 17:13] jfly commented on #3250
Thanks for the detailed report including screenshots!

I don't think "consistency" is a fair word to use here. The code always does the same thing =) For the record, here it is: https://github.com/thewca/worldcubeassociation.org/blob/ae3c915762a8e7c7d1ea14c78d795bb91170ddbb/WcaOnRails/app/controllers/competitions_controller.rb#L98-L99.

Basically, this is saying "include competitions that are full

[2018-08-22 21:05] viroulep opened #3254 "Edit events page: bug with across rounds cumulative time limits"
Reported by @coder13:

When you have 2 (or more, didn't check) rounds that are using a single cumulative time limit and you delete one of the 2 rounds, the other event doesn't correctly update knowing you removed that round.
Say you setup 4bld and 5bld to be using a single cumulative time limit, remove 5bld, 4bld will still think it's time limit is 4bld + 5bld rounds 1.
photos:
![image](https://us

[2018-08-22 21:06] viroulep commented on #3169
@coder13 thanks, I've moved your bug to its own issue (#3254) as it's not related to the events tab per say, but to the manage events page.

[2018-08-22 22:11] jonatanklosko commented on #3250
I don't have a strong preference here, so if overlapping sounds less confusing that inclusion, I'm fine with it!

[2018-08-23 00:06] cato-hga commented on #3243
Hello, is this issue still available?

[2018-08-23 00:08] jfly commented on #3243
Totally! Do you want to work on this, @cato-hga?

[2018-08-23 00:12] cato-hga commented on #3243
I can sure try! This is my first time working on an open source project. @jfly

[2018-08-23 00:16] jfly commented on #3243
Best of luck! Feel free to reach out to the WCA Software Team over email if you have questions.

[2018-08-23 12:45] Goosly opened #3255 "Registration requirements: ommit irrelevant lines when possible"
Generally people tend to skip reading stuff if a block of text looks long and in that way they miss the important information, so I would appreciate these improvements:

1. If the user is logged in, remove the line "Create a WCA account here if you don't have one."
2. If the user is logged in and has a WCA ID linked to his account, remove the line "If this is not your first competition, associate

[2018-08-24 01:13] Jambrose777 opened #3257 "Bug - Old Competition's Registration Requirements"
Right now, competitions previously announced do not include "No on the spot registrations will be accepted". I assume this is because this information is not easily obtainable without hand processing the registration requirements for this information.

However, whenever a competition is updated (say by adding a delegate) this field now appears. Even though the organizer's may have "on-site registr

[2018-08-24 07:06] AlbertoPdRF commented on #3257
If I understand the issue correctly, the problem is that when a past competition is updated, the default value of `on_the_spot_registration` (`NULL`) gets updated to `false`, right? If that's the case, is there any way to prevent that update for competitions `created_at` before 8/22?

[2018-08-24 13:04] Jambrose777 commented on #3257
Another solution is to go through the ~200 announced competitions and clean up the registration requirements. This would involve removing the duplicate registration information and setting the fields appropriately.

I could probably take care of most of these this weekend. And it cleans up the competitions. Thoughts?

[2018-08-24 13:16] Goosly commented on #3257
That would probably be the fastest solution, Jacob. The duplicate information looks very weird on a lot of competitions now :-)

[2018-08-24 13:18] Jambrose777 commented on #3257
Might take a long time compared to Alberto’s proposal. But it will make the competitions look better