[2018-08-24 13:28] Goosly commented on #3257
Still, Alberto's proposal would only fix the **error** where "No on the spot registrations will be accepted" is now incorrectly shown.

Your idea is more thorough and will clean up **all duplicate information**. But it is a lot of work indeed.

[2018-08-24 18:43] cubewhiz opened #3258 "Non-Delegate Board Members Cannot View Delegate Panel"
Board members are no longer required to be Delegates, but non-Delegate Board members do not have the link visible in the drop-down menu to view the Delegate Panel. They have access to the page by visiting the link directly, but no navigation to it.

[2018-08-25 04:53] Jambrose777 commented on #3258
They should have access to that page via: Drop-down menu, Admin, Delegates (towards bottom).

I do believe there is no easy access to the crash course.

[2018-08-25 07:50] AlbertoPdRF commented on #3258
The thing is that non-Delegate Board members don't see this:

file:///storage/emulated/0/Android/data/com.evernote/files/Temp/Shared/imagen.jpg

[2018-08-25 09:54] sam596 opened #3261 "Non-Delegate WRT Member(s) cannot edit Delegate Avatars"
As a non-delegate WRT member, when trying to edit the avatar thumbnail for a delegate, I do not have the 'avatar' tab on the `/users/xxx/edit` page.

Recreatable on staging:
As me:
![image](https://user-images.githubusercontent.com/31994452/44617109-23bbd900-a855-11e8-8cd2-3753568c4715.png)

As other WRT member:
![image](https://user-images.githubusercontent.com/31994452/44617098-01c25680-a855-11e

[2018-08-25 11:05] AlbertoPdRF commented on #2978
For some reason this issue didn't get closed when #2999 was merged, so I'm closing it now.

[2018-08-25 11:05] #2978 closed

[2018-08-25 18:12] #3229 closed

[2018-08-26 04:01] cubewhiz commented on #3257
Jacob and I started this task. It looks like we will be taking care of this (and duplicate information) manually for all announced future competitions, so we can close this issue.

[2018-08-26 04:03] cubewhiz commented on #3242
@AlbertoPdRF how many is "a bunch?"

[2018-08-26 07:43] AlbertoPdRF commented on #3242
@cubewhiz Facebook, Twitter, Instagram, Reddit, Twitch, Weibo?, and I don't know if I'm missing anything.

[2018-08-26 14:06] Jambrose777 opened #3267 "Support for multiple registration periods."
While working on #3257 , I realized that there are many competitions that utilize multiple registration periods. This is either done by an external website or by changing the start and end registration period in WCA. To be as accurate as possible it would be useful to have the registration periods be a list that you can add periods onto.

[2018-08-26 21:48] jfly commented on #3257
Let's keep this open so we can track this task. @Jambrose777 and @cubewhiz, thanks for taking this on, and please feel free to close this when you're done!

[2018-08-26 21:50] jfly commented on #3267
@Jambrose777, could you start a list of "things" we want to store about each registration period? I assume it's more than just a start date and an end date. Maybe there are different registration fees associated with each period? Other stuff?

[2018-08-26 22:15] #3050 closed

[2018-08-26 23:02] jfly commented on #2978
Note the missing hashtag in the [commit message](https://github.com/thewca/worldcubeassociation.org/pull/2999/commits/b4060720ae41078bd4f7622e4d0ab72837edd349):

![image](https://user-images.githubusercontent.com/277474/44634087-72e33600-a949-11e8-800f-1c888f372522.png)

[2018-08-27 01:46] cubewhiz commented on #3267
I've been making a list of things we should have or change from the registration requirements, too. Maybe it's best to just have one list with checkboxes that we can cross off as they are implemented?

[2018-08-27 01:56] jfly commented on #3267
Yes please, put together a single list, and we can break it up into discrete pieces of work later on.

[2018-08-27 07:10] AlbertoPdRF commented on #2978
Argh, it seems like it got missing in one of the squashes. Thanks for clarifying!

[2018-08-27 17:06] #3258 closed

[2018-08-27 17:06] LinusFresz opened #3287 "Organizers can't opt-out of registration notifications anymore"
https://github.com/thewca/worldcubeassociation.org/pull/2999 changed the way organizers can opt-out of registration notifications: before is got merged they could opt-out whenever they wanted, now they can't anymore after the competition got announced. I see two ways to deal with this:

1.  Remove "You can opt out of receiving registration emails here." from the registration mails any organizers r

[2018-08-27 17:09] #3261 closed

[2018-08-27 17:12] #3255 closed

[2018-08-27 17:12] #3247 closed

[2018-08-27 17:27] jfly commented on #3287
What part of #2999 changed this? I don't see anything relevant in competitions_controller.rb...

[2018-08-27 17:36] AlbertoPdRF commented on #3287
Removing lines 233 and 261 [here](https://github.com/thewca/worldcubeassociation.org/pull/2999/files#diff-50eb0d6308b5cd05b00f821ef9ed1379) changed this.

[2018-08-27 19:44] #3287 closed

[2018-08-28 08:10] #278 closed

[2018-08-29 08:54] AlbertoPdRF commented on #2472
I will try to take this one next, and also fix #3225 together with this one.

[2018-08-29 09:20] Goosly opened #3301 "Schedule tab: broken link to #cumulative-across-rounds-time-limit"
On the Schedule tab, when I click on the 2 asterisks at the end of a cumulative limit across rounds, nothing happens. Probably related: the line at the bottom about Guideline A1a2++ is also missing.
On the Events tab, clicking on the 2 asterisks highlights the line about Guideline A1a2++.

To be clear, I mean these asterisks:
![image](https://user-images.githubusercontent.com/12575384/44778051-5c7

[2018-08-29 09:46] Goosly commented on #3301
Same issue for a cumulative limit for one round, which is indicated with 1 asterisk
Can be tested at the same link

[2018-08-29 10:50] viroulep commented on #3169
For 2 you can already do so, just select "other" and fill the "name" with "Tutorial for new competitors".
I'd rather stick to implementing the [WCIF](https://docs.google.com/document/d/1hnzAZizTH0XyGkSYe-PxFL5xpKVWl_cvSdTzlT_kAs8/edit#heading=h.14uuu58hnua) for this, so if you think the WCIF should change could you please make a separate issue for this?

[2018-08-29 13:00] Goosly opened #3304 "Add "Tutorial for new competitors" as common activity"
A tutorial for new competitors is a very common activity (and rightfully so!) and should be acknowledged as such.

I've already suggested to add this [in the WCIF](https://docs.google.com/document/d/1hnzAZizTH0XyGkSYe-PxFL5xpKVWl_cvSdTzlT_kAs8/edit#)

I think the only thing left to do is also add it to [CustomActivity.jsx](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/a

[2018-08-29 14:48] viroulep commented on #897
I've seen the following happen several times recently:

[code]

Currently restarting the build works fine, but it would be good to try to reproduce it reliably and see what causes it :s

[2018-08-29 19:59] viroulep opened #3307 "Competition's schedule tab improvements"
In order to keep these separated from the events tab, here is an issue to track the various improvements to the competition's schedule tab that could be made.

  - [ ] if there is only one room, display this information at the beginning and remove the "room" column.

[2018-08-29 22:08] pedrosino commented on #3307
one suggestion: make the default duration for the custom activities bigger (30 min?)
Now it is just 5 minutes, and in the default view (30 min per row) it's so tiny that we can't drag the border. I had to "zoom in" to 5 minutes per row to change it.

[2018-08-29 22:14] viroulep commented on #3307
There is no default duration for the custom activities.
The length of the custom activity is determined by the timeframe in the calendar that a user has drag and selected.
If you do a single click it considers this as selecting the smallest increment of time (which is 5 minutes).
Changing this to 30 min would mean you could only increase or decrease an activity by 30 min, which would not be conven

[2018-08-29 23:49] pedrosino commented on #3307
Ah, I didn't know I had to drag it. That makes sense, but I would probably not guess it. Perhaps changing the text to "click and drag ..." would help.

[2018-08-30 09:59] Mollerz commented on #2413
The registration requirements section has recently been updated and the schedule builder has also been completed. Might be a good time to work on this if someone has the time.

Adding related issues:
https://github.com/thewca/worldcubeassociation.org/issues/2444
https://github.com/thewca/worldcubeassociation.org/issues/2123
https://github.com/thewca/worldcubeassociation.org/issues/1674

[2018-08-30 11:07] AlbertoPdRF commented on #3257
This has been fully taken care of by @Jambrose777 and @cubewhiz, so I'm closing the issue again :P

[2018-08-30 11:07] #3257 closed

[2018-08-31 02:03] Jambrose777 opened #3312 "Edit events page: bug when setting cutoffs then editing event format"
If I select an Event (like FMC) and create a Mo3 round. Then set a cutoff. Then edit the format to be best of one. The cutoff remains present.

This allows for formats like Bo2/Bo1 where you have 2 attempts to get less than 40 moves, but there is only 1 attempt.

[2018-08-31 02:09] Jambrose777 opened #3313 "Trim whitespace on any field that has text"
For fields like cityName the delegate can enter "Atlanta, GA   " which causes the city to be displayed as "Atlanta, GA   , United States"

There are ~15 cases like this involving city name currently in the DB, but are easily fixable. I'm curious if there are other fields that would need to be fixed and if we are able to automatically trim these upon form submission.

[2018-08-31 18:43] pedrosino opened #3321 "Sort notifications in chronological order"
From WQAC:

[2018-08-31 18:44] pedrosino opened #3322 "Add "reason for name" to competition creation page"
From WQAC:

[2018-08-31 22:39] pedrosino commented on #3307
A few more:
1 - Make the public view a little "taller". Now it uses 30 min per row, which gets very narrow when the round lasts for 15 min for example:
![image](https://user-images.githubusercontent.com/1881933/44938432-5aae5500-ad55-11e8-96e8-af585c47be71.png)

2 - Make the events colors different (alternating shades of blue, or with another color). That makes it easier to tell them apart.

3 - M

[2018-08-31 22:50] jfly commented on #3307
I think this just means you need to define the `time_format` key for pt.yml: https://github.com/jfly/worldcubeassociation.org/blob/23e81d55d268242c50462f80bb217fd2cade9157/WcaOnRails/config/locales/en.yml#L177-L178.

[2018-08-31 22:51] pedrosino commented on #3307
I mean make it a choice of who's making the schedule, not attached to the user viewing it later.

[2018-09-01 15:48] AlbertoPdRF commented on #2472
The action plan regarding this issue is documented [here](https://docs.google.com/document/d/19wU7oBpXu3rN_ufOrcnZQO9_Ebzvw20QTr1isHynjlU/edit?usp=sharing), feel free to comment!

[2018-09-02 17:44] #3304 closed

[2018-09-02 17:44] #3301 closed

[2018-09-03 00:52] #3228 closed

[2018-09-03 04:50] jfly opened #3335 "Schedule validations/sanity checks"
(cc-ing @viroulep for his thoughts. This might be redundant with some of his work in https://github.com/thewca/worldcubeassociation.org/pull/3207, which I have not looked at yet)

Some people have brought up some schedule "validation" they'd like our schedule tool to do. This is a list of them:

- A Final can (timewise) be before a First round. This should be forbidden. -@Goosly in https://github.

[2018-09-03 04:55] jfly opened #3336 "Better handling of schedule view of single room venues"
See
![image](https://user-images.githubusercontent.com/277474/44968061-5e2f1100-aefa-11e8-8941-5cbd4c4a341d.png)

You can see here that the room column is just going to have the same thing over and over again. I'm not sure what the right UI is for this. Should we be special casing single room venues here and pulling the one room's information out onto the top?

[2018-09-03 04:57] jfly opened #3337 "Time limit's, cutoffs, etc are usually round numbers and don't need to show all the zeros"
From Ron:

[2018-09-03 05:02] jfly commented on #3336
@Laura-O, would you be willing to do some UI investigation/thinking here?

[2018-09-03 05:08] jfly commented on #3313
Closing this in favor of #3243.

[2018-09-03 05:08] #3313 closed

[2018-09-03 15:57] pedrosino commented on #3336
I think so. Sometimes the last columns get squeezed and end up with several lines, while there's lot of space on the others.

[2018-09-03 15:58] pedrosino commented on #3307
I guess you're right. It's not like the user can change it too.

[2018-09-03 18:58] jfly commented on #3336
I'm concerned that optimizing for the single room case will still leave us with a poor experience for the multi-room case, though. Let's wait and see what @Laura-O thinks =)

[2018-09-03 21:03] jfly commented on #3226
I am very supportive of this idea! I'm going to close this in favor of https://github.com/thewca/worldcubeassociation.org/issues/361.

For the record, one problem with a UI like this is that it it's a "write once" sort of experience. Once you've stored "Atlanta, Georgia" in the database, there's no way to get back out the city and the subregion for editing purposes.

[2018-09-03 21:03] #3226 closed

[2018-09-04 17:18] jfly opened #3353 "Deprecation warning about `moment.updateLocale`"
I've started seeing these warnings when running feature tests and in the javascript console:

According to https://github.com/fullcalendar/fullcalendar/issues/3471, this happens if for some reason you are trying to define the same locale twice in moment. It looks like we explicitly load moment locales at the top of our appllication.js, and then we go on to load `fullcalendar/locale-all`, which app

[2018-09-05 00:26] Jambrose777 commented on #3307
Not a direct schedule improvement, but quality of life with the schedules:

Would it be possible to auto link the schedule in the delegate report and result submission?

[2018-09-05 05:11] jfly opened #3355 "Reconsider the Multiple Cities/Countries/Continents "hacks""
For competitions that occur simultaneously in multiple places, we have some "fictive" locations in our database. See:

- `MULTIPLE_COUNTRIES`: https://github.com/thewca/worldcubeassociation.org/blob/0cddf3abf1b42f7b437bc62863bd45c9ed7ec198/WcaOnRails/app/models/country.rb#L26-L31
- multiple continents: https://github.com/thewca/worldcubeassociation.org/blob/0cddf3abf1b42f7b437bc62863bd45c9ed7ec198

[2018-09-05 09:43] viroulep commented on #3353
From the [fullcalendar doc](https://fullcalendar.io/docs/locale):

So what we could do is loading only locales that we need instead of just loading all.

I'll go ahead and submit a PR with that.

[2018-09-05 11:35] #3353 closed

[2018-09-06 07:53] viroulep opened #3360 "Handle existing schedule when changing the competition's date"
Currently if you do the following:
  - create a competition on day X
  - create a schedule for this competition
  - change the competition's day to Y

Then any change to the schedule in an existing room will be rejected because the activities for day X still exist, and we validate that all activities should be included in the competition's timeframe.

The easy and manual fix is to remove the rooms

[2018-09-07 01:17] pedrosino opened #3362 ""Inconsistent" information about registration"
This is the first time I created a competition with the new automated registration requirements. I was a bit surprised:
![image](https://user-images.githubusercontent.com/1881933/45193052-95673000-b222-11e8-9d8b-7a9756f670d8.png)

Notice the 3rd and 4th lines. Talking about refunds doesn't make sense since the competition is free. Line 4 could be hidden in this case.

[2018-09-07 02:48] Jambrose777 commented on #3360
A similar issue to this That I noticed is that if you remove an event, it will still be displayed on the schedule. You are still able to manipulate the schedule and save it, but the event is there until you delete it.

[2018-09-07 03:53] Baiqiang commented on #3360
Can we store the relative day instead of the absolute date? For example, store 1 for first day. Whenever the competition date is changed, we don't need to update the date of schedule.

[2018-09-07 03:57] Baiqiang opened #3363 "Registration period is not shown if WCA registration system is not used"
For example: https://www.worldcubeassociation.org/competitions/LanzhouAutumn2018

[2018-09-07 06:27] AlbertoPdRF commented on #3362
@cubewhiz is preparing a list of changes like this one that could be done to improve the text.

[2018-09-08 20:39] pedrosino commented on #3321
Something before the announced_at value?

[2018-09-08 20:39] pedrosino commented on #3363
I guess it's fine to show it if it exists, but not require it from those who use a different registration system.
Or maybe it is? That would be a call for the Board to make.

[2018-09-08 21:03] pedrosino opened #3366 "Delegates are in "cc" and "reply_to" for result submission emails"
Relevant bit of code:
https://github.com/thewca/worldcubeassociation.org/blob/702ffd97f43e6fc2973ac3c1bd117f4e317143e1/WcaOnRails/app/mailers/competitions_mailer.rb#L128-L131

Not sure about other email services, but in Gmail this causes the delegate's email to appear twice once you click Reply All:
![image](https://user-images.githubusercontent.com/1881933/45258608-d41af880-b390-11e8-8da0-ea1d283

[2018-09-10 02:40] Jambrose777 commented on #3363
We've recently been putting it in there regardless if WCA is used or not. It just creates more clarity for the user to see all the information on WCA (Which is a plus).

[2018-09-11 09:29] Goosly commented on #3335
Similarly, FMC/MBLD attempts can start before the previous attempt has finished. This should be forbidden. Note that these attempts may be assigned to different rooms, so it should be checked across all rooms.

[2018-09-11 17:27] AlbertoPdRF commented on #3321
I think we could follow the approach used in #3083 and have a NULL value of `confirmed_at` for already existing competitions.

[2018-09-11 17:37] AlbertoPdRF commented on #3363
I think it makes a lot of sense to require and display this information always, regardless of which registration system is used.

[2018-09-12 06:16] jfly commented on #3321
I've implemented the scheme I described in https://github.com/thewca/worldcubeassociation.org/issues/3321#issuecomment-420507563 in #3382.

[2018-09-12 07:27] jfly commented on #3362
@AlbertoPdRF, this feels pretty bad to me. How close are we to being able to fix it? (I've assigned this issue to you, let me know if you don't have time to work on it.)

[2018-09-12 13:04] pedrosino commented on #3366
In the WRT we always (or at least should) reply all, so I think the reply _
to field could be removed, as the delegate is already in cc.

Em Qua, 12 de set de 2018 04:23, Jeremy Fleischman <notifications@github.com>
escreveu:

[2018-09-12 15:13] #3363 closed

[2018-09-15 11:38] AlbertoPdRF commented on #3362
I was hoping to do all the changes at once, as my availability has been reduced over the last weeks.

[2018-09-16 14:12] cubewhiz commented on #3366
This has been happening recently in the notifications when Delegates are more than a week late on reports, too. Was something recently changed to cause this?

[2018-09-16 23:09] #3250 closed

[2018-09-16 23:52] #2998 closed

[2018-09-16 23:53] jfly commented on #3366
I don't think anything changed here recently. Is this causing a problem for anyone? Or is this purely a cosmetic issue?

[2018-09-17 00:06] #3312 closed

[2018-09-17 18:11] pedrosino commented on #3366
I don't know how email systems behave when you are mentioned twice in the addresses. For me is more of an OCD thing :P

[2018-09-19 11:39] Mollerz opened #3413 "My Competitions - Bar Color Enhancement"
Brought up by Callum Goodyear in the Danish Open 2018 delegate report.

Currently the my competitions page shows colors that are relevant to the delegates, but are not necessarily relevant to competitors. All a competitor will ever see are green competitions within this list as the competition does not appear until they are registered.

It was suggested there be some sort of traffic light system b

[2018-09-21 03:56] Baiqiang opened #3416 "Don't store empty string into regionalSingleRecord and regionalAverageRecord"
Now the fix_results script will store empty string into those.
https://github.com/thewca/worldcubeassociation.org/blob/f69d6bb0e79697d499607c91dfd986c77ee4713b/webroot/results/admin/scripts/fixresults_ajax.php#L117-L126

Also this method should be updated to support bind NULL value.
https://github.com/thewca/worldcubeassociation.org/blob/f69d6bb0e79697d499607c91dfd986c77ee4713b/webroot/results/inc

[2018-09-30 16:29] viroulep opened #3436 "Check scramble validity when posting results."
WCA website part of thewca/tnoodle#366.

#3127 is already pretty big and I think it would be better to tackle this in a separate PR.

Suggestion for implementation: implement this as a validation on the `Scramble` model, which has information about the event for which it's been used.
The validation will be ran when a Delegate tries to upload the competition results automatically (see #3127).

[2018-09-30 20:44] jfly opened #3437 "Allow at the door (on the spot) registrations"
(cc-ing @ronaldmansveld)

For @ronaldmansveld and @coder13's work on WCA Live, it would be nice if the WCA website allowed adding registrations at the door. This way, they don't have to build any fancy UIs for that, instead organizers can add people directly to the WCA website, and then WCA Live can just resync.

This will run into some trouble with registrations without a corresponding WCA accoun

[2018-09-30 21:14] ronaldmansveld commented on #3437
Note that at the moment WCIF is the _only_ way to get registrations into WCA Live.

Competitions without their registrations in the WCA website can therefore (at least during the intitial phase) *not* use WCA Live.

I'd prefer to keep WCIF the only way, as uploading a registration CSV to WCA Live will bring along a lot of complications, like missing data such as personal bests etc.

If third-party

[2018-10-03 08:04] viroulep opened #3448 "Better error for Stripe payment failure"
When something is wrong with the Stripe account linked to the competition by the organizers, the competitor can land on an impersonal 500 error from the server.

Here is the kind of error found in the log:

We should absolutely catch this kind of errors and redirect the user to the payment form, with a clear message saying that there is something wrong with the Stripe account, that they have not b

[2018-10-03 08:57] viroulep commented on #3355
That surely sounds better!

However that would still requires some work from people doing stats, as competitions with multiple countries would not make it better to figure out who competed in which country :p

It would also introduce a non-backward compatible change to the public db export, right?
We should probably announce this way ahead of time, and careful list the impact it has (such as chang

[2018-10-04 05:59] #3416 closed

[2018-10-05 11:25] timreyn opened #3451 "Enforce competitor limit"
Feature request: prevent organizers from accepting competitors after the competitor limit has been reached, or at least raise a warning before they do so.

The competitor limit is set as part of the competition announcement, and it requires WQAC approval to increase.  Right now there's nothing stopping an organizer from (accidentally or intentionally) admitting extra competitors.  This happened fo

[2018-10-05 11:27] AlbertoPdRF commented on #3451
The intention was to do that together with #2472, but I don't think anyone is working on that.

[2018-10-05 11:30] AlbertoPdRF commented on #3437
It would be easier if we could require Delegates to only use WCA Registration, although several issues have to be taken care of before we are on that position: #1084, #329, #21

[2018-10-07 10:46] SAuroux commented on #3436
Maybe the regular expressions I used [here](https://github.com/SAuroux/wca-analysis/blob/master/results-scripts/scramble_validity_analysis/scramble_validity_check.py) can be helpful for this?

[2018-10-08 11:58] timreyn opened #3455 "Reject very-recent dates of birth"
One competitor registered for a recent competition with date of birth 2018-08-10.  I did not see any infants competing, so I think that was a mistake :)

Selecting the current year rather than your birth year is a pretty common mistake, and should be prevented by the account creation system.  Maybe we should require new accounts to be at least 3 years old, and say "if this is not a mistake please

[2018-10-09 06:39] Goosly commented on #3455
Another solution would be to only give a warning. If they still submit it, it can be fixed after attending their first competition, like we currently do.

[2018-10-10 01:50] cubewhiz commented on #3451
Ideally, I would love to see #328 finally implemented, but this would at least be a step in that direction.

Don't worry, Tim, it's happened to more than just you.

[2018-10-11 19:58] ronaldmansveld commented on #29
Is this still a relevant ticket? Or has all of this been taken care of by using google domains and/or google groups?

[2018-10-11 19:59] ronaldmansveld commented on #37
I have a strong feeling this ticket is no longer relevant now we run on AWS?

[2018-10-11 19:59] ronaldmansveld commented on #41
Likely no longer relevant as we run on AWS now

[2018-10-11 20:03] jfly commented on #29
Yeah, we don't need this anymore! Status quo is ok for now, but I do expect that we're going to make a lot of changes once we switch to google apps. That's a whole different thing, though.

[2018-10-11 20:03] #29 closed

[2018-10-11 20:04] ronaldmansveld commented on #49
The first bullet point I've ticked as that's been taken care of. Will close this issue unless people feel the other points are still relevant.

[2018-10-11 20:07] jfly commented on #37
I believe our EC2 instance has a firewall policy that allows all incoming traffic. It might make sense to switch that to only http, https, and ssh? We also shouldn't run any services on other ports though.

Ideally, I think we'd do a security analysis with some regularity where we talk about stuff like this, and then rank things by priority (it's possible there's higher impact stuff we could do be

[2018-10-11 20:07] #37 closed

[2018-10-11 20:08] jfly commented on #41
Also still relevant in that anyone on earth can *try* ssh-ing to our server, and that may not be great. However, I stand by everything I said in https://github.com/thewca/worldcubeassociation.org/issues/37#issuecomment-429097624, and agree with closing this issue.

[2018-10-11 20:08] #41 closed

[2018-10-11 20:13] jfly commented on #49
1. We worked around the db export slowness by getting rid of the human element. Instead, the db export is generated in a cron job that just gets slower every week, and we don't really notice it. We'll probably need to revisit *that* someday, but :man_shrugging: on when we should do that.
2. I don't feel it's our job to work around limitations in excel.
3. I think we should eventually semver our pu

[2018-10-11 20:16] ronaldmansveld commented on #74
@jfly Can you expand on this ticket please?

[2018-10-11 20:28] ronaldmansveld commented on #123
CR's are being shown, not sure if PB's are worthwhile.

[2018-10-11 20:29] ronaldmansveld commented on #161
@jfly is this ticket still relevant?

[2018-10-11 20:44] ronaldmansveld commented on #188
@jfly is this ticket still relevant? Or can we close this now (nearly) everything is ported to rails?

[2018-10-11 21:01] ronaldmansveld commented on #285
This is still a highly controversial topic, where we need full approval from WRC (regulations say it's not public information, so we can't publish anything about it) and Board first.

See also https://github.com/thewca/wca-regulations/issues/46

[2018-10-11 21:17] ronaldmansveld commented on #361
@jfly As your cityvalidator has been merged, can this ticket be closed?

[2018-10-11 21:19] ronaldmansveld commented on #382
@jfly @timhabermaas as #381 is now closed, can this ticket be closed as well?

[2018-10-11 21:32] ronaldmansveld commented on #596
@jonatanklosko @viroulep Are there more places other than the User model where this (still) has to be done, or can this ticket be closed?

[2018-10-11 21:33] ronaldmansveld commented on #617
Is this still an issue?

[2018-10-11 21:41] ronaldmansveld commented on #680
@jfly I see a lot of commits for this ticket, but I don't see any merged PR's. Does this mean that the issue was never resolved, and should stay open?

[2018-10-11 21:55] ronaldmansveld commented on #751
@pedrosino

Are we still using that same library for the datepicker? Does the issue still exist? I see their last commit was in 2015, so that doesn't give much hope ;)

If we have moved to a different datepicker, then please close this ticket.

[2018-10-11 21:57] ronaldmansveld commented on #772
@viroulep Is this issue still relevant as both pages have moved to Rails now?

[2018-10-11 22:10] ronaldmansveld commented on #873
Making this a high priority issue, as there are a number of issues about pending claims, and this seems to be a good first issue to tackle a good part of the problem.

Any takers?

[2018-10-11 22:14] ronaldmansveld commented on #897
If it is reproducable with the same seed, than it seems like it's an issue where some tests are not isolated. (The seed is used to determine the random order in which the tests are ran).

[2018-10-11 22:15] ronaldmansveld commented on #899
@jfly @viroulep Is this issue still relevant?

[2018-10-11 22:17] ronaldmansveld commented on #922
Solved in https://github.com/thewca/worldcubeassociation.org/pull/1021

[2018-10-11 22:17] #922 closed

[2018-10-12 08:41] viroulep commented on #772
Yes it is, the [current person page](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/persons/_results_by_event.html.erb#L27) uses `@results` defined [here](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/controllers/persons_controller.rb#L36), which does not do any check whether these results comes from posted competition or not.

W

[2018-10-12 08:46] viroulep commented on #596
I did a quick search for possible candidates, I believe the only remaining ones are in the `Person` model (eg: [here](https://github.com/thewca/worldcubeassociation.org/blob/2f2a1b591a64fcef5cfb5ad7e0ee01a1e61f4e21/WcaOnRails/app/models/person.rb#L49)).

It shouldn't be much work, and for some we might actually reuse the "native" rails error messages.
I'll try to take a look soon.

[2018-10-12 08:48] viroulep commented on #899
I don't see any PR referencing it so I'd guess yes, but I'd need to look at it again.

[2018-10-12 08:57] viroulep commented on #956
Unfortunately my PR was just a small bit of performance improvement on the users search page (accessible only to admins).
I think Lars initial thoughts are still relevant: overall the "query" part of the users  search is still more than a second which seems a bit high to me :s

Again we'd need to do a quick review of the persons search vs users search to see exactly where we are.
@jfly added a ful

[2018-10-12 11:28] viroulep commented on #617
Just went through a sign up and didn't notice anything wrong, it must have been fixed elswhere!

[2018-10-12 11:28] #617 closed

[2018-10-12 11:50] viroulep commented on #899
I just looked at it again and it seems to be much better than what Tim originally reported.
I had to force a version of newrelic_rpm <= 4.0 locally because the developer mode got removed starting from 4.1.

The breakdown looks much better (for a ~100 registrations competitions):
![new_relic](https://user-images.githubusercontent.com/1007485/46867531-985acf00-ce25-11e8-9199-9e67056a952b.png)

There

[2018-10-12 11:50] #899 closed

[2018-10-12 18:14] pedrosino commented on #751
Yeah, it does:
![image](https://user-images.githubusercontent.com/1881933/46886486-749d8600-ce31-11e8-8013-7baa1588910e.png)

[2018-10-12 19:11] ronaldmansveld commented on #751
In that case we should move to a different datepicker, one that is still under active maintenance ;)

[2018-10-13 16:38] sam596 opened #3460 "Automated Registration Requirement register link"
Currently, if a competition is not using WCA Registration, the link that the line "Register for this competition here" links to is just the competition website.

IMO, there should be a box in the admin section underneath the "website" entry, with the link directly to the registration page of the competition, not the competition site. Then the line in the registration requirements should point to t

[2018-10-13 16:51] sam596 commented on #3460
Example:
![image](https://user-images.githubusercontent.com/31994452/46907824-68d4c100-cf10-11e8-9895-81989deeb474.png)

This is from [Project Jastrzębie-Zdrój 2018](https://www.worldcubeassociation.org/competitions/ProjectJastrzebieZdroj2018), as the automated requirements only link to the competition webpage, the delegate felt it necessary to add an additional link to the registration form, clut

[2018-10-15 20:18] timhabermaas commented on #188
@ronaldmansveld It's still kinda relevant. It looks like there's `Competitions.start_date : date` and `end_date : date` now, but `year`, `month` and `day` still exist: https://github.com/thewca/worldcubeassociation.org/blob/ce603b489e09d5e8ffa390541427e59bfa12126e/WcaOnRails/db/structure.sql#L21-L23

[2018-10-15 20:31] timhabermaas commented on #382
@ronaldmansveld #381 has never been merged, therefore I don't know whether this issue has been resolved.

[2018-10-16 14:58] viroulep commented on #382
For the record, the same line has moved [here](https://github.com/thewca/worldcubeassociation.org/blob/f69d6bb0e79697d499607c91dfd986c77ee4713b/WcaOnRails/app/views/competitions/_competition_form.html.erb#L2).

[2018-10-16 16:37] #596 closed

[2018-10-16 17:07] viroulep opened #3476 "Random compilation failures in travis"
Sometimes travis randomly fails at compiling our assets (see [here](https://travis-ci.org/thewca/worldcubeassociation.org/builds/442268381)).

The error is roughly:
[code]

Turns out it seems `rails-erb-loader` has an issue for this: https://github.com/usabilityhub/rails-erb-loader/issues/63.

Might be worth trying [to disable the spring preloader](https://github.com/usabilityhub/rails-erb-loader/

[2018-10-16 17:21] viroulep commented on #897
Got another one just now, with a randomly-generated email being too long:

<details>
  <summary>Partial trace with seed</summary>
  1) media GET #index filter by region filters by country
     Failure/Error: let!(:medium) { FactoryBot.create(:competition_medium, :pending, competition: competition, text: "i am pending") }

     ActiveRecord::ValueTooLong:
       Mysql2::Error: Data too long for col

[2018-10-16 17:30] viroulep commented on #3476
Yes, since it worked for OP I'd just suggest to try this first.
Worst case it will happen again and we'll know it wasn't the issue :p

[2018-10-17 07:47] lgarron opened #3478 "Introduce a section on the website for reference pages related to the Regulations"
e.g.

- Guides / Tutorials https://github.com/thewca/wca-regulations/issues/236
- Example Puzzle Page https://github.com/thewca/wca-regulations/issues/168
- Misalignment examples
- Competition Requirements https://github.com/thewca/wca-regulations/issues/610

As a start, this can be a section in the "Regulations" dropdown.

Once we have more of these pages, I strongly feel that we should have a pa

[2018-10-18 09:51] viroulep commented on #956
I'm looking into this now.
Apart from a potential similar issue on the name search, we have some *terrible* queries in there:
[code]

A similar query (empty search, ending up displaying everyone) for the persons search is done in less than 100ms.

I'm gonna use a similar approach as the person search and offer a region selector, this way we will end up with a cheap `where` instead of this inner jo

[2018-10-18 18:14] AlbertoPdRF commented on #3460
I will try to tackle this over next weekend!

[2018-10-20 15:34] #3322 closed

[2018-10-20 18:33] jfly commented on #1692
Actually, on further thought, I don't think this is necessarily going to be work very well as we've planned it out here. Here's what I imagine is the normal flow:

1. Competition is created, it has no events.
2. Organizers and delegates are added.
3. Later on, competition events are added.

If we try to register organizers and delegates when they're added (in step 2), then there won't be any event

[2018-10-20 18:33] jfly commented on #1692
(cc-ing @ronaldmansveld as this could be a good thing for him to think about if he has any time to meditate on our whole registration process)

[2018-10-20 18:49] AlbertoPdRF commented on #1692
Maybe register them when the competition gets confirmed or announced?

[2018-10-20 18:52] jfly commented on #1692
Registering when the competition is confirmed sounds pretty reasonable to me!

[2018-10-20 18:54] jfly commented on #3052
@LinusFresz doesn't have the bandwidth to work on this right now, so I'm going to take this on.

[2018-10-20 18:58] ronaldmansveld commented on #1692
1) we can register them when the competition is confirmed, as then all
events etc get locked anyway, preventing more issues when these get changed
2) we can register them when registration opens. I feel this seems more
logical for the outside, as otherwise they may get registered before
registration is open, leading to questions from regular competitors.

As for events: can we circumvent the event

[2018-10-20 21:50] #1507 closed

[2018-10-20 21:54] jfly opened #3493 "Figure out how we want to handle delegate metadata"
I'm spinning this issue out of the email thread titled "Filtering of Delegates". I put together this document examining the current state of the world: https://docs.google.com/document/d/131XH6UM-KNvOVPi95RUX-YHQ3d4sv8qqAUdEPglK5Cs/edit#.

The current state of the world is pretty messy, but I don't know what the right thing we want to do is. @ronaldmansveld, could you take a look at this and maybe

[2018-10-22 05:09] jfly commented on #1104
Closing this issue, as we *do* already have an api endpoint that returns WCIF for competitions =)

[2018-10-22 05:09] #1104 closed

[2018-10-22 05:19] jfly opened #3497 "Make life better for communities that can't use Stripe"
Right now, communities that can't use Stripe end up directing people to some third party website, and then the competition managers have to manually approve registrations back on the WCA website.

Long term, I think there are 2 approaches we can take here:

1. Build APIs that allow people to leverage some useful features of the WCA website for registration, but maybe the whole api flow actually oc

[2018-10-22 09:09] viroulep opened #3498 "Generalize the 'Cachable' concern to use an arbitrary attribute"
See comment [here](https://github.com/thewca/worldcubeassociation.org/blob/00daa46f0a880a85548f6a50ce815042a48c7892/WcaOnRails/app/models/team.rb#L32) for the motivation.

It should be possible to specify on which attribute to do caching (eg: `friendly_id`), and default to `id` when not specified.

The concern can get class variables from the including model, so we should be able to do something s

[2018-10-22 18:48] Laura-O commented on #3497
For several countries in Western Europe, the problem is not that they **can't use** Stripe, but that they do not have or do not want to use the payment methods which are offered on the WCA website (= credit cards).

In Germany and other surrounding countries, people do either not have a credit card or only use it on special occasions. Paying a fee on a random website is definitely not such an occa

[2018-10-23 09:56] viroulep commented on #3129
I'm going to take a look at (part of) this some time soon, as this should be fairly easy to do.

[2018-10-23 10:43] viroulep commented on #873
Please see also @timmcmahon and @cubewhiz comments over [there](https://github.com/thewca/worldcubeassociation.org/pull/3500#issuecomment-432022068).
They suggest an automatic reminder for pending WCA ID claims after 7 days, with the senior in cc.

[2018-10-23 17:55] viroulep commented on #1766
Currently the `admin/delegates` page is displaying both the region filled by Board/Senior *and* the location description.
Do you think we should only display the region displayed on https://www.worldcubeassociation.org/delegates ?

[2018-10-23 18:00] jfly commented on #1766
Eep! Sorry, I didn't realize this issue exists. Please let's continue this discussion over on https://github.com/thewca/worldcubeassociation.org/issues/3493.

[2018-10-23 18:00] #1766 closed

[2018-10-23 22:44] pedrosino commented on #3497
Stripe isn't supported in Brazil, for whatever reason.

I don't have data on how many % of people have/use a credit card, but I'd say not everybody. The preferred option for some is a ticket/billet/invoice that you can pay with cash at the bank.

Paypal works here and we have a few "domestic" options that are similar* so if those could be integrated into WCA registration it would be awesome.

I de

[2018-10-24 01:08] cubewhiz opened #3526 "Updates to Registration Requirements"
Some situations I came across when removing duplicate data from registration requests:

- [ ] For on the spot registration, provide an option to indicate limited registration [i.e., 3x3x3 only]
- [ ] Competitions where registration is paid on site should not have information about refunds
- [ ] Allow refund options not based on a percentage (i.e., fixed dollar amount)
- [ ] Allow tiered refund opt

[2018-10-24 13:40] #1170 closed

[2018-10-24 13:40] #3476 closed

[2018-10-24 23:06] jfly commented on #3360
I fought for this when we were defining the schedule WCIF, but @viroulep and @timreyn convinced me otherwise =)

[2018-10-25 16:37] viroulep opened #3532 "Can't visit an unconfirmed competition's page with nil start/end dates"
I noticed this while working on #3531.
Creating an unconfirmed competition with nil dates does work, but when rendering some of its views it may go at least through these methods:
  - [in_progress?](https://github.com/thewca/worldcubeassociation.org/blob/281f7b0e53501373011b9bbf6292ada159148cf4/WcaOnRails/app/models/competition.rb#L771) (which use a range with competition's dates)
  - [the schedul

[2018-10-26 12:48] viroulep opened #3534 "Prevent banned competitors from registering"
Now that we have a "Banned teams", we should definitely work on preventing these accounts from registering to competitions within their banned period.

[2018-10-29 17:54] lgarron commented on #123
I would personally still really like to see PBs/PRs. I look for them on the competition page regularly, only to have to hunt down individual sections on my profile.

[2018-11-03 17:44] SqAtx commented on #3366
My guess is that the mail client is doing something different.

We haven't modified the code for the results submission email or the report nag mentioned by @cubewhiz
([relevant code here](https://github.com/thewca/worldcubeassociation.org/blob/702ffd97f43e6fc2973ac3c1bd117f4e317143e1/WcaOnRails/app/mailers/competitions_mailer.rb#L114-L117))
@cubewhiz, are you also using Gmail, by any chance?

I a

[2018-11-03 18:10] SqAtx commented on #2074
I was thinking about fixing this but it looks like [it has already been done](https://github.com/thewca/worldcubeassociation.org/commit/414b2c5dfea3290c67567b328f5b44d6ebaa2cd4)!

@jfly I think we can close this :)

[2018-11-04 02:18] cubewhiz commented on #3366
Yes, it was using Gmail.

You're right--the email is only going to board@ in cc, but the reply-to is board@ so when you reply, it adds it to the to: field.

This isn't causing any problems that I'm aware of--I think it's strictly cosmetic. I think there's more important things to worry about for now, so I think it's best if we focus on something else unless someone is feeling the urge to fix this.

[2018-11-04 03:45] jfly commented on #3366
Agreed that this seems like a purely cosmetic issue. I'm going to close this issue because it doesn't seem useful to track. If someone feels like fixing this, feel free to send in a PR :)

[2018-11-04 03:45] #3366 closed

[2018-11-05 20:36] jfly commented on #3455
I'm going to pair on this with someone soon. Please nobody else take this issue =)

[2018-11-06 22:47] #3360 closed

[2018-11-07 14:24] viroulep opened #3571 "Highlight results by clicking on a medal kind"
This feature was requested through the website form.
Someone suggested that we implement a link per kind of medal in the "Medal Collection" of a person's profile.
Clicking this link would highlight rows in the results which correspond to this medal kind (eg: clicking on the "gold" link would highlight all first places during a final round).

It may be possible to implement this by:
  - assigning a

[2018-11-07 15:41] #956 closed

[2018-11-09 02:20] jfly opened #3574 "competition_wcif_spec seems to only pass if you run it in UTC time"
Here's what I see when running `bin/rspec spec/models/competition_wcif_spec.rb` locally:

[code]

It's hard to see, but the diff above is specifically in timestamps, so this feels like a timezone bug.

[2018-11-09 02:21] jfly commented on #3574
(discovered while paring with @danayi13)

[2018-11-09 04:08] SqAtx commented on #3337
I checked with @jfly and I'm starting this ticket 🙂

[2018-11-09 05:52] SqAtx commented on #3337
I've looked at this a bit.
Relevant code [here](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/competitions/_competition_schedule_for_venue_table.html.erb#L54-L73) and we probably want to update the popover content on the calendar view as well - code is [here](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/views/competitions/_comp

[2018-11-09 15:37] viroulep commented on #3574
Ah nice find!
I've fixed in #3207, since I ran into it locally.

[2018-11-10 02:24] sam596 opened #3578 "Add a character limit to the registration comment field?"
There have been a few occurrences of people misusing the comment field when submitting a registration, and posting very long and irrelevant messages in them. I suggest limiting this field to a more suitable size?

[2018-11-12 11:53] capitalcubing opened #3595 "Incorrect Search for Competition Reports"
**Describe the bug**
When viewing the delegate report of a competition on the website, there is an option to view it in google groups for the full discussion. The option searches the competition name in google groups. However, often the name is not correct. (not sure why)

**To Reproduce**
An example:[Caarn Ahmedabad Cube Open Report](https://www.worldcubeassociation.org/competitions/CaarnAhmedaba

[2018-11-12 11:55] akashrupela commented on #3595
I am the author. Used another team account by mistake.

[2018-11-12 12:10] AlbertoPdRF commented on #3595
This was reported in Slack and here's @jonatanklosko's reply:

[2018-11-13 17:10] jfly commented on #3578
Hmm... what limit do you suggest?

I worry that adding a limit would do more harm than good. When people put long messages, what sort of problem does this actually cause?

[2018-11-13 17:14] jfly commented on #3595
I see two options:

1. Drop the `discussion_url` column from the database, and instead always autogenerate it.
2. Only populate `discussion_url` at the time the report is *posted*, rather than when the report is created in our database.

@pedrosino, do you have some time to work on one of these (or some other clever third idea I haven't thought of?)

[2018-11-13 17:29] jfly commented on #3476
Wow, that is so awesome, thanks @viroulep!! This will definitely make our lives much better.

[2018-11-13 17:50] jfly commented on #74
Luis built this page for fixing existing results https://staging.worldcubeassociation.org/results/admin/fix_results.php:

![image](https://user-images.githubusercontent.com/277474/48432428-2679ec00-e729-11e8-93e0-f62e85d1dc1d.png)

I think it would not be a totally crazy change to have a version of this that handles adding brand new result, rather than only editing existing results. That said, we

[2018-11-13 17:52] jfly commented on #161
Yes it is. See https://github.com/thewca/worldcubeassociation.org/blob/00b66534978cd467eff5c0ecef0e12971deb2bcf/webroot/results/admin/scripts/check_comp_data.php#L166 and https://github.com/thewca/worldcubeassociation.org/blob/7e651365cbbd7d12239b6e5f912ddfd3905d642a/webroot/results/js/data_upload_help.js#L14.

[2018-11-13 17:58] jfly commented on #361
I'd like to keep this open until we've implemented validators for all the countries we want to add validators for.

[2018-11-13 18:01] jfly commented on #680
@pingskills put together a PR implementing this, and we decided not to merge it up. This gets tricky for delegates because we keep shifting around the delegate "teams".

I'm going to close this for now. Teams are useful if you want to have historical information about when someone was on a team, but we mostly get that for delegates just by looking at the competitions they've delegated.

[2018-11-13 18:01] #680 closed

[2018-11-13 18:03] jfly commented on #995
This is still an issue in the "currency code" dropdown. See https://staging.worldcubeassociation.org/competitions/GdanskSideDay2018/edit/admin#competition_currency_code:

![2018-11-13_10 03 34_dalinar](https://user-images.githubusercontent.com/277474/48433212-69d55a00-e72b-11e8-92f1-93d7654eb496.gif)

[2018-11-13 18:06] jfly commented on #934
I'm fine with closing this issue. If we ever start getting tons of signups and this becomes an issue, we can always revisit it.

[2018-11-13 18:06] #934 closed

[2018-11-13 18:07] jfly commented on #867
I'm happy with how this is now. @viroulep, feel free to reopen if you disagree.

[2018-11-13 18:07] #867 closed

[2018-11-13 18:15] jfly commented on #217
@SAuroux, do you know if this is still an issue? I personally would like us to have accurate historical location information in our database.

@viroulep might have some thoughts on this because I know he recently investigated geocoding services.

[2018-11-13 18:57] jfly opened #3597 "Advancement conditions are not clear about average vs single"
The edit ui just says "with a result", which at least is a little ambiguous:

![image](https://user-images.githubusercontent.com/277474/48435948-6e514100-e732-11e8-91ae-2a2e59fbc5f2.png)

The schedule page is even worse, because it states very explicitly that this is for single, whereas it's really for "whatever the round is ranked by":

![image](https://user-images.githubusercontent.com/277474/48

[2018-11-13 22:17] SAuroux commented on #74
Currently our approach for adding results consists of preparing an INSERT INTO statement with competitor and event information and then using exactly this script to fill the row with values, average, best.

So yes, this would be a great improvement!

[2018-11-14 13:11] TimMcMahon commented on #1801
Would including the Name of the card holder reduce the likelihood of a card being rejected?

Some parents have sent through "This card was declined" screenshots. However, I can't find any "failed" attempts for that card in the connected Stripe account. One such card has been used successfully for four competitions over the past 15 months with the same email address. One of the earlier payments was

[2018-11-18 19:54] AlbertoPdRF opened #3606 "SyncMailingListsJob has to be scheduled"
Right now the job is ran by triggering it manually, while we need it to be scheduled to run periodically.

[2018-11-19 18:38] jfly commented on #1411
As of https://github.com/thewca/worldcubeassociation.org/pull/3603 and https://github.com/thewca/worldcubeassociation.org/pull/3615 this is now done!

[2018-11-19 18:38] #1411 closed

[2018-11-22 13:03] Jambrose777 opened #3619 "Cloning a competition does not clone the events and schedule"
**Describe the bug**
Whenever cloning a competition the event and schedule information is not included in the clone.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone a competition
2. Check the "I would like to clone all tabs with additional information as well"
3. Create Competition

**Expected behavior**
All elements of the competition to be cloned.

**Screenshots**
![image](https://us

[2018-11-22 13:56] viroulep commented on #3619
This is the expected behavior.

We also got the request from Akash, this was @jfly's reply:

I kind of share this opinion, especially the "force thinking through the schedule" part.

[2018-11-22 17:57] jfly commented on #3619
I still feel that we should not clone the schedule nor the events tab, but I would be supportive of rewording that "I would like to clone all tabs with additional information as well" message so people aren't surprised by this behavior.

[2018-11-23 19:40] jfly commented on #207
For the record: we no longer use a CDN, but I think this still causes some issues because of browser caching.

[2018-11-23 19:42] trungams commented on #3497
Hi! I just happened to see this issue, and would like to put that Stripe isn't really a thing in Vietnam.

In my experience, online payment in our country has not been popular until 2 years ago, and there isn't exactly one system that can be considered most widely used. Many people still prefer to use cash here, so the long lines of people waiting to check in and pay often badly affect our competi

[2018-11-24 19:50] #3059 closed

[2018-11-25 09:44] Goosly commented on #3619
While I agree with the "thinking through" argument, I don't agree with the "incorrect information" argument. Setting up all events (with limits, cut-offs, advance, etc. per round) is actually very error-prone and letting the organizer do that + delegate checking it + WCAT checking it surely adds up to a lot more than 10 minutes per competition.

Personally I only use cloning for recurring competit

[2018-11-27 07:14] suushiemaniac opened #3630 "Update competitor tutorial"
**Is your feature request related to a problem? Please describe.**
I'm not frustrated at all :)

**Describe the solution you'd like**
Competitor Tutorial PDF bump from Version 2018-08-28 to 2018-11-27

Changelog:
- Updated Photo Credits
- Remove two unnecessary blank pages at the end

**Describe alternatives you've considered**
None

**Additional context**
The Competitor Tutorial PDF has to be man

[2018-11-27 17:31] AlbertoPdRF commented on #3630
Hmm, if the file is hosted on a Team Drive, I believe people from outside our organization can't download files; have you tried to download it while signed in to your `@wca` account or your personal one?

[2018-11-27 17:33] jfly commented on #3630
I tried with my personal gmail. With my gsuite account I see the same behavior.

[2018-11-27 17:36] suushiemaniac commented on #3630
I have made sure that the link is accessible even from the outside world. There is a checkbox which says "allow access from outside your organisation" that I ticked. Strange...

[2018-11-27 17:38] suushiemaniac commented on #3630
I have broadened access permissions for everyone within the organisation. Please try again from your @wca accounts

[2018-11-27 17:53] #3630 closed

[2018-11-27 19:20] f3rmat commented on #3571
Do you have a proposed UX for this?
As in how this will look like exactly and what happens if a person toggles more than one medal category at once?

[2018-11-27 21:05] f3rmat commented on #3571
I have been able to make rough changes on my local. [This](https://drive.google.com/drive/folders/1bHljyRAuqs5o2pml7ttQpQUWOK8wZ5Oz?usp=sharing) is what it looks like.
Clicking on any medal count toggles highlight for the corresponding rows. User can click on more than one types of medals and the corresponding rows are highlighted based on that.

[2018-11-28 20:57] UnsolvedCypher opened #3633 "Better contact link for competitions"
Many of the contact links for specific competitions are mailto links, which can be problematic because in my experience, many people haven't set up associations for these links on their systems. This can result in the link opening a blank tab or opening the system mail client that the user doesn't use.

Instead, we now have the [website contact form](https://www.worldcubeassociation.org/contact/we

[2018-11-28 22:24] DanielEgdal opened #3634 "Markdown issues in the schedule tool"
The name of the venue does not support markdown in the schedule tool. This makes every single schedule (for a competition which uses markdown for the venue's website) look like this by default and it is rather rare that a Delegate fixes this:
![image](https://user-images.githubusercontent.com/28397408/49186158-1aff0580-f364-11e8-91e2-5c27d8584243.png)
This is such a minor mistake which is very com

[2018-12-02 00:10] jonatanklosko opened #3639 "Wrong registration timestamps"
It turns out we update registration's `accepted_at`/`deleted_at` timestamps (as well as `accepted_by`/`deleted_by` references) every time the registration form gets submitted (no matter what changes), see the relevant code:
https://github.com/thewca/worldcubeassociation.org/blob/1f96182642aea69978562d4ed2a5572f3f5fce25/WcaOnRails/app/controllers/registrations_controller.rb#L309-L316

[2018-12-03 20:43] UnsolvedCypher opened #3649 "Ruby Sass is being deprecated"
Ruby Sass is [being deprecated](https://sass-lang.com/ruby-sass). Places where we still use it:

- We should switch from using `sass-rails` to `sassc-rails`.
- `scss_lint` [suggests moving to another tool](https://github.com/sds/scss-lint#notice-consider-other-tools-before-adopting-scss-lint). They suggest stylelint or sasslint, which are both npm packages. **UPDATE**: This is being taken care of

[2018-12-03 20:51] #1928 closed

[2018-12-03 21:09] jfly commented on #3649
We don't have any plans to move off of Bootstrap 3. I'm not opposed to it if someone wants to take it on, but my gut feeling has been that it would be a big project with little reward. However, if it it causing us to be unable to upgrade other key pieces of our stack, then I would definitely say it's worth upgrading or replacing it.

[2018-12-04 00:00] UnsolvedCypher commented on #3649
Ok, thanks. Bootstrap 3 shouldn't be a problem for upgrading to sassc.

I'm looking at what needs to be done to move to sass-lint, and that the configuration file can be automatically converted. However, I'm having trouble figuring out where the pre-commit hook ties in with the linter- would you mind pointing me in the right direction?

[2018-12-04 00:14] UnsolvedCypher opened #3651 "postcss-cssnext is being deprecated"
`postcss-cssnext` is being deprecated in favor of `postcss-preset-env` according to a warning when running `npm install`. This is documented [here](https://moox.io/blog/deprecating-cssnext/).

[2018-12-04 00:27] theoleinad opened #3654 "Change records color display."
**Feature request:**
Set up colors to the records shown in profiles and/or other webs:
Tentative suggested colors:
WR - Blue #0366d6
CR - Red #e36209
NR - Green #28a745
PR - #fc4a0a

This is so the users can differentiate easier which type of record has been broken.
Looks good and people liked the idea.

[2018-12-04 02:43] jfly commented on #3649
We use the `pre-commit` Gem, which has baked in support for `scss_lint`. See https://github.com/jish/pre-commit#available-checks for more information. I think we'll have to do 1 of 2 things:

1. Add a custom check to our pre-commit that uses `stylelint` or `sasslint`. This should be possible by editing our `config/pre_commit.rb` file. Then you could remove [`:scss_lint` here](https://github.com/jf

[2018-12-04 04:36] UnsolvedCypher commented on #3649
I've opened an issue on the `pre-commit` repo letting them know what the situation is with `scss-lint`, but I'm not holding my breath for them to come out with a fix. I'm not quite sure what you mean by option 2, are you suggesting that we switch to another gem? Or that we write a plugin for `pre-commit`?

[2018-12-04 04:38] jfly commented on #3649
I'm suggesting that we send in a PR to the `pre-commit` folks adding support for an alternative to `scss-lint`.

Could you include a link to that issue you filed?

[2018-12-04 04:41] UnsolvedCypher commented on #3649
Sure, [here](https://github.com/jish/pre-commit/issues/278)'s the link. Their [contribution page](https://github.com/jish/pre-commit/blob/master/.github/CONTRIBUTING.md) links to a repo with example plugins and says to open a PR if we wish.

[2018-12-04 04:52] UnsolvedCypher commented on #3649
I'm not sure about the pros and cons of this and the effort involved, but [`overcommit`](https://github.com/brigade/overcommit) looks like it is a robust and widely used hook manager Gem.

[2018-12-06 18:37] lgarron opened #3658 "Distinguish being able to view polls vs. being able to vote"
An initial follow-up to #3640, so that admins and all WRC members can see polls and results.

Currently, `can_vote_in_poll?` is defined at:

https://github.com/thewca/worldcubeassociation.org/blob/0b7eb4000ec11ba5040b92aa599d1ecfba8a765d/WcaOnRails/app/models/user.rb#L532-L534

[2018-12-06 20:35] Claster opened #3659 "Country in the psych sheet is not localized."
E.g., on this page: https://www.worldcubeassociation.org/competitions/WarmUpSydney2019/registrations/psych-sheet/sq1
The countries of competitors are in English.

[2018-12-06 20:40] jfly commented on #3659
Nice find! Some investigation:

- We render `select_country` here: https://github.com/jfly/worldcubeassociation.org/blob/00b66534978cd467eff5c0ecef0e12971deb2bcf/WcaOnRails/app/views/registrations/psych_sheet_event.html.erb#L43.
- `select_country` comes directly from the database here: https://github.com/jfly/worldcubeassociation.org/blob/00b66534978cd467eff5c0ecef0e12971deb2bcf/WcaOnRails/app/mod

[2018-12-08 16:26] UnsolvedCypher opened #3661 "WCT Redesign of About/Donation and Teams/Committees Pages"
The WCT has completed some mockups of changes to the WCA website. Our goals were:

- to add donation information to the about page
- make the about page better showcase the organization
- put teams and committees on their own page with increased legibility
- reduce duplication between the about and contact pages for listing team and committee members
- use the contact form for most contact request

[2018-12-09 19:09] jfly opened #3665 "Unnecessary "Changing your email will require confirming the new email" hint shows up on the signup page"
Sign out, and go to https://www.worldcubeassociation.org/users/sign_up. You'll see the following:

![image](https://user-images.githubusercontent.com/277474/49701544-acf7e100-fba2-11e8-9b48-7460159940a5.png)

I think this was actually broken in e839a21f09f826c61ef9e6c8f5fabf2d113dd18d, which happened around Fri Apr 1 19:30:48 2016 +0200. Looking at archive.org, things seem to be:

- ok on March 29

[2018-12-10 02:32] cubewhiz commented on #3661
I really like the new pages. I think they're far better than the old ones.

While not a "team" in the same sense, I think the Board of Directors should appear on the Teams and committees page.

[2018-12-10 02:47] UnsolvedCypher commented on #3661
Here's what the Board section looks like if added in. The WCT can come up with a description (unless the Board would prefer to do that).

BOARD is obviously not an appropriate abbreviation for the Board, so this can either be omitted entirely or if there isn't a reason for it to be the way it is now, it can be changed to Board.

![screenshot from 2018-12-09 21-42-09](https://user-images.githubuser

[2018-12-10 18:18] #3639 closed

[2018-12-10 22:11] #3242 closed

[2018-12-11 01:51] cubewhiz commented on #3661
Yes, I think that is fine. I think it is okay to omit the abbreviation. I trust the WCT to come up with an appropriate description. You can use the Motion for the Board of Directors as a guide as to what we do.

It would be a nice bonus if the officer titles could be included, though I don't think they are indicated anywhere so this probably means adding an additional step with an amount of work I

[2018-12-11 02:04] UnsolvedCypher commented on #3661
@cubewhiz Thank you for your feedback. I agree that the titles are important to have. Do you know where I might find who holds the officer titles? I gather from your signature that you're the Executive Directory, but I don't see any pages listing who holds other titles.

WST- Is this something you would like to discuss adding into the database? Or, it be best to hardcode this now and add the title

[2018-12-11 02:09] cubewhiz commented on #3661
Alberto is secretary, Olivér is Chair, I am Executive Director, Chris is Treasurer (though that is always wfc leader).

[2018-12-11 13:55] viroulep commented on #3665
Wow, so it went unnoticed for more than 2 years :o

Yes I agree with the suggested fix: it's either this or force a blank hint on the signup form, but the latter wouldn't prevent this behavior from occurring in the future...

[2018-12-12 07:44] f3rmat commented on #3659
Should be fairly simple, I can take it up!

[2018-12-13 13:34] #3571 closed

[2018-12-13 16:05] f3rmat commented on #3665
I tried working on this but when I created a new translation key, it was not picked up.
However if I made changes to the value of an existing translation key, the changed value was reflected immediately.
Is there some config flag I have to switch on/off for a new key to picked up?

[2018-12-13 17:35] DanielEgdal commented on #3661
Is there some logic in the current order og teams and committees? Wouldn't it make more sense to have it sorted alphabetically?

[2018-12-13 17:44] DanielEgdal commented on #3129
Shouldn't this issue be closed, as this has now been merged?

[2018-12-13 18:05] DanielEgdal commented on #3661
WQAC is placed above WRC, WRT, and WST.
Apart from that, the rest is sorted alphabetically.

[2018-12-13 18:11] viroulep commented on #3129
Not really, points 3 and 4 have not been addressed!

[2018-12-13 18:17] DanielEgdal commented on #3661
My bad...

[2018-12-13 23:15] UnsolvedCypher commented on #3661
@cubewhiz I've added the officers above the Board and differentiated them from the Teams and Committees with black. This is consistent with how Senior Delegates are differentiated on the Delegates page. What do you think?

![screenshot from 2018-12-13 18-14-11](https://user-images.githubusercontent.com/3170853/49973399-eca42d00-ff02-11e8-8a71-a13c19a5523b.png)

[2018-12-14 04:11] sam596 commented on #3578
People have submitted the entire Bee Movie Script as their registration comment. I just see absolutely no reason why there isn't a character limit on the field. Any long queries can just be sent via the contact link on the info page.

Since I have database access, I can see that of the longest 6 comments ever, 4 have been at UK competitions, so I notice it more. The longest comment that seems half

[2018-12-14 06:32] cubewhiz commented on #3661
Yep, I think that looks great!

[2018-12-14 08:52] AlbertoPdRF commented on #3661
I like this pretty much, thanks @UnsolvedCypher for working on it!!!

I just wanted to point out that from now on we should enforce the guidelines that the WQAC crafted for Delegates' avatars for Committee/Team members avatars too.

[2018-12-14 13:53] #3455 closed

[2018-12-14 16:17] zeecho opened #3693 "Rename registrations fields"
When creating a competition, the website shows this:
![2018-12-14-170944_1010x95_scrot](https://user-images.githubusercontent.com/5508488/50014100-49671c80-ffc3-11e8-9876-57da6b0c1cf3.png)

But we actually can "close registration" and have "on the spot registrations". Therefore, wouldn't it be clearer to speak about "online registration" instead of just "registration" for the fields in the screens

[2018-12-16 01:44] UnsolvedCypher commented on #3661
@AlbertoPdRF that is a good point, some of the members don't have avatars as of now. It would probably be good to email all WCA staff to let them know that they should upload a compliant avatar.

@ChrisWrightWCA Would you mind looking this on behalf of the WFC as one of the pages concerns donations?

[2018-12-16 10:32] AlbertoPdRF commented on #3661
Can the WCT take care of that @UnsolvedCypher?

[2018-12-16 15:55] UnsolvedCypher opened #3695 "I18n isn't possible in the admin panel"
The admin panel currently can't be internationalized because the locale code is in `application_controller.rb` which is inherited by most of the site, but not by `admin_controller.rb`. Should the application controller be inherited? Or should the locale code be duplicated?

I realize not a lot of people use the admin panel so it's not a huge priority, but there is some text there like the avatar g

[2018-12-17 14:22] AlbertoPdRF commented on #3661
Thanks! Personally I don't have anything else to add, I'm excited for this change to go live! :)

[2018-12-18 03:39] cubewhiz opened #3710 "Images are too big on results pages"
Images in the "Information" section of competition pages become much larger when looking at results.

Example:
https://www.worldcubeassociation.org/competitions/NewJersey2018
https://www.worldcubeassociation.org/competitions/NewJersey2018/results/all

Compare the difference in the second page.

[2018-12-18 16:58] #3710 closed

[2018-12-18 17:02] UnsolvedCypher commented on #3710
@cubewhiz This has been fixed, but images are still only limited by their width, not their height. You may want to size the image down before uploading it, particularly for tall images, since the width of the description area is still pretty large (I usually use about 300x300 for competitions).

[2018-12-18 17:08] jfly commented on #3710
We could also add a max-height restriction on images! Long term, maybe it would make sense for us to do some internal processing of images that are crazy large.

[2018-12-18 17:14] UnsolvedCypher commented on #3710
As of now, images are embedded via Markdown (usually from imgur) so they don't actually live on the WCA site. Would this processing require the images to be uploaded to the WCA site? That might actually be nice since less tech-savvy organizer may have trouble understanding that they need to upload the images externally and then embed.

I think it makes a lot of sense to limit the width to 100%, bu

[2018-12-18 17:19] AlbertoPdRF commented on #3710
Kind of related: having images hosted externally means that eventually it's possible that they don't exist anymore, making competition pages lose important information like schedules and similar, which would be nice to keep for historical reasons.

[2018-12-18 18:19] UnsolvedCypher commented on #3661
@viroulep asked about how this would look on mobile, so here are some screenshots:

![screenshot from 2018-12-18 13-12-19](https://user-images.githubusercontent.com/3170853/50173980-f5ac4a00-02c6-11e9-9590-aedf9597b224.png)
and scrolled further down:
![screenshot from 2018-12-18 13-12-48](https://user-images.githubusercontent.com/3170853/50173984-f7760d80-02c6-11e9-856d-e6961ed74721.png)

Because

[2018-12-18 23:31] UnsolvedCypher commented on #3337
@SqAtx are you still working on this, or did you run into an issue?

[2018-12-19 05:45] cubewhiz commented on #3661
It would probably look better with one member per line on mobile, but I don't have strong feelings about this (and this is probably a waste in landscape view). Some other thoughts for mobile (without regard or knowledge of how much work they are to implement) might be to include the picture only or to have the team members in a collapsible nest that can be opened or closed for each team/committee.

[2018-12-19 11:39] sam596 commented on #3578
Just had another "copypasta" comment at 3300+ characters at the most recent UK competition registration opening.

[2018-12-19 19:49] UnsolvedCypher commented on #3170
Our current error pages are static, but dynamic [error pages](https://mattbrictson.com/dynamic-rails-error-pages) may be better so we can show the navigation menu. Is the WST ok with going in that direction? Or, maybe just dynamic 404 and have all other pages be static in case Rails has crashed completely?

[2018-12-19 21:08] Mollerz commented on #3578
Extended twitter length seems way more than reasonable, like 280 characters? If you want something arbitrary :P

[2018-12-19 21:39] UnsolvedCypher opened #3713 "Internationalize competition and result announcements"
Since competition and result announcements follow a template format, it might make more sense for them to be stored not as text but as some kind of object that can be rendered in the locale of the current user. This would make a large part of the front page much more friendly to any non-English speaking users.

[2018-12-19 22:36] UnsolvedCypher commented on #720
Now that results are uploaded directly to the WCA website, it should be possible to require Delegates to do this upload before submitting the report so that the numbers can be computed properly.

[2018-12-19 22:54] UnsolvedCypher commented on #1617
So it sounds like the Board rejected this idea and it can be closed?

[2018-12-19 23:44] UnsolvedCypher commented on #2069
We're now using `bootstrap-table-rails` version `1.11.1.1`. Can someone confirm that the issue is fixed?

[2018-12-19 23:59] jonatanklosko commented on #2069
As far as I can see `1.11.1` doesn't include @jfly's fix, whereas `1.12.0` does. We couldn't update to `1.12.0` though, see #2880.

[2018-12-20 00:03] jfly commented on #2069
It looks like the latest version of bootstrap table doesn't include the fix for https://github.com/wenzhixin/bootstrap-table/issues/2545, because I see 966fb77 show up in https://github.com/wenzhixin/bootstrap-table/compare/1.12.2...develop =(

[2018-12-20 00:15] UnsolvedCypher commented on #2234
I can't seem to reproduce the issue for either Yusheng Du or Phil Yu - is this still a problem?

[2018-12-20 00:45] UnsolvedCypher commented on #2234
@timreyn You're right- I didn't follow the above links and thought this was about search in the search bar, not the persons page search. Thanks!

[2018-12-20 04:20] UnsolvedCypher commented on #811
Now that we have G Suite, is the WRT finding that to be a suitable system for keeping track of this information?

[2018-12-21 03:00] cubewhiz commented on #721
The [contact form](https://www.worldcubeassociation.org/contact/website) allows for sending emails to the organizers without displaying individual emails. Is that good enough? Perhaps the email links can be replaced with this method of contact anyway? I think I saw an issue on github suggesting that anyway.

[2018-12-22 18:12] kingmathyall opened #3721 "Have 4x4x4 Blindfolded & 5x5x5 Blindfolded Means implemented onto the WCA site"
With 4BLD and 5BLD soon to be officially recognized as of the new regulation changes (if approved), some changes should be made on the site to reflect this change.

This would be recognizing records based on past results, showing mean results on profiles, and rankings.

[2018-12-23 21:56] Julio974-TheHexahedron commented on #3721
I guess this is going to be done

[2018-12-24 13:50] cubewhiz opened #3740 "Add Delegate history to automated reminder for late reports"
Every time a Delegate is late in submitting a report, the WCA Board reviews the Delegate history of the Delegate(s) to see if this is a regular occurrence or an anomaly. It is also necessary to determine if the Delegate should be placed on probation as per the policy. It would be convenient if this link was included in the email already so we did not have to manually search for it every time a rep

[2018-12-24 13:53] cubewhiz commented on #3721
The changes have not been approved. Let's wait until the new set of Regulations are announced.

[2018-12-24 13:54] SqAtx commented on #3337
@UnsolvedCypher nothing new since that message... haven't found a "good" way to do it. Why?

[2018-12-25 22:45] jfly commented on #3721
Could someone link to the relevant regulations for this? And how exactly do we want to handle this, especially for past results? Are we going to recognize a bunch of past world records (as we somewhat controversially did for 333fm and 333bf when we added support for mean?) If so, that's more of a WRT thing, so cc-ing @SAuroux..

[2018-12-25 22:49] kingmathyall commented on #3721
@jfly This was a preemptive issue if the new set of regulations are approved. The specific regulation change can be found here:
[Issue 547](https://github.com/thewca/wca-regulations/pull/547)

[2018-12-25 23:19] shelchang opened #3746 "Big cube event icons"
Event icons need to be easily distinguishable at a glance. The big cube icons (5x5 through 7x7) fail at this especially when displayed at small size. An easy way to improve this would be to incorporate an arabic numeral, e.g.
![2018-12-25-150705_49x50_scrot](https://user-images.githubusercontent.com/1166834/50427275-666bdd00-0858-11e9-83c0-6adcd1e577f3.png)

[2018-12-26 00:37] jfly commented on #3746
Could we continue this discussion over on https://github.com/cubing/icons/issues/13?

Unfortunately, the last time we tried to change this, we got pretty tied up in "everyone agrees the current thing isn't great, but nobody can agree on how to make it better".

[2018-12-26 00:37] #3746 closed

[2018-12-27 17:30] viroulep opened #3752 "Implement round format changes introduced with the 2019 Regulations"
See thewca/wca-regulations#681 for a draft summary of the changes.

One of them is:

@jfly identified two set of changes to make on the software part:

  - [ ] Changing the edit events page to not allow selecting no longer allowed formats.
Ideally this would be done in a way that wouldn't break stuff for past competitions, but that might get tricky, and I don't think is critical that we do well, a

[2018-12-27 17:30] viroulep commented on #3752
I'll assign myself on January 2nd or so, unless someone has taken care of it before.

[2018-12-28 22:56] jfly opened #3753 "Change teams edit page to prevent losing history"
Right now, the team history page looks something like this:

![image](https://user-images.githubusercontent.com/277474/50530198-31f25e00-0ab0-11e9-97dd-d92f6f31d00d.png)

A few issues here:

1. Yellow is a pretty random color to indicate "no longer a team member". I think we should change that to a separate, labelled category.
2. It's possible to change someone to be a leader, and that's almost ce

[2018-12-29 18:55] jfly opened #3754 ""The change you wanted was rejected" when signing in"
We include a CSRF token on the sign-in form, and sometimes, people's browsers won't send along the CSRF token when they sign in, so the backend raises an `ActionController::InvalidAuthenticityToken` error, which gets rendered to the user as "The change you wanted was rejected":

![img_1075 1](https://user-images.githubusercontent.com/277474/50541325-1b9fdd00-0b58-11e9-853f-2a91da442d7b.PNG)

A sni

[2018-12-29 22:43] #3740 closed

[2018-12-30 00:15] jfly commented on #3695
Hmm... it looks like `AdminController` does inherit from `ApplicationController`. See: https://github.com/thewca/worldcubeassociation.org/blob/1c2fbac334d21ae0590cf738ee2d1fd577792664/WcaOnRails/app/controllers/admin_controller.rb#L5 Am I missing something?

[2018-12-30 01:49] jonatanklosko opened #3756 "Make import registrations from CSV feature visible once needed"
The registrations import implemented in #3726 is hidden for now (https://github.com/thewca/worldcubeassociation.org/commit/61e9e65f3bcbcee6192a011fc56b7f6c4b142414). This commit should be reverted when we importing the registrations becomes necessary (e.g. for wca-live and groupifier-next to work).

[2018-12-30 05:14] jfly commented on #995
Another idea might be for us to maintain a whitelist of currencies that delegates *actually* use. That would be a bit of a pain at first, but then I imagine the list would change quite slowly.

[2018-12-30 05:45] jfly commented on #3170
I personally would rather have simple, static error pages that link to the home page. Like [Google's 404](http://google.com/404-ed):

![image](https://user-images.githubusercontent.com/277474/50544669-0c01b200-0bb3-11e9-9927-709d98176264.png)

[2018-12-30 05:50] jfly commented on #3578
Ok. I am not opposed to adding a limit. I don't know what that limit should be, but I don't want that to get in the way of us actually adding a limit. I do think that if we're going to pick something modest like 280 characters, we need to build/find a UI component that does a nice job of showing the user just how many characters they have left to type.

[2018-12-30 05:54] jfly commented on #3713
I have not been following the website redesign work, but my gut feeling is that nobody actually looks at these posts on our homepage, so I don't think it's actually worth improving them, I think it would be better to get rid of them.

[2018-12-30 05:56] jfly commented on #720
I agree! @viroulep, sorry, I still have not caught up on your posting results work, but is this something that could make sense to do now?

[2018-12-30 06:03] jfly commented on #3710
Yeah, I don't like the idea of images being hosted on third parties. Rails 6 is hyping up [actiontext](https://weblog.rubyonrails.org/2018/10/3/introducing-action-text-for-rails-6/), which might be a good choice for us. I think it will integrate with ActiveStorage, and make it easy for us to support image uploads. I don't know if it's going to be the best tool for us, but I'm ok with waiting until

[2018-12-30 06:19] #1883 closed

[2018-12-30 10:49] SAuroux commented on #720
It should be kept in mind that what the delegate uploads are just "temporary" results (pre-WRT), while the current number of competitors for competition reports is taken from final results (post-WRT).

However, I can confirm that the number of competitors matches for >= 95% of these results and devitations of more than 1-2 people are extremely rare.

[2018-12-30 12:32] AlbertoPdRF commented on #3710
That looks nice!

[2018-12-30 15:13] timreyn commented on #720
Is it a big deal if the two numbers differ by 1-2?  I don't think it matters enough to be worth a parenthetical.

[2018-12-30 16:43] DanielEgdal opened #3759 "[WCAT] Improvement of the competition form"
WCAT would like to have the following updates to the competition form page to avoid issues from Delegates and organisers.

- [ ] Make it impossible to confirm a competition before a schedule on the WCA Website is filled out.
- [ ] Always have all event information be listed before the competition can be confirmed. (This is to ensure the amount of rounds per event appears on the events page as well

[2018-12-30 17:01] viroulep commented on #3307
@DanielEdgal I've updated the initial message to include one of the WCAT queries (printer friendly schedule).

[2018-12-30 17:03] viroulep commented on #720
I won't add anything to #3127 anymore, but I believe it would be quite simple, on the delegate report page, to look for inboxresults for the current competition if results are not posted yet :)

[2018-12-31 01:34] #3460 closed

[2018-12-31 07:11] #3665 closed

[2018-12-31 16:35] AlbertoPdRF commented on #3267
This request is also included in #3526, maybe this issue can be closed?

[2018-12-31 16:44] f3rmat commented on #3578
I worked on this a bit. Which of these looks better?
Does [this](https://drive.google.com/drive/folders/1aNCmbgwX52ohNc91AEUPot5F3UcwWUiE?usp=sharing) look okay?

[2018-12-31 16:45] AlbertoPdRF commented on #2668
Should this issue be closed now that we have the automated registration requirements and the `extra_registration_requirements` field?

[2018-12-31 16:51] UnsolvedCypher commented on #2668
Yes, closing :smiley:

[2018-12-31 16:51] #2668 closed

[2018-12-31 16:52] AlbertoPdRF commented on #1821
Tentative events will be explicitly forbidden with https://github.com/thewca/wca-documents/pull/40, so I think this issue can be closed.

[2018-12-31 17:00] AlbertoPdRF commented on #1692
The @thewca/board hasn't discussed this again as far as I remember, but with https://github.com/thewca/wca-documents/pull/40 I'm afraid this won't technically be possible, so maybe this issue should be closed?

[2018-12-31 17:01] AlbertoPdRF commented on #1617
Hm, yes, I believe this issue can be closed.

[2018-12-31 17:11] AlbertoPdRF commented on #663
Is this issue still relevant?

[2018-12-31 17:17] AlbertoPdRF commented on #3759
I was going to edit the first comment to include more related issues, but I will for now reference them separately as the list is bigger than what I was expecting :stuck_out_tongue:

- [ ] Rename registrations fields (#3693)
- [ ] Updates to Registration Requirements (#3526, #3267)
- [ ] Showing if a championship type is already in use for the year (#3225)
  - Actually, shouldn't we just prevent c

[2018-12-31 18:12] cubewhiz commented on #1692
We discussed and agreed on this over a year ago. I'd rather see this implemented than closed, so if it means editing the Competition Requirements, I'd prefer that route. What in that document do you think prohibits this?

[2019-01-01 01:00] jfly commented on #1095
Our automated registration requirements don't cover everything, though. This recently came up with fmc Europe, for instance (although I guess they're probably not using wca registration).

I think the best example of a real problem we have is competitions that require some form of payment other than stripe, but any other sort of registration "requirement" that we don't store in a structured way is

[2019-01-01 01:03] jfly commented on #1095
Ah! Nevermind, I totally forgot about the `extra_registration_requirements` stuff you added, which you did mention in your post, sorry.

I agree that we can close this now.

[2019-01-01 01:03] #1095 closed

[2019-01-01 01:04] jfly commented on #1821
:tada: :exclamation: I agree that we can close this.

[2019-01-01 01:04] #1821 closed

[2019-01-01 01:05] jfly commented on #1617
Sounds good. Closing. @KitClement, feel free to reopen or create a new issue if you think we should be doing anything here.

[2019-01-01 01:05] #1617 closed

[2019-01-01 01:06] jfly commented on #663
:man_shrugging: seems fine to close it.

[2019-01-01 01:06] #663 closed

[2019-01-01 01:15] jfly commented on #3578
Oh, awesome! Both look pretty good to me, but does the overlay one get weird if the text makes it that far?

[2019-01-01 12:51] f3rmat commented on #3578
Yes the overlay one gets weird if the text makes it that far. I tried to style it in a way so that it doesn't happen but haven't been able to.
The CSS for the other option (where the count lies entirely out of the body of the textarea) is pretty straight forward and seems to work well across screen dimensions.

[2019-01-01 16:59] jfly commented on #3578
Sounds like we should take the non-overlay approach, then!

[2019-01-02 11:00] AlbertoPdRF commented on #1095
No problem! :)

[2019-01-03 16:08] #3574 closed

[2019-01-03 17:07] Julio974-TheHexahedron commented on #96
Actually, these events were never official, but their results were at some time in history

[2019-01-04 00:56] jfly commented on #96
What do you mean, Julio? These events were never official, and any results associated with them were also never official.

[2019-01-04 04:00] jamesquinn1 commented on #3759
This has been allowed in the past (or has happened at least). Would this no longer be allowed?
Personally I am for not allowing multiple National (or Continental/World) Championships in one year, but idk if consistency would be an issue.

[2019-01-04 09:20] viroulep commented on #3759
I was curious so I looked it up, it happened in Brazil in 2014 ([here](BrasileiroInverno2014), and [here](BrasileiroVerao2014)), I'll comment in the relevant issue.

[2019-01-04 09:35] viroulep commented on #3225
@jamesquinn1 mentioned it in the overall issue for the WCAT, but it happened in the past that there were multiple championship competitions per country per year.

As far as I know, it only happened in Brazil in 2014 ([here](https://www.worldcubeassociation.org/competitions/BrasileiroInverno2014), and [here](https://www.worldcubeassociation.org/competitions/BrasileiroVerao2014)).

@Jambrose777 wher

[2019-01-04 16:06] jfly commented on #21
@timreyn, are you still planning to work on this? If not, we have a couple of people in the pipes who might be good candidates to work on this in the next month or two.

[2019-01-04 17:44] timreyn commented on #21
Haven't been recently, I ran into issues getting the php part of the site running on my new laptop. Go for it!

[2019-01-04 21:21] Julio974 commented on #96
When there was no real official list of events (before 2007), the WCA recognized many results that are considered as unofficial now. Removed events haven’t seen their results archived, so the only way to access them currently is via speedcubing.com

[2019-01-04 21:22] Julio974-TheHexahedron commented on #96
When there was no real official list of events (before 2007), the WCA recognized many results that are considered as unofficial now. Removed events haven’t seen their results archived, so the only way to access them currently is via speedcubing.com

[2019-01-05 00:50] AlbertoPdRF commented on #3225
Hm, this seems like the obvious thing that no one thought before to add explicitly somewhere :/ Does it make sense using the same championship type more than once in a given year? Does this happen in any sport? What was the reasoning behind Brazil's case @pedrosino?

[2019-01-05 03:45] Jambrose777 commented on #3225
Thanks @viroulep, I've added a suggestion with the rules that have been followed for championship types. For Brazil, we will for sure change this to be 0 or 1 championship for the year!

[2019-01-05 17:43] jfly commented on #2074
Nice, thanks @pedrosino!

[2019-01-06 01:53] Jambrose777 opened #3785 "Schedule Calendar View All venues at once[Feature Request]"
**Issue:**
When having a competition be multiple venues, the schedule will appear on 2 different tabs, but never all at once. This can be completely confusing as whenever a competitor goes to the schedule, they will only see the one day.
![image](https://user-images.githubusercontent.com/11577241/50731144-7bcfe980-112b-11e9-872e-74fa54615765.png)

**Describe the solution you'd like**
Have a select

[2019-01-06 02:37] FatBoyXPC commented on #728
Can we close this issue now?

[2019-01-06 11:58] AlbertoPdRF commented on #3753
Yes. Your record would be a total of 4 entries:

1. First period as regular member (no boxes checked). From: membership starting date. To: first Leader term appointment date.
2. First period as Leader (Team Leader box checked). From: first Leader term appointment date. To: end of first Leader term date.
3. Second period as regular member (no boxes checked). From: end of first Leader term date. To:

[2019-01-06 12:04] lgarron commented on #3052
As mentioned on an email thread: `/wdc` doesn't mean anything to the average competitor.

The WRC has `/regulations` and `/incidents`. I'd be happy to share the latter, and I think it would behoove us to pick a name for a WDC URL that makes more sense out of context.

[2019-01-06 12:09] LinusFresz commented on #3052
My suggestion would be `/disciplinary` instead of `/wdc`. That would make it a clear distinction between competition incidents and disciplinary actions.
That aside, the average competitor won't get access to the list of banned competitors, so it's not too important to give this a meaningful name, right?

[2019-01-06 12:20] lgarron commented on #3052
I think we should be prepared for more information in the future! I'd love for use to make forward-looking choices in that regard.

Else, would [`/posts?tag=wdc`](https://www.worldcubeassociation.org/posts?tag=wdc) work for the public, with something like `/internal/wdc` for the internal WDC stuff?

[2019-01-06 19:49] Jambrose777 opened #3787 "Records Order"
**Describe the bug**
![image](https://user-images.githubusercontent.com/11577241/50740734-eaab5200-11c0-11e9-83d8-98226fb68d60.png)
These records show up in the incorrect order. They have the same date circa, but the faster records display lower on the list.

**To Reproduce**
1. Go to https://www.worldcubeassociation.org/results/regions.php?regionId=&eventId=333fm&years=&mixHist=Mixed+History

**E

[2019-01-06 22:05] Jambrose777 commented on #3785
There's also a bug involved with this:
The link at the top of the page below the venue selection (in the picture, "Paulding County Senior Center"). This will always link to the competition coordinates,  which in the case of multiple venues will leave one of the selected venues to the wrong place.

[2019-01-06 23:11] jfly commented on #3695
I'm going to close this issue. Please reopen if there's something I'm missing here!

[2019-01-06 23:11] #3695 closed

[2019-01-06 23:13] Jambrose777 commented on #3721
I think Sébastien missed this. WRT can investigate and assign the appropriate records. (I have many missing schedule information already from a previous investigation). As long as the check records script works for big bld averages, they should be easy to find, verify, and assign for us!

[2019-01-07 06:11] SAuroux commented on #3721
I missed this indeed. Nothing to add to what Jacob said!

[2019-01-07 08:33] Julio974-TheHexahedron commented on #3787
According to 9i2 (https://www.worldcubeassociation.org/regulations/#9i2), Jaziorski and Rafalski's world records shouldn't be counted.
Also, maybe change a bit the code to allow double records (single and average broken at the same time) to be on a single row?

[2019-01-07 08:53] Baiqiang commented on #3787
@Julio974-TheHexahedron In fact, the records were not broken on the same day but our database doesn't record on which day it was broken.

[2019-01-07 17:48] willgwizz opened #3797 "Bookmarking option for upcoming competitions where registration hasn't been opened"
**Is your feature request related to a problem? Please describe.**
Whenever a new competitions are announced, competitors who are interested would definitely want to be able to easily keep track of these easily. Now in 2019 where competitions are announced much ahead of time, potential competitors may find it hard to keep track of multiple competitions of interest as "My Competitions" doesn't incl

[2019-01-07 20:42] dancing-jules commented on #3654
That red is more orange than the orange is and they are barely distinguishable.
![image](https://user-images.githubusercontent.com/33940391/50792348-eec09800-12c4-11e9-9278-9b5f665bcae2.png)

[2019-01-07 20:45] dancing-jules commented on #3633
Good point. Why not just write the email address in plaintext?

[2019-01-08 09:40] EdHollingdale opened #3798 "Give warning during registration when competitor limit has been reached"
This was previously raised in #1567 by Kit, although I don't think it is a direct duplicate of #328 as that has more complex questions around automated registrations. I don't feel this should be that complex after #3712.

On the "Register" tab of a competition, would it be possible to add a warning box when the competitor limit has been reached? A yellow box at the top of the page similar to the "

[2019-01-08 09:46] EdHollingdale commented on #941
Is there a further update on this? In Australia we have competition contact centrally and this would save myself and the other person managing the list several hours a week.

A simpler approach to Kit's suggestion may be just having a box on the new competition form that could be selected "Allow competitors to edit events while registration is open" (so competitions with per-event fees or event co

[2019-01-08 21:46] UnsolvedCypher commented on #3798
It seems like that may be confusing to competitors if it's so broad. Perhaps a checkbox in the competition settings would make sense to mark whether or not the competition should have a waiting list and allow people over the limit to register?

[2019-01-09 05:28] #3243 closed, assigned to nobody

[2019-01-09 16:56] jfly commented on #3240
@AlbertoPdRF, could you elaborate on these bullet points? Does "keywords" refer to the keywords meta tag? If so, my understanding is that search engines don't look at this tag anymore. https://www.wordstream.com/meta-tags says "These days Google doesn’t use meta keywords in its ranking algorithm at all, because they're too easy to abuse."

I'm also unsure what "personalized images" and "descriptio

[2019-01-09 22:12] AlbertoPdRF commented on #3240
Expanding a bit on every point:

In #3238 I added the `og-wca_logo.png` image that gets displayed on social media when sharing any link to our website. What I meant with that point is to personalize a bit which image gets displayed depending on which link is shared, perhaps by superimposing the title of the page over the image.

I did a bit of research on this back in August but I don't remember m

[2019-01-10 02:47] Jambrose777 opened #3802 "Sending multiple "The results of competition are posted." emails"
**Describe the bug**
Whenever posting results If a WRT member clicks on the button a second time or accesses the post link. The post is blocked by the website for a duplicate title, however a second email is sent to all competitors of the competition.

**To Reproduce**
Steps to reproduce the behavior:
Post the results announcement twice.
Button:
![image](https://user-images.githubusercontent.com/1

[2019-01-10 09:47] campos20 commented on #3534
We should consider also what happens if a competitor is already registrated as of the ban.

[2019-01-10 13:36] EdHollingdale commented on #3798
I think any solution that enables people to know if the competitor limit has been reached or not is important. E.g. parents of young kids competing for the first time won't know how to check if the competitor limit has been reached. If that warning can then give them more information about waiting lists etc. then that is also a bonus.

[2019-01-11 03:06] lgarron commented on #3721
While I disagreed with the decision to do this with past events, I think we should be consistent and award retroactive records for this, too.

[2019-01-12 11:17] AlbertoPdRF commented on #3753
Oh, it seems what I proposed isn't possible at all, because terms can't overlap :P But it will work if you subtract one day to all the "To:" dates.

[2019-01-12 17:02] Jambrose777 commented on #3785
The competition mentioned ended up being announced with the alternative mentioned. I can create another competition with this if needed.

[2019-01-12 17:08] jamesquinn1 opened #3809 "Competitions can last 7 days"
**Describe the bug**
WCA website says comps can last 6 days, but competitions can be set to be 7 days.

**To Reproduce**
Steps to reproduce the behavior:
Set a competition to 7 days

**Expected behavior**
Either say 7 days is limit or make 6 days the limit.

[2019-01-12 22:26] c-goodyear opened #3810 "Waiting list public visibility"
Waiting lists are not displayed publicly for obvious reasons, so organizers and Delegates are contacted to ask how big a waiting list is and what position said competitor is on the waiting list.

An extra field to be included in registration requirements when the limit is reached could display this information. Something like "The registration limit for this competition has been reached. The curre

[2019-01-13 00:08] Mollerz commented on #3810
https://github.com/thewca/worldcubeassociation.org/issues/2413 Also covers having a separate waiting list section.

[2019-01-14 02:45] #3787 closed

[2019-01-14 16:41] jfly commented on #3052
Lorenzo is ok with us merging this up, so I'm doing it!

[2019-01-14 17:02] #3052 closed

[2019-01-14 17:10] jfly commented on #3534
For the record, @pedrosino started working on this in https://github.com/thewca/worldcubeassociation.org/pull/1042, but we ended up discarding that PR. I raised a number of issues in that PR that are addressed by the new `/disciplinary` page, so I think this definitely makes sense for someone to work on again.

Any attempt to prevent banned competitors from registering is going to be "best effort"

[2019-01-15 04:18] jfly commented on #868
Closing this as a duplicate of #80

[2019-01-15 04:18] #868 closed

[2019-01-15 04:22] jfly opened #3822 "check_rounds should make sure that every result in a round has the same formatId"
All results in a round should have the same `formatId`. Currently, our `check_rounds.php` script doesn't actually check for this.

I think this can wait until we've ported `check_rounds.php` to Rails.

[2019-01-15 06:02] jfly commented on #3809
Oh, nice find! I've sent out a PR with a fix for this. Thanks @jamesquinn1!

[2019-01-15 06:06] jfly commented on #3633
Writing the email address in plaintext seems like punishment for users who *do* have things set up correctly.

I am also not a big fan of contact forms, but that may be a good option...

[2019-01-15 06:30] jfly commented on #941
@EdHollingdale, we have a lot of work to do to improve our registration system. I don't think things are at a point right now where we can just start chipping away at work. I think someone needs to meditate on the state of things for a while, and think about what exactly we want to build, and how we're going to get there. That is a big project that nobody on the WST currently has time to work on.

[2019-01-15 06:31] jfly commented on #3797
Thanks for the suggestion, @willgwizz! I would be supportive of a feature like this if someone wants to spend the time to build it.

[2019-01-15 07:36] jfly commented on #3532
I don't have a strong opinion here, but it would be nice to fix this.

Requiring start and end dates might be the best option to avoid future bugs like this. If we do decide to require start and end dates, we should remember to go back and backfill this for past competitions with nil dates.

Alternatively, fixing the `in_progress?` method and schedule tab seem pretty simple!

I'm going to mark thi

[2019-01-15 07:45] jfly opened #3826 "Add a "total amount paid" to the registrations table"
(Tommaso Raposio (2014RAPO01) requested this in an email titled "Suggestion for Organizer View")

<img width="393" alt="example" src="https://user-images.githubusercontent.com/277474/51165882-79217280-1856-11e9-8628-d88fb8640e69.png">

I think this should be fairly straightforward to do, so I'm going to mark it as a good first issue.

[2019-01-15 08:36] jfly commented on #3693
Hmm... are these fields used to encode registration start/end dates even if the competition doesn't have online registration? I'm thinking of a competition where the only way to register is to go to a physical store and pay a dollar amount during the "registration period".

[2019-01-15 08:54] jfly commented on #728
I think so. I just looked over @viroulep's work in #3500 and I'm pretty sure it covered this work.

@viroulep, @pedrosino , please reopen if I'm mistaken!

[2019-01-15 08:54] #728 closed

[2019-01-15 09:34] jfly commented on #1723
@rodrisan97 @UnsolvedCypher, let's try to keep this issue focused on actions to help the WCT. Please create a new issue to discuss publicly viewable registrations if you want to talk about what that would look like =)

I am down with the idea of building a page for the WCT to see competitions that a given user is registered for. The simpl@LinusFresz if you est possible implementation might be to e

[2019-01-15 10:06] jfly commented on #3785
Do you mean "only the see the one venue"? I agree that this is confusing.

It seems reasonable to me to want to show the schedules all venues of a competition at once, and maybe that should even be the default. I'm curious what @viroulep thinks here.

[2019-01-15 17:24] dancing-jules commented on #3633
But how many people who don't know how to setup a standard email program, know how to look into the bottom left corner of the screen?

And if you write it in plaintext, you can still have as a clickable link.

[2019-01-15 18:07] #3809 closed

[2019-01-15 18:08] jfly commented on #3633
Ah, sorry, I forgot that that's not the case right now. That also sounds reasonable to me.

[2019-01-15 21:20] jamesquinn1 commented on #3759
Why can't competitions with names shorter than that have nicknames?

[2019-01-15 23:12] c-goodyear commented on #3810
For starters, it would lead to more congestion of the information pages, and more confusion especially for first timers registering. It also doesn't serve much of a purpose, the registrations are public because those people will (should) be attending the competition.
It also stops people not cancelling (if they can no longer attend) on purpose if they don't want the waiting list #1 to get a spot.

[2019-01-16 04:56] Jambrose777 commented on #3753
Would we be interested in correcting the past entries of leadership positions?

[2019-01-16 05:44] lamacl commented on #1723
An update from the WCT on this: Even with modifications to the contact form (now you can choose which competition you have questions about and it will contact those organizers directly), we still get many emails through the other contact page options and through emails to notifications@, contact@, and through the board. I can see a feature of being able to see what competitions a person is current

[2019-01-16 07:50] AlbertoPdRF commented on #3753
Yes, definitely! The Board has been trying to get the dates that we are missing since this issue was opened. I will update the doc with what we've got later today (if you grant me edit access :P).

[2019-01-16 08:11] viroulep commented on #3810
FYI these information are actually "public": except from who have paid what and when: pending and deleted registrations are in the public export of the database; so if you setup the website locally (or just get the developer dump, or just go on staging which may lag behind) then you'll be able to log in as a competition manager and see when everyone submitted their registration (it's not directly

[2019-01-16 20:18] SAuroux commented on #3810
It should be added that many competition use payment system other than stripe. In such cases the WCA website cannot give accurate information about the current state of a waiting list.

[2019-01-16 23:58] Jambrose777 commented on #3753
Shared with Edit access!

[2019-01-17 04:18] Jambrose777 commented on #3753
I see someone has updated the WRC page 1 minute ago
![image](https://user-images.githubusercontent.com/11577241/51295280-e95dfe80-19e4-11e9-87ae-582411ce3ca5.png)
as far as I can tell this is far from what we intend to have (actually they deleted Lucas's start date)

[2019-01-17 16:48] jfly commented on #3802
Thanks for the report, @Jambrose777! Here's the relevant code: https://github.com/thewca/worldcubeassociation.org/blob/65df8c75f2fb4eed5df790397e3af93c928ec621/WcaOnRails/app/controllers/competitions_controller.rb#L345-L348

I think an acceptable fix would be to not allow posting the results announcement if the results have already been posted.

[2019-01-17 20:59] cubewhiz commented on #3826
The amount paid won't be equal to the amount of money collected, though, due to Stripe fees. I suggest a note stating such is appropriate.

[2019-01-17 22:49] lgarron commented on #3753
I updated my latest term. I actually can't add my non-leadership term, because the page thinks I'm demoting myself.

On top of that, I can't find the date I started my co-chair/leadership term the first time.

[2019-01-18 11:55] AlbertoPdRF commented on #3753
I added what I could to the spreadsheet, and also shared it with others who may help finish completing it!

[2019-01-19 13:27] campos20 opened #3833 "Add a "Championship" filter to competition list"
This request was made by Samuel Baird via email.

**Is your feature request related to a problem? Please describe.**
It's not possible see a list of future competitions that are championships.

**Describe the solution you'd like**
Add a trophy icon on the “Competitons” page that you would click on to show all championships, similar to how you can click on an event and it will show all all competit

[2019-01-20 13:53] priazz commented on #3826
Hi,
Thank you for the consideration. Regarding what @cubewhiz said, couldn't you also simply deduct the fees before displaying the result instead of making a statement appear? Stripe fees are the same for people of the same region. For example in our case is very rare that people pay with non european cards so if there is a difference between money collected and amount paid it would surely be almo

[2019-01-21 19:00] jfly commented on #897
Another one I've seen a few times: https://travis-ci.org/thewca/worldcubeassociation.org/builds/482552084#L4508-L4534

[code]

[2019-01-22 20:48] pedrosino commented on #3721
If we come to the conclusion that it was a bad/wrong idea, we shouldn't do it again just for the sake of consistency.

[2019-01-22 21:17] c-goodyear opened #3844 "WCAT, not WCAC"
On the about [page](https://www.worldcubeassociation.org/about) the following is displayed:

"WCA Competition Announcement Team (WCAT): Henrik Buus Aagaard (leader), Alexander Cohen, Clément Cherblanc, Daniel Vædele Egdal, Ethan Pride, Henry Savich, Jacob Ambrose, Nicolas Perez, and Wilson Alvis (陈智胜)
This **_committee_** has the role to approve and announce WCA Competitions and ensure such announ

[2019-01-23 00:14] Mollerz commented on #3721
`If we come to the conclusion that it was a bad/wrong idea, we shouldn't do it again just for the sake of consistency.`

Having said that, this is going to be the last time something like this happens, and I think it is fine to be consistent in this case.

[2019-01-23 08:35] Julio974-TheHexahedron commented on #3721
Exactly. The last event that wouldn't have any mean or average computed would be multi-blindfolded, and it doesn't seem like a good idea to add it. So, as long as no new events are added, this will be the last means added.

[2019-01-23 20:01] jfly commented on #3844
Fixed by #3845

[2019-01-23 20:01] #3844 closed

[2019-01-23 22:35] Jambrose777 commented on #3759
Addition:
- [] Have the ID field only be editable on the admin page. Otherwise it is always the same as the nickname.

[2019-01-26 13:20] #69 closed

[2019-01-26 13:20] #80 closed

[2019-01-26 13:20] #977 closed

[2019-01-26 13:20] #2984 closed

[2019-01-26 13:20] #3222 closed

[2019-01-26 13:20] #3822 closed

[2019-01-26 14:16] viroulep opened #3852 "Undetected duplicate person in persons_finish_unfinished.php"
@SAuroux posted some results after I merged #3127, and he noticed something unexpected in the php script.
The new `CompetitionResultsValidator` would report a possible duplicate person for "Hoàng Đức Tài" (2017TAIH01), which is right, but the `persons_finish_unfinished.php` misses that and reports no possible duplicate.
Maybe there is something wrong with the encoding in the php script?

It wou

[2019-01-26 14:58] viroulep commented on #3852
I've investigated that a bit more, it turns out the reason for why the two scripts behave differently is due to how they get the list of similar persons.

The rails scripts does a `Person.where(name: var)`, whereas the php script does a SQL select for all persons, then relies on the php function `similar_text` to rank the candidates.

A few facts:
  - the two names in the opening post match both i

[2019-01-28 06:10] KitClement opened #3863 "Remove confidential information from staging"
**Describe the bug**
There are internal/sensitive documents and links that are accessible through the delegate/senior delegate panel on staging.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into accounts with a board member/senior delegate.
2. Click on the delegate panel
3. Click on any link to a google doc external to a WCA site

**Expected behavior**
Not allowing people to see this

[2019-01-28 08:18] viroulep commented on #3863
Oh, I actually think the fix is not to restrict access to the links but rather fix the shared documents accessibility: the link are absolutely visible in this repository (see [here](https://github.com/thewca/worldcubeassociation.org/blob/7791f9f8058849914257d12b41aa40d8d88023e5/WcaOnRails/app/views/delegates_panel/index.html.erb#L17) for instance)!

@thewca/board, do you think it makes sense to ju

[2019-01-28 11:48] Epride opened #3864 "Delegate report schedule bar"
**Is your feature request related to a problem? Please describe.**
The Delegate report allows for Delegates to paste a schedule link whereas the results submission forces use of the WCA schedule tool

**Describe the solution you'd like**
Have the schedule box auto-filled with the schedule of the competition

**Describe alternatives you've considered**
Nothing really alternative here :)

[2019-01-28 11:59] EdHollingdale opened #3865 "Change 0% refund text"
**Is your feature request related to a problem? Please describe.**
Currently, if you select a refund % as 0 when creating a competition, it displays "Registration fees won't be refunded under any circumstance." This is great, but not ideal if registration fees **would** be refunded in some circumstances, but not all, but a 0% refund ordinarily applies.

**Describe the solution you'd like**
Add an

[2019-01-28 12:10] EdHollingdale commented on #3863
People also seem to be able to see all "Pending claims for your subordinate Delegates" and are thus able to admire my 0 outstanding WCA ID claims due to my lightning fast response time 😛

I assume it is a breach of privacy to show if someone has/hasn't claimed an ID, plus we may not want anyone to see how responsive/unresponsive various delegates are.

[2019-01-28 12:38] EdHollingdale commented on #3865
@Goosly this is only in the case that the competitor limit has been reached that they would get a refund. If the competitor limit hasn't been reached, then there wouldn't be a refund.

[2019-01-28 13:20] Jambrose777 commented on #3863
And teams like wcat

[2019-01-29 03:56] cubewhiz commented on #3863
I already had a draft in my email to the Board about changing the forms access. Now that all WCA users have @wca accounts, it is quite easy to make forms visible to the users we want without worry if the link is shared.

I'll take care of this on the Board's side to make sure the permissions are updated appropriately and then let you know here how we should update the panel.

[2019-01-30 21:11] SAuroux opened #3866 "Add warning for choosing main event when there are no 3x3x3 results"
**Is your feature request related to a problem? Please describe.**
Delegates often forget to name alternative main events and ask WRT to change announcement post later. This problematic, as deleting the post and regenerating a new one is easiest but triggers new mails to competitors and also changes the "results_posted_at" time stamp in the competitions table. Meanwhile, manually changing existing

[2019-01-31 18:41] jfly opened #3867 "Add end date of ban to the WDC page"
Lorenzo requested this. I think this would be a good first project for someone to take on.

[2019-01-31 18:45] jfly opened #3868 "Add "disciplinary log" under the "incident log" in the menu on the WCA website"
Lorenzo requested this. The only tricky part here is picking a logo. Any thoughts?

[2019-02-01 05:12] jfly commented on #3863
I am very slightly against this, in that it would make our developer database dump less representative of reality.

[2019-02-01 05:16] jfly commented on #3865
The problem with a solution like this is that it's not internationalizable.

I think my preference would be for the WCA to be strict about what kinds of refund policies are allowed. This would keep our code simple, and I think would also minimizes surprise for repeat competitors.

[2019-02-02 08:03] c-goodyear opened #3869 "Adding "Multiple Countries" as an option in the Country drop-down"
Multiple Countries without a specified continent(s) following it in parentheses is not currently an option.

Can we get "Multiple Countries" added as an option in the Country drop-down for competitions which will be happening across Earth simultaneously?

<img width="632" alt="multiple_countries" src="https://user-images.githubusercontent.com/45567122/52161687-3cb09c00-26c9-11e9-8929-f5c01cb0b138.

[2019-02-03 03:38] EdHollingdale commented on #3865
I think even changing it from the "won't be refunded under any circumstance" to something that isn't so strict would be better.

Once competition organisers start getting bigger they have to start tracking and paying VAT/GST on sales. This can create greater intricacies around refunds and what constitutes a payment depending on local laws (e.g. paying to go on the waiting list is just paying a ref

[2019-02-03 19:22] Jambrose777 opened #3870 "Change the Message for too many WCAID claims"
All WRT has done so far is ask the person to fill out the incorrect DOB form (which may benefit by being reworked to a data correction form).
I made a comment on the code here:
https://github.com/thewca/worldcubeassociation.org/pull/3666#discussion_r253315031

[2019-02-03 19:34] Jambrose777 opened #3871 "Cutoff in Multi-Blind is not strictly greater than."
**Describe the bug**
For this competition: https://www.worldcubeassociation.org/competitions/KievSuperBlind2019#general-info

The multi-blind cutoff is "1 Attempt > 2 points"
![image](https://user-images.githubusercontent.com/11577241/52181499-a65fa180-27c0-11e9-866e-4d0e9a91f578.png)

And then for this person's results:
![image](https://user-images.githubusercontent.com/11577241/52181511-d149f580

[2019-02-03 20:42] Jambrose777 commented on #3225
The Brazil Championships in 2014 have been fixed.

[2019-02-05 15:01] cubewhiz commented on #3863
The forms for nominations, promotions, demotions, etc. have been updated to require sign-in from a WCA account, so making their URLs public is no longer a problem. @AlbertoPdRF will submit a PR to update the Delegate panels.

[2019-02-05 16:14] cubewhiz commented on #3661
How is this coming along?

[2019-02-06 19:26] ligio90 commented on #3826
I'm doing pair programming sessions with @jfly rn and I chose this as a first issue, so I guess its sudo-assigned to me? xd

[2019-02-06 20:31] SAuroux opened #3880 "Modification of MISSING_RESULTS_ERROR"
We (WRT) ran into a minor problem after #3127 was pushed live, as we failed to properly think through the case when a planned event was eventually not held. Currently, this triggers an error message referencing to WCAT (see [competition_results_validator.rb](https://github.com/thewca/worldcubeassociation.org/blob/9c58c1a1f77187052dfd2321e6493d2cfaa4c93a/WcaOnRails/lib/competition_results_validator

[2019-02-06 20:36] jfly commented on #3826
Assigning to myself on behalf of @ligio90!

[2019-02-06 20:38] ligio90 commented on #3826
Thanks :)

[2019-02-07 01:47] Jambrose777 commented on #3880
I can take care of this!

[2019-02-07 04:12] cubewhiz commented on #2472
Any progress on this lately?

[2019-02-07 08:57] AlbertoPdRF commented on #2472
None on my side, as the requested changes will have to be modified after the new Regulations + the WCRP come into effect.

[2019-02-07 10:38] #3880 closed

[2019-02-08 16:58] jfly commented on #3868
I had forgotten this, but Lorenzo and I had actually discussed this a while back: https://docs.google.com/drawings/d/1ARmRyeKTdi-onXwf00Qq31Ctkl0IlERZkLL6WhfZrPA/edit, and decided on [`fa-bullhorn`](https://fontawesome.com/v4.7.0/icon/bullhorn)

[2019-02-08 18:12] ligio90 commented on #3867
Imma work on this.

[2019-02-08 20:34] AlbertoPdRF opened #3885 "Handle Delegates on probation similarly to banned competitors"
**Is your feature request related to a problem? Please describe.**
Handling Delegates on probation now is done through a spreadsheet, which is a sub-par solution.

**Describe the solution you'd like**
A solution similar to how banned competitors are handled seems ideal.

[2019-02-08 20:41] AlbertoPdRF opened #3886 "Teams should be renamed to something else (groups?)"
We now have Committees/Teams, banned competitors, Officers, and soon Councils (#3884) all handled as `teams` on the website, which is confusing and error-prone. Renaming `teams` to `groups` and a bit of clean up seems necessary at this point.

[2019-02-12 19:33] SAuroux opened #3895 "Non-desired localization in result submission warnings"
**Describe the bug**
Round names as part of result submission warnings appear in localized form, also within the automated mail sent to WRT. Example: [IzhevskWinterCube2019](https://www.worldcubeassociation.org/competitions/IzhevskWinterCube2019)

![image](https://user-images.githubusercontent.com/3089192/52662742-4033f680-2f05-11e9-9508-63c4533581d9.png)

**Expected behavior**
I would expect to s

[2019-02-16 16:53] viroulep commented on #3752
I'm going to take a look at this.

 - For the WA it should be something along the line of https://github.com/thewca/wca-workbook-assistant/commit/b631b409b7fb0e008d49c33dc8d68c180e2bd76b.
 - Changing the edit events page is actually rather easy, since we just need to adjust the `preferred_formats` table.
 - Regarding the results uploading scripts: is that actually checked?! I see no reference to `

[2019-02-16 22:20] #3870 closed

[2019-02-16 22:46] viroulep commented on #3863
Fixed by #3898.

[2019-02-16 22:46] #3863 closed

[2019-02-18 05:36] Epride commented on #3759
Wouldn't this become an issue with multi-location FMC competitions which generally don't specify a limit?

[2019-02-18 13:12] DanielEgdal commented on #3759
Yes it would be an issue with those competitions, but I assume a simple extenstion to #3755 would fix this issue for the competitor limit as well.

[2019-02-18 17:53] #3866 closed

[2019-02-18 17:53] #3895 closed

[2019-02-18 22:06] SAuroux commented on #3752
@viroulep there are indeed no such checks in the PHP result admin scripts.

[2019-02-18 23:33] #3753 closed

[2019-02-19 16:30] #3868 closed

[2019-02-19 17:59] jfly commented on #3867
@ligio90 finished this up in https://github.com/thewca/worldcubeassociation.org/pull/3929!

[2019-02-19 17:59] #3867 closed

[2019-02-19 18:04] ligio90 commented on #3448
Hey, I'm gonna like look into this.

[2019-02-19 18:07] #3826 closed

[2019-02-20 10:53] EdHollingdale opened #3933 "Increase WCA ID claim automation using WCA registration data"
**Is your feature request related to a problem? Please describe.**
I find it frustrating the (admittedly small) amount of time I spend managing WCA ID claims. I average 0.9 WCA ID claims per day and it is annoying spending 2 minutes of my time doing something a computer could do instantaneously. Especially since it is tedious to do it via mobile, which mean claims pile up and I get home from work

[2019-02-20 11:17] EdHollingdale opened #3934 "Show email addresses on registration tab"
**Is your feature request related to a problem? Please describe.**
We get dozens of emails each week relating to competition registration (deletion, waiting list position, changing events etc.) and many of these do not mention the competitor name they are referring to. Often the name associated with the email is no good either, it could be a parent's name, or something like "Penguin Master Cuber".

[2019-02-20 13:33] sarahstrong314 opened #3935 "Clarify that on-the-spot registrations are not accepted when the competitor limit has been reached"
The current way the registration requirements are phrased is misleading when there is a competitor limit and on-the-spot registrations are being accepted. It should be clarified that on-the-spot registrations will only be accepted when the competitor limit hasn't been reached, to prevent unregistered competitors from thinking that the competitor limit only applies to online registrations and that

[2019-02-20 16:05] ligio90 commented on #3935
Good point! If nobody objects this I could implement this

[2019-02-20 16:10] ligio90 commented on #3934
would be good if you could toggle this (like the events) to make the screen a bit less congested if you don't want that.

[2019-02-20 16:55] jfly commented on #3933
Hey @EdHollingdale, thanks for the report. Sorry about this, it was never meant to be a long term solution. See https://github.com/thewca/worldcubeassociation.org/issues/21 for a bit more history about why this hasn't happened yet.

I can say with some confidence that the "Has WCA ID competed exclusively at competitions I have delegated? If yes, continue" was not usually true for me when I was a d

[2019-02-20 16:55] #3933 closed

[2019-02-20 16:58] jfly commented on #3935
Yes please go for it, @ligio90! This sounds like a good change to me. Thanks for the report, @sarahstrong314

[2019-02-20 17:07] jfly commented on #3934
Adding email addresses sounds like a good quickfix for the issue you've described here, @EdHollingdale. We've already been through one cycle of "oh my there are so many columns on this table it is both annoying *and* slow to load", which is why we added the toggle events button to hide a bunch of columns. I worry about us going down that same path if we just add columns willy nilly. Maybe we could

[2019-02-20 19:22] AlbertoPdRF opened #3938 "Move /delegate to /panel and add Leaders' Panel"
**Is your feature request related to a problem? Please describe.**
Over /delegate we have the Delegates', Seniors', and Board's panels. Board's panel doesn't really fit in there (half of the current Board are not Delegates), and we also need a Leaders' panel that would not fit in there either. Such Leaders' panel, for now, would only include the link to the [WCA Committee/Team Member Promotion for

[2019-02-20 21:17] EdHollingdale commented on #21
As I said in #3933 I think this is an important issue that will save a lot of hassle. To @jfly 's question:

The main reason I have that as a check when looking at ID claims is "am I able to view all of the relevant registration data". The equivalent question for a system would be "has the WCA ID competed exclusively at competitions using WCA registration".

For me, 80%+ of all claims are people w

[2019-02-20 21:30] EdHollingdale commented on #3934
I don't think the Birthdate column is as necessary anymore - especially since #3575 does the checking that it was used for. Having a "Show Birth Dates" button and showing emails by default could work? I also think moving the comments to the far right column of the table would be useful, since most of the time they are blank. It may also be worth noting that this doesn't technically _add_ a column

[2019-02-20 21:38] Jambrose777 commented on #3934
I would strongly disagree with removing the birthday column (even hiding it by default), if someone registers with a bogus birthday we should alert the delegate in any way possible not to accept the registration and fix the birthday before approving.

[2019-02-20 21:41] Jambrose777 commented on #21
There’s additional checks too:
Like dob, country, if the wcaid is already claimed.

[2019-02-20 22:10] EdHollingdale commented on #3934
Shouldn't we automate the checking of Birthdates? Or provide an additional validation step when accepting the registration of a new competitor (correct name, birthdate etc.)? I haven't had any bogus birthdates since birthdates under 2 years old now get a warning at the registration step.

[2019-02-21 04:35] jfly commented on #3886
I like the term "group", it only potentially conflicts with "google group", and I think that's a manageable bit of confusion.

[2019-02-21 17:37] jfly commented on #3869
Sure thing, @c-goodyear. What's the timeline like on this? Is there a real need for this, or is this just for completeness?

[2019-02-21 18:27] c-goodyear commented on #3869
We hope to request WCAT for an announcement of such a competition in early
March. (The 9th is the current plan)

On Thu, 21 Feb 2019, 18:37 Jeremy Fleischman, <notifications@github.com>
wrote:

[2019-02-21 19:37] viroulep commented on #3869
I have just a bit of time now, I'll try to get this done.

[2019-02-21 21:34] #3869 closed

[2019-02-21 21:42] viroulep commented on #3869
It's now deployed!

[2019-02-22 05:23] cubewhiz commented on #3869
Perhaps I don't realize it, but is there a good reason to keep Multiple Countries (specific place)? Wouldn't one "Multiple Countries" option be sufficient?

[2019-02-24 19:19] jfly commented on #3869
@cubewhiz, I think that have a single "Multiple Countries" would probably be fine, although might screw up some stats for people doing stuff like "number of continents competed in". I do want to get rid of the multiple country stuff eventually, see https://github.com/thewca/worldcubeassociation.org/issues/3355 for the start of a discussion about that. Short term, I think the simplest thing to do i

[2019-02-24 19:56] jfly commented on #3448
It looks like this just happened to 16 attempted registrations for Berkeley Spring 2019. We should definitely add handling of this exception to [`journaled_stripe_charge`](https://github.com/thewca/worldcubeassociation.org/blob/9c562820e11178b24a76bc79ba05804125d9ed97/WcaOnRails/app/controllers/registrations_controller.rb#L375).

For now, I'm going to update these 16 stripe charges as failed, beca

[2019-02-25 22:16] ronaldmansveld opened #3954 "Custom registration fields"
As received by email:

Instead of physically adding a field for t-shirt, a better solution would be to let the organiser(s) add custom fields to the registration form, marking them as required where necessary. This can potentially solve a lot of similar ideas/issues.
As for storage: we already have 'extensions' within the WCIF, which can likely be used for this as well.

[2019-02-26 09:55] zeecho opened #3955 "Social media links are over homepage link"
**Describe the bug**
When you want to click on the lower part of the big "World Cube Association" text above social media logos, it opens one of the social media. I'm having the feeling it's mostly on "big" screens (meaning I do not have the issue when the menu becomes a dropdown).

**To Reproduce**
Click on the lower part of the "L" of "World Cube Association". It should open reddit.

**Expected

[2019-02-26 10:08] zeecho commented on #3693
Interesting remark, I did not think about that.
Currently, if you do not check "I would like to use the WCA website for registration", you can either leave this field blank or fill it (while it's mandatory to fill it in case of registration on the WCA website). So, as you said, I guess it might be used by organisers who accept only physical registration then

[2019-02-26 19:22] jfly commented on #3955
@AlbertoPdRF, do you have time to look into this? As always, we should make sure that whatever we do here works well on desktop and mobile.

[2019-02-27 10:06] Mollerz opened #3956 "Schedule - Calendar View is very dense & colour is desaturated"
Currently the default view is 30 minutes per row, and this is unable to be changed for the competitor view of the schedule. With lots of finals and small rounds taking place it makes it nearly impossible to read.

Also for some reason the colours within the calendar view are very desaturated. In the UK I've been setting up the schedule view with the blue and red colours from the UK flag when there

[2019-02-27 16:47] viroulep commented on #3869
Currently any "Multiple Countries" is tied to a real or fake continent, so having only one instance of it may lead to weird cases; such as selecting "Europe" in the continent list and not being able to see FMC Europe because for some reason we may have decided that the one "Multiple Countries" would be tied to the "Multiple continents" fake continent.

The only way to do this cleanly is to get rid

[2019-02-28 03:22] cubewhiz commented on #3869
@viroulep Indeed, that sounds like a much cleaner way to do it. Thanks for the clarification.

[2019-03-01 16:52] Mollerz opened #3959 "Remove "<Competition> is not confirmed" Notification"
The current iteration of the notifications panel aren't _really_ notifications, and I would like to suggest a small change.

I have a template competition created with all the information relevant to our area filled out, including tabs with lots of information and instruction for organisers to follow. I also tend to create competition pages quite early for competitions to allow organisers enough t

[2019-03-02 04:57] cubewhiz commented on #3959
I would support this change. I like keeping my notifications at 0 so I know that I have no pending actions.

[2019-03-02 08:23] LinusFresz commented on #3756
I think this can be closed due to https://github.com/thewca/worldcubeassociation.org/pull/3841 being implemented?

[2019-03-02 11:22] jonatanklosko commented on #3756
Good point, thanks!

[2019-03-02 11:22] #3756 closed

[2019-03-03 06:55] AlbertoPdRF commented on #3955
Not really, sorry! I won't be much available until March is over :confused:

[2019-03-05 17:31] jfly commented on #3956
I think changing this to 15 minutes is a good default, and adding an option to change the default feels like something we can do separately.

[2019-03-05 17:34] jfly commented on #3956
Oh, sorry, I missed the part about color being desaturated. @Mollerz, could you provide a link and/or screenshots demonstrating that issue?

[2019-03-05 18:41] viroulep commented on #3956
I assume that's because fullcalendar modifies the original color?
Its default behavior is to create a background color slightly different, and add another layer of the desired color slightly smaller (to create a border effect); but it was rather ugly so I had to remove the layer IIRC.

[2019-03-05 21:57] Jambrose777 opened #3970 "Competitions without Results"
For competitions without results we should probably take measures to make the page look less broken.
https://www.worldcubeassociation.org/competitions/CaviteOpen22018#general-info
https://www.worldcubeassociation.org/competitions/PerryOpen2013

Ideally we'd have the left side not include the results tabs (as if results_posted_at was null) and then not display the warning message that pops up sayin

[2019-03-06 09:12] Mollerz commented on #3956
@jfly Sorry I can't provide a picture just now, but have a look at UK Championship 2019 calendar schedule, and have a look at the Union Jack - the RGB values input are correct, but obviously the colours are very different. This seems to be because of what @viroulep has said - this desaturated colour is intended to be a border or a different layer and not the main colour.

[2019-03-08 05:59] EdHollingdale commented on #3959
I also have a template competition and typically several unannounced competitions on the go so I would also appreciate this change.

[2019-03-08 17:24] ligio90 commented on #3959
I'm working on it

[2019-03-08 17:36] #3935 closed

[2019-03-08 17:36] #3448 closed

[2019-03-08 18:05] ligio90 commented on #3532
I am working on this

[2019-03-08 18:09] #3959 closed

[2019-03-09 19:41] LinusFresz opened #3975 "Notify organizers of re-registration from competitors"
**Describe the bug**
Usually a organizer receives a notification for every newly registered competitor (if the organizer hasn't opted out, of course). This is not the case for any competitor who was deleted (for whatever reason) and re-registers. This happens for either from the waiting list and/or after being accepted.

**Expected behavior**
It would be great to handle re-registrations identical

[2019-03-10 00:45] #3955 closed

[2019-03-10 00:58] jfly commented on #3970
Where is this message right now? I don't see it.

[2019-03-10 04:23] shelchang commented on #285
In a lot of sports which do age divisions, competitor age is determined by birth year. I.e. in 2019, a competitor born in 2000 would be considered 19 years old, regardless of whether s/he was born on January 1 or December 31 in that year. Making competitor age data by birthyear public would not be disclosing personal info.

When large competitions are looking for corporate sponsors, these sponsors

[2019-03-11 10:43] EdHollingdale opened #3987 "Competitors Page does not update when new event is added by Psych Sheet does"
**Describe the bug**
When an organiser/delegate adds an event to someone's registration, the Competitors page does not update to have the little picture of that event next to their name. However when looking at the psych sheet for that event it is shown, and it is also shown when (as an organiser/delegate) you look at their registration or on the main registrations edit page when you click "show e

[2019-03-12 02:01] jfly commented on #3987
This sounds likely to be a caching issue. I imagine the problem eventually goes away. See https://github.com/thewca/worldcubeassociation.org/blob/00b66534978cd467eff5c0ecef0e12971deb2bcf/WcaOnRails/app/views/registrations/index.html.erb#L4-L9

Maybe when you update a registration from the `<compname>/edit/registrations` page, the registration's `updated_at` doesn't change?

[2019-03-12 23:43] Jambrose777 commented on #3970
If you set results_posted_at to null on staging it will display this message, but not have result tabs.

[2019-03-13 14:19] lgarron opened #3991 "/.well-known/change-password"
**Is your feature request related to a problem? Please describe.**
There is a standard for apps aware of credential management, specifically for asking a site to send you to the place to change the current user's password: https://wicg.github.io/change-password-url/index.html

**Describe the solution you'd like**
Redirect `/.well-known/change-password` to [`/profile/edit?section=password
`](https:

[2019-03-15 00:06] lgarron opened #3994 "Secure Cookies."
We have preloaded HSTS, but it would be best to set the secure cookie flag.

(Even better would be to adopt the `__Secure-` cookie flag in addition to that.)

[2019-03-15 14:24] EvilGnome6 commented on #114
CubingUSA used to have such a feature (although it never seemed to work). They have optional fields for City/State you can add to your profile. The feature used a selectable range (100 miles, 500 miles, etc.) to receive notifications of new competitions.

I think adding something like this would be worth the effort. I would love to go to some competitions in neighboring States where I'm not the de

[2019-03-16 05:40] EvilPotato1216 commented on #114
Yeah, looking back at this more than a year later, I think this could be in the profile edit area. Users could select a km radius or a specific delegate to be notified of their competitions. Whole new avenue of features for this one.

[2019-03-18 12:23] viroulep opened #4000 "Upload results: right to left names messed up in warning messages"
**Describe the bug**
In the email sent to the WRT when posting results (and maybe on the "upload results" page of a competition), names containing right to left characters are not displayed properly.

**To Reproduce**

The issue was detected when posting results for Alborz Green Cup 2019, as the results contains sensitive information the WST person working on it should contact either the WRT or me

[2019-03-18 20:26] jfly commented on #4000
Potentially helpful page https://www.jflei.com/temp/text-direction-test/. Relevant issue: https://github.com/thewca/worldcubeassociation.org/issues/1116.

[2019-03-19 17:28] jfly opened #4002 "Create and automate regional groups on GSuite"
(Breaking this out from my email thread with the Board titled "Re: Moving the regional groups to GSuite")

We'd like the website to manage mailing lists for delegate "teams" aka "delegate regions". This introduces some trickiness: we don't have a very firm data model for representing "delegate regions" (see [Delegate geographic information](https://docs.google.com/document/d/1a9IyCxwGehc4uUnPSi78W

[2019-03-24 22:10] viroulep opened #4006 "Properly test the CompetitionResultsValidator"
We need tests for every single error and warning that can be triggered by the `CompetitionResultsValidator`.
I'm not quite sure yet how to approach that; we need to create a lot of fake and different competition results.

The first step could probably be to create a `Result` factory that takes care of creating the appropriate results and persons attached to them for a given competition.

[2019-03-26 02:50] UnsolvedCypher commented on #3934
Not to take away from this issue, but @EdHollingdale you can enter the email address on the "Manage Users" page and it will bring up their account and name, making it much easier to find the person's registration. This solution still isn't perfect since we have no way to know what competition they're talking about, but if you can narrow it down to a few you can usually figure it out.

[2019-03-26 03:00] UnsolvedCypher commented on #1983
Is everyone happy with the changes in #3715, or would people still like something more added for championships?

[2019-03-26 08:10] viroulep commented on #1983
I think the PR has very much addressed this issue :)

[2019-03-26 08:10] #1983 closed

[2019-03-26 11:51] EdHollingdale commented on #3934
That is a good point that works for me @UnsolvedCypher but it would not work for people who are not delegates (e.g. organisers).

[2019-03-27 11:32] Logiqx opened #4022 "Background refresh of rankings"
The refresh process appears to be run directly on the live rankings table(s), leading to people seeing incomplete profiles for a short period of time.

This behaviour has recently been reported in Cyoubyx's friends:
https://www.facebook.com/groups/cyoubxfriends/permalink/2731447653548337/

Suggestion: The rankings could be build into a different table name which is renamed at the end of the proces

[2019-03-28 11:52] Mollerz commented on #123
I have heard this requested a lot and think it is still worthwhile to do. But it's more polish-fun so it's low priority. I'd be interested in seeing PRs highlighted orange on the by-person page just the same as on user pages.

[2019-03-30 02:27] EdHollingdale commented on #4002
What exactly would these regional groups be used for? They're certainly a nice thing to have, but I can't think of an email that I would have sent or received where it going to all Oceania Delegates would have been necessary. I don't see the reason for having a hundred GSuite groups if nearly all of them are unused. These groups would only be useful if we also changed standard practice for certain

[2019-03-30 06:58] LinusFresz commented on #4002
One example is the use of these groups for organising multi-location
competitions. It's much easier so write to one European Delegate group (or
3 if we would use Western, Eastern and Northern European groups) instead of
collection mail addresses of 50+ delegates.

EdHollingdale <notifications@github.com> schrieb am Sa., 30. März 2019,
03:27:

[2019-03-31 12:56] EdHollingdale commented on #4002
@LinusFresz that is a very good point that I hadn't considered! I would still see the region lists as things that are used infrequently but they could be useful in a few cases.

[2019-04-01 19:09] jfly opened #4039 "Enable cron on staging server"
A cron job on our staging server just clobbered our gsuite google groups with email addresses from staging. I've disabled cron on the staging server, but we should change things so that the staging server doesn't even have the secrets needed to talk to gsuite.

[2019-04-01 19:52] viroulep commented on #4039
wow that's scary!
any idea why that occur?
We've been running that for months and got no issue at all.

[2019-04-03 06:29] jfly commented on #4039
I think this has actually always been an issue, but we weren't running into it because cron was disabled on our staging server. I'm not sure why cron was disabled on staging, but I recently re-enabled it to make sure we keep refreshing our let's encrypt certificate.

[2019-04-04 01:54] #3994 closed

[2019-04-05 17:14] ligio90 commented on #3934
I'm going to work on this

[2019-04-05 20:16] ligio90 commented on #3970
i will work on this.

[2019-04-08 17:09] LukasBatema commented on #3991
I will try if that’s okay, it might be a little though

[2019-04-14 22:14] jfly commented on #761
The php results page is eventually going away, and I haven't heard complains about this from other members of the results team recently, so I think this ok to close. If it proves to be a problem before we revamp the php page, we can revisit this.

[2019-04-14 22:14] #761 closed

[2019-04-14 22:16] jfly commented on #61
I think we can close this. @viroulep has done some work to detect strange results already. See https://github.com/thewca/worldcubeassociation.org/pull/4005/

@viroulep, please feel free to reopen this issue or create a new issue if there's more work to be done here!

[2019-04-14 22:16] #61 closed

[2019-04-15 01:10] jfly commented on #4022
Thanks for the report, @Logiqx! This is definitely not ideal behavior, but it's also not something we've prioritized working on.

Another way of getting a consistent view of data in mysql is to take advantage of doing everything in a transaction. I'm not familiar enough with the results upload process to say if that's something we could actually leverage here.

[2019-04-15 01:12] jfly commented on #3954
Related #1028

[2019-04-15 09:30] Logiqx commented on #4022
That's a very good point Jeremy since the RanksSingle and RanksAverage tables are pretty small in the grans scheme of things.

I decided to have a look at the Ruby code and since it is a straightforward change, I've submitted a pull request so that someone can review it and possibly implement in the near future.

Hopefully my change works as expected, I'm an experienced application and database de

[2019-04-15 09:39] Logiqx commented on #4022
I see that you have CI set up for the WCA.org project. Very nice!

https://travis-ci.org/thewca/worldcubeassociation.org/builds/520199761?utm_source=github_status&utm_medium=notification

[2019-04-15 09:51] Logiqx commented on #4022
As an aside, I checked the rest of the project and this was the only instance of "TRUNCATE TABLE".

It is therefore my belief that similar problems do not exist elsewhere in the code.

[2019-04-16 08:26] viroulep commented on #3254
Note to anyone fixing this: you should get rid of the `FIXME` introduced by #4065 as it exists because of this issue.

[2019-04-17 01:35] jfly commented on #925
@Mjic99 and I are pairing on this right now.

[2019-04-17 01:46] jfly commented on #925
Nevermind! Since filing this issue we completely rewrote the events page in react, and we don't have a good way to display errors/warnings from the backend.

[2019-04-17 01:52] jfly commented on #3658
@Mjic99 and I are pairing on this right now.

[2019-04-17 19:17] jfly commented on #680
Can we just change the motions? This alone doesn't feel like a compelling reason to invest the engineering effort.

[2019-04-18 17:10] jfly opened #4069 "Make it possible to query users by email address"
(Pulled out from https://github.com/thewca/worldcubeassociation.org/issues/3759#issuecomment-456993520)

Right now, the "find a user" flow isn't great with some names. @Jambrose777 describing an issue he ran into:

[2019-04-20 02:05] EdHollingdale commented on #925
I'm not sure how important this is anyway. If people have registered for the event then that means the competition is announced and locked for editing. The only people who will be removing events will be WCAT members when specifically asked by the delegate, and I'd assume they'd do due diligence to check how many people were registered, if any.

[2019-04-20 02:18] Jambrose777 commented on #925
I can concur, removing an even is not something wcat will do without careful consideration.

The other team that can remove events is wrt, which at that point the registrations don’t matter anymore.

[2019-04-20 16:27] jfly commented on #925
Sounds good! Closing this issue.

[2019-04-20 16:27] #925 closed

[2019-04-20 16:32] #995 closed

[2019-04-20 16:39] #3658 closed

[2019-04-21 12:12] jonatanklosko commented on #3802
Fixed in #4072.

[2019-04-21 12:12] #3802 closed

[2019-04-22 04:40] EdHollingdale commented on #941
Without meaning to be a pain I'll just keep bumping this every now and then so it is clear where in a list of priorities this should sit, hopefully quite high!

I got bored during an FMC attempt I wasn't competing in so I did some calculations. Speedcubing Australia has a centralised mailing list for all competitions. During the month of March we had 73 event change requests through the mailing li

[2019-04-23 08:55] Mollerz commented on #3797
This could also drop a couple of notifications to you for when a competition is say a few days from opening, and another one (and potentially an email?) for when there is only an hour left before registration opens.

As we are well aware, some competitions fill up in only a couple of hours, if not a few minutes in some very rare cases. Having these notifications could be very useful to avoid missi

[2019-04-23 10:08] Mollerz commented on #3619
I've been discussing this recently with delegates from the UK and we would really appreciate the events list being cloned. We use a template competition that has lots of information in tabs, and we generally use the same cutoffs and time limits from competition to competition (although there are some small variations on this). It's far easier to remove an event/round than to add it, and add all th

[2019-04-23 18:21] campos20 opened #4081 "Schedule fix"
There are some things I think we should change on the schedule.

Nit first:
- We should save calendar's settings for a user or make the calendar view fit to the earlier event.

Actual bug.
_We can put events outside the competition range:_
- Set calendar start to 0 h
- Drag an event to the first day, 0h
- Slide this event further up and save,

Similar thing happens if we make an event last long an

[2019-04-26 07:21] #4039 closed

[2019-04-28 17:29] viroulep commented on #4081
Currently it is the expected behavior, as we check the activity time with regarding to the beginning/ending of the competition in the farmost timezones.
See [here](https://github.com/thewca/worldcubeassociation.org/blob/abf64d262a76acc287dd28e3455b142f60d84fd0/WcaOnRails/app/models/schedule_activity.rb#L23-L34) for where the check is performed, and [here](https://github.com/thewca/worldcubeassocia

[2019-04-28 22:57] jfly commented on #4069
@Mjic99 is going to look into this.

[2019-04-28 22:58] jfly commented on #3759
There's a ton of stuff in here, but @Mjic99 will start looking into it after https://github.com/thewca/worldcubeassociation.org/issues/4069.

[2019-04-30 12:41] EdHollingdale commented on #3721
Where is this currently sitting? The new regulations come into force tomorrow - I assume this would entail a non-trivial amount of work on the website end and in the results database. There have been some people who are under the assumption of "my record will be recognised in X hours" or similar.

[2019-04-30 18:04] #3938 closed

[2019-05-01 07:27] lgarron commented on #3721
Okay, as of #4105:

- [ ] `Check results` knows about means.
- [ ] `Compute auxiliary data` computes means.
- [ ] Averages show inline with results in profiles
  - [ ] PR averages are shown in orange

<img width="944" alt="Screen Shot 2019-05-01 at 00 19 41" src="https://user-images.githubusercontent.com/248078/57008775-4a31d100-6ba7-11e9-8bbc-f06b3a248991.png">

TODO:

- [ ] Regional record means

[2019-05-01 07:37] lgarron commented on #3721
Here we are:

<img width="789" alt="Screen Shot 2019-05-01 at 00 35 27" src="https://user-images.githubusercontent.com/248078/57009038-0c35ac80-6ba9-11e9-8e04-d137675993de.png">

I've accepted all regional records as recommended by the [record check](https://www.worldcubeassociation.org/results/admin/check_regional_record_markers.php?eventId=444bf&competitionId=&show=Show). There is only one check

[2019-05-01 07:54] lgarron commented on #3721
Okay, I think everything I know about is covered. If there are follow-up issues, let's file new issues.

[2019-05-01 07:54] #3721 closed

[2019-05-01 07:59] lgarron opened #4106 "Remove "Missing Averages" page"
Now that we have big cube BLD means, https://www.worldcubeassociation.org/results/misc/missing_averages/ is obsolete.
(It also covers "2-means", but I don't think those are worth keeping around on the official site.)

[2019-05-01 09:51] lgarron opened #4107 "Add 444bf/555bf to `Sum of all average ranks` stat"
https://www.worldcubeassociation.org/results/statistics.php#sum_ranks_average

This might happen automatically; not sure.

[2019-05-01 10:04] lgarron commented on #4107
Ran the statistics script manually, and it's been updated!

[2019-05-01 10:04] #4107 closed

[2019-05-02 00:53] cubewhiz commented on #3885
In particular, it would be useful for WCAT to know if a Delegate is on probation when the Delegate confirms a competition. Perhaps a quick fix is to add some sort of checkbox on the Delegate's user page which, if checked, would add a bold red line in auto generated email when that Delegate confirms a competition that the WCAT should check the probationary terms before proceeding.

[2019-05-04 11:25] EdHollingdale opened #4116 "Remove "the" in front of competition name"
Currently when a competition is announced or results are posted the english language versions of the posts have a "the" before the competition name. E.g. "The Guildford Open 2020 will take place on January 18 - 19, 2020 in Guildford, Surrey, United Kingdom" or "Jayden McNeill won the Warm Up Sydney 2018 with an average of 7.53 seconds".

The names of competitions do not require a "the" in front of

[2019-05-04 14:02] pedrosino commented on #4116
I agree with you, it looks a little weird.

@SAuroux @sam596 @Baiqiang @Jambrose777 @danieljames-dj

[2019-05-04 23:01] sam596 commented on #4116
I've always thought that too. It works when it's an "xxx Open" or "xxx Championship" but not in many other cases.

[2019-05-05 02:18] Jambrose777 commented on #4116
The first the in each announcement is incorrect,
The second one in the competition announcement is correct as it is for the website.

[2019-05-05 03:30] Jambrose777 opened #4117 "Allow Searching Competitions by Past Delegates"
https://www.worldcubeassociation.org/competitions?utf8=%E2%9C%93&region=all&search=&year=all+years&state=past&from_date=&to_date=&delegate=5569&display=admin

You can technically do this by modifying the URL delegate's user_id. However it would be nice to be able to search for them in the search box.

[2019-05-05 03:32] Jambrose777 opened #4118 "View Competitions By Delegate Clears Randomly"
On the competition page: https://www.worldcubeassociation.org/competitions?utf8=%E2%9C%93&region=all&search=&year=all+years&state=past&from_date=&to_date=&delegate=5569&display=admin

you can search for a different delegate (which changes the url), however if you go to a different application on your computer and return to the page, the competitions will be all competitions instead of just the del

[2019-05-05 13:46] EdHollingdale opened #4120 "Database .tsv export cuts wcaDelegate string length to 1024 characters"
**Describe the bug**
In the .tsv export of the database the length of the wcaDelegate field in the Competitions table is limited to 1024 characters.

**To Reproduce**
Look at the wcaDelegate field in the Competitions table of the .tsv database export for any of the big FMC comps: "FMCAmericas2017", "FMCAmericas2018", "FMCAsia2017", "FMCAsia2018", "FMCEurope2015", "FMCEurope2016", "FMCEurope2017",

[2019-05-05 15:42] #4002 closed

[2019-05-05 18:35] AlbertoPdRF commented on #449
I've been searching and I've found this: https://api.slack.com/scim The bad news is that we can't use this because it requires at least Slack's Plus Plan, while we only have the Standard Plan.

[2019-05-06 16:47] AlbertoPdRF commented on #680
We could change the Motions indeed, but I still think that what we should aim for is to have the real dates on our database instead of changing the Motions due to a current software restriction.

We have also talked about storing these Delegate status changes dates on our database for historical reasons, and I honestly think that for these historical reasons alone this change is worth it.

Apart f

[2019-05-07 11:46] Mollerz commented on #4116
Agreed this is just incorrect use of English in both cases in OP. In the announcements where it says "the [competition] website" is correct as @Jambrose777 mentioned as one is referring to the website as opposed to the competition.

With the current naming conventions both iterations of "the" as the examples are incorrect and should just be removed.

[2019-05-07 12:00] Mollerz commented on #4120
Finance use the full delegates list so this is necessary for our work and not just misc stat requests.

[2019-05-08 17:38] maconard opened #4130 "5x5 average rankings is a blank page for certain settings"
**Describe the bug**
Going to the rankings page on the WCA website and selecting 5x5x5, "World", "All regions", and "100 persons" returns a blank page (only the WCA header). Oddly enough, any other selection of settings works (i.e. single, other puzzles, other regions, top 1000 and all, etc).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.worldcubeassociation.org/results/e

[2019-05-09 14:14] maconard commented on #4130
I confirmed this bug with 4 people yesterday over a several hour window, but it seems to be resolved now.

[2019-05-09 14:15] #4130 closed

[2019-05-09 21:35] pedrosino opened #4131 "Add permissions for WEC"
From Ethan Pride via email:

1: Have the ability to view Delegate reports on the website
2: Have the ability to see the registration lists for competitions using the wca registration system as well as payment status

The first one is easy: [can_view_delegate_report?](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/app/models/user.rb#L654)

As for second one, I'm not sure.

[2019-05-09 21:36] pedrosino commented on #4131
@jfly @jonatanklosko I'm leaning towards can_manage_competition?

What do you think?

[2019-05-09 22:25] jonatanklosko commented on #4131
Ideally we'd have a read-only competition mode and allow only that, but I imagine it would require a lot of changes, so `can_manage_competition?` sounds fine to me for now. @jfly?

[2019-05-10 05:15] lgarron opened #4132 "Update mentions of "incidents list" to "Incidents Log""
https://github.com/thewca/worldcubeassociation.org/search?q=%22incidents+list%22&unscoped_q=%22incidents+list%22

[2019-05-14 20:34] Jambrose777 commented on #3885
I'd like to work on this! I'll ping slack when I have any questions.

[2019-05-15 01:21] Jambrose777 opened #4143 "Modify Competition Confirmation Email per WCAT and Seniors"
Modify Competition Confirmation Email according to research on from WCAT/Seniors/Board.

WCA accounts only: https://docs.google.com/document/d/1IQmVTRkjfAktzvw53OBer0fRam7MOwGSr3ze-aMiCaw/edit?usp=sharing

I'm going to work on this along with #3885.

After research this is the email we came up with:

![image](https://user-images.githubusercontent.com/11577241/57807993-71a0a600-7730-11e9-97c9-aa72c

[2019-05-15 03:14] Jambrose777 commented on #3885
- [ ] implement Delegates on probation as a hidden team.
- [ ] Let Seniors modify the probation team.
- [ ] When a competition submitted by a Delegate on probation, inform WCAT of the probationary status.
- [ ] When adding a Delegate to the probation team, send an email to WQAC, Senior, Delegate, and Board
- [ ] Add table for extra fields: End Terms, Restrictions, Reason

[2019-05-16 01:42] Jambrose777 opened #4146 "[Bug] Nearby Competitions use only the start date"
Nearby competitions uses only the start_date to calculate if there is a proximity collision.
This is a bit misleading since if I have 2 competitions:
- CompA on May 1st to May 3rd
- CompB on May 20th.

It will not show in red even though this would be in violation of the proximity policy

[2019-05-16 16:04] jsaraiva commented on #3206
Just found this, navigating from the Ruby Money issue.

Even though this issue is not recent, a small note:
"This kind of made me laugh, as in all the countries using euro but 3 we display the sign after, yet the standard decided display it before..."

The "sign before" is not _the standard_. You saw that text, with the "sign after" exception, because you were looking at the English version of the

[2019-05-17 11:54] dsoegijono opened #4147 "[Local] Mysql2 error on opening /competitions tab"
**Describe the bug**
I've just set up the project locally, and ran into an issue opening the `/competitions` tab. Seems to be a SQL syntax error on `Event.official` scope:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/competitions

**Expected behavior**
Show list of competitions.

**Screenshots**
![Screen Shot 2019-05-17 at 9 48 10 pm](https://user-images.github

[2019-05-20 23:17] dsoegijono opened #4158 "My Competitions and My Results under User"
**Is your feature request related to a problem? Please describe.**
I always instinctively go to user navigation to find my competitions or results. Even though they make sense where they currently are, I think it's a more common pattern to have user specific information under user nav.

**Describe the solution you'd like**
Add "My Competitions" and "My Results" links under User nav.

[2019-05-20 23:33] dsoegijono commented on #1801
FYI, this is because Stripe is only asking for zip code for countries that requires it. So it will show up if user inputs US credit card number, but not for AU credit card number.

Is this issue still open? I have experience with Stripe connect, wonder if I can help in any way?

[2019-05-21 09:24] EdHollingdale commented on #4158
I agree that My Results could go in the user navigation. However I am very used to My Competitions being exactly where it is - I visit it ~20 times per day to do registration checks for multiple competitions, and I don't like change 😛 At least in my head it being under competitions makes sense, but that it more because I approach them "Competitions that I am managing" rather than "competitions tha

[2019-05-21 10:30] dsoegijono commented on #4158
That makes sense! I definitely came from a competitor only, non-delegate point of view so I saw it as more user specific. One way we can get around this is maybe to *add* it to User nav instead of *move*, so both navs would have them. Not sure how everyone feels about duplicated navigations though.

[2019-05-23 18:29] viroulep commented on #3534
We're pair programming on this with @tussosedan!

[2019-05-23 22:21] #3534 closed

[2019-05-24 09:47] viroulep commented on #4147
Sorry for the delayed response.
It's very much unexpected, and most likely has something to do with your local setup :s
When visiting the competitions page I can see the same SQL query issued and succeeding:
[code]

As far as I know the production server (running Ubuntu) uses mysql 5.6.39:
[code]

Some other WST members and myself run Debian and use some version of MariaDB (10.1 for me).

This sim

[2019-05-24 12:14] dsoegijono commented on #4147
Getting the same error on console:
[code]

However, if I changed it to this it works:
[code]

[2019-05-24 12:28] viroulep commented on #4147
Ah I got it, 'rank' is a reserved keyword from 8.0 onward: [the doc](https://dev.mysql.com/doc/refman/8.0/en/keywords.html#keywords-8-0-detailed-R).

So
[code]
should work (because `rank` is quoted).

Definitely sounds like a rails issue!

I'll look into reporting that (actually I'll look into a potential easy fix before reporting).
But yeah so far your only option is to not use mysql 8 :s

[2019-05-24 12:37] viroulep commented on #4147
Never mind that's on us :)

Given it's an issue on our side, I wouldn't mind you staying on mysql 8, just in case you run into any more issues that would be blocking in case we update to mysql 8 some day!
(yes, it does mean that if something is wrong, you'll be the first impacted :s)

[2019-05-24 12:40] dsoegijono commented on #4147
👍 That's great! Saves me the trouble of downgrading ;) Definitely don't mind getting impacted by issues. Might finally learn mysql!

[2019-05-24 12:48] tussosedan commented on #4147
Ha, I was just going to post the same link to the new keywords, but @viroulep beat me to it by 10 minutes :) mysql error messages aren't that great.

[2019-05-24 12:56] #4132 closed

[2019-05-24 13:23] #4147 closed

[2019-05-29 01:39] cubewhiz commented on #4131
@jfly ?

[2019-05-29 02:04] timreyn commented on #3451
Hi!  I'd like to bump this up as we're now much more strict about going over competitor limits than we were a few months ago.  It's an easy mistake to admit too many competitors, and it's a very bad competitor experience to be admitted then declined from a competition.

@UnsolvedCypher do you think you can get your PR (or something like it) merged soon?

Thanks!

[2019-05-30 01:56] cubewhiz opened #4177 "Add link to Delegate Panel for Gear Orders"
There is a new Google Form to order equipment via the WMT. I'd like the link to this form to be added to the Delegates Panel.

Here is the link:
https://docs.google.com/forms/d/e/1FAIpQLSfyOMy9TtOIeIz7N8_4hPXNA6ScKVIzi11BmLWVx0-ovQnsWQ/viewform?usp=sf_link

Thanks.

[2019-05-30 03:16] cubewhiz commented on #4158
I think adding it makes sense. Some stuff is already duplicated (example: "New competition" is under the Competitions tab and the User nav.

[2019-05-30 03:19] cubewhiz commented on #4143
Is the "48 hours" warning exact? i.e., if the competition is submitted with only 2 hours remaining, will it say 48 hours or 2 hours?

[2019-05-30 03:23] Jambrose777 commented on #4143
It is not, changing to "There is less than 48 hours..." would be better.

[2019-05-30 03:30] cubewhiz commented on #4143
Ok. In that case, I'd recommend "There are less than 48 hours..."

[2019-05-30 08:25] #4177 closed

[2019-05-31 01:11] cubewhiz commented on #2073
While not as cool as a form integrated to the website, a Google Form can accomplish this quite easily. It would be pretty secure, too, if you restricted access to @worldcubeassociation.org addresses and required users to be signed in.

[2019-05-31 17:40] AlbertoPdRF commented on #4069
This issue got fixed on #4069, so I'm closing it!

[2019-05-31 17:40] #4069 closed

[2019-06-02 00:10] jonatanklosko opened #4181 "Automatic post unsticking"

[2019-06-02 06:47] Logiqx commented on #4022
Since my PR has been merged into master, I believe this issue can be closed.

[2019-06-02 06:47] #4022 closed

[2019-06-02 11:10] #4181 closed

[2019-06-03 02:44] cubewhiz opened #4185 "Create Regional Delegates and give them permissions"
The recent passage of the amendments to the Motions creates the role of Regional Delegate.

This role should be created within the Delegate organization and nested below their supervising Senior Delegate, with the ability to then nest subordinate Delegates below them.

Regional Delegates should be automatically included in cc involving subordinate Delegates that would normally go to the Senior Del

[2019-06-03 15:57] #4116 closed

[2019-06-03 16:00] Jambrose777 commented on #4116
Ya I/WRT can work on fixing this soon.

[2019-06-04 23:46] Jambrose777 opened #4194 "Add incorrect claim counter reset to edit person"
Add a button (or similar) to reset the incorrect claims counter for a person on the admin edit persons page.

https://www.worldcubeassociation.org/admin/edit_person

[2019-06-07 15:08] Mollerz opened #4199 "Dues Implementation"
The Dues Policy has been in place for over a year now and has got to a place where it is reasonably well automated. However it is still completely separate from the WCA website. In the short term we would like some form of lite integration with the website, so that delegates can see Dues within the WCA website, and be taken to external pages to pay, etc. In the long term our goal is to have invoic

[2019-06-09 21:10] UnderwaterCuber opened #4200 "[WCAT] emailing organizers in addition to delegates"
Currently if there is a problem with a competition and WCAT cannot accept it they email only the delegate(s) of the competition being organized, the organizers aren’t notified until the delegate tells them. It would be nice to include organizers in the emails to open up communication more and to stop having to have everything go through the delegate to communicate.

[2019-06-09 21:23] Jambrose777 commented on #4200
WCAT does not approve this request.

Here are some reasons:
- Organizers are not wca staff. Having to explain the same thing over and over again to a delegate is already a pain, multiplying that to organizers (who many of which don’t speak English) would greatly impact the amount of work we have to do. WCAT is there to educate delegates and the Delegates educate organizers. It makes a simple line

[2019-06-09 21:51] #4200 closed

[2019-06-10 02:18] Jambrose777 opened #4201 "Edit Confirmed Competition, modify fields that Delegates shouldn't be able to"
If you force the edit view to allow a Delegate to edit a confirmed competition, they can modify items like the start and end date of the registration period. This is also an issue in the tests.

[2019-06-10 02:21] Jambrose777 commented on #4201
I'll add this to the probation PR: https://github.com/thewca/worldcubeassociation.org/pull/4144

[2019-06-10 22:22] Jambrose777 commented on #4201
Working on this now.

[2019-06-10 22:38] Jambrose777 commented on #4201
I can't figure out what the difference is in some fields versus others.

Basically to reproduce, inspect the page, remove the disabled attribute on the fieldset, and edit a field and click submit.

when updating items like the start_date, or cellName, the update doesn't actually happen despite the POST being made and getting a success. But for other fields like the registration dates, the change i

[2019-06-11 17:00] AlbertoPdRF commented on #4131
@pedrosino please proceed with `can_view_delegate_report?` and `can_manage_competition?` for now, as we are blocking WEC's work.

Also, I think we should also open an issue to keep track of @jonatanklosko's comment:

[2019-06-12 00:59] Jambrose777 opened #4217 "Refactor z1 and z3"
Z1 and Z3 no longer exist as regulations.

These should be refactored:
- regulation_z1 -> early_puzzle_submission
- regulation_z1_reason -> early_puzzle_submission_reason
- regulation_z3 -> qualification_times
- regulation_z3_reason -> qualification_times_reason

or something similar. These names are just suggestions.

[2019-06-13 11:07] jonatanklosko opened #4219 "Read-only competition mode"
Some teams need access to hidden competition/registrants information (e.g. #4131), but they don't need the power to change any of that information. A solution to this would be having a permission to view all the restricted pages without the ability to edit anything (e.g. the registrations page).

[2019-06-13 12:10] #4131 closed

[2019-06-14 14:14] cubewhiz opened #4221 "Add "TM" notation to written documentation"
We have filed an application with the USPTO to register our mark (both name "World Cube Association" and our logo). Our lawyer has advised us to use the "TM" notation at least once in each written document in which the mark is used.

[2019-06-16 17:50] Jambrose777 opened #4222 "Delegate Table Overhaul"
This is an epic that relates to issues #1931, #2185, #4185, and possibly more.

The goal is to split up the massive work it will take to refactor our usage of Delegates into their own tables.

--------------------------------------------------------------

Planned PR list:

1. Create the tables needed for Delegates (listed below).
2. Create a modify Delegates page (similar to edit teams) this will

[2019-06-16 22:08] EdHollingdale commented on #4222
It will be good to have delegates reflected in the database how we think about delegates! But I assume completing this will be a lot of work. A few points:

- For delegates in multiple regions (e.g. Philippe) how would this be handled in your structure (you mention it is possible, and seeing it as an example would help understand how the tables are structured).
- How would you handle changing regi

[2019-06-16 22:34] Jambrose777 commented on #4222
1.

2.

3. Maybe that’s a field that we keep i

[2019-06-17 00:48] Jambrose777 commented on #4222
Hey Ed,

1. Phillippe's entries would look like this in the delegates table:

|id|user_id|region_id|subregion_id|is_candidate|is_full_delegate|is_region_lead|is_senior|start_date|end_date|created_at|updated_at
|--|--|--|--|--|--|--|--|--|--|--|--|
|1|277|France|null|false|true|false|false|2012-02-19|null|2019-06-16|2019-06-16
|2|277|France|null|true|false|false|false|2011-02-19|2012-02-19|2019-06-

[2019-06-18 20:27] #4194 closed

[2019-06-21 00:24] pedrosino opened #4234 "Error message about suspicious DNF should be gender neutral"
**Describe the bug**
From Kit Clement:

**To Reproduce**
When submitting results and there's a cumulative limit.

**Expected behavior**
We should use a gender neutral pronoum.

[2019-06-21 00:26] pedrosino opened #4235 "Update text on results post (when there's no main event)"
**Describe the bug**
From Evan/WRT:

**To Reproduce**
When posting results for a competition which has no main event.

**Expected behavior**
Remove the word "the" before the competition name, as we did at #4129

[2019-06-21 13:42] #4235 closed

[2019-06-21 13:42] #4234 closed

[2019-06-23 19:10] pedrosino commented on #4222
One thing that I saw on first glance.
It doesn't make sense to have 2 fields that are mutually exclusive. It works better to have a delegate_status column with either 'c' or 'f' meaning candidate and full, respectively.

From my old notes, I thought of recording promotion/demotion date. I see you plan on having multiple entries for the different delegate status. Not sure if that's the best idea, b

[2019-06-23 19:14] pedrosino commented on #4222
Another thing: You propose is_senior and is_region_lead in the delegate table, but perhaps it would be better to have a separate table for this, something like

seniors
id, delegate_id, region_id, start_date, end_date

region_leads
id, delegate_id, region_id, start_date, end_date

[2019-06-23 22:40] Jambrose777 commented on #4222
Hey Pedro,

These tables mimic how we track dates and statuses in the teams tables. We don’t have separate tables per team / per position type, so I don’t think it’d make sense to do so here.

[2019-06-23 22:48] Jambrose777 commented on #4222
@EdHollingdale I think one solution to old regions combining would be to list out the old regions and the new regions. So for the US there would be 3 regions listed:
USA East & Canada, USA West, USA & Canada. Then I would have another date change in my history for switch from the old region to the new region.

This still creates a little issue if a single country changed regions, so that would be

[2019-06-24 13:54] pedrosino commented on #4222
I still think it would make sense to track seniors and leads separately, if only to know when their terms began/ended.

We could also think about storing this information for other teams.

[2019-06-24 14:15] Jambrose777 commented on #4222
We do store these dates for the other teams as well in the manner described above.

If you look at the example in my first post at the very bottom you can see the date for me becoming a region lead is stored.

[2019-06-24 14:36] pedrosino commented on #4222
Right, but what I'm saying is that maybe it's not the best option to have several rows in the delegates table for this.

One thing is the person being a delegate. That has a specific start and end date, and a status related to promotion.
Other things are senior delegates, region leads or other roles we may have in the future. Separating those into more atomic tables/rows seems like a better plan r

[2019-06-24 18:49] SAuroux commented on #4222
I fully agree with this.

But going by the same (or at least similar) argument, I think that it makes more sense to stick with the one delegates table rather than having multiple tables for multiple roles. I also don't understand what extra filters you would need, as far as I see it you just need to query for the user_id.

[2019-06-25 12:43] pedrosino commented on #4222
It's not the same case, I believe.

It's true we currently have a single table for team_members, but maybe we could change that as well. For example, in the WRT, there are 3 leaders listed: Tim Reynolds, Lars Vandenbergh and Sébastien. The first 2 have start and end dates, but we can't know for sure if they were leaders during that entire span. Same is true for Sébastien, who has a start date but

[2019-06-25 15:21] Jambrose777 commented on #4222
@pedrosino I think you miunderstand the tables currently in place. They DO track this information.
Sébastien has a row for when he was just a team member. This has a start and end date. And a row for when he is the team leader, with just a start date. If he were to ever become a normal team member again his leader row will have an end date and another row is added without isleader being 1. So thes

[2019-06-28 09:06] Baiqiang opened #4257 "Past competition index crashes when registration close is not set"
**Describe the bug**
This page is crashed now: https://www.worldcubeassociation.org/competitions/AnkaraSummer2018.
The competition doesn't have registration_open and registration_close. But the `on_the_spot_registration` is enabled and `on_the_spot_entry_fee_lowest_denomination` is above zero. So it crashes.

**To Reproduce**
Go to https://www.worldcubeassociation.org/competitions/AnkaraSummer2018

[2019-07-01 03:46] Joon7891 opened #4258 "Redirect to user profile when clicking on avatar"
Add a personalized `href` to a person's user profile if they are logged in and have a linked WCA ID.

[2019-07-01 09:12] lgarron opened #4267 "Delegate reports: include a way to request WRC input"
Delegate reports often ask the WRC for input, but then the Delegate doesn't CC the WRC on the thread. As the WRC is currently down to 3 members (although I'm about to put out a call for new members), this makes it easy for something to slip through the cracks unless another Delegate notices.

From #483:

Middle ground could include (in order of preference):
- Split the incidents section into at le

[2019-07-01 16:04] lgarron opened #4268 "Hide (or relocate) post authors."
The WCT regularly makes posts like calls for team members on behalf of teams. Now that we have a new posting policy, most posts need to go through the WCT, which means that most posts (other than competition announcements) would be shown as "Announced by [WCT team member, usually the leader]". So showing the announcer for post would be quite low-information.

I'd like to propose one of the followi

[2019-07-01 22:56] pedrosino commented on #4268
But what is the purpose of this if wouldn't show on the website?

[2019-07-01 22:59] lgarron commented on #4268
There arguably isn't one!

(Note: the three options I've proposed are meant to be exclusive, not at the same time.)

[2019-07-01 23:04] pedrosino commented on #4268
Ah, I see. Personally I'm ok with the current way. Most communication is (supposed to be) done by the WCT, so it makes sense that they make the posts.

I'd like to see an improved homepage, though, with less posts and more cool info.

[2019-07-02 06:13] AlbertoPdRF commented on #3661
This has been handled in #4269.

[2019-07-02 06:13] #3661 closed

[2019-07-02 16:40] #3532 closed

[2019-07-02 16:40] #3934 closed

[2019-07-02 16:59] lgarron opened #4272 "Allow organizers to upload external registrations."
I recently visited https://www.worldcubeassociation.org/competitions/mine and had a bit of a scare when Worlds didn't show up there. I'd like to propose that we introduce the concept of an external registration:

- Initial simple version: allow organizers to upload a list of competitors regularly, and provide a link to look up your registration on another site.
- Semi-fancy version: include inform

[2019-07-02 17:15] AlbertoPdRF commented on #4272
Hmm, wasn't this taken care of in https://github.com/thewca/worldcubeassociation.org/pull/3726 and successive (related) PRs?

[2019-07-02 17:20] jonatanklosko commented on #4272
Was about to write the same ^^ At this point organizers are able to import registrations with all the events data and this in turn makes them visible on the registration list, as well as through WCIF. Imported registrations are linked to WCA users, so this should also cover the `/competitions/main` concern.

[2019-07-02 23:00] lgarron commented on #4272
Hmm, I wasn't aware that we were so featureful!
I'll see about asking the Worlds team.

[2019-07-02 23:00] #4272 closed

[2019-07-02 23:02] EdHollingdale commented on #4272
Just for clarification: for WC2019 we thought it could be confusing to competitors to upload registrations to the WCA website, since registration takes place on a different site and that site is the ultimate "source of truth" for registration data.

[2019-07-02 23:26] lgarron commented on #4272
Oh, I see. Would it help if the registration information linked to the other site in enough places?

[2019-07-03 14:44] LinusFresz commented on #3975
There was already an issue for this problem. Closing this in favor of https://github.com/thewca/worldcubeassociation.org/issues/1780!

[2019-07-03 14:44] #3975 closed

[2019-07-04 03:00] cubewhiz commented on #4222
Would it make sense, then, to extend this to all four types? Candidate, Full Delegate, Regional Delegate, and Senior Delegate?

[2019-07-04 03:44] Jambrose777 commented on #4222
I'm not positive with that since you can be all of Full Delegate, Regional Delegate and Senior Delegate for a region at the same time.

[2019-07-04 06:41] viroulep commented on #4222
Yes but it means that this Delegate would have 3 rows in the table, each with an eventually different start/end time, and 3 different statuses (Full/Regional/Senior).
All these statuses are completely independent, and most of the time the start/end time for all these position will be different.

So I don't see the benefit of having 4 different boolean columns when the use case "choose one and only

[2019-07-04 07:00] Jambrose777 commented on #4222
Hmm, so like:

Delegate | status | start_date | end_date
Kit | Candidate Delegate | 2015-01-01 | 2016-01-01
Kit | Full Delegate | 2016-01-02 | null
Kit | Senior Delegate | 2017-01-01 | null
Kit | Region Lead | 2018-06-01 | 2019-01-01

I agree that that would make it cleaner to determine the Delegates individual roles and their history. So I'll fix that in the original post post-worlds :)

[2019-07-05 15:27] #3864 closed

[2019-07-07 20:09] AlbertoPdRF commented on #4217
Nit: `times`->`results`.

[2019-07-09 16:01] AlbertoPdRF commented on #112
With Active Storage set up, we could now allow organizers to add an official logo for a competition pretty easily, thus accomplishing two things:

1. The logos will be hosted by us, so they won't eventually break.
2. We can standardize how images are displayed.

I will label this as a good first issue!

[2019-07-09 16:11] AlbertoPdRF commented on #191
@lgarron could you reply to Bob's question?

[2019-07-09 16:19] AlbertoPdRF commented on #225
Actually, what's the plan with the Workbook Assistant? I mean, on a world with WCA Live in place it doesn't really make sense to still use something like it, right? Should the checks that the Work Assistant performs be added to the work @viroulep is doing as a part of https://github.com/thewca/worldcubeassociation.org/projects/4?

[2019-07-09 16:24] AlbertoPdRF commented on #263
As there wasn't a consensus 4 years ago and it doesn't seem like this has raised too much interest, I'm closing it!

[2019-07-09 16:24] #263 closed

[2019-07-09 16:28] AlbertoPdRF commented on #273
I'm closing this one in favor of #21.

[2019-07-09 16:28] #273 closed

[2019-07-09 16:32] AlbertoPdRF commented on #276
It would be nice to be consistent all over the website, so I agree with this. As it should be quite easy to do, I'm labeling it as a good first issue.

[2019-07-09 17:00] AlbertoPdRF commented on #384
I don't really see a problem here. I'm closing this one, although feel free to re-open it if you think it's something we should really handle.

[2019-07-09 17:00] #384 closed

[2019-07-09 17:28] AlbertoPdRF commented on #720
Based on @viroulep's last comment, I'm labeling this one as a good first issue.

We would still have the problem of Delegates submitting the Delegate Report before they upload the results though. However, to not allow this to happen, we should ask for others' opinions!

[2019-07-09 17:47] AlbertoPdRF commented on #721
@cubewhiz: I think the contact form isn't good enough in order to remove the contact field because of this:

Also, as the `competition_organizers` table has now 6000+ rows, maybe we should re-consider adding support for the search originally suggested?

[2019-07-09 19:56] AlbertoPdRF commented on #833
This one seems to me like a duplicate of #550, so I'm closing it!

[2019-07-09 19:56] #833 closed

[2019-07-09 19:58] AlbertoPdRF commented on #826
Is this still relevant? I'm closing it for now, but feel free to re-open it if necessary!

[2019-07-09 19:58] #826 closed

[2019-07-09 20:14] AlbertoPdRF commented on #1028
I'm closing this one in favor of #3954, which is more generic.

[2019-07-09 20:14] #1028 closed

[2019-07-09 20:26] AlbertoPdRF commented on #1037
Should this check also be added to https://github.com/thewca/worldcubeassociation.org/projects/4?

[2019-07-09 20:30] AlbertoPdRF commented on #1094
Should this issue also be added to https://github.com/thewca/worldcubeassociation.org/projects/4?

[2019-07-09 20:40] AlbertoPdRF commented on #1150
I've updated the title to reflect @lgarron's proposal. Apart from the link, I would also add a warning if the translation is not up to date.

By the way, I'm adding the good first issue label to this one!

[2019-07-09 20:50] AlbertoPdRF commented on #1223
I'll label this issue as a good second issue for now, although I wouldn't be opposed to close it as the system we have in place seems reasonable enough to me.

[2019-07-09 21:23] AlbertoPdRF commented on #1320
Maybe, after #4222 is handled, a good compromise for this issue would be to only show a list of all unannounced competitions in a Delegate's `subregion_id`?

[2019-07-09 21:28] EdHollingdale commented on #720
I think this is an important issue and is the reason I wait for results to be posted before submitting the report. The number of competitors provides a lot of context about the competition. I don't think it is unreasonable to have to submit results before submitting the report. After all, it could be during the results checking and submission process that new incidents are discovered.

[2019-07-09 21:40] AlbertoPdRF commented on #1716
Now that we do know the schedules and timezones of competitions, we could change those methods, no? I'm labeling this as a good second issue, although I'd like your confirmation @jfly.

[2019-07-09 21:56] AlbertoPdRF commented on #1848
Should this issue be added to https://github.com/thewca/worldcubeassociation.org/projects/4?

[2019-07-09 21:59] AlbertoPdRF commented on #1893
I'm labeling this issue as a good first issue!

[2019-07-09 22:09] AlbertoPdRF commented on #1931
I'm closing this one in favor of #4222.

[2019-07-09 22:09] #1931 closed

[2019-07-09 22:10] AlbertoPdRF commented on #2185
I'm closing this one in favor of #4222.

[2019-07-09 22:10] #2185 closed

[2019-07-09 22:10] AlbertoPdRF commented on #4185
I'm closing this one in favor of #4222.

[2019-07-09 22:10] #4185 closed

[2019-07-09 22:18] AlbertoPdRF commented on #2074
As this has already been fixed (as stated above,) I'm closing the issue!

[2019-07-09 22:18] #2074 closed

[2019-07-10 00:52] SAuroux commented on #1094
Yes, please. As @jfly already suggested, this could possibly be linked with https://github.com/thewca/worldcubeassociation.org/issues/2107.

[2019-07-10 07:06] AlbertoPdRF commented on #363
Update: the social media links introduced in #3577 don't show up! Maybe the title should be updated to something like "Design problems on Windows browser."

[2019-07-10 07:52] AlbertoPdRF commented on #2439
Related: #4222.

[2019-07-10 07:57] AlbertoPdRF commented on #2593
Is this issue still relevant? According to [this](https://github.com/thewca/worldcubeassociation.org/blob/master/WcaOnRails/lib/database_dumper.rb#L40) and unless I'm missing something, I believe all columns that you mentioned should be included on the export.

[2019-07-10 07:58] AlbertoPdRF commented on #2602
I believe this should be pretty simple to fix, so I'm labeling it as a good first issue!

[2019-07-10 08:03] AlbertoPdRF commented on #2915
I'll add this issue to https://github.com/thewca/worldcubeassociation.org/milestone/2 to make sure we handle it properly when porting this part of the code!

[2019-07-10 08:09] AlbertoPdRF commented on #3042
This is **tangentially** related to #4219.

[2019-07-10 08:11] AlbertoPdRF commented on #3759
Yet another addition:

- [ ] Read-only competition mode (#4219)

At this point, I think it would make the most sense to convert this issue into a project!

[2019-07-10 08:15] AlbertoPdRF commented on #3121
This sounds very reasonable to me! I'm labeling it as a good second issue.

[2019-07-10 08:18] EdHollingdale commented on #2593
It is not included in the .tsv export at least. The Competitions export does not have endYear. The only problem this causes is for Welcome to 2019 to the best of my knowledge. The TSV export contains:
id	name	cityName	countryId	information	year	month	day	endMonth	endDay	eventSpecs	wcaDelegate	organiser	venue	venueAddress	venueDetails	external_website	cellName	latitude	longitude

[2019-07-10 08:20] AlbertoPdRF commented on #3170
This should be a good first issue, right? I labeled it as such.

[2019-07-10 08:26] AlbertoPdRF commented on #3221
Probably easy enough to deserve the good first issue label!

[2019-07-10 08:39] AlbertoPdRF commented on #3493
I'm closing this one in favor of #4222.

[2019-07-10 08:39] #3493 closed

[2019-07-10 08:43] AlbertoPdRF commented on #3595
I'm labeling this as a good second issue.

[2019-07-10 08:46] AlbertoPdRF commented on #3606
This is probably a good second issue, so I'm labeling it as such.

[2019-07-10 08:55] AlbertoPdRF commented on #3633
From @jfly on #721:

One possible solution could be to let organizers add an alternative email address and use that one on the website contact form (if available) instead of the individual emails.

[2019-07-10 08:59] AlbertoPdRF commented on #3654
This is probably a good first issue, so I'm labeling it as such.

[2019-07-10 09:03] AlbertoPdRF commented on #3713
As even with the website redesign these announcements will still exist (although they won't be where they are now,) I think this is worth handling.

I'm labeling the issue as a good second issue.

[2019-07-10 09:05] AlbertoPdRF commented on #3752
Should this issue be added to https://github.com/thewca/worldcubeassociation.org/projects/4?

[2019-07-10 09:10] AlbertoPdRF commented on #3797
I've labeled this as a good second issue.

[2019-07-10 09:12] AlbertoPdRF commented on #3798
This is probably a good first issue, right? I will label it as such!

[2019-07-10 09:17] AlbertoPdRF commented on #3833
I'm labeling this as a good first issue.

[2019-07-10 09:20] AlbertoPdRF commented on #3852
I'm adding this to https://github.com/thewca/worldcubeassociation.org/projects/4.

[2019-07-10 09:25] AlbertoPdRF commented on #3865
Related: #3526.

[2019-07-10 09:35] AlbertoPdRF commented on #3871
I've added this to https://github.com/thewca/worldcubeassociation.org/projects/4 too.

[2019-07-10 09:43] AlbertoPdRF commented on #3970
I'm labeling this as a good first issue. By the way, do you still plan to work on this @ligio90? If yes, please assign yourself to the issue :)

[2019-07-10 09:50] AlbertoPdRF commented on #4081
Should this issue be closed, then, or is this something we want to change?

[2019-07-10 09:52] AlbertoPdRF commented on #4106
I'm adding this issue to https://github.com/thewca/worldcubeassociation.org/milestone/2 to make sure we don't forget to **not** port this :stuck_out_tongue:.

[2019-07-10 09:54] AlbertoPdRF commented on #4117
I guess we should think how to handle this after #4222 has been taken care of.

[2019-07-10 09:58] AlbertoPdRF commented on #4158
+1 to add it under User instead of just moving it. I'm labeling this one as a good first issue!

[2019-07-10 09:59] AlbertoPdRF commented on #4199
Given how huge this issue is, maybe we should split it into several smaller ones and have a dedicated project for them?

[2019-07-10 10:03] AlbertoPdRF commented on #4201
Probably this is a good second issue, so I'm labeling it as such. Feel free to remove the label if you think otherwise!

[2019-07-10 10:04] AlbertoPdRF commented on #4217
And this one should be a good second issue too!

[2019-07-10 10:12] AlbertoPdRF commented on #4257
Are there any more competitions with this issue? Would the best way to fix this bug be to manually edit the row(s) on the database so the corresponding pages don't crash?

[2019-07-10 10:16] AlbertoPdRF commented on #4258
Hey @Joon7891, thanks for reaching out to us!

In the future, we will appreciate it if you use the issue template for feature requests so it's easier for us to understand what you are exactly asking for. In particular, where would you exactly want this? Everywhere where we display users' avatars?

Regardless of where we put this, I think this would make it for a good first issue.

[2019-07-10 10:18] AlbertoPdRF commented on #4267
This would probably make it for a good second issue!

[2019-07-10 10:23] AlbertoPdRF commented on #4268
Regardless of the necessity of an improved homepage, which we will hopefully have soon, I would definitely go with option 3 regarding post authors. Maybe we could, instead of get rid of that sentence entirely, put it on a not-so-prominent spot?

The option described above should be easy enough for a good first issue, so I'll label it as such and update the title!

[2019-07-10 18:29] cubewhiz commented on #2439
An improved structure would be to allow Regional Delegates to enter the data, but still require Senior Delegate to submit the form.

The form structure for promotions is now different because we require a background check from some Committees/Teams first.

[2019-07-10 21:09] ligio90 commented on #3970
Yes I am buuuut since I am not in the wst i cannot assign myself any issues...

[2019-07-10 21:23] AlbertoPdRF commented on #3970
Ah, right, I just did! (Not without creating a bit of a mess first :stuck_out_tongue: )

[2019-07-10 21:25] Joon7891 commented on #4258
I was thinking just where the user's avatar is displayed in the top right corner, right next to the language drop down tab; if the user hovers over the avatar, the drop down menu for profile settings appears (which already implemented), whereas if the user clicks the avatar, they are redirected to their own WCA profile; if it exists.

[2019-07-10 23:50] ligio90 commented on #3970
Alright, thanks!

[2019-07-12 05:56] Rubiks-boy commented on #4158
Hello! I'd like to try this out if that's ok! I already have my environment set up (able to visit the site on localhost:3000).

[2019-07-12 06:56] AlbertoPdRF commented on #4158
Hi @Rubiks-boy, that's great news!

I've just assigned you to the issue and I'm going to review your PR now :slightly_smiling_face:

[2019-07-13 07:32] Rubiks-boy commented on #4267
Hello! I'd like to take a stab at this!
Was speaking with @AlbertoPdRF, and he had the idea of a checkbox that then makes available a text field to specify the specific incident numbers that need feedback. This list, if non-empty, would then cause wrc to be cc'd in the email, and something like `@WRC: please give input on incidents x, y, and z` would be added to the top of the report email. I real

[2019-07-13 07:34] #4158 closed

[2019-07-13 07:53] AlbertoPdRF commented on #4258
Thanks for clarifying! However, after #4158 has been taken care of I, don't think this is necessary so I think it's better to close this one.

[2019-07-13 07:53] #4258 closed

[2019-07-13 22:07] jfly opened #4305 "Stripe charge error set to NULL during timeouts"
Stripe had an API outage a few days ago. From https://status.stripe.com/:

<img width="470" alt="2019-07-13_14-28-11_dalinar" src="https://user-images.githubusercontent.com/277474/61176769-ab98f780-a57b-11e9-826d-234d66fddc54.png">

This resulted in a few stripe charges in our `stripe_charges` database table with `status="unknown"`. One of them had a pretty straightforward 503 error from stripe:

[2019-07-13 22:51] jfly commented on #4257
It looks like this is the only competition in this state:

[code]

As far as our competition model is concerned, it's treating this competition as "valid":

[code]

I think we should either update our validations to not allow this, or change our view code to handle the case where `registration_close` is not set. @AlbertoPdRF, can you think through exactly how this should work?

I think we can avoi

[2019-07-13 23:27] jfly commented on #4217
For the record, `z1` and `z3` made their way over to the competition requirements document: https://www.worldcubeassociation.org/documents/policies/external/Competition%20Requirements.pdf. If we wanted to follow the previous naming scheme, we could potentially do something like:

- `regulation_z1` -> `requirement_10_1`
- `regulation_z3` -> `requirement_5_1`

[2019-07-13 23:44] jfly commented on #4201
This behavior is defined in [`competition_params` in `competitions_controller`](https://github.com/jfly/worldcubeassociation.org/blob/ba22e73fca5c1b0125155078c3cc9650aa457fdb/WcaOnRails/app/controllers/competitions_controller.rb#L611). It looks like some fields (such as `registration_open`) are always put in `permitted_competition_params`, but others (such as `start_date`) are only added if the co

[2019-07-14 00:00] jfly commented on #4106
I think to remove this, we'd want to do the following:

  - [ ] Remove `index.php` from https://github.com/jfly/worldcubeassociation.org/blob/fd5a534f7b118cb192225d911aae4fcd98122969/webroot/results/.gitignore#L24
  - [ ] Remove `webroot/results/misc/missing_averages/update7205.php`: https://github.com/jfly/worldcubeassociation.org/blob/master/webroot/results/misc/missing_averages/update7205.php

[2019-07-14 00:09] jfly commented on #3871
Somewhat related, see [`Cutoff` in the WCIF documentation](https://docs.google.com/document/d/1lE70gW2rA2J2WlXeSl6N2mLnJ52ibTP_VsIwrAVdl2I/edit#heading=h.elviv5dwvb02)

And the relevant code: https://github.com/jfly/worldcubeassociation.org/blob/fd5a534f7b118cb192225d911aae4fcd98122969/WcaOnRails/lib/competition_results_validator.rb#L473. We should definitely add a test for this when we fix it.

[2019-07-14 00:13] jfly commented on #3713
Do we actually think these posts are valuable, though? If we don't think they are, then we should get rid of them, even if it's not part of this initial redesign.

[2019-07-14 00:18] jfly commented on #2593
I believe this issue is referring to our "public database export", not our "developer's database export" (see https://github.com/thewca/worldcubeassociation.org/wiki/Developer-database-export for more information about why they both exist).

Here's the relevant code for the public database export: https://github.com/thewca/worldcubeassociation.org/blob/fd5a534f7b118cb192225d911aae4fcd98122969/webr

[2019-07-14 00:21] jfly commented on #3221
I'm going to remove the `good first issue` label here because I don't even know how to do this :/

@lgarron, I feel like you might have some experience here. Do you have any advice about how to do this? Do we have to generate different links for each type of calendar application people might use? (outlook, google calendar, apple calendar, ...?)